/* ::::: https://static.licdn.com/sc/p/com.linkedin.content-guest-frontend%3Acontent-guest-frontend-static-content%2B0.1.667/f/%2Fcontent-guest-frontend%2Fstylesheets%2Farticles%2Farticle_zh_CN.css ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
body { line-height: 1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }
nav ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
a { margin: 0px; padding: 0px; font-size: 100%; vertical-align: baseline; background: transparent none repeat scroll 0% 0%; }
hr { border-width: 1px 0px 0px; border-style: solid none none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; display: block; height: 1px; margin: 1rem 0px 24px; padding: 0px; border-color: rgba(0, 0, 0, 0.15); }
input, select { vertical-align: middle; }
html { font-size: 62.5%; }
@media not all, not all, not all, only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
}
body { font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif; }
a { text-decoration: none; font-weight: 600; background-color: transparent; border: 0px none; color: rgb(0, 115, 177); }
a:visited { color: rgb(0, 115, 177); }
a:hover, a:focus { text-decoration: underline; color: rgb(0, 96, 151); }
a:active { color: rgb(0, 75, 124); }
a:visited { color: rgb(102, 94, 208); }
a:visited:hover { color: rgb(84, 75, 194); }
a:visited:active { color: rgb(64, 52, 176); }
strong, b { font-weight: 600; }
body, p { font-size: 1.6rem; line-height: 1.5; font-weight: 400; color: rgba(0, 0, 0, 0.9); }
h1, .large-header { font-size: 4rem; line-height: 1.2; font-weight: 400; color: rgba(0, 0, 0, 0.9); }
h2 { font-size: 3.2rem; line-height: 1.25; font-weight: 400; color: rgba(0, 0, 0, 0.9); }
h3, .large-text { font-size: 2.4rem; line-height: 1.33333; font-weight: 400; color: rgba(0, 0, 0, 0.9); }
h4, .medium-text { font-size: 2rem; line-height: 1.4; font-weight: 400; color: rgba(0, 0, 0, 0.9); }
em, i { font-style: italic; }
input, select, textarea, button { font-family: inherit; }
* { box-sizing: border-box; }
ul, ol { list-style: outside none none; }
button { background-color: transparent; border: 0px none; outline: 0px none; padding: 0px; }
li { text-align: left; }
strong { font-weight: 700; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
*, *::before, *::after { box-sizing: border-box; }
html { overflow-x: hidden; }
strong { font-weight: 600; }
ul { list-style: outside none none; }
body, p { font-size: 1.6rem; line-height: 1.5; font-weight: 400; color: rgba(0, 0, 0, 0.9); }
.main { width: 1128px; box-sizing: content-box; padding: 0px 30px; display: block; margin: auto; position: relative; }
.main::after { content: ""; display: table; clear: both; }
.main a:hover { text-decoration: none; }
.main.single-col-grid { padding-top: 52px; padding-bottom: 60px; }
.button-secondary-medium-round-muted { background-color: rgba(0, 0, 0, 0); border: 0px none; box-sizing: border-box; color: rgba(0, 0, 0, 0.6); cursor: pointer; display: inline-block; font-size: 0px; font-weight: 600; font-family: inherit; height: 32px; line-height: 32px; overflow: hidden; outline-width: 2px; padding: 0px; position: relative; text-align: center; text-decoration: none; transition-duration: 167ms; transition-property: background-color, box-shadow, color, -webkit-box-shadow; transition-timing-function: cubic-bezier(0, 0, 0.2, 1); vertical-align: middle; z-index: 0; box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; border-radius: 16px; text-indent: -999px; width: 32px; }
@media not all {
	.button-secondary-medium-round-muted { border: 1px solid; line-height: 30px; }
}
.button-secondary-medium-round-muted li-icon { top: 50%; box-sizing: content-box; height: 24px; left: 50%; margin: -12px 0px 0px -12px; padding: 0px; position: absolute; width: 24px; }
.button-secondary-medium-round-muted[data-is-animating-click="true"]:not(:disabled), .button-secondary-medium-round-muted[data-is-animating-click="true"]:hover:not(:disabled) { box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.9) inset; }
.button-secondary-medium-round-muted::before { transition-duration: 500ms; }
.button-secondary-medium-round-muted:hover:not(:disabled):not(.disabled), .button-secondary-medium-round-muted.hover-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0.75) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.button-secondary-medium-round-muted:focus, .button-secondary-medium-round-muted.focus { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0.75) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.button-secondary-medium-round-muted:active:not(:disabled):not(.disabled), .button-secondary-medium-round-muted.active-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.9); }
.button-secondary-medium-round-muted:disabled, .button-secondary-medium-round-muted.disabled { color: rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25) inset; cursor: not-allowed; }
.navbar { background-color: rgb(40, 62, 74); color: rgb(255, 255, 255); display: flex; padding: 10px 0px; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1000; }
.navbar__wrapper { -moz-box-align: center; align-items: center; display: flex; -moz-box-pack: justify; justify-content: space-between; margin: 0px auto; max-width: 1128px; width: 100%; }
.nav-header__guest-link { text-decoration: none; font-weight: 600; background-color: transparent; border: 0px none; color: rgb(255, 255, 255); font-size: 15px; }
.nav-header__guest-link:visited { color: inherit; }
.nav-header__guest-link:hover, .nav-header__guest-link:focus { text-decoration: underline; }
.nav-header__guest-link:active { text-decoration: none; color: rgb(255, 255, 255); }
.nav-header__guest-link:visited { color: rgb(255, 255, 255); }
.nav-header__guest-link:visited:active { color: rgb(255, 255, 255); }
.nav-header__guest-link:hover, .nav-header__guest-link:visited:hover { color: white; }
.nav-header__guest-link-button { background-color: rgba(0, 0, 0, 0); border: 0px none; border-radius: 2px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; font-weight: 600; font-family: inherit; height: 32px; line-height: 32px; overflow: hidden; outline-width: 2px; padding: 0px 16px; position: relative; text-align: center; text-decoration: none; transition-duration: 167ms; transition-property: background-color, box-shadow, color, -webkit-box-shadow; transition-timing-function: cubic-bezier(0, 0, 0.2, 1); vertical-align: middle; z-index: 0; box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.7) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; font-size: 15px; }
@media not all {
	.nav-header__guest-link-button { border: 1px solid; line-height: 30px; }
}
.nav-header__guest-link-button[data-is-animating-click="true"]:not(:disabled), .nav-header__guest-link-button[data-is-animating-click="true"]:hover:not(:disabled) { box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.7) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgb(255, 255, 255) inset; }
.nav-header__guest-link-button:hover:not(:disabled):not(.disabled), .nav-header__guest-link-button.hover-not-disabled { background-color: rgba(255, 255, 255, 0.1); color: rgb(255, 255, 255); box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.7) inset, 0px 0px 0px 2px rgb(255, 255, 255) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.nav-header__guest-link-button:focus, .nav-header__guest-link-button.focus { background-color: rgba(255, 255, 255, 0.1); color: rgb(255, 255, 255); box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.7) inset, 0px 0px 0px 2px rgb(255, 255, 255) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.nav-header__guest-link-button:active:not(:disabled):not(.disabled), .nav-header__guest-link-button.active-not-disabled { background-color: rgba(255, 255, 255, 0.1); color: rgb(255, 255, 255); }
.nav-header__guest-link-button:disabled, .nav-header__guest-link-button.disabled { color: rgba(255, 255, 255, 0.35); box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.35) inset; cursor: not-allowed; }
.nav-header__guest-link-button:visited { color: rgb(255, 255, 255); }
.nav-header__guest-link-button:focus { text-decoration: none; }
.nav-header__guest-link-item { align-self: center; }
.nav-header__guest-link-item + .nav-header__guest-link-item { margin-left: 24px; }
.nav-header__guest-link-list { display: flex; }
.nav-header__logo-icon { width: 110px; }
.nav-header__logo-icon, .nav-header__logo-icon--cn { display: inline-block; height: 28px; }
.nav-header__logo-icon.lazy-loaded { background: rgba(0, 0, 0, 0) url('58enve2tfdbw9tn89kiugip0k') no-repeat scroll center center; }
.nav-header__logo-text { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; display: inline-block; float: left; line-height: 21px; text-indent: -99999px; width: auto; height: auto; }
.language-selector { display: flex; -moz-box-align: center; align-items: center; position: relative; }
.language-selector__list { background-color: rgb(255, 255, 255); background-clip: padding-box; border-radius: 2px; box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.2); transition: box-shadow 83ms ease 0s; padding: 0px; position: absolute; bottom: 100%; left: -10%; width: auto; overflow-y: auto; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-align: stretch; align-items: stretch; }
@media not all {
	.language-selector__list { border: 1px solid activeborder; }
}
@media not all {
	.language-selector__list { border: 1px solid activeborder; }
}
.language-selector__label { font-size: 1.2rem; line-height: 1.33333; font-weight: 600; color: rgba(0, 0, 0, 0.6); }
.language-selector__label-text { margin-right: 4px; }
.language-selector__label-chevron { transform: rotate(180deg); vertical-align: text-top; }
.language-selector__link { font-size: 1.2rem; line-height: 1.33333; text-decoration: none; background-color: transparent; border: 0px none; color: rgb(0, 115, 177); cursor: pointer; display: block; font-weight: normal; padding: 5px 16px; width: 100%; }
.language-selector__link:visited { color: rgb(0, 115, 177); }
.language-selector__link:hover, .language-selector__link:focus { text-decoration: underline; color: rgb(0, 96, 151); }
.language-selector__link:active { color: rgb(0, 75, 124); }
.language-selector__link:visited { color: rgb(102, 94, 208); }
.language-selector__link:visited:hover { color: rgb(84, 75, 194); }
.language-selector__link:visited:active { color: rgb(64, 52, 176); }
.language-selector__link:hover { text-decoration: none; }
.language-selector__link:hover, .language-selector__link:focus { background-color: rgb(0, 115, 177); color: white; }
.show-more-less-state:checked ~ .language-selector__list { display: flex; }
.li-footer { background-color: rgb(255, 255, 255); width: 100%; }
.li-footer__item { font-size: 1.2rem; line-height: 1.33333; font-weight: 400; color: rgba(0, 0, 0, 0.6); display: flex; flex-shrink: 0; -moz-box-pack: center; justify-content: center; padding: 8px; position: relative; }
.li-footer__item-link { font-size: 1.2rem; line-height: 1.33333; font-weight: 600; color: rgba(0, 0, 0, 0.6); }
.li-footer__item-link:focus { outline: thin dotted; }
.li-footer__item-link, .li-footer__copy-text { display: flex; -moz-box-align: center; align-items: center; }
.li-footer__copy-logo { align-self: center; }
.li-footer__list { display: flex; flex-wrap: wrap; height: auto; -moz-box-pack: start; justify-content: flex-start; min-height: 50px; margin: 0px auto; width: 1128px; }
.li-footer__copy-logo { display: inline-block; height: 14px; margin-right: 8px; width: 56px; }
.language-selector--footer .language-selector__list { max-height: calc(100vh - 60px); }
.mini-card { box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.2); transition: box-shadow 83ms ease 0s, -webkit-box-shadow 83ms ease 0s; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; max-width: 600px; padding-bottom: 16px; }
@media not all {
	.mini-card { border: 1px solid activeborder; }
}
@media not all {
}
.mini-card--flat { border-bottom: 1px solid rgba(0, 0, 0, 0.15); box-shadow: none; -moz-box-orient: horizontal; -moz-box-direction: normal; flex-direction: row; padding-bottom: 24px; }
.mini-card__content { position: relative; }
.mini-card__content--flat { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; margin: 0px 0px 0px 16px; min-width: 0px; }
.mini-card__image, .mini-card__image--flat { width: 100%; }
.mini-card__image--flat { max-width: 168px; min-width: 94px; }
.mini-card__title, .mini-card__subtitle, .mini-profile__location { padding: 0px 16px; }
.mini-card__title { font-size: 1.8rem; line-height: 1.33333; font-weight: 600; color: rgba(0, 0, 0, 0.9); margin: 0px 0px 4px; }
.mini-card__title-link, .mini-card__title-link:visited { font-size: 1.8rem; line-height: 1.33333; font-weight: 600; color: rgba(0, 0, 0, 0.9); }
.mini-card__subtitle, .mini-profile__location { font-size: 1.2rem; line-height: 1.33333; font-weight: 400; color: rgba(0, 0, 0, 0.6); margin: 0px 0px 4px; -moz-box-flex: 1; flex-grow: 1; }
.mini-card__subtitle--flat, .mini-profile__location--flat { font-size: 1.4rem; line-height: 1.42857; font-weight: 400; color: rgba(0, 0, 0, 0.6); }
.mini-profile { max-width: none; }
.mini-profile__image { background-color: rgb(182, 182, 182); border-radius: 50%; display: block; height: 54px; max-width: 54px; min-width: 54px; width: 54px; }
.mini-profile__image.lazy-loaded { height: 54px; }
.mini-profile__content { -moz-box-flex: 1; flex-grow: 1; margin-left: 8px; }
.mini-profile__title, .mini-profile__subtitle { margin-bottom: 0px; padding: 0px; }
@media not all {
}
.mini-profile__cta[data-is-animating-click="true"]:not(:disabled), .mini-profile__cta[data-is-animating-click="true"]:hover:not(:disabled) { box-shadow: 0px 0px 0px 1px rgb(0, 115, 177) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgb(0, 75, 124) inset; }
.mini-profile__cta:hover:not(:disabled):not(.disabled), .mini-profile__cta.hover-not-disabled { background-color: rgba(152, 216, 244, 0.25); color: rgb(0, 96, 151); box-shadow: 0px 0px 0px 1px rgb(0, 115, 177) inset, 0px 0px 0px 2px rgb(0, 96, 151) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.mini-profile__cta:active:not(:disabled):not(.disabled), .mini-profile__cta.active-not-disabled { background-color: rgba(152, 216, 244, 0.45); color: rgb(0, 75, 124); }
.mini-profile--flat { padding-bottom: 18px; }
.mini-profile__title-link, .mini-profile__title-link:hover, .mini-profile__title-link:visited { font-size: 1.4rem; line-height: 1.42857; font-weight: 600; color: rgba(0, 0, 0, 0.9); }
.article-card { box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.2); transition: box-shadow 83ms ease 0s, -webkit-box-shadow 83ms ease 0s; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-flex: 1; flex-grow: 1; padding-bottom: 16px; }
@media not all {
	.article-card { border: 1px solid activeborder; }
}
.article-card__image { width: 100%; height: 142px; object-fit: cover; }
.article-card__content { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-flex: 1; flex: 1 1 auto; }
.article-card__title, .article-card__meta-info, .article-card__snippet, .article-card__cta { padding: 0px 24px; }
.article-card__title { font-size: 1.6rem; font-weight: 600; color: rgba(0, 0, 0, 0.9); line-height: 20px; margin: 16px 0px 4px; }
.article-card__meta-info { margin-bottom: 4px; }
.article-card__meta-info--counts { margin-top: auto; padding-top: 16px; }
.article-card__meta-info-item { font-size: 1.4rem; line-height: 1.42857; font-weight: 400; color: rgba(0, 0, 0, 0.6); margin-right: 4px; }
.article-card__meta-info-item ~ .article-card__meta-info-item::before { content: "·"; display: inline-block; font-size: 1.4rem; line-height: 1.42857; font-weight: 400; color: rgba(0, 0, 0, 0.6); margin-right: 4px; }
.social-share { display: inline-block; position: relative; -moz-user-select: none; }
.social-share__state { opacity: 0; pointer-events: none; position: absolute; z-index: -1; }
.social-share__state:focus ~ .social-share__button { outline: 5px auto rgb(77, 144, 254); }
.social-share__state:checked ~ .social-share__list { display: block; }
@media not all {
}
.social-share__button-square:hover:not(:disabled):not(.disabled), .social-share__button-square.hover-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.75); }
.social-share__button-square:active:not(:disabled):not(.disabled), .social-share__button-square.active-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.9); }
.social-share__button-circular { background-color: rgba(0, 0, 0, 0); border: 0px none; box-sizing: border-box; color: rgba(0, 0, 0, 0.6); cursor: pointer; display: inline-block; font-size: 0px; font-weight: 600; font-family: inherit; height: 40px; line-height: 40px; overflow: hidden; outline-width: 2px; padding: 0px; position: relative; text-align: center; text-decoration: none; transition-duration: 167ms; transition-property: background-color, box-shadow, color, -webkit-box-shadow; transition-timing-function: cubic-bezier(0, 0, 0.2, 1); vertical-align: middle; z-index: 0; box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; border-radius: 20px; text-indent: -999px; width: 40px; }
@media not all {
	.social-share__button-circular { border: 1px solid; line-height: 38px; }
}
.social-share__button-circular li-icon { top: 50%; box-sizing: content-box; height: 24px; left: 50%; margin: -12px 0px 0px -12px; padding: 0px; position: absolute; width: 24px; }
.social-share__button-circular[data-is-animating-click="true"]:not(:disabled), .social-share__button-circular[data-is-animating-click="true"]:hover:not(:disabled) { box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0.9) inset; }
.social-share__button-circular::before { transition-duration: 500ms; }
.social-share__button-circular:hover:not(:disabled):not(.disabled), .social-share__button-circular.hover-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0.75) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.social-share__button-circular:focus, .social-share__button-circular.focus { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.6) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0.75) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.social-share__button-circular:active:not(:disabled):not(.disabled), .social-share__button-circular.active-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.9); }
.social-share__button-circular:disabled, .social-share__button-circular.disabled { color: rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25) inset; cursor: not-allowed; }
.social-share__button-text-circular { border: 0px none !important; clip: rect(1px, 1px, 1px, 1px); height: 1px !important; overflow: hidden; padding: 0px !important; position: absolute !important; white-space: nowrap !important; width: 1px !important; }
.social-share__list { display: none; z-index: 100; background-color: rgb(255, 255, 255); border-radius: 0px 0px 2px 2px; margin-top: 8px; padding: 4px 0px; position: absolute; width: 200px; box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 6px 9px rgba(0, 0, 0, 0.2); }
.social-share__list::before, .social-share__list::after { position: absolute; content: ""; height: 0px; width: 0px; border-style: solid; border-color: transparent; }
.social-share__list::before { border-width: 0px 10px 10px; border-bottom: 10px solid rgb(205, 207, 210); top: -10px; }
.social-share__list::after { border-width: 0px 9px 9px; border-bottom: 9px solid rgb(255, 255, 255); top: -9px; }
.social-share__list--bottom-left::before, .social-share__list--bottom-left::after { left: 45%; }
.social-share__list--bottom-left::before { margin-left: -60px; }
.social-share__list--bottom-left::after { margin-left: -59px; }
.social-share__list--bottom-right::before, .social-share__list--bottom-right::after { right: 45%; }
.social-share__list--bottom-right::before { margin-right: -60px; }
.social-share__list--bottom-right::after { margin-right: -59px; }
.social-share__item { line-height: 32px; padding: 0px 16px; cursor: pointer; }
.social-share__item:hover { background-color: rgb(243, 246, 248); }
.social-share__item-icon { display: inline-block; width: 24px; height: 24px; vertical-align: middle; }
.social-share__item-text { font-size: 1.6rem; line-height: 1.75; font-weight: 400; color: rgba(0, 0, 0, 0.75); display: inline-block; padding-left: 8px; }
li-icon[type="share-icon"] { opacity: 0.55; }
li-icon.lazy-loaded[type="share-icon"] { background: rgba(0, 0, 0, 0) url('a6l6nnvlbxdrkz1th7t2ita7') no-repeat scroll center center; }
li-icon[type="share-icon"]:hover { opacity: 0.9; }
li-icon.lazy-loaded[type="linkedin-icon"] { background: rgba(0, 0, 0, 0) url('2h1sm53xw4izcsw6vf85fpi6p') no-repeat scroll center center; }
li-icon.lazy-loaded[type="facebook-icon"] { background: rgba(0, 0, 0, 0) url('5djl3kaneyxkgotectmix2hhg') no-repeat scroll center center; }
li-icon.lazy-loaded[type="twitter-icon"] { background: rgba(0, 0, 0, 0) url('1rf130a9o81bkb86l2ygad2oy') no-repeat scroll center center; }
@media not all {
}
.embed-overlay__copy-btn[data-is-animating-click="true"]:not(:disabled), .embed-overlay__copy-btn[data-is-animating-click="true"]:hover:not(:disabled) { box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.7) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgb(255, 255, 255) inset; }
.embed-overlay__copy-btn:hover:not(:disabled):not(.disabled), .embed-overlay__copy-btn.hover-not-disabled { background-color: rgba(255, 255, 255, 0.1); color: rgb(255, 255, 255); box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.7) inset, 0px 0px 0px 2px rgb(255, 255, 255) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.embed-overlay__copy-btn:active:not(:disabled):not(.disabled), .embed-overlay__copy-btn.active-not-disabled { background-color: rgba(255, 255, 255, 0.1); color: rgb(255, 255, 255); }
@media not all {
}
@media only screen and (max-width: 1161px) {
}
@media only screen and (max-width: 1161px) {
}
.modal__wrapper > ul li:last-child::after { content: ""; display: block; position: absolute; width: 1px; border-top: 1px solid rgba(0, 0, 0, 0.15); top: -1px; right: -1px; }
@media not all {
}
@media not all {
}
.modal__wrapper > ul button.muted:hover:not(:disabled):not(.disabled), .modal__wrapper > ul button.muted.hover-not-disabled, .modal__wrapper > ul a.muted:hover:not(:disabled):not(.disabled), .modal__wrapper > ul a.muted.hover-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.75); }
.modal__wrapper > ul button.muted:active:not(:disabled):not(.disabled), .modal__wrapper > ul button.muted.active-not-disabled, .modal__wrapper > ul a.muted:active:not(:disabled):not(.disabled), .modal__wrapper > ul a.muted.active-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.9); }
@media not all {
}
.modal__wrapper > ul button.no-text::before, .modal__wrapper > ul a.no-text::before { transition-duration: 500ms; }
.modal__wrapper > ul button.no-text::after, .modal__wrapper > ul a.no-text::after { padding: calc(70% + 1px); }
.modal__wrapper > ul button.no-text:hover:not(:disabled):not(.disabled), .modal__wrapper > ul button.no-text.hover-not-disabled, .modal__wrapper > ul a.no-text:hover:not(:disabled):not(.disabled), .modal__wrapper > ul a.no-text.hover-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.75); }
.modal__wrapper > ul button.no-text:active:not(:disabled):not(.disabled), .modal__wrapper > ul button.no-text.active-not-disabled, .modal__wrapper > ul a.no-text:active:not(:disabled):not(.disabled), .modal__wrapper > ul a.no-text.active-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.9); }
.modal__wrapper > ul button:hover:not(:disabled):not(.disabled), .modal__wrapper > ul button.hover-not-disabled, .modal__wrapper > ul a:hover:not(:disabled):not(.disabled), .modal__wrapper > ul a.hover-not-disabled { background-color: rgba(152, 216, 244, 0.25); color: rgb(0, 96, 151); }
.modal__wrapper > ul button:active:not(:disabled):not(.disabled), .modal__wrapper > ul button.active-not-disabled, .modal__wrapper > ul a:active:not(:disabled):not(.disabled), .modal__wrapper > ul a.active-not-disabled { background-color: rgba(152, 216, 244, 0.45); color: rgb(0, 75, 124); }
@media not all {
}
.modal__dismiss::before { transition-duration: 500ms; }
.modal__dismiss:hover:not(:disabled):not(.disabled), .modal__dismiss.hover-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.75); }
.modal__dismiss:active:not(:disabled):not(.disabled), .modal__dismiss.active-not-disabled { background-color: rgba(207, 207, 207, 0.25); color: rgba(0, 0, 0, 0.9); }
@media screen and (max-width: 554px) {
	.article-body { overflow-wrap: break-word; hyphens: auto; line-height: 1.5; font-family: Georgia,serif; }
	.article-body p, .article-body ol, .article-body ul { color: rgba(0, 0, 0, 0.7); font-size: 1.6rem; line-height: 2.4rem; margin: 2.4rem 0px; }
	.article-body p, .article-body ol, .article-body ul, .article-body em { font-family: inherit; }
	.article-body ol, .article-body ul { padding-left: 2.4rem; }
	.article-body ul { list-style-type: disc; }
	.article-body li { margin: 1.2rem 0px; }
	.article-body q::before, .article-body q::after { content: " "; display: block; height: 0px; margin: 0px auto; width: 30%; }
	.article-body q::before { border-top: 1px solid rgba(0, 0, 0, 0.15); }
	.article-body q::after { border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
	.article-body q + q::before { content: ""; border: medium none; margin-bottom: 0px; }
	.article-body :not(pre) + pre, .article-body pre:first-of-type { margin-top: 2.8rem; padding-top: 2.8rem; }
	.article-body pre + :not(pre) { margin-top: 2.8rem; }
	.article-body img { height: auto; }
	.article-body img, .article-body iframe { width: calc(100% + 4rem); }
}
@media screen and (min-width: 555px) {
	.article-body > div, .article-body p, .article-body ol, .article-body ul { font-size: 2rem; line-height: 3.2rem; color: rgba(0, 0, 0, 0.75); font-family: Source Serif Pro,serif; margin: 3.2rem 0px; }
	.article-body > div em, .article-body > div i, .article-body p em, .article-body p i, .article-body ol em, .article-body ol i, .article-body ul em, .article-body ul i { font-family: Georgia,Source Serif Pro,serif; font-style: italic; font-size: 0.975em; }
	.article-body ul { list-style-type: disc; }
	.article-body li { margin: 2.4rem 0px 2.4rem 3.2rem; }
	.article-body a { font-weight: normal; overflow-wrap: break-word; }
	.article-body img { height: auto; max-width: 100%; }
	.article-body q::before, .article-body q::after { content: ""; display: block; height: 0px; margin: 0px auto; width: 30%; }
	.article-body q::before { border-top: 1px solid rgba(0, 0, 0, 0.15); }
	.article-body q::after { border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
	.article-body :not(pre) + pre, .article-body pre:first-of-type { margin-top: 3.2rem; padding-top: 3.2rem; }
	.article-body pre + :not(pre) { margin-top: 3.2rem; }
	.article-body .slate-image-embed__resize-full-width img { width: 100%; }
}
.article-body .slate-resizable-image-embed { position: relative; clear: both; }
.article-head__mobile-timestamp { display: none; }
@media screen and (max-width: 769px) {
	.article-head__mobile-timestamp { display: initial; font-family: "Helvetica Neue",Helvetica,sans-serif; font-size: 1.4rem; line-height: 1.6rem; color: rgba(0, 0, 0, 0.55); }
}
@media screen and (max-width: 554px) {
	.article-head__mobile-timestamp { font-size: 1.2rem; }
}
.article-head__timestamp { display: none; }
@media screen and (min-width: 770px) {
	.article-head__timestamp { display: initial; font-size: 1.4rem; line-height: 1.42857; font-weight: 400; color: rgba(0, 0, 0, 0.6); }
}
.article-title { font-size: 4rem; line-height: 1.2; font-weight: 600; color: rgba(0, 0, 0, 0.9); margin-top: 48px; margin-bottom: 16px; }
@media screen and (max-width: 769px) {
	.article-title { font-size: 3.2rem; line-height: 1.25; color: rgba(0, 0, 0, 0.9); font-weight: 500; margin-top: 32px; margin-bottom: 12px; }
}
@media screen and (max-width: 554px) {
	.article-title { font-size: 2.4rem; line-height: 1.33333; font-weight: 400; color: rgba(0, 0, 0, 0.9); }
}
.author-info { border-bottom: 1px solid rgba(0, 0, 0, 0.15); border-top: 1px solid rgba(0, 0, 0, 0.15); padding: 12px 0px; background-color: rgb(255, 255, 255); z-index: 1; display: flex; -moz-box-align: center; align-items: center; margin-top: 16px; }
.author-info__container { -moz-box-pack: justify; justify-content: space-between; padding: 16px 0px; }
.author-info__container .mini-profile { padding: 0px; border: medium none; }
.author-info__follow-button { background-color: rgba(0, 0, 0, 0); border: 0px none; border-radius: 2px; box-sizing: border-box; color: rgb(0, 115, 177); cursor: pointer; display: inline-block; font-size: 1.4rem; font-weight: 600; font-family: inherit; height: 24px; line-height: 24px; overflow: hidden; outline-width: 2px; padding: 0px 8px; position: relative; text-align: center; text-decoration: none; transition-duration: 167ms; transition-property: background-color, box-shadow, color, -webkit-box-shadow; transition-timing-function: cubic-bezier(0, 0, 0.2, 1); vertical-align: middle; z-index: 0; }
@media not all {
	.author-info__follow-button { border: 0px solid; line-height: 24px; }
}
.author-info__follow-button:hover:not(:disabled):not(.disabled), .author-info__follow-button.hover-not-disabled { background-color: rgba(152, 216, 244, 0.25); color: rgb(0, 96, 151); }
.author-info__follow-button:focus, .author-info__follow-button.focus { background-color: rgba(152, 216, 244, 0.25); color: rgb(0, 96, 151); }
.author-info__follow-button:active:not(:disabled):not(.disabled), .author-info__follow-button.active-not-disabled { background-color: rgba(152, 216, 244, 0.45); color: rgb(0, 75, 124); }
.author-info__follow-button:disabled, .author-info__follow-button.disabled { color: rgba(0, 115, 177, 0.35); cursor: not-allowed; }
.author-info__follow-button::before { border-left: 1px solid rgba(0, 0, 0, 0.15); content: " "; height: 2rem; padding-left: 8px; }
.author-info__follow-button:visited, .author-info__follow-button:active, .author-info__follow-button:hover:not(:disabled):not(.disabled), .author-info__follow-button:focus { background-color: rgb(255, 255, 255); }
.author-info__follow-button-bottom { background-color: rgba(0, 0, 0, 0); border: 0px none; border-radius: 2px; box-sizing: border-box; color: rgb(0, 115, 177); cursor: pointer; display: inline-block; font-size: 1.6rem; font-weight: 600; font-family: inherit; height: 32px; line-height: 32px; overflow: hidden; outline-width: 2px; padding: 0px 16px; position: relative; text-align: center; text-decoration: none; transition-duration: 167ms; transition-property: background-color, box-shadow, color, -webkit-box-shadow; transition-timing-function: cubic-bezier(0, 0, 0.2, 1); vertical-align: middle; z-index: 0; box-shadow: 0px 0px 0px 1px rgb(0, 115, 177) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
@media not all {
	.author-info__follow-button-bottom { border: 1px solid; line-height: 30px; }
}
.author-info__follow-button-bottom[data-is-animating-click="true"]:not(:disabled), .author-info__follow-button-bottom[data-is-animating-click="true"]:hover:not(:disabled) { box-shadow: 0px 0px 0px 1px rgb(0, 115, 177) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgb(0, 75, 124) inset; }
.author-info__follow-button-bottom:hover:not(:disabled):not(.disabled), .author-info__follow-button-bottom.hover-not-disabled { background-color: rgba(152, 216, 244, 0.25); color: rgb(0, 96, 151); box-shadow: 0px 0px 0px 1px rgb(0, 115, 177) inset, 0px 0px 0px 2px rgb(0, 96, 151) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.author-info__follow-button-bottom:focus, .author-info__follow-button-bottom.focus { background-color: rgba(152, 216, 244, 0.25); color: rgb(0, 96, 151); box-shadow: 0px 0px 0px 1px rgb(0, 115, 177) inset, 0px 0px 0px 2px rgb(0, 96, 151) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.author-info__follow-button-bottom:active:not(:disabled):not(.disabled), .author-info__follow-button-bottom.active-not-disabled { background-color: rgba(152, 216, 244, 0.45); color: rgb(0, 75, 124); }
.author-info__follow-button-bottom:disabled, .author-info__follow-button-bottom.disabled { color: rgba(0, 115, 177, 0.35); box-shadow: 0px 0px 0px 1px rgba(0, 115, 177, 0.35) inset; cursor: not-allowed; }
.author-info__follow-button-bottom:visited { color: rgb(0, 145, 202); }
.author-info .mini-card { padding-bottom: 0px; border-bottom: medium none; -moz-box-flex: 1; flex-grow: 1; }
.author-info .mini-profile__subtitle { width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.author-info .mini-profile__title { height: 24px; }
.article-cover-image { margin-top: 52px; max-height: 596px; }
.article-cover-image-default { display: block; width: 100%; max-height: 596px; object-fit: cover; }
.article-cover-image-small { max-width: 744px; margin: auto; }
.related-articles { display: flex; overflow-x: auto; -moz-box-flex: 1; flex: 1 1 0px; padding: 16px 2px; }
.related-articles__title { font-size: 20px; font-weight: 600; margin-right: 8px; }
.related-articles__title-container { display: flex; -moz-box-align: center; align-items: center; }
.related-articles::after { -moz-box-flex: 0; flex: 0 0 2px; content: ""; }
.related-articles .article-card { flex-basis: 300px; min-width: 250px; max-width: 350px; }
.related-articles .article-card:not(:last-child) { margin-right: 32px; }
.related-articles .article-card__image--wrapper { z-index: -1; }
@media not all {
}
.article-follow-button[data-is-animating-click="true"]:not(:disabled), .article-follow-button[data-is-animating-click="true"]:hover:not(:disabled) { box-shadow: 0px 0px 0px 1px rgb(0, 115, 177) inset, 0px 0px 0px 2px rgba(0, 0, 0, 0) inset, 0px 0px 0px 1px rgb(0, 75, 124) inset; }
.article-follow-button:hover:not(:disabled):not(.disabled), .article-follow-button.hover-not-disabled { background-color: rgba(152, 216, 244, 0.25); color: rgb(0, 96, 151); box-shadow: 0px 0px 0px 1px rgb(0, 115, 177) inset, 0px 0px 0px 2px rgb(0, 96, 151) inset, 0px 0px 0px 1px rgba(0, 0, 0, 0) inset; }
.article-follow-button:active:not(:disabled):not(.disabled), .article-follow-button.active-not-disabled { background-color: rgba(152, 216, 244, 0.45); color: rgb(0, 75, 124); }
.article-comment { padding-top: 32px; position: relative; }
.article-comment__container { margin-bottom: 24px; }
.article-comment__header { font-size: 1.4rem; line-height: 1.42857; font-weight: 600; color: rgba(0, 0, 0, 0.9); margin-top: 12px; }
.article-comment__guest-leave-comment { display: flex; margin-top: 8px; -moz-box-align: center; align-items: center; }
.article-comment__guest-leave-comment--signin { color: rgb(0, 145, 202); }
.article-comment__guest-leave-comment--signin:visited, .article-comment__guest-leave-comment--signin:visited:hover, .article-comment__guest-leave-comment--signin:hover, .article-comment__guest-leave-comment--signin:active, .article-comment__guest-leave-comment--signin:focus { color: rgb(0, 145, 202); }
.article-comment__guest-image { width: 54px; height: 54px; display: block; background-color: rgb(179, 182, 185); border-radius: 50%; }
.article-comment__guest-signin-view { font-size: 1.6rem; font-weight: 400; color: rgba(0, 0, 0, 0.75); text-align: center; line-height: 54px; height: 48px; width: 100%; margin-left: 12px; background-color: rgb(243, 246, 248); }
.article-comment__content { margin-left: 64px; }
.article-comment__text { font-size: 1.6rem; line-height: 1.5; font-weight: 400; color: rgba(0, 0, 0, 0.75); }
.article-comment__createdTime { font-size: 1.2rem; line-height: 1.33333; font-weight: 400; color: rgba(0, 0, 0, 0.6); position: absolute; top: 48px; left: 95%; }
.article-comment__social-bar { display: flex; padding-top: 8px; }
.article-comment__left-control-wrapper, .article-comment__right-control-wrapper { font-size: 1.4rem; line-height: 1.42857; font-weight: 600; color: rgba(0, 0, 0, 0.6); display: flex; }
.article-comment__reply-button, .article-comment__reply-modal { margin-left: 12px; }
.article-comment__like-button, .article-comment__reply-button { font-size: 1.4rem; line-height: 1.42857; font-weight: 600; color: rgba(0, 0, 0, 0.6); }
.article-comment__like-button:visited, .article-comment__like-button:hover, .article-comment__like-button:active, .article-comment__like-button:visited:hover, .article-comment__reply-button:visited, .article-comment__reply-button:hover, .article-comment__reply-button:active, .article-comment__reply-button:visited:hover { font-size: 1.4rem; line-height: 1.42857; font-weight: 600; color: rgba(0, 0, 0, 0.6); }
.article-comment__show-more-section { font-size: 1.4rem; line-height: 1.42857; font-weight: 600; color: rgba(0, 0, 0, 0.9); margin: 24px 64px 0px; cursor: pointer; }
.article-comment__show-more-link { color: rgb(0, 145, 202); }
.article-comment__show-more-link:hover { text-decoration: underline; }
.article-comment--hide-show-more { display: none; }
.article-comment .mini-card--flat { border-bottom: medium none; padding-bottom: 8px; }
.article-comment .mini-profile__content { margin: 8px; }
.article-comment__left-control-wrapper { padding-right: 16px; }
.article-comment__social-count-likes { border-left: 1px solid rgb(205, 207, 210); padding-left: 16px; }
.social-ctas { display: flex; }
@media screen and (max-width: 769px) {
	.social-ctas { display: none; }
}
.social-ctas__list-item:not(:last-child) { margin-right: 16px; }
.social-ctas__button { margin-right: 8px; }
.social-ctas__button.social-share { margin: 0px 8px 0px 0px; }
.social-ctas__button .social-share__button-icon, .social-ctas__button .social-ctas__button-icon { margin-left: -8px; margin-top: -8px; height: 16px; width: 16px; opacity: 0.55; background-size: cover; background-repeat: no-repeat; }
.social-ctas__button .social-share__button-icon[type="like-icon"], .social-ctas__button .social-ctas__button-icon[type="like-icon"] { background-image: url('82xp2dvpy7ojroh8ee368yn87'); }
.social-ctas__button .social-share__button-icon[type="comment-icon"], .social-ctas__button .social-ctas__button-icon[type="comment-icon"] { background-image: url('bt7s5lvfiaked2eln3v032sf'); }
.social-ctas__button .social-share__button { height: 32px; width: 32px; }
.social-ctas__button .social-share__button li-icon.lazy-loaded[type="share-icon"] { height: 16px; width: 16px; background-size: cover; }
.social-ctas__button .social-share__button-circular::after { padding: 0px; margin: 0px; }
.social-ctas__button li-icon[type="share-icon"]:hover { opacity: 0.55; }
.social-ctas__number { font-size: 1.4rem; line-height: 1.42857; font-weight: 600; color: rgba(0, 0, 0, 0.6); }
.main.single-col-grid.article-grid { padding-top: 0px; padding-bottom: 0px; }
.article-grid { max-width: 744px; }
@media screen and (max-width: 554px) {
	.article-grid { padding: 8px; }
}
.show-more-less-state { display: none; }
.show-more-less-state__label { text-decoration: none; font-weight: 600; background-color: transparent; border: 0px none; color: rgb(0, 115, 177); cursor: pointer; -moz-user-select: none; }
.show-more-less-state__label:visited { color: rgb(0, 115, 177); }
.show-more-less-state__label:hover, .show-more-less-state__label:focus { text-decoration: underline; color: rgb(0, 96, 151); }
.show-more-less-state__label:active { color: rgb(0, 75, 124); }
.show-more-less-state__label:visited { color: rgb(102, 94, 208); }
.show-more-less-state__label:visited:hover { color: rgb(84, 75, 194); }
.show-more-less-state__label:visited:active { color: rgb(64, 52, 176); }
.show-more-less-state__label:focus { outline: thin dotted; }
.show-more-less-state__label-more { display: block; }
.show-more-only, .show-more-less-state, .show-more-less-state__label-less { display: none; }
.show-more-less-state:checked ~ .show-more-less-state__label-less, .show-more-less-state:checked ~ ul .show-more-only { display: block; }
.show-more-less-state:checked ~ .show-more-less-state__label-more { display: none; }
:lang(zh) body { font-family: var(--artdeco-typography-zh)\A; }
:lang(zh) body { font-size: 1.7rem; }
:lang(zh) p { font-size: 1.7rem; }
:lang(zh) body { line-height: 1.41176; }
:lang(zh) p { line-height: 1.41176; }
:lang(zh) h1 { line-height: 1.2; }
:lang(zh) .large-header { line-height: 1.2; }
:lang(zh) h2 { line-height: 1.25; }
:lang(zh) h3 { line-height: 1.33333; }
:lang(zh) .large-text { line-height: 1.33333; }
:lang(zh) h4 { font-size: 2.1rem; }
:lang(zh) .medium-text { font-size: 2.1rem; }
:lang(zh) h4 { line-height: 1.33333; }
:lang(zh) .medium-text { line-height: 1.33333; }
:lang(zh) h5 { font-size: 1.7rem; }
:lang(zh) .small-text { font-size: 1.7rem; }
:lang(zh) h5 { line-height: 1.41176; }
:lang(zh) .small-text { line-height: 1.41176; }
:lang(zh) h6 { font-size: 1.5rem; }
:lang(zh) h6 { line-height: 1.33333; }
em:lang(zh) { font-family: inherit; font-style: normal !important; }
i:lang(zh) { font-family: inherit; font-style: normal !important; }
:lang(zh) blockquote { font-size: 1.7rem; }
:lang(zh) blockquote { line-height: 1.41176; }
:lang(zh) body { font-size: 1.7rem; }
:lang(zh) p { font-size: 1.7rem; }
:lang(zh) body { line-height: 1.41176; }
:lang(zh) p { line-height: 1.41176; }
:lang(zh) .language-selector__label { font-size: 1.3rem; }
:lang(zh) .language-selector__label { line-height: 1.23077; }
:lang(zh) .language-selector__link { font-size: 1.3rem; }
:lang(zh) .language-selector__link { line-height: 1.23077; }
:lang(zh) .li-footer__item { font-size: 1.3rem; }
:lang(zh) .li-footer__item { line-height: 1.23077; }
:lang(zh) .li-footer__item-link { font-size: 1.3rem; }
:lang(zh) .li-footer__item-link { line-height: 1.23077; }
:lang(zh) .mini-card__title { font-size: 1.9rem; }
:lang(zh) .mini-card__title { line-height: 1.26316; }
:lang(zh) .mini-card__title-link { font-size: 1.9rem; }
:lang(zh) .mini-card__title-link:visited { font-size: 1.9rem; }
:lang(zh) .mini-card__title-link { line-height: 1.26316; }
:lang(zh) .mini-card__title-link:visited { line-height: 1.26316; }
:lang(zh) .mini-card__subtitle { font-size: 1.3rem; }
:lang(zh) .mini-profile__location { font-size: 1.3rem; }
:lang(zh) .mini-card__subtitle { line-height: 1.23077; }
:lang(zh) .mini-profile__location { line-height: 1.23077; }
:lang(zh) .mini-card__subtitle--flat { font-size: 1.5rem; }
:lang(zh) .mini-profile__location--flat { font-size: 1.5rem; }
:lang(zh) .mini-card__subtitle--flat { line-height: 1.33333; }
:lang(zh) .mini-profile__location--flat { line-height: 1.33333; }
:lang(zh) .mini-profile__title-link { font-size: 1.5rem; }
:lang(zh) .mini-profile__title-link:hover { font-size: 1.5rem; }
:lang(zh) .mini-profile__title-link:visited { font-size: 1.5rem; }
:lang(zh) .mini-profile__title-link { line-height: 1.33333; }
:lang(zh) .mini-profile__title-link:hover { line-height: 1.33333; }
:lang(zh) .mini-profile__title-link:visited { line-height: 1.33333; }
:lang(zh) .article-card__title { font-size: 1.7rem; }
:lang(zh) .article-card__title { line-height: 1.41176; }
:lang(zh) .article-card__meta-info-item { font-size: 1.5rem; }
:lang(zh) .article-card__meta-info-item { line-height: 1.33333; }
:lang(zh) .article-card__meta-info-item ~ .article-card__meta-info-item::before { font-size: 1.5rem; }
:lang(zh) .article-card__meta-info-item ~ .article-card__meta-info-item::before { line-height: 1.33333; }
:lang(zh) .article-card__snippet { font-size: 1.5rem; }
:lang(zh) .article-card__snippet { line-height: 1.33333; }
:lang(zh) .article-card__cta { font-size: 1.7rem; }
:lang(zh) .article-card__cta { line-height: 1.41176; }
:lang(zh) .social-share__item-text { font-size: 1.7rem; }
:lang(zh) .social-share__item-text { line-height: 1.64706; }
:lang(zh) .embed-overlay__title { font-size: 1.9rem; }
:lang(zh) .embed-overlay__title { line-height: 1.26316; }
:lang(zh) .embed-overlay__copy-text { font-size: 1.3rem; }
:lang(zh) .embed-overlay__copy-text { line-height: 1.23077; }
.modal__wrapper > h1:lang(zh) { font-size: 1.7rem; line-height: 1.41176; }
.modal__wrapper > h2:lang(zh) { font-size: 1.7rem; line-height: 1.41176; }
.modal__wrapper > h3:lang(zh) { font-size: 1.7rem; line-height: 1.41176; }
.modal__wrapper > h4:lang(zh) { font-size: 1.7rem; line-height: 1.41176; }
.modal__wrapper > h5:lang(zh) { font-size: 1.7rem; line-height: 1.41176; }
.modal__wrapper > h6:lang(zh) { font-size: 1.7rem; line-height: 1.41176; }
:lang(zh) .modal__title { font-size: 2.1rem; }
:lang(zh) .modal__title { line-height: 1.33333; }
@media screen and (min-width: 555px) {
	.article-body > div:lang(zh) { font-size: 2.1rem; line-height: 1.33333; }
	.article-body p:lang(zh) { font-size: 2.1rem; line-height: 1.33333; }
	.article-body ol:lang(zh) { font-size: 2.1rem; line-height: 1.33333; }
	.article-body ul:lang(zh) { font-size: 2.1rem; line-height: 1.33333; }
	.article-body h2:lang(zh) { font-size: 2.4rem; line-height: 1.33333; }
	.article-body h3:lang(zh) { font-size: 2.1rem; line-height: 1.33333; }
}
@media screen and (min-width: 770px) {
	:lang(zh) .article-head__timestamp { font-size: 1.5rem; }
	:lang(zh) .article-head__timestamp { line-height: 1.33333; }
}
:lang(zh) .article-title { line-height: 1.2; }
@media screen and (max-width: 769px) {
	:lang(zh) .article-title { line-height: 1.25; }
}
@media screen and (max-width: 554px) {
	:lang(zh) .article-title { line-height: 1.33333; }
}
:lang(zh) .article-cover-image__caption { font-size: 1.3rem; }
:lang(zh) .article-cover-image__caption { line-height: 1.23077; }
:lang(zh) .article-follow-button { font-size: 1.7rem; }
:lang(zh) .article-follow-button { line-height: 1.41176; }
:lang(zh) .article-comment__header { font-size: 1.5rem; }
:lang(zh) .article-comment__header { line-height: 1.33333; }
:lang(zh) .article-comment__guest-signin-view { font-size: 1.7rem; }
:lang(zh) .article-comment__guest-signin-view { line-height: 1.41176; }
:lang(zh) .article-comment__text { font-size: 1.7rem; }
:lang(zh) .article-comment__text { line-height: 1.41176; }
:lang(zh) .article-comment__createdTime { font-size: 1.3rem; }
:lang(zh) .article-comment__createdTime { line-height: 1.23077; }
:lang(zh) .article-comment__left-control-wrapper { font-size: 1.5rem; }
:lang(zh) .article-comment__right-control-wrapper { font-size: 1.5rem; }
:lang(zh) .article-comment__left-control-wrapper { line-height: 1.33333; }
:lang(zh) .article-comment__right-control-wrapper { line-height: 1.33333; }
:lang(zh) .article-comment__like-button { font-size: 1.5rem; }
:lang(zh) .article-comment__reply-button { font-size: 1.5rem; }
:lang(zh) .article-comment__like-button { line-height: 1.33333; }
:lang(zh) .article-comment__reply-button { line-height: 1.33333; }
:lang(zh) .article-comment__like-button:visited { font-size: 1.5rem; }
:lang(zh) .article-comment__like-button:hover { font-size: 1.5rem; }
:lang(zh) .article-comment__like-button:active { font-size: 1.5rem; }
:lang(zh) .article-comment__like-button:visited:hover { font-size: 1.5rem; }
:lang(zh) .article-comment__reply-button:visited { font-size: 1.5rem; }
:lang(zh) .article-comment__reply-button:hover { font-size: 1.5rem; }
:lang(zh) .article-comment__reply-button:active { font-size: 1.5rem; }
:lang(zh) .article-comment__reply-button:visited:hover { font-size: 1.5rem; }
:lang(zh) .article-comment__like-button:visited { line-height: 1.33333; }
:lang(zh) .article-comment__like-button:hover { line-height: 1.33333; }
:lang(zh) .article-comment__like-button:active { line-height: 1.33333; }
:lang(zh) .article-comment__like-button:visited:hover { line-height: 1.33333; }
:lang(zh) .article-comment__reply-button:visited { line-height: 1.33333; }
:lang(zh) .article-comment__reply-button:hover { line-height: 1.33333; }
:lang(zh) .article-comment__reply-button:active { line-height: 1.33333; }
:lang(zh) .article-comment__reply-button:visited:hover { line-height: 1.33333; }
:lang(zh) .article-comment__nested-comments--show-more { font-size: 1.5rem; }
:lang(zh) .article-comment__nested-comments--show-more { line-height: 1.33333; }
:lang(zh) .article-comment__show-more-section { font-size: 1.5rem; }
:lang(zh) .article-comment__show-more-section { line-height: 1.33333; }
:lang(zh) .social-ctas__number { font-size: 1.5rem; }
:lang(zh) .social-ctas__number { line-height: 1.33333; }
