.st_tbcss, .st_tdcss, .st_divcss, .st_ftcss { border: medium none; padding: 0px; margin: 0px; }
/* ::::: http://www.100fps.com/css.css ::::: */

img.example {  }
div.google { width: 100%; text-align: center; margin-top: 20px; }
