/* ::::: http://simg.sinajs.cn/blog7style/css/conf/blog/article.css ::::: */

.nsinatopbar { min-width: 950px; height: 30px; overflow: hidden; font-size: 12px; font-family: "宋体"; background: rgba(0, 0, 0, 0) url('topbar.png') repeat-x scroll 0% 0%; }
.nsinatopbar a, .nsinatopbar a:link, .nsinatopbar a:visited { color: rgb(46, 48, 146); text-decoration: none; }
.nsinatopbar a:hover { color: rgb(46, 48, 146); text-decoration: underline; }
.ntopbar_main { width: 950px; height: 30px; margin: 0px auto; }
.ntopbar_logo { float: left; }
.ntopbar_ad { float: left; padding-top: 9px; margin-left: 20px; }
.ntopbar_loading { float: right; padding-top: 7px; margin-right: 150px; color: rgb(102, 102, 102); }
.ntopbar_loading img { vertical-align: -3px; margin-right: 5px; }
.ntopbar_floatL { float: left; position: relative; }
.ntopbar_search { padding-top: 5px; float: left; margin-left: 13px; }
body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, label, li, ol, p, ul { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
table, td, th { margin: 0px; padding: 0px; }
body, fieldset, input, select, td, textarea, th { font-size: 12px; font-family: Verdana,"宋体",sans-serif; }
input, select { vertical-align: middle; }
cite, em { font-style: normal; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input[type="button"], input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"], label { cursor: pointer; }
.clearit { clear: both; height: 0px; overflow: hidden; }
ins { display: none; }
a.CP_a_fuc { font-family: "宋体"; font-size: 12px; font-weight: 400; white-space: nowrap; }
a.CP_a_fuc cite { cursor: pointer !important; font-family: Verdana; }
a.CP_a_fuc:active, a.CP_a_fuc:hover, a.CP_a_fuc:link, a.CP_a_fuc:link cite, a.CP_a_fuc:visited, a.CP_a_fuc:visited cite { text-decoration: none; }
a.CP_a_fuc:active cite, a.CP_a_fuc:hover cite { text-decoration: underline; }
.SG_colW21 { width: 210px; }
.SG_colW73 { width: 730px; }
.SG_colW1, .SG_colW21, .SG_colW51, .SG_colW73, .SG_colW95 { margin-left: 10px; display: inline; float: left; overflow: hidden; }
.SG_colFirst { margin-left: 0px; }
.SG_conn { clear: both; margin: 0px 0px 10px; text-align: left; overflow: hidden; width: auto; height: 100%; }
.SG_floatL { float: left; display: inline; }
.SG_floatR { float: right; display: inline; }
.SG_clearFix::after { content: "."; display: block; visibility: hidden; height: 0px; clear: both; }
body { color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); }
input, option, textarea { color: rgb(102, 102, 102); }
.SG_more, .SG_txta, a, a:hover, a:link, a:visited { color: rgb(109, 88, 135); }
.SG_txtb, .SG_txtc { color: rgb(144, 144, 144); }
.SG_linka a:hover, .SG_linka a:link, .SG_linka a:visited, a.SG_linka:hover, a.SG_linka:link, a.SG_linka:visited { color: rgb(85, 85, 85); }
.SG_linkb a:hover, .SG_linkb a:link, .SG_linkb a:visited, a.SG_linkb:hover, a.SG_linkb:link, a.SG_linkb:visited { color: rgb(144, 144, 144); }
.borderc { border: 1px solid rgb(208, 208, 208); }
.sinabloga { background-image: none; background-repeat: no-repeat; background-position: center bottom; width: 100%; clear: both; }
.sinablogb { background-image: none; background-repeat: no-repeat; background-position: center top; width: 100%; clear: both; }
.sinabloghead { width: 950px; height: 265px; clear: both; margin: 0px auto; position: relative; z-index: 100; }
.sinabloghead .headflash { width: 950px; height: 265px; overflow: hidden; position: absolute; left: 0px; top: 0px; }
.sinabloghead .headarea { position: relative; width: 100%; height: 100%; }
.sinabloghead .blogtoparea { position: absolute; top: 35%; left: 115px; }
.sinabloghead .blogtitle { font-family: "微软雅黑","黑体"; font-size: 24px; color: rgb(0, 0, 0); font-weight: 300; }
.sinabloghead .bloglink { color: rgb(51, 51, 51); padding-top: 5px; }
.sinabloghead .bloglink .CP_a_fuc { color: rgb(0, 0, 0); margin-left: 5px; }
.sinabloghead .blognav { position: absolute; top: 80%; left: 20px; width: 250px; height: 38px; }
.sinabloghead .blognav .blognavInfo { position: absolute; top: 11px; left: 0px; height: 16px; }
.sinabloghead .blognav .blognavBg { width: 100%; height: 100%; background-image: none; background-repeat: no-repeat; background-position: left top; }
.sinabloghead .blognav span { float: left; font-size: 14px; overflow: hidden; padding: 0px 9px; background-image: url('sg_newsp.png'); background-repeat: no-repeat; background-position: right -240px; }
.sinabloghead .blognav .last { background-image: none; padding-right: 0px; }
.sinabloghead .blognav a, .sinabloghead .blognav a:hover, .sinabloghead .blognav a:link, .sinabloghead .blognav a:visited { color: rgb(110, 99, 91); }
.sinabloghead .blognav a.on { font-weight: 700; }
.sinabloghead .blognav a.on, .sinabloghead .blognav a.on:hover, .sinabloghead .blognav a.on:link, .sinabloghead .blognav a.on:visited { color: rgb(59, 59, 59); }
.sinabloghead .adsarea { position: absolute; right: 0px; bottom: 50px; display: none; }
.sinabloghead .adsarea .link { color: rgb(255, 255, 255); font-size: 12px; padding-top: 5px; }
.sinablogbody { width: 950px; clear: both; margin: 0px auto; z-index: 10; }
.sinablogfooter { width: 950px; height: 100px; clear: both; margin: 0px auto; text-align: center; padding-top: 65px; background-position: center bottom; }
.sinablogfooter p { line-height: 22px; }
.sinablogfooter .copyright { padding-top: 10px; }
.SG_colWnone { width: 0px; overflow: hidden; }
.SG_colW73 .SG_connHead { background-image: url('modelhead.png'); background-position: 1450px 0px; height: 26px; overflow: hidden; }
.SG_colW73 .SG_connBody { background-image: url('modelbody.png'); background-position: 1450px 0px; }
.SG_colW73 .SG_connFoot { background-image: url('modelfoot.png'); background-position: 1450px 0px; height: 1px; overflow: hidden; }
.SG_colW21 .SG_connHead { background-image: url('modelhead.png'); background-position: 210px 0px; height: 26px; overflow: hidden; }
.SG_colW21 .SG_connBody { background-image: url('modelbody.png'); background-position: 210px 0px; }
.SG_colW21 .SG_connFoot { background-image: url('modelfoot.png'); background-position: 210px 0px; height: 1px; overflow: hidden; }
.SG_j_linedot { height: 1px; overflow: hidden; background: rgba(0, 0, 0, 0) url('sg_linedot.gif') repeat-x scroll 0% 0%; clear: both; }
.SG_j_linedot1 { background-image: url('sg_linedot.gif'); background-repeat: repeat-x; }
.SG_connHead { font-family: "宋体",sans-serif; }
.SG_connHead .title { float: left; padding-left: 10px; padding-top: 8px; font-weight: 700; color: rgb(51, 51, 51); }
.SG_connHead .edit { float: right; padding-right: 10px; padding-top: 8px; }
.SG_connHead .edit a, .SG_connHead .edit a:hover, .SG_connHead .edit a:link, .SG_connHead .edit a:visited { color: rgb(51, 51, 51); }
.SG_connHead .edit a { float: left; }
.SG_connHead .fontSize { float: left; }
.SG_connHead .fontSize a { float: none; }
.SG_connHead .fontSize a, .SG_connHead .fontSize a:hover, .SG_connHead .fontSize a:link, .SG_connHead .fontSize a:visited { text-decoration: underline; }
.SG_icon { background-image: url('sg_icon.png'); }
.SG_icon1 { background-position: 765px top; }
.SG_icon34 { background-position: 585px -30px; }
.SG_icon51 { background-position: 75px -30px; }
.SG_icon111 { background-position: 495px -60px; }
.SG_dot { background-image: url('sg_dot.gif'); background-repeat: no-repeat; }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; font-size: 12px !important; padding: 0px 0px 0px 3px; overflow: hidden; white-space: nowrap; background-repeat: no-repeat; background-position: 0px 0px; display: inline-block; margin-right: 6px; }
a.SG_aBtn cite { font-size: 12px !important; line-height: 23px; padding: 0px 10px 0px 8px; display: inline-block; height: 23px; background-repeat: no-repeat; background-position: right -28px; min-width: 48px; overflow-x: visible; white-space: nowrap; text-align: center; }
a.SG_aBtn, a.SG_aBtn cite { background-image: url('sg_newsp.png'); }
a.SG_aBtn_ico { position: relative; }
a.SG_aBtn_ico cite { padding-left: 26px; padding-right: 12px; text-align: left; min-width: 1px; }
a.SG_aBtn img { position: absolute; left: 9px; top: 4px; }
.SG_more { font-family: "宋体"; color: rgb(51, 102, 153); }
.SG_page { width: 100%; height: 21px; line-height: 21px; clear: both; overflow: hidden; }
.SG_pages { float: right; height: 100%; }
.SG_cmp_revert li { width: 100%; }
.allComm {  }
.allComm .allCommTit { background: rgba(0, 0, 0, 0) url('sg_newsp_001.png') repeat-x scroll left -400px; height: 25px; line-height: 25px; }
.allComm .allCommTit .SG_floatL { padding-left: 10px; }
.allComm .allCommTit .SG_floatL strong { margin-right: 25px; }
.allComm .allCommTit .SG_floatR { padding-right: 10px; }
.allComm .myCommPages { margin: 0px 0px 10px; padding: 10px 0px; }
.writeComm { padding: 15px 0px; width: 684px; margin: 0px auto; }
.writeComm .wrCommTit { clear: both; width: 684px; overflow: hidden; margin-top: 18px; }
.writeComm .wrCommTit .SG_floatL { line-height: 28px; overflow: hidden; }
.writeComm .formTextarea { padding-bottom: 10px; }
.writeComm .formTextarea textarea { width: 447px; height: 156px; float: left; font-size: 14px; line-height: 22px; }
.writeComm .formTextarea .faceblk { width: 230px; height: 158px; border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(199, 199, 199) rgb(199, 199, 199) rgb(199, 199, 199) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(245, 245, 245); margin-top: 0px; float: left; }
.writeComm .formTextarea .faceline1 { clear: both; padding: 8px 0px 6px 7px; height: 27px; overflow: hidden; }
.writeComm .formLogin { width: 100%; clear: both; }
.writeComm .formLogin .SG_floatL p { margin-bottom: 8px; }
.writeComm .formBtn { text-align: center; padding: 25px 0px 0px; width: 100%; clear: both; }
.writeComm .formBtn p { padding: 15px 0px 25px; }
.wdtLoading { clear: both; font-size: 12px; font-family: "宋体"; padding-top: 40px; height: 215px; overflow: hidden; text-align: center; }
.wdtLoading img { margin-right: 7px; vertical-align: -3px; }
a.CP_a_fuc { margin: 0px; }
.info { padding: 20px 0px 20px 21px; }
.info .info_img { float: left; margin-right: 10px; width: 182px; height: 182px; position: relative; }
.info .info_img img { border: 1px solid rgb(204, 204, 204); }
.info .info_txt { float: left; }
.info_nm { font-size: 14px; font-family: "宋体"; white-space: nowrap; }
.info_nm .SG_icon { margin-right: 3px; margin-left: -3px; }
.info_btn1 { clear: both; margin-top: 8px; height: 23px; }
.info_btn1 a.SG_aBtn_ico cite { padding-right: 16px; }
.info_btn2 { width: 190px; clear: both; }
.info_btn2 p { clear: both; padding-top: 8px; }
.info_btn2 a.SG_aBtn, .info_btn2 a.SG_aBtn:link, .info_btn2 a.SG_aBtn:visited { padding-bottom: 0px; padding-top: 0px; float: left; margin-right: 5px; line-height: 23px; height: 23px; }
.info_btn2 a.SG_aBtn cite { padding-top: 0px; float: left; width: 66px; margin-right: 4px; padding-left: 0px; padding-right: 0px; }
.info_list { clear: both; margin-left: -16px; float: left; margin-top: 12px; overflow: hidden; }
.info_list ul { overflow: hidden; }
.info_list li { float: left; margin-left: 16px; display: inline; font-family: Verdana; white-space: nowrap; line-height: 20px; height: 20px; }
.info_list li span { white-space: nowrap; }
.SG_colW21 .info { padding: 10px 14px 15px; width: 180px; overflow: hidden; }
.SG_colW21 .info_img { float: none; margin-right: 0px; margin-bottom: 10px; }
.SG_colW21 .info_txt { width: 182px; float: none; }
.SG_colW21 .info_nm { text-align: center; }
.SG_colW21 .info_btn1 { text-align: center; margin-bottom: 15px; height: 23px; }
.SG_colW21 .info_btn1 a { float: none; margin: 0px 5px 0px 4px; }
.SG_colW21 .info_txt { position: relative; }
.SG_colW21 .info_btn2 { padding-left: 17px; margin-top: 7px; margin-bottom: 15px; width: 170px; }
.SG_colW21 .info_list { float: none; margin: 0px; padding-top: 15px; clear: both; }
.SG_colW21 .info_list li { float: none; margin: 0px; clear: both; display: block; }
.autoAward, .autoskin, .sinabloghead .adsarea .pic2, .sinabloghead .adsarea .wdc_HInf { display: none; }
.shareUp { clear: both; }
.shareUp .share { float: left; padding-top: 30px; }
.shareUp .up { float: right; }
.upBox { width: 60px; height: 49px; overflow: hidden; background: rgba(0, 0, 0, 0) url('upbg.png') no-repeat scroll left top; }
.upBox .count { height: 23px; line-height: 23px; font-size: 12px; font-family: Arial; text-align: center; }
.upBox .link { height: 25px; line-height: 25px; text-align: center; font-size: 14px; font-weight: 700; color: rgb(51, 51, 51); cursor: pointer; }
.upBox_click { color: rgb(255, 66, 0); }
.upBox_click .link { color: rgb(63, 108, 0); }
.writeComm .formTextarea .faceline01 { clear: both; padding: 0px 0px 0px 7px; }
.info .info_img { overflow: visible; }
.relaList .atcTit_more, .relaList .natcTit_more { padding: 10px 0px 0px; }
.info_list .lisp { height: auto; white-space: normal; }
.SG_colW21 .info_btn1 { margin-top: 15px; }
.face_tp::after { width: 100%; height: 0px; clear: both; content: ""; overflow: hidden; display: block; visibility: hidden; }
.face_mg::after { width: 100%; height: 0px; clear: both; content: ""; overflow: hidden; display: block; visibility: hidden; }
.atcTitList, .atcTitLists { clear: both; width: 188px; overflow: hidden; padding: 5px 11px 13px; }
.atcTitList li { clear: both; background-position: left bottom; padding: 8px 0px 9px; }
.atcTitList li .atcTitCell_tit { clear: both; font-family: "宋体"; font-size: 12px; white-space: nowrap; overflow: hidden; padding-left: 7px; background-position: left 5px; }
.atcTitList li .atcTitCell_nm { clear: both; font-family: "宋体"; font-size: 12px; white-space: nowrap; overflow: hidden; padding-left: 7px; padding-top: 4px; }
.atcTit_more, .natcTit_more { clear: both; padding-top: 10px; text-align: right; }
.clearfix::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; overflow: hidden; }
.clearfix { display: block; }
.artical { padding: 24px 20px 0px; clear: both; }
.articalTitle { clear: both; line-height: 20px; padding-bottom: 10px; }
.articalTitle span { white-space: nowrap; }
.articalTitle .titName { font-size: 18px; font-family: "微软雅黑","黑体"; font-weight: 300; display: inline; }
.articalTitle .time { font-family: Arial; font-size: 10px; margin-left: 5px; margin-right: 13px; }
.articalTag { width: 100%; clear: both; word-break: break-all; line-height: 20px; }
.articalTag td { vertical-align: top; }
.articalTag .blog_tag { padding-right: 10px; }
.articalTag .blog_tag h3 { display: inline; font-size: 12px; font-weight: 400; margin-right: 5px; }
.articalTag .blog_tag h3 a { white-space: nowrap; }
.articalTag .blog_class { width: 220px; white-space: nowrap; }
.articalTag .blog_class, .articalTag .blog_class a, .articalTag .blog_class span, .articalTag .blog_tag, .articalTag .blog_tag a, .articalTag .blog_tag span { font-family: "宋体"; }
.articalContent { width: 690px; clear: both; padding-top: 18px; font-size: 14px; padding-bottom: 30px; overflow: hidden; font-family: simsun; }
.articalContent, .articalContent font, .articalContent p, .articalContent span { overflow-wrap: normal; word-break: normal; }
.articalContent a { text-decoration: underline; }
.articalContent, .articalContent font, .articalContent p, .articalContent p font, .articalContent span, .articalContent table td { line-height: 150%; }
.articalContent strong { font-weight: 700; }
.articalContent p { margin-bottom: 5px; }
.articalInfo { clear: both; padding-top: 10px; }
.articalInfo .IL { float: left; width: 65%; padding-top: 2px; }
.articalInfo .IL span.SG_txtb { font-family: "宋体"; }
.articalInfo .IL em { margin: 0px 2px; }
.articalInfo .IL b { font-family: Verdana,Helvetica; font-size: 9px; }
.articalInfo .IR { float: right; width: 35%; }
.articalInfo .IR table { float: right; }
.articalfrontback { clear: both; margin: 20px 0px 0px; padding: 24px 0px; font-size: 14px; }
.articalfrontback div { line-height: 24px; min-height: 24px; font-family: "宋体"; }
.articalfrontback div.SG_floatL span, .articalfrontback div.SG_floatR span { clear: both; display: block; }
.articalfrontback div.SG_floatR { text-align: right; }
.articalfrontback div.SG_floatL, .articalfrontback div.SG_floatR { width: 340px; }
.articalfrontback2 { margin-top: 0px; padding-top: 0px; }
.blogzz_abstract .blogzz_ainfo a:active, .blogzz_abstract .blogzz_ainfo a:link, .blogzz_abstract .blogzz_ainfo a:visited { text-decoration: none; }
.blogzz_abstract .blogzz_ainfo a:hover { text-decoration: underline; }
.blogzz_zzlist { padding: 10px 10px 0px; margin-bottom: 20px; }
.turnBoxzz { float: right; }
.turnBoxzz a.SG_turn { letter-spacing: 5px; width: 86px; display: inline-block; padding: 0px 0px 0px 3px; font-family: Verdana,"宋体",sans-serif; }
.turnBoxzz a.SG_turn cite { padding: 0px 20px 0px 32px; width: 34px; display: inline-block !important; }
.turnBoxzz a.SG_turn .arrow { -moz-text-size-adjust: none; font-size: 7px; position: absolute; right: 5px; top: 2px; }
.turnBoxzz a.SG_turn img { left: 11px; }
.articalContent a:link, .articalContent a:visited { text-decoration: none; }
.articalContent a:hover { text-decoration: underline; }
.SG_cmp_revert { overflow: hidden; width: 100%; }
.SG_cmp_revert li { overflow: hidden; background-position: center top; padding: 20px 0px; }
/* ::::: http://simg.sinajs.cn/blog7style/css/common/common.css ::::: */

/* ::::: http://simg.sinajs.cn/blog7style/css/module/common/topbar.css ::::: */

.nsinatopbar { min-width: 950px; height: 30px; overflow: hidden; font-size: 12px; font-family: "宋体"; background: rgba(0, 0, 0, 0) url('topbar.png') repeat-x scroll 0px 0px; }
.nsinatopbar a, .nsinatopbar a:link, .nsinatopbar a:visited { color: rgb(46, 48, 146); text-decoration: none; }
.nsinatopbar a:hover { color: rgb(46, 48, 146); text-decoration: underline; }
.ntopbar_main { width: 950px; height: 30px; margin: 0px auto; }
.ntopbar_logo { float: left; }
.ntopbar_ad { float: left; padding-top: 9px; margin-left: 20px; }
.ntopbar_loading { float: right; padding-top: 7px; margin-right: 150px; color: rgb(102, 102, 102); }
.ntopbar_loading img { vertical-align: -3px; margin-right: 5px; }
.ntopbar_floatL { float: left; position: relative; }
.ntopbar_search { padding-top: 5px; float: left; margin-left: 13px; }
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, label, dl, dt, dd, fieldset, img { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; }
table, th, td { margin: 0px; padding: 0px; }
body, fieldset, th, td, select, input, textarea { font-size: 12px; font-family: Verdana,"宋体",sans-serif; }
select, input { vertical-align: middle; }
cite, em { font-style: normal; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] { cursor: pointer; }
label { cursor: pointer; }
.clearit { clear: both; height: 0px; overflow: hidden; }
ins { display: none; }
a.CP_a_fuc { margin: 0px 0px 0px 3px; font-family: "宋体"; font-size: 12px; font-weight: normal; white-space: nowrap; }
a.CP_a_fuc cite { cursor: pointer !important; font-family: Verdana; }
a.CP_a_fuc:link, a.CP_a_fuc:visited, a.CP_a_fuc:hover, a.CP_a_fuc:active { text-decoration: none; }
a.CP_a_fuc:link cite, a.CP_a_fuc:visited cite { text-decoration: none; }
a.CP_a_fuc:hover cite, a.CP_a_fuc:active cite { text-decoration: underline; }
.SG_colW21 { width: 210px; }
.SG_colW73 { width: 730px; }
.SG_colW1, .SG_colW21, .SG_colW51, .SG_colW73, .SG_colW95 { margin-left: 10px; display: inline; float: left; overflow: hidden; }
.SG_colW21 {  }
.SG_colFirst { margin-left: 0px; }
.SG_conn { clear: both; margin: 0px 0px 10px; text-align: left; overflow: hidden; width: auto; height: 100%; }
.SG_floatL { float: left; display: inline; }
.SG_floatR { float: right; display: inline; }
.SG_clearFix::after { content: "."; display: block; visibility: hidden; height: 0px; clear: both; }
body { color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); }
textarea, input, option { color: rgb(102, 102, 102); }
a, a:link, a:visited, a:hover, .SG_more { color: rgb(109, 88, 135); }
.SG_txta { color: rgb(109, 88, 135); }
.SG_txtb { color: rgb(144, 144, 144); }
.SG_txtc { color: rgb(144, 144, 144); }
.SG_linka a:link, .SG_linka a:visited, .SG_linka a:hover, a.SG_linka:link, a.SG_linka:visited, a.SG_linka:hover { color: rgb(85, 85, 85); }
.SG_linkb a:link, .SG_linkb a:visited, .SG_linkb a:hover, a.SG_linkb:link, a.SG_linkb:visited, a.SG_linkb:hover { color: rgb(144, 144, 144); }
.borderc { border: 1px solid rgb(208, 208, 208); }
.sinabloga { background-image: none; background-repeat: no-repeat; background-position: center bottom; width: 100%; clear: both; }
.sinablogb { background-image: none; background-repeat: no-repeat; background-position: center top; width: 100%; clear: both; }
.sinabloghead { width: 950px; height: 265px; clear: both; margin: 0px auto; position: relative; z-index: 100; }
.sinabloghead .headflash { width: 950px; height: 265px; overflow: hidden; position: absolute; left: 0px; top: 0px; }
.sinabloghead .headarea { position: relative; width: 100%; height: 100%; }
.sinabloghead .blogtoparea { position: absolute; top: 35%; left: 115px; }
.sinabloghead .blogtitle { font-family: "微软雅黑","黑体"; font-size: 24px; color: rgb(0, 0, 0); font-weight: 300; }
.sinabloghead .bloglink { color: rgb(51, 51, 51); padding-top: 5px; }
.sinabloghead .bloglink .CP_a_fuc { color: rgb(0, 0, 0); margin-left: 5px; }
.sinabloghead .blognav { position: absolute; top: 80%; left: 20px; width: 250px; height: 38px; }
.sinabloghead .blognav .blognavInfo { position: absolute; top: 11px; left: 0px; height: 16px; }
.sinabloghead .blognav .blognavBg { width: 100%; height: 100%; background-image: none; background-repeat: no-repeat; background-position: left top; }
.sinabloghead .blognav span { float: left; font-size: 14px; overflow: hidden; padding: 0px 9px; background-image: url('sg_newsp.png'); background-repeat: no-repeat; background-position: right -240px; }
.sinabloghead .blognav .last { background-image: none; padding-right: 0px; }
.sinabloghead .blognav a, .sinabloghead .blognav a:link, .sinabloghead .blognav a:visited, .sinabloghead .blognav a:hover { color: rgb(110, 99, 91); }
.sinabloghead .blognav a.on { font-weight: 700; }
.sinabloghead .blognav a.on, .sinabloghead .blognav a.on:link, .sinabloghead .blognav a.on:visited, .sinabloghead .blognav a.on:hover { color: rgb(59, 59, 59); }
.sinabloghead .adsarea { position: absolute; right: 0px; bottom: 50px; display: none; }
.sinabloghead .adsarea .pic {  }
.sinabloghead .adsarea .link { color: rgb(255, 255, 255); font-size: 12px; padding-top: 5px; }
.sinablogbody { width: 950px; clear: both; margin: 0px auto; z-index: 10; }
.sinablogfooter { width: 950px; height: 100px; clear: both; margin: 0px auto; text-align: center; padding-top: 65px; background-position: center bottom; }
.sinablogfooter p { line-height: 22px; }
.sinablogfooter .copyright { padding-top: 10px; }
.SG_colWnone { width: 0px; overflow: hidden; }
.SG_colW73 .SG_connHead { background-image: url('modelhead.png'); background-position: 1450px 0px; height: 26px; overflow: hidden; }
.SG_colW73 .SG_connBody { background-image: url('modelbody.png'); background-position: 1450px 0px; }
.SG_colW73 .SG_connFoot { background-image: url('modelfoot.png'); background-position: 1450px 0px; height: 1px; overflow: hidden; }
.SG_colW21 .SG_connHead { background-image: url('modelhead.png'); background-position: 210px 0px; height: 26px; overflow: hidden; }
.SG_colW21 .SG_connBody { background-image: url('modelbody.png'); background-position: 210px 0px; }
.SG_colW21 .SG_connFoot { background-image: url('modelfoot.png'); background-position: 210px 0px; height: 1px; overflow: hidden; }
.SG_j_linedot { height: 1px; overflow: hidden; background: rgba(0, 0, 0, 0) url('sg_linedot.gif') repeat-x scroll 0% 0%; clear: both; }
.SG_j_linedot1 { background-image: url('sg_linedot.gif'); background-repeat: repeat-x; }
.SG_connHead { font-family: "宋体",sans-serif; }
.SG_connHead .title { float: left; padding-left: 10px; padding-top: 8px; font-weight: 700; color: rgb(51, 51, 51); }
.SG_connHead .edit { float: right; padding-right: 10px; padding-top: 8px; }
.SG_connHead .edit a, .SG_connHead .edit a:link, .SG_connHead .edit a:visited, .SG_connHead .edit a:hover { color: rgb(51, 51, 51); }
.SG_connHead .edit a { float: left; }
.SG_connHead .fontSize { float: left; }
.SG_connHead .fontSize a { float: none; }
.SG_connHead .fontSize a, .SG_connHead .fontSize a:link, .SG_connHead .fontSize a:visited, .SG_connHead .fontSize a:hover { text-decoration: underline; }
.SG_icon { background-image: url('sg_icon.png'); }
.SG_icon1 { background-position: 765px top; }
.SG_icon34 { background-position: 585px -30px; }
.SG_icon51 { background-position: 75px -30px; }
.SG_icon111 { background-position: 495px -60px; }
.SG_icon214 { background-position: -510px -229px; }
.SG_dot { background-image: url('sg_dot.gif'); background-repeat: no-repeat; }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { color: rgb(51, 51, 51); cursor: pointer; }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { text-decoration: none; font-size: 12px !important; padding: 0px 0px 0px 3px; overflow: hidden; white-space: nowrap; background-repeat: no-repeat; background-position: 0px 0px; display: inline-block; margin-right: 6px; }
a.SG_aBtn cite { font-size: 12px !important; line-height: 23px; padding: 0px 10px 0px 8px; display: inline-block; height: 23px; background-repeat: no-repeat; background-position: right -28px; min-width: 48px; overflow-x: visible; white-space: nowrap; text-align: center; }
a.SG_aBtn, x:-moz-any-link, x:default { display: inline-block; padding: 0px 0px 0px 3px; }
a.SG_aBtn:link, x:-moz-any-link, x:default { display: inline-block; padding: 0px 0px 0px 3px; }
a.SG_aBtn:visited, x:-moz-any-link, x:default { display: inline-block; padding: 0px 0px 0px 3px; }
a.SG_aBtn cite, x:-moz-any-link, x:default { display: inline-block; padding: 0px 10px 0px 8px; }
a.SG_aBtn, a.SG_aBtn cite { background-image: url('sg_newsp.png'); }
a.SG_aBtn_ico { position: relative; }
a.SG_aBtn_ico cite { padding-left: 26px; padding-right: 12px; text-align: left; min-width: 1px; }
a.SG_aBtn img { position: absolute; left: 9px; top: 4px; }
.SG_more { font-family: "宋体"; color: rgb(51, 102, 153); }
.SG_page { width: 100%; height: 21px; line-height: 21px; clear: both; overflow: hidden; }
.SG_pages { float: right; height: 100%; }
.SG_cmp_revert { overflow: hidden; width: 100%; }
.SG_cmp_revert li { width: 100%; overflow: hidden; background-position: center top; padding: 20px 0px; }
.allComm {  }
.allComm .allCommTit { background: rgba(0, 0, 0, 0) url('sg_newsp_001.png') repeat-x scroll left -400px; height: 25px; line-height: 25px; }
.allComm .allCommTit .SG_floatL { padding-left: 10px; }
.allComm .allCommTit .SG_floatL strong { margin-right: 25px; }
.allComm .allCommTit .SG_floatR { padding-right: 10px; }
.allComm .myCommPages { margin: 0px 0px 10px; padding: 10px 0px; }
.writeComm { padding: 15px 0px; width: 684px; margin: 0px auto; }
.writeComm .wrCommTit { clear: both; width: 684px; overflow: hidden; margin-top: 18px; }
.writeComm .wrCommTit .SG_floatL { line-height: 28px; overflow: hidden; }
.writeComm .formTextarea { padding-bottom: 10px; }
.writeComm .formTextarea textarea { width: 447px; height: 156px; float: left; font-size: 14px; line-height: 22px; }
.writeComm .formTextarea .faceblk { width: 230px; height: 158px; border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(199, 199, 199) rgb(199, 199, 199) rgb(199, 199, 199) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(245, 245, 245); margin-top: 0px; float: left; }
.writeComm .formTextarea .faceline1 { clear: both; padding: 8px 0px 6px 7px; height: 27px; overflow: hidden; }
.writeComm .formLogin { width: 100%; clear: both; }
.writeComm .formLogin .SG_floatL p { margin-bottom: 8px; }
.writeComm .formBtn { text-align: center; padding: 25px 0px 0px; width: 100%; clear: both; }
.writeComm .formBtn p { padding: 15px 0px 25px; }
.wdtLoading { clear: both; font-size: 12px; font-family: "宋体"; padding-top: 40px; height: 215px; overflow: hidden; text-align: center; }
.wdtLoading img { margin-right: 7px; vertical-align: -3px; }
.clearfix::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; overflow: hidden; }
.clearfix { display: inline-table; }
.clearfix { display: block; }
.articalTag { width: 100%; clear: both; word-break: break-all; line-height: 20px; }
.articalTag td { vertical-align: top; }
.articalTag .blog_tag { padding-right: 10px; }
.articalTag .blog_tag h3 { display: inline; font-size: 12px; font-weight: normal; margin-right: 5px; }
.articalTag .blog_tag h3 a { white-space: nowrap; }
.articalTag .blog_class { width: 220px; white-space: nowrap; }
.articalTag .blog_tag, .articalTag .blog_tag span, .articalTag .blog_tag a, .articalTag .blog_class, .articalTag .blog_class span, .articalTag .blog_class a { font-family: "宋体"; }
a.CP_a_fuc { margin: 0px; }
.info { padding: 20px 0px 20px 21px; }
.info .info_img { float: left; margin-right: 10px; width: 182px; height: 182px; overflow: visible; position: relative; }
.info .info_img img { border: 1px solid rgb(204, 204, 204); }
.info .info_txt { float: left; }
.info_nm { font-size: 14px; font-family: "宋体"; white-space: nowrap; }
.info_nm .SG_icon { margin-right: 3px; margin-left: -3px; }
.info_btn1 { clear: both; margin-top: 8px; height: 23px; }
.info_btn1 a.SG_aBtn_ico cite { padding-right: 16px; }
.info_btn2 { width: 190px; clear: both; }
.info_btn2 p { clear: both; padding-top: 8px; }
.info_btn2 a.SG_aBtn, .info_btn2 a.SG_aBtn:link, .info_btn2 a.SG_aBtn:visited { padding-bottom: 0px; padding-top: 0px; float: left; margin-right: 5px; line-height: 23px; height: 23px; }
.info_btn2 a.SG_aBtn cite { padding-top: 0px; float: left; width: 66px; margin-right: 4px; padding-left: 0px; padding-right: 0px; }
.info_list { clear: both; margin-left: -16px; float: left; margin-top: 12px; overflow: hidden; }
.info_list ul { overflow: hidden; }
.info_list li { float: left; margin-left: 16px; display: inline; font-family: Verdana; white-space: nowrap; line-height: 20px; height: 20px; }
.info_list li span { white-space: nowrap; }
.SG_colW21 .info { padding: 10px 14px 15px; width: 180px; overflow: hidden; }
.SG_colW21 .info_img { float: none; margin-right: 0px; margin-bottom: 10px; }
.SG_colW21 .info_txt { width: 182px; float: none; }
.SG_colW21 .info_nm { text-align: center; }
.SG_colW21 .info_btn1 { margin-top: 12px; text-align: center; margin-bottom: 15px; height: 23px; }
.SG_colW21 .info_btn1 a { float: none; margin: 0px 5px 0px 4px; }
.SG_colW21 .info_txt { position: relative; }
.SG_colW21 .info_btn2 { padding-left: 17px; margin-top: 7px; margin-bottom: 15px; width: 170px; }
.SG_colW21 .info_list { float: none; margin: 0px; padding-top: 15px; clear: both; }
.SG_colW21 .info_list li { float: none; margin: 0px; clear: both; display: block; }
.autoskin { display: none; }
.sinabloghead .adsarea .wdc_HInf { display: none; }
.shareUp { clear: both; position: relative; }
.shareUp .share { padding-top: 180px; }
.shareUp .up { width: 80px; height: 62px; position: relative; top: 34px; z-index: 1; }
.shareUp .up .upBox { position: absolute; left: -372px; }
.shareUp .up .upBox_add { left: -245px; }
.upBox { width: 100px; height: 62px; overflow: hidden; background: rgba(0, 0, 0, 0) url('up_bg.png') no-repeat scroll left top; }
.upBox .count { height: 24px; line-height: 24px; font-size: 14px; font-family: "宋体"; font-weight: bold; text-align: center; }
.upBox .link { height: 38px; line-height: 38px; text-align: center; font-size: 14px; font-weight: bold; color: rgb(51, 51, 51); cursor: pointer; }
.upBox_click { color: rgb(255, 66, 0); }
.upBox_click .link { color: rgb(63, 108, 0); }
.upBox_add { background: rgba(0, 0, 0, 0) url('up_bg1.png') no-repeat scroll left top; }
.writeComm .formTextarea .faceline01 { clear: both; padding: 0px 0px 0px 7px; }
.info .info_img { overflow: visible; }
.discoverWall .con .row:nth-child(3) .cell:first-child .content, .discoverWall .con .row:nth-child(3) .cell:first-child .content img { border-radius: 0px 0px 0px 8px; overflow: hidden; position: static; }
.discoverWall .con .row:nth-child(3) .cell:last-child .content, .discoverWall .con .row:nth-child(3) .cell:last-child .content img, .discoverWall .con .row:nth-child(3) .cell:last-child .txtopa { border-radius: 0px 0px 8px; overflow: hidden; position: static; }
.info_list .lisp { height: auto; white-space: normal; }
.SG_colW21 .info_btn1 { margin-top: 15px; }
/* ::::: http://simg.sinajs.cn/blog7style/css/blog/blog.css ::::: */

.atcTitList { clear: both; width: 188px; overflow: hidden; padding: 5px 11px 13px; }
.atcTitList li { clear: both; background-position: left bottom; padding: 8px 0px 9px; }
.atcTitList li .atcTitCell_tit { clear: both; font-family: "宋体"; font-size: 12px; white-space: nowrap; overflow: hidden; padding-left: 7px; background-position: left 5px; }
.atcTitList li .atcTitCell_nm { clear: both; font-family: "宋体"; font-size: 12px; white-space: nowrap; overflow: hidden; padding-left: 7px; padding-top: 4px; }
.atcTit_more { clear: both; padding-top: 10px; text-align: right; }
.clearfix::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; overflow: hidden; }
.clearfix { display: inline-table; }
.clearfix { display: block; }
.artical { padding: 24px 20px 0px; clear: both; }
.articalTitle { clear: both; line-height: 20px; padding-bottom: 10px; }
.articalTitle span { white-space: nowrap; }
.articalTitle .titName { font-size: 18px; font-family: "微软雅黑","黑体"; font-weight: 300; display: inline; }
.articalTitle .time { font-family: Arial; font-size: 10px; margin-left: 5px; margin-right: 13px; }
.articalTag { width: 100%; clear: both; word-break: break-all; line-height: 20px; }
.articalTag td { vertical-align: top; }
.articalTag .blog_tag { padding-right: 10px; }
.articalTag .blog_tag h3 { display: inline; font-size: 12px; font-weight: normal; margin-right: 5px; }
.articalTag .blog_tag h3 a { white-space: nowrap; }
.articalTag .blog_class { width: 220px; white-space: nowrap; }
.articalTag .blog_tag, .articalTag .blog_tag span, .articalTag .blog_tag a, .articalTag .blog_class, .articalTag .blog_class span, .articalTag .blog_class a { font-family: "宋体"; }
.articalContent { width: 690px; clear: both; padding-top: 18px; font-size: 14px; line-height: 150%; padding-bottom: 30px; overflow-wrap: break-word; word-break: break-all; overflow: hidden; font-family: simsun; }
.articalContent, .articalContent p, .articalContent span, .articalContent font { overflow-wrap: normal; word-break: normal; }
.articalContent a { text-decoration: underline; }
.articalContent, .articalContent p, .articalContent p font, .articalContent font, .articalContent span, .articalContent table td { line-height: 150%; }
.articalContent strong { font-weight: bold; }
.articalContent p { margin-bottom: 5px; }
.articalInfo { clear: both; padding-top: 10px; }
.articalInfo .IL { float: left; width: 65%; padding-top: 2px; }
.articalInfo .IL span.SG_txtb { font-family: "宋体"; }
.articalInfo .IL em { margin: 0px 2px; }
.articalInfo .IL b { font-family: Verdana,Helvetica; font-size: 9px; }
.articalInfo .IR { float: right; width: 35%; }
.articalInfo .IR table { float: right; }
.articalfrontback { clear: both; margin: 20px 0px 0px; padding: 24px 0px; font-size: 14px; }
.articalfrontback div { line-height: 24px; min-height: 24px; font-family: "宋体"; }
.articalfrontback div.SG_floatL span, .articalfrontback div.SG_floatR span { clear: both; display: block; }
.articalfrontback div.SG_floatR { text-align: right; }
.articalfrontback div.SG_floatL, .articalfrontback div.SG_floatR { width: 340px; }
.articalfrontback2 { margin-top: 0px; padding-top: 0px; }
.blogzz_abstract .blogzz_ainfo a:link, .blogzz_abstract .blogzz_ainfo a:visited, .blogzz_abstract .blogzz_ainfo a:active { text-decoration: none; }
.blogzz_abstract .blogzz_ainfo a:hover { text-decoration: underline; }
.blogzz_abstract .blogzz_acon {  }
.blogzz_zzlist { padding: 10px 10px 0px; margin-bottom: 20px; }
.turnBoxzz { float: right; }
.turnBoxzz .SG_turn { letter-spacing: 5px; width: 86px; }
.turnBoxzz .SG_turn cite { padding: 0px 20px 0px 32px; width: 34px; display: inline-block !important; }
.turnBoxzz .SG_turn .arrow { -moz-text-size-adjust: none; font-size: 7px; position: absolute; right: 5px; top: 2px; }
.turnBoxzz a.SG_turn img { left: 11px; }
.articalContent a:link, .articalContent a:visited { text-decoration: none; }
.articalContent a:hover { text-decoration: underline; }
.relaList .atcTit_more { padding: 10px 0px 0px; }
/* ::::: http://simg.sinajs.cn/blog7style/css/module/common/blog.css ::::: */

/* ::::: http://simg.sinajs.cn/blog7style/css/module/layer/layer_face.css ::::: */

.face_tp::after { width: 100%; height: 0px; clear: both; content: ""; overflow: hidden; display: block; visibility: hidden; }
.face_mg::after { width: 100%; height: 0px; clear: both; content: ""; overflow: hidden; display: block; visibility: hidden; }
/* ::::: http://simg.sinajs.cn/blog7style/css/module/layer/layer31.css ::::: */

.atcTitList { clear: both; width: 188px; overflow: hidden; padding: 5px 11px 13px; }
.atcTitList li { clear: both; background-position: left bottom; padding: 8px 0px 9px; }
.atcTitList li .atcTitCell_tit { clear: both; font-family: "宋体"; font-size: 12px; white-space: nowrap; overflow: hidden; padding-left: 7px; background-position: left 5px; }
.atcTitList li .atcTitCell_nm { clear: both; font-family: "宋体"; font-size: 12px; white-space: nowrap; overflow: hidden; padding-left: 7px; padding-top: 4px; }
.atcTit_more { clear: both; padding-top: 10px; text-align: right; }
.clearfix::after { content: "."; clear: both; display: block; height: 0px; visibility: hidden; overflow: hidden; }
.clearfix { display: inline-table; }
.clearfix { display: block; }
.artical { padding: 24px 20px 0px; clear: both; }
.articalTitle { clear: both; line-height: 20px; padding-bottom: 10px; }
.articalTitle span { white-space: nowrap; }
.articalTitle .titName { font-size: 18px; font-family: "微软雅黑","黑体"; font-weight: 300; display: inline; }
.articalTitle .time { font-family: Arial; font-size: 10px; margin-left: 5px; margin-right: 13px; }
.articalTag { width: 100%; clear: both; word-break: break-all; line-height: 20px; }
.articalTag td { vertical-align: top; }
.articalTag .blog_tag { padding-right: 10px; }
.articalTag .blog_tag h3 { display: inline; font-size: 12px; font-weight: normal; margin-right: 5px; }
.articalTag .blog_tag h3 a { white-space: nowrap; }
.articalTag .blog_class { width: 220px; white-space: nowrap; }
.articalTag .blog_tag, .articalTag .blog_tag span, .articalTag .blog_tag a, .articalTag .blog_class, .articalTag .blog_class span, .articalTag .blog_class a { font-family: "宋体"; }
.articalContent { width: 690px; clear: both; padding-top: 18px; font-size: 14px; line-height: 150%; padding-bottom: 30px; overflow-wrap: break-word; word-break: break-all; overflow: hidden; font-family: simsun; }
.articalContent, .articalContent p, .articalContent span, .articalContent font { overflow-wrap: normal; word-break: normal; }
.articalContent a { text-decoration: underline; }
.articalContent, .articalContent p, .articalContent p font, .articalContent font, .articalContent span, .articalContent table td { line-height: 150%; }
.articalContent strong { font-weight: bold; }
.articalContent p { margin-bottom: 5px; }
.articalInfo { clear: both; padding-top: 10px; }
.articalInfo .IL { float: left; width: 65%; padding-top: 2px; }
.articalInfo .IL span.SG_txtb { font-family: "宋体"; }
.articalInfo .IL em { margin: 0px 2px; }
.articalInfo .IL b { font-family: Verdana,Helvetica; font-size: 9px; }
.articalInfo .IR { float: right; width: 35%; }
.articalInfo .IR table { float: right; }
.articalfrontback { clear: both; margin: 20px 0px 0px; padding: 24px 0px; font-size: 14px; }
.articalfrontback div { line-height: 24px; min-height: 24px; font-family: "宋体"; }
.articalfrontback div.SG_floatL span, .articalfrontback div.SG_floatR span { clear: both; display: block; }
.articalfrontback div.SG_floatR { text-align: right; }
.articalfrontback div.SG_floatL, .articalfrontback div.SG_floatR { width: 340px; }
.articalfrontback2 { margin-top: 0px; padding-top: 0px; }
.blogzz_abstract .blogzz_ainfo a:link, .blogzz_abstract .blogzz_ainfo a:visited, .blogzz_abstract .blogzz_ainfo a:active { text-decoration: none; }
.blogzz_abstract .blogzz_ainfo a:hover { text-decoration: underline; }
.blogzz_abstract .blogzz_acon {  }
.blogzz_zzlist { padding: 10px 10px 0px; margin-bottom: 20px; }
.turnBoxzz { float: right; }
.turnBoxzz a.SG_turn { letter-spacing: 5px; width: 86px; display: inline-block; padding: 0px 0px 0px 3px; font-family: Verdana,"宋体",sans-serif; }
.turnBoxzz a.SG_turn cite { padding: 0px 20px 0px 32px; width: 34px; display: inline-block !important; }
.turnBoxzz a.SG_turn .arrow { -moz-text-size-adjust: none; font-size: 7px; position: absolute; right: 5px; top: 2px; }
.turnBoxzz a.SG_turn img { left: 11px; }
.articalContent a:link, .articalContent a:visited { text-decoration: none; }
.articalContent a:hover { text-decoration: underline; }
.SG_cmp_revert { overflow: hidden; width: 100%; }
.SG_cmp_revert li { overflow: hidden; background-position: center top; padding: 20px 0px; }
/* ::::: http://simg.sinajs.cn/blog7newtpl/css/1/1_26/t.css ::::: */

body { color: rgb(70, 70, 70); }
a, a:link, a:visited, a:hover, .SG_more { color: rgb(122, 88, 51); }
.SG_txta { color: rgb(122, 88, 51); }
.SG_txtb { color: rgb(195, 177, 160); }
.SG_txtc { color: rgb(195, 177, 160); }
.SG_linka a:link, .SG_linka a:visited, .SG_linka a:hover, a.SG_linka:link, a.SG_linka:visited, a.SG_linka:hover { color: rgb(70, 70, 70); }
.SG_linkb a:link, .SG_linkb a:visited, .SG_linkb a:hover, a.SG_linkb:link, a.SG_linkb:visited, a.SG_linkb:hover { color: rgb(122, 88, 51); }
.borderc { border-color: rgb(159, 124, 88); }
.sinabloghead .blogtitle, .sinabloghead .blogtitle a, .sinabloghead .blogtitle a:link, .sinabloghead .blogtitle a:visited, .sinabloghead .blogtitle a:hover, .sinabloghead .blogtitle .CP_a_fuc { color: rgb(82, 67, 57); }
.sinabloghead .bloglink, .sinabloghead .bloglink a, .sinabloghead .bloglink a:link, .sinabloghead .bloglink a:visited, .sinabloghead .bloglink a:hover { color: rgb(82, 67, 57); }
.sinabloghead .bloglink .CP_a_fuc { color: rgb(82, 67, 57); }
.sinabloghead .blognav a, .sinabloghead .blognav a:link, .sinabloghead .blognav a:visited, .sinabloghead .blognav a:hover { color: rgb(82, 67, 57); }
.sinabloghead .blognav a.on, .sinabloghead .blognav a.on:link, .sinabloghead .blognav a.on:visited, .sinabloghead .blognav a.on:hover { color: rgb(82, 67, 57); }
.SG_connHead .title, .SG_connHead .title a, .SG_connHead .title a:link, .SG_connHead .title a:visited, .SG_connHead .title a:hover, .SG_connHead .tip, .SG_connHead .tip a, .SG_connHead .tip a:link, .SG_connHead .tip a:visited, .SG_connHead .tip a:hover, .SG_connHead .edit, .SG_connHead .edit a, .SG_connHead .edit a:link, .SG_connHead .edit a:visited, .SG_connHead .edit a:hover, .SG_connHead .tip_r, .SG_connHead .tip_r a, .SG_connHead .tip_r a:link, .SG_connHead .tip_r a:visited, .SG_connHead .tip_r a:hover, .SG_connHead .fontSize, .SG_connHead .fontSize a, .SG_connHead .fontSize a:link, .SG_connHead .fontSize a:visited, .SG_connHead .fontSize a:hover, .menuList ul li.current, .menuList ul li.current a, .menuList ul li.current a:link, .menuList ul li.current a:visited, .menuList ul li.current a:hover, .menuList ul li.current em.SG_txtc { color: rgb(159, 132, 104); }
.sinablogfooter, .sinablogfooter a:link, .sinablogfooter a:visited, .sinablogfooter a:hover { color: rgb(82, 67, 57); }
a.SG_aBtn, a.SG_aBtn:link, a.SG_aBtn:visited { color: rgb(70, 70, 70); }
body { background-color: rgb(202, 155, 112); background-image: url('bg.gif'); }
.sinablogb { background-image: url('sinablogb.jpg'); }
.sinabloghead { height: 285px; }
.sinabloga { background-image: url('sinabloga.jpg'); }
.sinablogfooter { height: 150px; }
.sinabloghead .blogtoparea { top: 40%; left: 67px; }
.sinabloghead .blognav { top: 67%; left: 57px; }
.sinabloghead .blognav .blognavInfo { top: 0px; }
.sinabloghead .blognav .blognavBg { background-image: none; }
.sinabloghead .blognav span { padding: 0px 12px; background-image: url('sg_newsp_002.png'); }
.SG_colW95 .SG_connHead, .SG_colW73 .SG_connHead, .SG_colW51 .SG_connHead, .SG_colW21 .SG_connHead, .blogads .ad_head { background-image: url('modelhead_001.png'); }
.SG_colW95 .SG_connHead, .SG_colW73 .SG_connHead, .SG_colW51 .SG_connHead, .SG_colW21 .SG_connHead { height: 26px; }
.SG_colW95 .SG_connBody, .SG_colW73 .SG_connBody, .SG_colW51 .SG_connBody, .SG_colW21 .SG_connBody, .blogads .ad_body { background-image: url('modelbody_001.png'); }
.SG_colW95 .SG_connFoot, .SG_colW73 .SG_connFoot, .SG_colW51 .SG_connFoot, .SG_colW21 .SG_connFoot, .blogads .ad_foot { background-image: url('modelfoot_001.png'); }
.SG_colW95 .SG_connFoot, .SG_colW73 .SG_connFoot, .SG_colW51 .SG_connFoot, .SG_colW21 .SG_connFoot { height: 1px; }
.SG_j_linedot, .SG_j_linedot1 { background-image: url('sg_linedot_001.gif'); }
.SG_dot { background-image: url('sg_dot_001.gif'); }
.allComm .allCommTit { background-image: url('sg_newsp_002.png'); }
a.SG_aBtn, a.SG_aBtn cite { background-image: url('sg_newsp_002.png'); }
.sinabloghead .adsarea { display: none; right: 0px; bottom: 50px; }
.sinabloghead .adsarea .pic { display: none; }
.sinabloghead .adsarea .link { color: rgb(255, 255, 255); }
.sinabloghead .adsarea .other { display: none; }
.sinabloghead .headflash { width: 950px; height: 265px; }
.sinabloghead .blogtoparea { left: 67px; top: 40%; }
.sinabloghead .blognav { left: 57px; top: 67%; }
