/* ::::: https://slhck.info/assets/main.css ::::: */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0px; padding: 0px; }
body { color: rgb(17, 17, 17); font-size: 16px; background-color: rgb(255, 255, 255); font-feature-settings: "kern"; font-kerning: normal; }
p { font-size: 16px; text-align: justify; }
hr { border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(130, 130, 130) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-top: 48px; margin-bottom: 48px; }
p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-top: 20px; margin-bottom: 20px; }
h1, h2, h3, h4, h5, h6 { margin-top: 40px; margin-bottom: 20px; }
img { max-width: 100%; vertical-align: middle; }
ul, ol { margin-left: 40px; }
h1, h2, h3, h4, h5, h6 {  }
a { color: rgb(7, 153, 206); text-decoration: none; }
a:visited { color: rgb(5, 116, 157); }
a:hover { color: rgb(17, 17, 17); text-decoration: underline; }
blockquote > :last-child { margin-bottom: 0px; }
pre, code { color: rgb(5, 116, 157); font-size: 14px; border: 1px solid rgb(232, 232, 232); border-radius: 5px; background-color: rgb(247, 247, 249); }
code { padding: 1px 2px; }
pre { padding: 10px; overflow-x: auto; line-height: 24px; }
pre > code { border: 0px none; padding-right: 0px; padding-left: 0px; }
.wrapper { max-width: calc(800px - 40px * 2); margin-right: auto; margin-left: auto; padding-right: 40px; padding-left: 40px; }
@media screen and (max-width: 800px) {
	.wrapper { max-width: calc(800px - 40px); padding-right: 20px; padding-left: 20px; }
}
.wrapper::after, .footer-col-wrapper::after { content: ""; display: table; clear: both; }
.warning { background-color: rgb(252, 248, 227); color: rgb(87, 75, 9); }
p > .warning { padding: 2px; }
.error { background-color: rgb(242, 222, 222); color: rgb(58, 23, 23); }
p > .error { padding: 2px; }
.site-header { margin-top: 30px; border-bottom: 1px solid rgb(232, 232, 232); min-height: 120px; position: relative; }
.site-title { font-size: 26px; font-weight: 300; line-height: 36px; letter-spacing: -1px; margin-bottom: 0px; margin-top: 20px; float: left; width: 200px; }
.site-title, .site-title:visited { color: rgb(66, 66, 66); }
.site-subtitle { font-size: 20px; font-weight: 200; line-height: 26px; letter-spacing: -1px; float: left; }
.site-nav { float: right; margin-top: 20px; line-height: 56px; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: rgb(17, 17, 17); line-height: 1.5; padding: 5px 8px; }
.site-nav .page-link.active { background-color: rgb(7, 153, 206); color: rgb(255, 255, 255); border: 1px solid rgb(7, 153, 206); border-radius: 10px; }
.site-nav .page-link:not(:last-child) { margin-right: 10px; }
@media screen and (max-width: 600px) {
	.site-nav .page-link { padding: 3px 5px; }
	.site-nav .page-link:not(:last-child) { margin-right: 0px; }
}
.site-footer { border-top: 1px solid rgb(232, 232, 232); padding: 40px 0px; }
.footer-col-wrapper { font-size: 15px; color: rgb(130, 130, 130); margin-left: -20px; }
.footer-col { float: left; margin-bottom: 20px; padding-left: 20px; }
.footer-col-1 { width: calc(50% - 40px / 2); }
.footer-col-2 { width: calc(50% - 40px / 2); }
@media screen and (max-width: 600px) {
	.footer-col { float: none; width: calc(100% - 40px / 2); }
}
.page-content { padding: 40px 0px; }
.post-meta { font-size: 14px; color: rgb(130, 130, 130); }
.post-header { margin-bottom: 40px; }
.post-title { font-size: 30px; letter-spacing: -1px; line-height: 1; }
@media screen and (max-width: 800px) {
	.post-title { font-size: 36px; }
}
.post-content { margin-bottom: 40px; }
.post-content h1 { font-size: 28px; }
@media screen and (max-width: 800px) {
	.post-content h1 { font-size: 24px; }
}
.post-content h2 { font-size: 24px; }
@media screen and (max-width: 800px) {
	.post-content h2 { font-size: 24px; }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 800px) {
}
.post-content .post-footer, .post-content .post-footer p { font-size: 12px; }
.page-content { margin-top: 40px; margin-bottom: 40px; padding: 0px; }
.site-header { margin-top: 0px; padding-top: 40px; border: medium none; background-color: rgb(2, 43, 58); }
.site-header a.page-link, .site-header a.site-title { color: rgb(255, 255, 255); }
.site-footer { padding-top: 20px; }
a { color: rgb(6, 134, 181); }
a:visited { color: rgb(6, 134, 181); }
