/* ::::: http://cpro.baidustatic.com/cpro/ui/noexpire/css/2.1.5/template.min.css ::::: */

html { color: rgb(0, 0, 0); background-color: transparent; }
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
ol, ul { list-style: outside none none; }
q::after, q::before { content: ""; }
input, select, textarea { font-family: inherit; font-size: inherit; font-weight: inherit; }
body { margin: 0px; padding: 0px; }
.bd-logo, .bd-logo4, .feed-logo { text-decoration: none; cursor: pointer; display: none; overflow: hidden; position: absolute; bottom: 0px; right: 0px; z-index: 2147483647; }
.bd-logo { height: 16px; width: 16px; right: 30px; background: rgba(0, 0, 0, 0) url('pc-logo_1x.png') no-repeat scroll 0px 0px / cover ; }
.bd-logo:hover { width: 52px; height: 16px; right: 30px; background: rgba(0, 0, 0, 0) url('pc-logo-marketing_1x.png') no-repeat scroll left top / cover ; }
.cf::after, .cf::before { content: " "; display: table; }
.cf::after { clear: both; }
.bd-adIcon { width: 30px; height: 16px; background: rgba(0, 0, 0, 0) url('pc-adicon_1x.png') no-repeat scroll left top / cover ; }
.bd-adIcon, .mob-bd-adIcon, .feed-adIcon { position: absolute; right: 0px; bottom: 0px; overflow: hidden; z-index: 2147483647; text-decoration: none; }
.container { padding: 0px; margin-top: 0px; border-style: solid; border-width: 0px; border-color: rgb(255, 255, 255); width: 468px; height: 60px; background-color: rgb(255, 255, 255); position: relative; overflow: hidden; float: none; }
.item { width: 468px; height: 60px; }
.item a { width: 468px; height: 60px; }
.item a:hover {  }
.item img { width: 468px; height: 60px; }
.logoArea { height: 16px; width: 30px; position: absolute; bottom: 0px; right: 0px; cursor: pointer; z-index: 2147483647; }
.logInfoDiv { display: none; }
.dspDiv { display: none; }
.fbTipDiv { height: 14px; width: 96px; position: absolute; bottom: 18px; right: 0px; cursor: pointer; padding: 2px; background-color: rgb(204, 204, 204); opacity: 0.95; font-family: 宋体; font-size: 12px; display: none; z-index: 2147483647; }
.fbTipSpan1 { color: rgb(0, 0, 0); }
.fbTipSpan2 { color: rgb(126, 204, 255); }
.fbIconDiv { height: 16px; width: 30px; position: absolute; bottom: 0px; right: 0px; cursor: pointer; z-index: 2147483647; }
.fbIcon { border-left: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); background-color: rgb(255, 0, 0); height: 3px; width: 3px; position: absolute; bottom: 12px; right: 0px; overflow: hidden; }
.feedbackCon { background: rgb(255, 255, 255) url('bg_rb.png') no-repeat scroll right bottom; width: 468px; height: 60px; font-family: 微软雅黑; display: none; position: absolute; z-index: 2147483647; left: 0px; top: 0px; }
.feedbackDiv { width: 421.2px; height: 54px; padding: 2.7px 21.06px; }
.feedbackTit { width: 421.2px; font-weight: bold; border-left: 2px solid rgb(126, 204, 255); }
.feedbackBorder { border-left: 2px solid rgb(64, 143, 239); }
.feedbackCX { margin-left: 5px; margin-right: 5px; width: 421.2px; color: rgb(126, 204, 255); text-decoration: underline; cursor: pointer; }
.feedbackQue { height: 13.5px; line-height: 18px; width: 421.2px; }
.feedbackAns1 input { vertical-align: middle; }
.feedbackAns1 { float: left; cursor: pointer; height: 18px; line-height: 18px; }
.feedbackTSBtn { width: 96px; color: rgb(126, 204, 255); border: 1px solid rgb(126, 204, 255); border-radius: 18px; text-align: center; margin-left: 5px; float: left; cursor: pointer; }
.feedbackTSBtn:hover { color: rgb(255, 255, 255); background-color: rgb(126, 204, 255); cursor: pointer; }
.feedbackTS { width: 421.2px; height: 54px; padding: 2.7px 21.06px; display: none; }
.feedbackTit2 { width: 421.2px; font-weight: bold; border-left: 2px solid rgb(126, 204, 255); }
.feedbackBorder2 { border-left: 2px solid rgb(64, 143, 239); }
.feedbackCX2 { width: 421.2px; color: rgb(126, 204, 255); text-decoration: underline; cursor: pointer; }
.feedbackQue2 { height: 18px; line-height: 18px; }
.feedbackQueDiv { width: 101.088px; position: relative; }
.feedbackQueInput { height: 20px; line-height: 20px; width: 101.088px; border: 1px solid rgb(153, 153, 153); color: rgb(153, 153, 153); vertical-align: top; }
.feedbackQueArrow { background: rgb(255, 255, 255) url('radio_btn.png') no-repeat scroll right -85px; height: 18px; line-height: 18px; width: 25px; position: absolute; top: 2px; right: 0px; overflow: hidden; }
.feedbackQueUl { border: 1px solid rgb(153, 153, 153); color: rgb(153, 153, 153); list-style: outside none none; background-color: rgb(255, 255, 255); width: 76.088px; display: none; position: absolute; z-index: 1; left: 21.06px; }
.feedbackQueList1 { border-bottom: 1px solid rgb(153, 153, 153); cursor: pointer; width: 76.088px; }
.feedbackQueList2 { border-bottom: 1px solid rgb(153, 153, 153); cursor: pointer; }
.feedbackQueList3 { cursor: pointer; }
.feedbackQueList1:hover { background-color: rgb(204, 204, 204); width: 76.088px; }
.feedbackQueList2:hover { background-color: rgb(204, 204, 204); }
.feedbackQueList3:hover { background-color: rgb(204, 204, 204); }
.feedbackTHSLeft { float: left; width: 168.48px; }
.feedbackTHSRight { float: left; width: 147.42px; }
.feedbackEDiv { height: 18px; line-height: 18px; }
.feedbackEmail { height: 20px; line-height: 20px; width: 101.088px; border: 1px solid rgb(153, 153, 153); vertical-align: top; }
.feedbackBtn2 { width: 96px; color: rgb(126, 204, 255); margin-top: 9.8px; border: 1px solid rgb(126, 204, 255); border-radius: 18px; text-align: center; float: left; cursor: pointer; }
.feedbackBtn2:hover { color: rgb(255, 255, 255); background-color: rgb(126, 204, 255); cursor: pointer; }
.feedbackLogo { height: 19px; width: 59px; position: absolute; right: 10px; bottom: 10px; }
