/* ::::: http://blog.chinaunix.net/css/default/style.css ::::: */

body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td { margin: 0px; padding: 0px; }
body, button, input, select, textarea { font: 12px/1 "宋体",Arial; }
ul, ol, li { list-style: outside none none; }
img { border: 0px none; }
em { font-style: normal; }
a { text-decoration: none; color: rgb(86, 86, 86); }
a:hover { text-decoration: underline; color: rgb(86, 86, 86); }
.clear { clear: both; height: 0px; overflow: hidden; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.Blog_append_a1, .Blog_append_a2, .Blog_nav1_2 span.Blog_span2, .Blog_btn1, .Blog_span3, .Blog_a3, .Blog_header1_3 span, .Blog_ul2 li input, .Blog_tit1, .Blog_jia1, .Blog_jian1, .Blog_ul5 li a.Blog_a4, .Blog_ul5 li a.Blog_a5, .Blog_span5, .Blog_a6, .Blog_a7, ul.yiiPager .previous a, ul.yiiPager .next a, .Blog_right1_9 .div3_1 span, .Blog_right1_9 .div3_2 .Blog_a11, .Blog_right1_9 .div3_2 .Blog_a12, .Blog_a13, .Blog_a14, .Blog_tit4 b, .Blog_tit4 span a, .Blog_more1 li span.Blog_span8, .Blog_more1 li span.Blog_span9, .Blog_more1 li span.Blog_span10, .Blog_right1_6 a.Blog_a15, .Blog_con3_3 div span, .Blog_con3_3 div a, .Blog_span6, .Blog_span7, .HT_tit1, .Blog_p4 span, a.HT_here1 span, .HT_con2_1 a.HT_a1, .HT_con2_1 a.HT_a2, .HT_tit4 a, .HT_a3, .HT_a4, .HT_a5, .HT_a6, .HT_a7, .HT_btn3, .HT_btn4, .HT_btn5, .HT_btn6, .HT_btn1, .HT_a8, .HT_a9, .HT_btn2, .HT_con7_1 li a, .HT_btn7, .Blog_tab1 li a, .Blog_tab1 li a.here, .Blog_a11, .Blog_a12, .HT_con6_1 p span a, .HT_tit6_1 span, .Blog_nav1_2 span.Blog_span1, .Blog_b1, .Blog_b2, .landing_btn1, .landing_con3 p, .HT_layer1_1 a, .login_btn1, .HT_layer3_1 span.login_span1, .HT_layer3_1 span.login_span2, .message_btn1, .nologin_btn1, .nologin_btn2 { background-image: url('bg_001.png'); background-repeat: no-repeat; }
.Blog_nav1, .Blog_tit2, .Blog_line3, .HT_line3 { background-image: url('linebg.png'); background-repeat: repeat-x; }
body { background: rgb(243, 247, 249) none repeat scroll 0% 0%; }
.box { text-align: left; color: rgb(86, 86, 86); }
.Blog_contain { margin: 0px 5px; min-width: 1000px; }
.Blog_nav1 { background-position: 0px 0px; height: 51px; line-height: 51px; z-index: 1; }
.Blog_nav1_2 { float: left; padding-left: 17px; }
.Blog_nav1_2 img { vertical-align: -18px; margin-right: 39px; }
.Blog_nav1_2 a.Blog_a1, .Blog_nav1_2 a.Blog_a2 { color: rgb(18, 90, 148); }
.Blog_nav1_2 span.Blog_span1 { background-position: -427px 0px; width: 1px; height: 17px; display: inline-block; vertical-align: -4px; margin: 0px 10px; }
.Blog_nav1_3 { float: right; padding-right: 30px; }
.Blog_txt1 { width: 204px; height: 18px; line-height: 18px; padding-left: 2px; border: 1px solid rgb(187, 187, 187); vertical-align: middle; }
.Bolg_sel1 { height: 20px; vertical-align: middle; }
.Blog_btn1 { background-position: 0px -73px; width: 45px; height: 20px; border: 0px none; cursor: pointer; vertical-align: middle; }
.Blog_nav1_layer1 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(192, 202, 213); width: 105px; height: 100px; line-height: 25px; text-align: center; position: absolute; left: 670px; top: 43px; z-index: 100; }
.Blog_header1 { background: rgba(0, 0, 0, 0) url('bg_1.png') no-repeat scroll center top; height: 224px; overflow: hidden; clear: both; position: relative; z-index: 1; }
.Blog_header1_1 { margin: 40px 0px 0px 20px; }
.Blog_header1_1 p a { color: rgb(48, 103, 160); }
.Blog_p1 { font-size: 14px; }
.Blog_p1 em { font-family: "微软雅黑","黑体","Verdana"; font-size: 30px; display: block; margin-bottom: 8px; }
.Blog_p2 { margin-top: 24px; font-size: 14px; }
.Blog_header1_2 { background: rgb(255, 255, 206) none repeat scroll 0% 0%; border: 1px solid rgb(240, 229, 186); width: 316px; height: 25px; line-height: 25px; color: rgb(108, 106, 61); position: absolute; right: 191px; top: 15px; padding-left: 10px; overflow: hidden; z-index: 100; }
.Blog_header1_2 span { float: left; }
.Blog_span3 { background-position: -10px 0px; width: 14px; height: 15px; margin: 5px 11px 0px 0px; }
.float_div1 { float: left; margin-top: 2px; }
.Blog_header1_3 { padding: 50px 0px 0px 20px; height: 31px; line-height: 31px; }
.Blog_header1_3 a { display: inline-block; margin-top: 10px; }
.Blog_left { float: left; width: 220px; }
.Blog_bg1 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; border: 1px solid rgb(194, 217, 232); }
.Blog_left1 { padding-bottom: 10px; }
.Blog_left1_1 { text-align: center; margin: 16px auto 0px; padding-bottom: 15px; width: 200px; }
.Blog_left1_1 img { border: 1px solid rgb(218, 218, 218); padding: 3px; }
.Blog_left1_1 p { margin-top: 10px; }
.Blog_left1_1 p a { color: rgb(48, 103, 160); font-weight: bold; font-size: 14px; }
.Blog_ul1 { width: 200px; margin: 15px auto 0px; }
.Blog_ul1 li { width: 180px; margin: 0px auto 6px; line-height: 18px; }
.Blog_ul2 { width: 172px; margin: 15px auto 0px; }
.Blog_ul2 li { float: left; width: 76px; height: 27px; margin: 5px; display: inline; }
.Blog_ul2 li input { display: block; background-position: 0px -94px; width: 76px; height: 27px; line-height: 27px; text-align: center; color: rgb(3, 89, 175); border: 0px none; cursor: pointer; }
.Blog_p3 { width: 200px; margin: 4px auto; line-height: 24px; overflow-wrap: break-word; }
.Blog_left2 { margin-top: 8px; padding-bottom: 10px; }
.Blog_tit1 { background-position: 0px -154px; height: 25px; line-height: 25px; padding: 0px 10px; color: rgb(255, 255, 255); font-weight: bold; }
.Blog_left2_1 { width: 190px; margin: 8px auto; }
.Blog_p4 { width: 190px; margin: 15px 0px 12px; }
.Blog_p4 a { font-weight: bold; }
.Blog_jia1, .Blog_jian1 { background-position: 0px -6px; width: 9px; height: 9px; display: inline-block; vertical-align: middle; margin-right: 10px; }
.Blog_left2_1 li { margin-bottom: 12px; padding-left: 24px; }
.Blog_left2_1 li p { padding: 8px 0px 0px 30px; }
.Blog_left2_1 li p a { font-weight: normal; }
.Blog_left2_1 li a { font-weight: bold; }
.Blog_ul4 { width: 186px; margin: 0px auto; padding-bottom: 10px; overflow: hidden; }
.Blog_ul4 li { float: left; width: 52px; height: 75px; overflow: hidden; margin: 12px 5px 0px; }
.Blog_ul4 li img { padding: 2px; border: 1px solid rgb(218, 218, 218); width: 48px; height: 48px; }
.Blog_ul4 li p { margin-top: 5px; text-align: center; }
.Blog_ul5 { width: 186px; margin: 15px auto 0px; }
.Blog_ul5 li { padding-bottom: 9px; }
.Blog_ul5 li a.Blog_a4 { background-position: -77px -94px; width: 60px; height: 23px; display: block; }
.Blog_ul5 li a.Blog_a5 { background-position: -46px -73px; width: 103px; height: 16px; display: block; }
.Blog_ul6 { width: 206px; margin: 10px auto 0px; }
.Blog_ul6 li { line-height: 26px; height: 26px; }
.Blog_ul6 li.no_line1 { border-bottom: 0px none; }
.Blog_left3 { padding-bottom: 5px; }
.Blog_noline1 { border: 0px none; }
.Blog_right1 { margin: 0px 0px 0px 230px; min-width: 770px; }
.Blog_right1_1 { border: 1px solid rgb(194, 217, 232); background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 30px 0px 10px; }
.Blog_right1_2 { width: 96%; margin: 0px auto; }
.Blog_tit2 { background-position: 0px -52px; height: 23px; line-height: 23px; color: rgb(25, 89, 155); padding-left: 10px; font-weight: bold; }
.Blog_right1_6 { padding: 31px 0px 20px 16px; text-align: center; }
.Blog_right1_7 { margin-top: 38px; }
.Blog_tit3 { background: rgb(230, 240, 243) none repeat scroll 0% 0%; padding-left: 31px; font-weight: bold; color: rgb(25, 89, 155); height: 26px; line-height: 26px; }
.Blog_right1_8 { margin: 20px 32px 0px; overflow: hidden; }
.Blog_right1_10 { margin-top: 28px; }
.Blog_footer { margin-top: 90px; border-top: 1px solid rgb(191, 207, 221); text-align: center; color: rgb(128, 158, 188); line-height: 24px; padding-bottom: 20px; }
.Blog_footer div { margin-top: 10px; }
.Blog_footer div a { color: rgb(128, 158, 188); }
.Blog_right1_11 { padding: 20px 0px 17px; margin-bottom: 10px; }
.Blog_tit4 { border-bottom: 1px dashed rgb(184, 184, 184); padding: 0px 10px 11px 0px; }
.Blog_tit4 a { font-family: "微软雅黑","黑体","Verdana"; font-size: 20px; color: rgb(25, 89, 155); }
.Blog_tit4 b { background-position: -150px -73px; width: 38px; height: 18px; display: inline-block; margin-right: 9px; vertical-align: -2px; }
.Blog_con2 { color: rgb(102, 102, 102); line-height: 26px; }
.Blog_con2_1 { margin-top: 9px; position: relative; }
.Blog_con2_1 a { color: rgb(25, 89, 155); }
.Blog_wz1 { font-size: 16px; }
.Blog_tit5 { border-bottom: 0px none; padding-right: 0px; }
.Blog_tit5 em { margin-left: 22px; color: rgb(187, 186, 186); font-family: Arial; }
.Blog_con3 { margin-top: 10px; line-height: 22px; }
.Blog_con3 p { color: rgb(25, 89, 155); }
.Blog_con3 span { color: rgb(187, 186, 186); margin-right: 25px; }
.Blog_con3_2 { line-height: 22px; margin-top: 50px; }
.Blog_con3_2 div { height: 30px; }
.Blog_con3_3 { line-height: 20px; margin-top: 18px; color: rgb(25, 89, 155); }
.Blog_con3_3 div { float: right; padding-right: 10px; color: rgb(102, 102, 102); }
.Blog_con3_3 div span { background-position: 0px -180px; width: 46px; height: 36px; line-height: 36px; text-align: center; display: inline-block; color: rgb(101, 101, 101); font-weight: bold; font-size: 14px; vertical-align: middle; }
.Blog_con3_3 div a { background-position: -47px -180px; width: 56px; height: 36px; display: inline-block; vertical-align: middle; margin-right: 7px; }
.Blog_tit6 { margin-top: 45px; }
.Blog_con3_4 { overflow: hidden; }
.Blog_con3_4 ul { width: 98%; margin: 19px auto; }
.Blog_con3_4 li { float: left; width: 33%; margin-bottom: 11px; overflow: hidden; }
.Blog_span6, .Blog_span7 { background-position: -86px 0px; width: 17px; height: 17px; display: inline-block; margin-right: 6px; vertical-align: -4px; }
.Blog_span7 { background-position: -104px 0px; }
.Blog_con3_4 ul.Blog_ul7 { float: left; width: 31%; padding-left: 12px; }
.Blog_con3_4 ul.Blog_ul7 li { float: none; width: 100%; }
.Blog_tit4 b.Blog_b1 { background-position: -150px -73px; }
.HT_line3 { background-position: 0px -76px; height: 1px; width: 205px; margin: 0px auto; }
.HT_line3_1 { margin-top: 15px; }
@media all and (min-width: 0px) {
}
@media all and (min-width: 0px) {
}
.nologin_con1 { border: 1px solid rgb(171, 171, 171); padding: 10px; height: 115px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(171, 171, 171); }
.nologin_con1 p { margin-top: 10px; }
.nologin_con1 p a { color: rgb(0, 93, 190); text-decoration: underline; }
.Blog_left1_1, .Blog_right1_2 { position: relative; }
/* ::::: http://blog.chinaunix.net/css/qqface/qqFace.css ::::: */

/* ::::: http://blog.chinaunix.net/css/asyncbox/skins/Chrome/asyncbox.css ::::: */

html {  }
body { margin: 0px; }
#asyncbox_cover, #asyncbox_focus, .asyncbox_max { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; }
#asyncbox_cover, #asyncbox_focus, #asyncbox_clone { display: none; overflow: hidden; }
#asyncbox_cover div, #asyncbox_cover iframe, .asyncbox_select, #asyncbox_focus { position: absolute; width: 100%; height: 100%; opacity: 0; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#asyncbox_focus { z-index: 3000; position: fixed; }
#asyncbox_clone { z-index: 3000; position: absolute; border: 1px dashed rgb(0, 0, 102); }
#asyncbox_load { background: rgba(0, 0, 0, 0) url('asyncbox_bg.gif') repeat scroll 0% 0%; }
#asyncbox_load div { background: rgba(0, 0, 0, 0) url('asyncbox_title_bottom.gif') repeat scroll 0% 0%; }
#asyncbox_load span { background: rgba(0, 0, 0, 0) url('asynctips_bg.gif') repeat scroll 0% 0%; }
/* ::::: http://blog.chinaunix.net/assets/f0409051/pager.css ::::: */

/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css ::::: */

.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_renren { background-position: 0px -208px; }
.bdshare-button-style0-16 .bds_tqq { background-position: 0px -260px; }
.bdshare-button-style0-16 .bds_more { background-position: 0px 0px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url('icons_0_16.png'); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
.bdshare-button-style0-16 .bds_more { color: rgb(51, 51, 51); float: left; }
.bor13221 { border: 1px solid rgb(187, 187, 187); width: 206px; position: absolute; top: 34px; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 9999; display: none; }
/* ::::: http://blog.chinaunix.net/highlight/styles/shCore.css ::::: */

/* ::::: http://blog.chinaunix.net/highlight/styles/shThemeDefault.css ::::: */

/* ::::: http://blog.chinaunix.net/code/css/fck_editorarea.css ::::: */

* { overflow-wrap: break-word; }
p { padding: 0px; }
.Blog_left1_1 p a em { display: inline-block; width: 16px; height: 13px; background: rgba(0, 0, 0, 0) url('v.jpg') no-repeat scroll 0% 0%; overflow: hidden; }
