html, body, ul, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img { margin: 0px; padding: 0px; border: 0px none; }
ul { list-style-type: none; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-family: "宋体"; font-size: 12px; padding: 0px; }
td, p, li, select, input, textarea { font-size: 12px; }
a { text-decoration: none; }
a:link { color: rgb(51, 51, 51); }
a:visited { color: rgb(51, 51, 51); }
a:hover, a:active, a:focus { color: rgb(255, 0, 0); text-decoration: underline; }
.blogrecommend { width: 260px; height: 210px; background: rgba(0, 0, 0, 0) url('u136p346dt20151021115454.gif') no-repeat scroll left top; overflow: hidden; }
.blogrecommend .BR_title { height: 30px; position: relative; }
.blogrecommend .BR_title a { position: absolute; height: 30px; width: 104px; top: 0px; left: 30px; }
.BR_ImgTxt { width: 250px; margin: 0px auto; overflow: auto; padding: 5px 0px; }
.BR_ImgTxt img { float: left; border: 1px solid rgb(0, 0, 0); }
.BR_ImgTxt ul { line-height: 20px; padding-left: 90px; }
.BR_ImgTxt li { padding-left: 8px; background: rgba(0, 0, 0, 0) url('blogrecommend_hz_002.gif') no-repeat scroll left center; }
.blogrecommend p { line-height: 20px; padding-left: 10px; }
