html {  }
html, body, #creation { height: 100%; }
body { margin: 0px; }
.templet { font-size: 14px; line-height: 1.5; font-family: "helvetica neue",tahoma,"hiragino sans gb",stheiti,"wenquanyi micro hei",微软雅黑,宋体,sans-serif; display: block; overflow: hidden; position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: left; width: 200px; height: 200px; }
.templet a { text-decoration: none; }
.templet img { border: medium none; }
.item { position: relative; width: 100%; height: 100%; }
.yen { font-family: arial; }
.templet { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 194px; height: 194px; font-size: 14px; border: 3px solid rgb(255, 68, 0); }
.carousel { width: 194px; height: 194px; position: relative; }
.tao { position: absolute; display: block; width: 78px; height: 31px; background: rgba(0, 0, 0, 0) url('t17hjxfcxxxxb1upjx.jpg') no-repeat scroll 0px 0px; z-index: 9999; }
.items { width: 160px; height: 194px; position: relative; overflow: hidden; }
.items .item { display: none; position: relative; margin: 0px; width: 160px; height: 194px; overflow: hidden; }
.items .current { display: inline-block; }
.pic { display: block; width: 160px; height: 160px; }
.pic img { position: relative; width: 100%; height: 100%; }
.carousel .info { position: absolute; left: 0px; bottom: 0px; width: 160px; height: 34px; }
.carousel .pinfo { display: block; float: left; margin-left: 5px; height: 34px; line-height: 34px; }
.carousel .pinfo .price-promo { display: block; float: left; color: rgb(255, 68, 0); font-size: 16px; margin-right: 3px; font-weight: bold; }
.carousel .pinfo .price-original { display: block; position: relative; top: 9px; float: left; width: 20px; height: 17px; line-height: 20px; background: rgba(0, 0, 0, 0) url('tb1mng.hpxxxxb4xfxx1qpgfpxx-20-14.gif') no-repeat scroll 0px 0px; }
.carousel .pinfo .price-original .yen, .carousel .pinfo .price-original .price { display: none; }
.carousel .finfo { display: none; position: relative; top: 9px; float: right; margin-right: 5px; line-height: 20px; width: 29px; height: 16px; background: rgba(0, 0, 0, 0) url('tb1lko.hpxxxxbixfxx91degxxx-29-16.png') no-repeat scroll 0px 0px; }
.carousel .postfree { display: block; }
.cover { position: absolute; top: 14px; right: -1px; width: 34px; height: 165px; overflow: hidden; }
.triggers { position: relative; width: 34px; height: 56px; }
.triggers .frame { position: relative; float: left; width: 34px; height: 170px; overflow: hidden; }
.triggers .frame .trigger { display: block; float: left; width: 32px; height: 32px; margin-bottom: 1px; position: relative; overflow: hidden; }
.triggers .frame .trigger .templet-cover { background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%; width: 32px; height: 32px; position: absolute; top: 0px; left: 0px; }
:root .triggers .frame .trigger .templet-cover {  }
.triggers .frame .trigger .templet-border { border: medium none; width: 32px; height: 32px; position: absolute; top: 0px; left: 0px; }
.trigger img { width: 32px; height: 32px; }
.triggers .frame .current { opacity: 1; }
.triggers .frame .current .templet-cover { display: none; }
.triggers .frame .current .templet-border { border: 1px solid rgb(255, 68, 0); width: 30px; height: 30px; }
.previous { position: absolute; right: 0px; top: 0px; display: block; width: 34px; height: 14px; z-index: 99999; overflow: hidden; }
.next { position: absolute; right: 0px; bottom: 0px; display: block; width: 34px; height: 14px; z-index: 99999; overflow: hidden; }
.previous .arrow { display: block; position: relative; top: 3px; left: 10px; width: 14px; height: 7px; background: rgba(0, 0, 0, 0) url('t1jtlifaloxxb1upjx.jpg') no-repeat scroll 0px 0px; }
.next .arrow { display: block; position: relative; top: 3px; left: 10px; width: 14px; height: 7px; background: rgba(0, 0, 0, 0) url('t1jtlifaloxxb1upjx.jpg') no-repeat scroll 0px -7px; }
