/* ::::: https://www.cnblogs.com/css/blog-common.min.css?v=HrvK75b61-WJQPXtn_liCIWUC4EcnwT_lmrRbncieJo ::::: */

body { font-family: Helvetica,Verdana,Arial,sans-serif; }
input[type="button"] {  }
img { border: 0px none; }
#blog_post_info_block { margin-top: 20px; }
#BlogPostCategory { margin-bottom: 10px; }
.div_my_zzk { margin-top: 5px; margin-bottom: 5px; }
.input_my_zzk { width: 100px; vertical-align: middle; height: 20px; }
input.btn_my_zzk { vertical-align: middle; height: 22px; font-size: 12px; padding-left: 5px; padding-right: 5px; }
.login_tips { background-image: url('icon_addcomment.gif'); background-repeat: no-repeat; margin-top: 10px; padding: 0px 0px 10px 25px; font-weight: bold; }
.login_tips a { text-decoration: underline !important; }
.clear { clear: both; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
#author_profile a:hover { text-decoration: underline; }
.author_avatar { vertical-align: top; float: left; margin-right: 5px; padding-top: 5px; padding-left: 2px; border: 0px none; }
.author_profile_info { float: left; line-height: 18px; }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 125px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: rgba(0, 0, 0, 0) url('upup.gif') no-repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: rgba(0, 0, 0, 0) url('downdown.gif') no-repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: rgb(128, 128, 128); }
#profile_block { margin-top: 5px; line-height: 1.5; text-align: left; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
#post_next_prev a.p_n_p_prefix:link { text-decoration: none; }
#post_next_prev a.p_n_p_prefix:hover { text-decoration: underline; }
.itnews { line-height: 150%; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
#green_channel { padding: 10px 0px; margin-bottom: 10px; margin-top: 10px; border: 1px dashed rgb(192, 192, 192); font-size: 12px; width: 350px; text-align: center; }
#green_channel a { background: rgba(0, 0, 0, 0) url('undefined') repeat-x scroll 0% 0%; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; border-radius: 10px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); vertical-align: middle; }
#green_channel a:hover { background-image: url('undefined'); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_weibo img { vertical-align: middle; border: medium none; margin-left: 5px; box-shadow: none; }
#green_channel #green_channel_weibo, #green_channel #green_channel_wechat { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 3px 2px; box-shadow: none; text-shadow: none; }
#green_channel #green_channel_wechat img { width: 24px; height: 24px; border: medium none; box-shadow: none; margin-left: 5px; vertical-align: middle; }
#cnblogs_post_body { margin-bottom: 20px; }
#cnblogs_post_body ul { margin-left: 30px; padding-left: 0px; }
#cnblogs_post_body ul li { list-style-type: disc; }
#cnblogs_post_body img { max-width: 900px; height: auto; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#ad_t2 { margin-top: 5px; line-height: 1.8; }
#ad_t2 a { margin-right: 10px; }
#opt_under_post { line-height: 1.8; }
.recent_comment_author { text-align: right; margin-right: 4px; }
#HistoryToday, .recomm-block { max-width: 600px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
input::-moz-focus-inner { border: 0px none; padding: 0px; }
.Cal { width: 100%; }
.CalTitle { width: 100%; }
.recent_comment_body { white-space: pre-wrap; overflow-wrap: break-word; }
#cnblogs_post_body {  }
#cnblogs_post_body p { margin: 10px auto; text-indent: 0px; }
#cnblogs_post_body h1 { font-size: 28px; font-weight: bold; line-height: 1.5; margin: 10px 0px; }
#cnblogs_post_body h2 { font-size: 21px; font-weight: bold; line-height: 1.5; margin: 10px 0px; }
#cnblogs_post_body h3 { font-size: 16px; font-weight: bold; line-height: 1.5; margin: 10px 0px; }
#div_digg .diggnum { line-height: 1.5em !important; }
#div_digg .burynum { line-height: 1.5em !important; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255) !important; border: medium none !important; }
#blog-news { overflow: hidden; }
#MySignature { display: none; }
.ui-dialog-loading::after { position: absolute; content: ""; width: 3px; height: 3px; margin: 14.5px 0px 0px 14.5px; border-radius: 100%; box-shadow: 0px -10px 0px 1px rgb(204, 204, 204), 10px 0px rgb(204, 204, 204), 0px 10px rgb(204, 204, 204), -10px 0px rgb(204, 204, 204), -7px -7px 0px 0.5px rgb(204, 204, 204), 7px -7px 0px 1.5px rgb(204, 204, 204), 7px 7px rgb(204, 204, 204), -7px 7px rgb(204, 204, 204); transform: rotate(360deg); animation: 1.5s linear 0s normal none infinite running ui-dialog-loading; }
/* ::::: https://www.cnblogs.com/skins/codinglife/bundle-codinglife.min.css?v=HZYPsxMVafXureV358baXMkW01jE9FdDO18Qqm0WPVk ::::: */

* { margin: 0px; padding: 0px; }
html { height: 100%; }
body { background: rgb(240, 238, 245) url('body_bg.png') repeat-x scroll 0px 0px; color: rgb(125, 139, 141); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 14px; line-height: 25px; min-height: 101%; }
table { border-collapse: collapse; border-spacing: 0px; max-width: 850px; }
#sideBar ul { word-break: break-all; list-style: outside none none; }
#sideBar li { list-style: outside none none; }
h1, h2, h3 { font-size: 100%; font-weight: normal; }
a:link { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(255, 102, 0); text-decoration: underline; }
.clear { clear: both; }
#blogTitle { background: rgba(0, 0, 0, 0) url('title-yellow.png') no-repeat scroll center 21px; height: 314px; clear: both; width: 1200px; margin: 0px auto; position: relative; }
#blogTitle h1 { font-size: 30px; width: 310px; height: 100px; line-height: 100px; text-align: center; position: relative; top: 80px; left: 17px; font-weight: normal; }
#blogTitle h2 { width: 550px; position: relative; height: 75px; line-height: 180%; font-weight: normal; top: 107px; left: 5px; font-size: 16px; }
#blogTitle h1 a, #blogTitle h2 { color: rgb(255, 255, 255); }
#blogLogo { float: right; }
#navigator { background-color: rgb(22, 159, 230); height: 60px; clear: both; position: relative; border-width: 1px medium; border-style: solid none; border-color: rgb(19, 140, 202) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
#navList { width: 1200px; margin: 0px auto; height: 60px; }
#navList li { float: left; height: 60px; line-height: 60px; list-style-type: none; }
#navList a { padding: 0px 20px; font-size: 16px; display: block; color: rgb(255, 255, 255); }
#navList a:link { color: rgb(255, 255, 255); text-shadow: 3px 3px 3px rgb(0, 0, 0); }
#navList a:hover { text-decoration: none; background-color: rgb(255, 255, 255); color: rgb(22, 159, 230); }
.blogStats { display: none; }
#main { width: 1200px; margin: 20px auto 0px; clear: both; }
.postDesc a:hover { color: rgb(154, 178, 107); text-decoration: none; }
#footer { text-align: center; min-height: 15px; margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px; color: rgb(51, 51, 51); }
body, div, h1, h2, h3, h4, h5, h6, ul, li, img { margin: 0px; padding: 0px; }
img { border: medium none; }
#home { margin: 0px auto; }
#mynav li, #profile_block a, .catListTag ul li, .catListTag ul li::before, .catListPostCategory ul li a, .catListPostArchive ul li a, .recent_comment_title a, .catListView ul li a, .catListFeedback ul li a { transition: all 0.1s ease-out 0s; }
#mainContent { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; float: left; overflow: visible; text-overflow: ellipsis; width: 890px; word-break: break-all; }
#mainContent .forFlow { float: none; width: 100%; }
.postDesc { clear: both; color: rgb(188, 188, 188); float: none; text-align: left; line-height: 200%; font-size: 12px; }
.postDesc a { color: rgb(153, 153, 153); }
#topics { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; padding: 20px; border: 1px solid rgb(222, 222, 222); }
#topics .postTitle { font-size: 28px; font-weight: 400; margin-bottom: 20px; line-height: 1.8; color: rgb(51, 51, 51); }
#topics .postTitle a { color: rgb(51, 51, 51); }
.postTitle a:hover { color: rgb(14, 144, 210); text-decoration: none; }
#cnblogs_post_body { color: rgb(51, 51, 51); line-height: 1.8; }
#cnblogs_post_body h2 { margin: 20px 0px; }
#cnblogs_post_body p a:hover, #cnblogs_post_body ol li a:hover, #cnblogs_post_body ul li a:hover { border-bottom: 1px dotted rgb(154, 178, 107); }
#cnblogs_post_body ol, #cnblogs_post_body ul { margin: 0px 0px 1em 40px; padding: 0px; }
#BlogPostCategory a { margin-left: 10px; }
#BlogPostCategory a:hover { color: rgb(255, 94, 82); border-bottom: 1px dotted rgb(255, 94, 82); }
#post_next_prev { line-height: 200%; margin: 10px 0px; font-size: 14px; }
#post_next_prev a { color: rgb(51, 51, 51); }
#post_next_prev a:hover { border-bottom: 1px dotted rgb(255, 94, 82); color: rgb(255, 94, 82); }
#topics .postDesc { font-size: 14px; color: rgb(119, 119, 119); line-height: 200%; margin: 10px 0px; }
#topics .postDesc a:hover { color: rgb(154, 178, 107); }
.login_tips a { padding: 4px; }
.login_tips a:link, .login_tips a:active, .login_tips a:visited { color: rgb(125, 139, 141); }
.login_tips a:hover { color: rgb(255, 102, 0); }
#sideBar { width: 290px; margin-left: 20px; float: left; text-overflow: ellipsis; overflow: visible; word-break: break-all; }
#blog-news { overflow: visible; margin-bottom: 20px; }
#profile_block { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px; color: rgb(126, 140, 141); font-size: 13px; line-height: 1.8; margin-top: 0px !important; border: 1px solid rgb(222, 222, 222); }
#profile_block:hover { border: 1px solid rgb(255, 94, 82); }
#profile_block a { color: rgb(159, 164, 164); text-decoration: none; font-size: 13px; }
#profile_block a:hover { color: rgb(153, 177, 107); border-bottom: 1px dotted rgb(153, 177, 107); }
#leftcontentcontainer { margin-top: 20px; }
.mySearch { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.catListTitle { font-size: 18px; padding: 10px 20px; background-color: rgb(22, 159, 230); color: rgb(255, 255, 255); font-weight: normal; border: 1px solid rgb(22, 159, 230); }
#widget_my_zzk { padding: 15px 0px 0px 15px; border-left: 1px solid rgb(222, 222, 222); border-right: 1px solid rgb(222, 222, 222); margin: 0px !important; }
#widget_my_google { padding: 10px 0px 15px 15px; border-width: medium 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(222, 222, 222) rgb(222, 222, 222); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 0px !important; }
.input_my_zzk { width: 160px; height: 35px; border: 1px solid rgb(221, 221, 221); outline: medium none; line-height: 35px; font-size: 13px; padding: 0px 12px; }
input.btn_my_zzk { font-size: 14px; height: 37px; width: 70px; background: rgb(255, 94, 82) none repeat scroll 0% 0%; text-align: center; line-height: 37px; border: medium none; color: rgb(255, 255, 255); font-family: "Microsoft Yahei","Simsun",Arial; }
input.btn_my_zzk:hover { cursor: pointer; }
.catListPostCategory { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.catListPostCategory ul { border-width: medium 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(222, 222, 222) rgb(222, 222, 222); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.catListPostCategory ul li { line-height: 44px; border-bottom: 1px solid rgb(233, 233, 233); padding-left: 25px; font-size: 15px; color: rgb(119, 119, 119); }
.catListPostCategory ul li a, .catListPostArchive ul li a, .catListArticleCategory ul li a, .recent_comment_title a, .catListView ul li a, .catListFeedback ul li a { color: rgb(119, 119, 119); text-decoration: none; }
.catListPostCategory ul li a:hover, .catListPostArchive ul li a:hover, .catListArticleCategory ul li a:hover, .recent_comment_title a:hover, .catListView ul li a:hover, .catListFeedback ul li a:hover { color: rgb(255, 94, 82); border-bottom: 1px dotted rgb(255, 94, 82); }
.catListPostArchive { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.catListPostArchive ul { border-width: medium 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(222, 222, 222) rgb(222, 222, 222); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.catListPostArchive ul li { line-height: 44px; border-bottom: 1px solid rgb(233, 233, 233); padding-left: 25px; font-size: 15px; color: rgb(126, 140, 141); }
.catListArticleCategory { width: 290px; padding-top: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.catListComment { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.recent_comment_title { color: rgb(126, 140, 141); border: medium none !important; }
.recent_comment_body, .recent_comment_author { color: rgb(159, 164, 164); padding-top: 0px !important; }
.recent_comment_body { border-bottom: medium none !important; }
.recent_comment_author { border-bottom: 1px solid rgb(233, 233, 233); }
.catListView { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 20px; }
.catListFeedback { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-top: 20px; }
.catListFeedback ul li { border-bottom: 1px solid rgb(233, 233, 233); padding: 8px 0px; }
.catListLink { display: none; }
.clearFix::after { clear: both; display: block; height: 0px; line-height: 0; content: ""; visibility: hidden; }
#blog-comments-placeholder { padding: 0px 20px 20px; border: 1px solid rgb(222, 222, 222); margin-top: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#comment_nav { margin: 10px 0px; }
#comment_nav a:hover { color: rgb(154, 178, 107); }
#comment_form_container { border: 1px solid rgb(222, 222, 222); padding: 20px; background-color: rgb(255, 255, 255); }
#under_post_news { width: 528px; height: 160px; margin-left: 0px; margin-top: 10px; border: 1px solid rgb(222, 222, 222); padding: 10px 20px; background-color: rgb(255, 255, 255); }
#under_post_kb { clear: left; margin-top: 10px; border: 1px solid rgb(222, 222, 222); padding: 10px 20px; background-color: rgb(255, 255, 255); }
.sidebar-block { margin-bottom: 20px; background-color: rgb(255, 255, 255); }
.sidebar-block h3 { background-color: rgb(22, 159, 230); border: 1px solid rgb(22, 159, 230); color: rgb(255, 255, 255); font-size: 18px; font-weight: normal; padding: 10px 20px; }
.sidebar-block ul { border-width: medium 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(222, 222, 222) rgb(222, 222, 222); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.sidebar-block ul li { line-height: 2; border-bottom: 1px solid rgb(233, 233, 233); padding: 15px 10px 15px 20px; font-size: 14px; color: rgb(119, 119, 119); }
.sidebar-block ul li a { color: rgb(119, 119, 119); text-decoration: none; }
.sidebar-block ul li a:hover { color: rgb(255, 94, 82); border-bottom: 1px dotted rgb(255, 94, 82); }
#cnblogs_post_body img { max-width: 800px; }
#cnblogs_post_body a:link { text-decoration: underline; }
#ad_t2 a:link, #ad_t2 a:active, #ad_t2 a:visited { color: rgb(0, 0, 0); }
/* ::::: https://www.cnblogs.com/skins/codinglife/bundle-codinglife-mobile.min.css?v=YLOkrTk5E7_pa0CoJzjGN-4x4Qir3rlm737NcHZyQvQ ::::: */

body { font-size: 14px !important; font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif; -moz-text-size-adjust: none; }
#blog_nav_rss { display: none !important; }
#blog_nav_newpost { display: none !important; }
img { max-width: 300px !important; height: auto; }
#green_channel { width: 320px; }
#sidebar_search_box input[type="text"] { width: 260px; }
#cnblogs_c1, #cnblogs_c2 { text-align: center; }
#cnblogs_c2 { overflow: hidden; }
.commentform { margin-left: 10px; }
#main { width: auto; }
#mainContent { width: auto; float: none; }
#navList { width: auto; }
#sideBar { width: auto; margin-left: 10px; margin-right: 10px; float: none; }
#under_post_news, #google_ad_c2, #blogTitle, #blogTitle h1, #blogTitle h2, .catListArticleCategory, .catListImageCategory { width: auto; }
#blogTitle { background-position: -60px 20px; }
#blogTitle h1 { position: static; padding-top: 80px; }
#blogTitle h2 { position: static; padding: 20px 0px 0px 20px; }
#sidebar_search_box input[type="text"] { width: 170px; }
#under_post_news { height: auto; }
.commentform { margin-left: 10px; margin-right: 10px; }
#mainContent .forFlow { width: auto; }
.tctip { position: fixed; right: 0px; z-index: 10000; padding-left: 34px; width: 0px; overflow: hidden; box-sizing: content-box; background-color: transparent; }
.tctip li, .tctip ul { margin: 0px; padding: 0px; }
.tctip img { border: 0px none; display: block; }
.tctip a { color: rgb(0, 0, 0); text-decoration: none; outline: 0px none; }
.tctip .tctip-btn-box { position: absolute; left: 0px; top: 50%; margin-top: -46px; width: 34px; height: 93px; }
.tctip .tctip-main-box { width: 240px; height: 332px; font: 12px/1.5 microsoft yahei,tahoma,arial,sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(219, 219, 219) currentcolor rgb(219, 219, 219) rgb(219, 219, 219); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.tctip .tctip-main-box .tctip-footer, .tctip .tctip-main-box .tctip-title { margin: 0px; height: 26px; line-height: 26px; background-color: rgb(231, 231, 231); }
.tctip .tctip-main-box .tctip-title { padding: 0px 0px 0px 6px; font-size: 14px; font-weight: 400; background-image: none; }
.tctip .tctip-main-box .tctip-footer { padding-right: 6px; font-size: 12px; text-align: right; }
.tctip .tctip-main-box .tctip-footer a:hover { text-decoration: underline; }
.tctip .tctip-main-box .tctip-body-box { font-size: 0px; background-color: rgb(238, 238, 238); width: 240px; }
.tctip .tctip-main-box .tctip-body-box .tctip-icon-box { display: inline-block; vertical-align: middle; width: 90px; font-size: 12px; }
.tctip .tctip-main-box .tctip-body-box .tctip-icon-box ul { list-style: outside none none; }
.tctip .tctip-main-box .tctip-body-box .tctip-icon-box ul.not-full { border-top: 1px solid rgb(223, 223, 223); }
.tctip .tctip-main-box .tctip-body-box .tctip-icon-box ul li { display: block; height: 56px; transition: background-color 0.2s linear 0s; }
.tctip .tctip-main-box .tctip-body-box .tctip-icon-box ul li.tctip-current { border-right: medium none; }
.tctip .tctip-main-box .tctip-body-box .tctip-icon-box ul li.tctip-current a, .tctip .tctip-main-box .tctip-body-box .tctip-icon-box ul li.tctip-current a:hover { background-color: rgb(255, 255, 255); }
.tctip .tctip-main-box .tctip-body-box .tctip-icon-box ul li a { position: relative; display: block; padding-left: 40px; height: 55px; line-height: 55px; font-size: 12px; border-bottom: 1px solid rgb(204, 204, 204); }
.tctip .tctip-main-box .tctip-body-box .tctip-icon-box ul li a img { position: absolute; left: 6px; top: 13px; width: 30px; height: 30px; }
.tctip .tctip-main-box .tctip-body-box .tctip-qr-detail { display: inline-block; vertical-align: middle; width: 150px; height: 280px; font-size: 12px; background-color: rgb(255, 255, 255); }
.tctip .tctip-main-box .tctip-body-box .tctip-qr-detail .tctip-qr-box { padding: 14px 0px 0px 10px; }
.tctip .tctip-main-box .tctip-body-box .tctip-qr-detail .tctip-qr-box .tctip-qr-title { margin: 0px 0px 20px; width: 132px; height: 30px; line-height: 30px; font-size: 12px; text-align: center; }
.tctip .tctip-main-box .tctip-body-box .tctip-qr-detail .tctip-qr-box .tctip-qr-code { margin: 0px 0px 20px; padding: 12px; width: 106px; height: 106px; background: rgba(0, 0, 0, 0) url('undefined') no-repeat scroll 0% 0%; box-sizing: content-box; }
.tctip .tctip-main-box .tctip-body-box .tctip-qr-detail .tctip-qr-box .tctip-qr-code img { width: 106px; height: 106px; }
.tctip .tctip-main-box .tctip-body-box .tctip-qr-detail .tctip-qr-box .tctip-qr-desc { font-size: 12px; word-break: break-all; text-align: center; }
