html {  }
html, body, #creation { height: 100%; }
body { margin: 0px; }
.templet { font-size: 14px; line-height: 1.5; font-family: "helvetica neue",tahoma,"hiragino sans gb",stheiti,"wenquanyi micro hei",微软雅黑,宋体,sans-serif; display: block; overflow: hidden; position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: left; width: 300px; height: 250px; }
.templet a { text-decoration: none; }
.templet img { border: medium none; }
.pic { display: block; position: relative; }
.pic img { position: absolute; left: 0px; top: 0px; max-width: none; }
.yen { font-family: arial; }
.templet { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.wrap { border: 1px solid rgb(236, 108, 0); }
.carousel { position: relative; height: 244px; margin: 2px 0px; overflow: hidden; }
.cover { width: 244px; height: 100%; position: relative; margin: 0px auto; }
.tao { position: absolute; left: 0px; top: 0px; width: 76px; height: 31px; background: rgba(0, 0, 0, 0) url('tb1352ohpxxxxxaxxxxamvvhvxx-63-31.png') no-repeat scroll 0% 0%; z-index: 9999; }
.frame { display: none; transition: all 0.5s ease 0s; opacity: 0; }
.item { display: block; position: relative; width: 244px; height: 244px; overflow: hidden; }
.cover .current { display: block; opacity: 1; }
.item .pic { display: block; width: 100%; }
.pic img { width: 100%; }
.info { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 22px; line-height: 22px; background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%; cursor: pointer; }
.price-box { float: left; }
.price-promo { float: left; font-size: 16px; color: rgb(236, 108, 0); margin-left: 7px; }
.info .sale { float: right; color: rgb(51, 51, 51); margin-right: 5px; }
.sale em { font-style: normal; color: rgb(255, 68, 0); }
.triggers { position: absolute; top: 2px; width: 27px; padding-top: 10px; text-align: center; overflow: hidden; z-index: 2; }
.triggerL { left: 0px; }
.triggerR { right: 0px; }
.triggers .trigger { display: block; width: 8px; height: 8px; border-radius: 50%; margin: 0px auto 20px; background-color: rgb(229, 229, 229); color: rgb(181, 180, 180); font-size: 0px; transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s; }
.triggers .current { background-color: rgb(236, 108, 0); transform: scale(2); }
