/* ::::: http://c.csdnimg.cn/public/common/libs/bootstrap/css/bootstrap.min.css ::::: */

/* ::::: http://c.csdnimg.cn/public/static/css/avatar.css ::::: */

/* ::::: http://s.csdnimg.cn/static/scripts/SyntaxHighlighter/styles/default.css?v=20171128142329 ::::: */

/* ::::: http://s.csdnimg.cn/static/css/style.css?v=20171128142329 ::::: */

@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot') format("embedded-opentype"), url('undefined') format("woff"), url('iconfont.ttf') format("truetype"), url('iconfont.svg') format("svg");
}
.iconfont { font-family: "iconfont" !important; font-size: 16px; font-style: normal; }
.icon-read::before { content: ""; }
.icon-fanhuidingbu::before { content: ""; }
.icon-shoucang::before { content: ""; }
.icon-mulu::before { content: ""; }
.icon-xinlang::before { content: ""; }
.icon-sousuo::before { content: ""; }
.icon-QQ::before { content: ""; }
.icon-weixin::before { content: ""; }
.icon-fenxiang::before { content: ""; }
.icon-erweima::before { content: ""; }
.icon-daima::before { content: ""; }
.icon-pinglun::before { content: ""; }
.icon-xihuan-::before { content: ""; }
.icon-jubao::before { content: ""; }
.icon-dashang-::before { content: ""; }
.icon-shouqi::before { content: ""; }
.icon-youjiantou::before { content: ""; }
.icon-zuojiantou::before { content: ""; }
.icon-xiajiantou::before { content: ""; }
.icon-shangjiantou::before { content: ""; }
.icon-shanghuadong::before { content: ""; }
.icon-xiahuadong::before { content: ""; }
.icon-bokezhuanjia::before { content: ""; }
.icon-yonghu::before { content: ""; }
.icon-bianji::before { content: ""; }
.icon-shanchu::before { content: ""; }
.icon-spinner::before { content: ""; }
.icon-weiye::before { content: ""; }
.icon-shouye::before { content: ""; }
.icon-yixihuan::before { content: ""; }
.icon-yidianzan::before { content: ""; }
.icon-dianzan::before { content: ""; }
.icon-yishoucang::before { content: ""; }
.icon-fenxianghover::before { content: ""; }
.icon-pinglunhover::before { content: ""; }
body, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, p, span, div, object, iframe, pre, a, abbr, cite, input, button, select, option { margin: 0px; padding: 0px; font-weight: normal; box-sizing: border-box; }
ul, li, ol, dl, dd, dt, form { list-style: outside none none; margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-family: "PingFang SC","Microsoft YaHei","SimHei","Arial","SimSun"; }
html { height: 100%; }
body { background-color: rgb(244, 244, 244); line-height: 24px; font-size: 16px; font-family: "PingFang SC","Microsoft YaHei","SimHei","Arial","SimSun"; }
img { border: 0px none; outline: medium none; }
em, i { font-style: normal; }
button, input, textarea { outline: medium none; border: 0px none; }
textarea { resize: none; }
a { outline: medium none; text-decoration: none; color: rgb(79, 79, 79); }
a:link, a:visited { color: rgb(79, 79, 79); }
a:hover, a:active, a:focus { text-decoration: none; color: rgb(51, 51, 51); }
.clearfix::after { content: "."; height: 0px; visibility: hidden; display: block; clear: both; }
.container { width: 1160px; margin: 20px auto 0px; }
.btn { display: inline-block; height: 32px; line-height: 32px; text-align: center; padding: 0px 20px; border: 0px none; }
.btn:focus, .btn:active { outline: medium none; border: 0px none; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); }
.btn-large { font-size: 16px; min-width: 100px; }
.btn-gray-fred, .btn-gray-fred:link, .btn-gray-fred:visited, .btn-gray-fred:focus { font-size: 16px; color: rgb(222, 104, 109); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; border: 1px solid rgb(222, 104, 109); line-height: 30px; }
.btn-gray-fred:hover, .btn-gray-fred:active { color: rgb(255, 255, 255); background: rgb(222, 104, 109) none repeat scroll 0% 0%; }
.btn-noborder { display: inline-block; height: 24px; line-height: 24px; text-align: center; font-size: 14px; color: rgb(136, 136, 136); padding: 0px; border: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.btn-noborder:hover, .btn-noborder:active { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.btn-redborder-small { display: inline-block; height: 24px; border-radius: 4px; min-width: 52px; line-height: 22px; text-align: center; font-size: 12px; color: rgb(228, 29, 29); padding: 0px 20px; border: 1px solid rgb(222, 104, 109); background: rgb(243, 247, 249) none repeat scroll 0% 0%; }
.btn-redborder-small:link, .btn-redborder-small:visited { color: rgb(228, 29, 29); }
.btn-redborder-small:hover, .btn-redborder-small:active, .btn-redborder-small:focus { color: rgb(255, 255, 255); background: rgb(228, 29, 29) none repeat scroll 0% 0%; }
main { float: left; width: 810px; }
main article { background-color: rgb(255, 255, 255); padding: 20px 0px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); }
main article .csdn_top { padding: 0px 29px; color: rgb(44, 48, 51); font-size: 24px; font-weight: bold; line-height: 38px; }
main article .article_bar { padding: 0px 29px 8px; color: rgb(136, 136, 136); border-bottom: 1px solid rgb(229, 229, 229); font-size: 14px; line-height: 38px; margin-top: 5px; }
main article .article_bar .artical_tag { float: left; }
main article .article_bar .artical_tag .original { border: 1px solid rgb(228, 235, 244); padding: 2px 6px; font-size: 14px; color: rgb(120, 144, 156); margin-right: 20px; }
main article .article_bar .artical_tag .time { display: inline-block; color: rgb(187, 187, 187); font-size: 14px; }
main article .article_bar ul.right_bar { float: right; margin-top: 5px; }
main article .article_bar ul.right_bar li { float: left; margin-left: 30px; line-height: 28px; }
main article .article_bar ul.right_bar li .iconfont { display: inline-block; vertical-align: middle; margin-right: 8px; }
main article .article_bar ul.right_bar li .txt { color: rgb(120, 128, 135); display: inline-block; vertical-align: middle; }
main article .article_bar ul.right_bar li:first-child button { cursor: auto; }
main article .article_bar ul.right_bar li:first-child button span, main article .article_bar ul.right_bar li:first-child button i { color: rgb(187, 187, 187); }
main article .article_bar ul.right_bar .edit, main article .article_bar ul.right_bar .del { display: none; }
main article .article_bar ul.right_bar .edit a, main article .article_bar ul.right_bar .del a { color: rgb(64, 147, 198); }
main article .article_bar ul.right_bar .edit a:hover, main article .article_bar ul.right_bar .del a:hover { cursor: pointer; color: rgb(64, 147, 198); }
main article .article_bar ul.right_bar .edit a:hover .txt, main article .article_bar ul.right_bar .del a:hover .txt { color: rgb(64, 147, 198); }
main article .article_bar ul.right_bar .edit a .txt, main article .article_bar ul.right_bar .del a .txt, main article .article_bar ul.right_bar .edit a i, main article .article_bar ul.right_bar .del a i { color: rgb(64, 147, 198); }
main article .article_content p { overflow-wrap: break-word; word-break: normal; }
main article .article_content img { max-width: 100%; }
main .readall_box { position: relative; z-index: 9999; padding: 0px 0px 25px; margin-top: -250px; text-align: center; }
main .readall_box .read_more_mask { height: 200px; background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%) repeat scroll 0% 0%; }
main .article_copyright { font-size: 14px; color: rgb(120, 128, 135); clear: both; overflow: hidden; padding: 10px 20px 30px 30px; background-color: rgb(255, 255, 255); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); margin-top: -10px; }
main .article_tags { float: left; margin-left: 26px; background-color: rgb(255, 255, 255); font-size: 14px; }
main .article_tags li { float: left; }
main .article_tags li a { display: inline-block; color: rgb(64, 147, 198); }
main .article_tags li a:hover { text-decoration: none; color: rgb(202, 12, 22); }
main .article_tags li span { color: rgb(229, 229, 229); display: inline-block; margin: 0px 10px 0px 5px; }
main .article_tags li.tit { color: rgb(187, 187, 187); }
main .article_collect { font-size: 14px; background-color: rgb(255, 255, 255); margin-top: -22px; padding-left: 30px; padding-bottom: 20px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); }
main .article_collect li { float: left; margin-right: 25px; }
main .article_collect li.tit { color: rgb(136, 136, 136); margin-right: 0px; }
main .comment_box { margin-top: 20px; border-bottom: 1px solid rgb(244, 244, 244); padding: 18px 30px 0px; background-color: rgb(255, 255, 255); }
main .comment_li_outbox { box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); background-color: rgb(255, 255, 255); overflow: hidden; }
main .comment_li_outbox #comment_list { padding: 10px 30px 15px; }
main .more_comment { background-color: rgb(255, 255, 255); text-align: center; }
main .more_comment #comment_bar { padding-bottom: 15px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); }
main .recommend_tit { padding: 20px 0px; font-size: 20px; color: rgb(51, 51, 51); clear: both; overflow: hidden; text-align: center; }
main .recommend_list { background-color: rgb(255, 255, 255); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); }
main .recommend_list dl { border-bottom: 1px solid rgb(244, 244, 244); padding: 20px; }
main .recommend_list dl dt { float: left; width: 120px; height: 90px; overflow: hidden; margin-right: 20px; }
main .recommend_list dl dt img { width: 120px; height: 126px; }
main .recommend_list dl dt .maxwidth { max-width: 120px; height: auto; }
main .recommend_list dl dd h2 { font-size: 18px; color: rgb(44, 48, 51); font-weight: bold; margin-bottom: 12px; line-height: 28px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
main .recommend_list dl dd h2 a { font-weight: bold; color: rgb(44, 48, 51); text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%; display: inline-block; }
main .recommend_list dl dd h2 a, main .recommend_list dl dd h2 a:link, main .recommend_list dl dd h2 a:visited { color: rgb(44, 48, 51); }
main .recommend_list dl dd h2 a:hover, main .recommend_list dl dd h2 a:active, main .recommend_list dl dd h2 a:focus { color: rgb(228, 29, 29); }
main .recommend_list dl dd .summary { font-size: 14px; color: rgb(142, 149, 154); line-height: 24px; word-break: break-all; white-space: normal !important; }
main .recommend_list dl dd ul { overflow: hidden; }
main .recommend_list dl dd ul li { float: left; margin-right: 20px; font-size: 14px; margin-top: 10px; color: rgb(204, 204, 204); }
main .recommend_list dl dd ul li.visited_num { margin-top: 9px; color: rgb(136, 136, 136); }
main .recommend_list dl dd ul li.visited_num i { color: rgb(204, 204, 204); }
main .recommend_list dl dd ul li.visited_num span { color: rgb(204, 204, 204); vertical-align: text-bottom; }
main .recommend_list dl dd ul li.avatar_img { width: 24px; height: 24px; margin-top: 8px; margin-right: 7px; }
main .recommend_list dl dd ul li.avatar_img img { width: 24px; height: 24px; border-radius: 20px; border: 1px solid rgb(231, 231, 231); }
main .recommend_list dl dd ul li.user_name { color: rgb(136, 136, 136); }
main .recommend_list dl dd ul li.user_name a { color: rgb(136, 136, 136); }
main .recommend_list dl dd ul li.user_name a:hover { color: rgb(202, 12, 22); }
.article_content { margin-bottom: 30px; color: rgb(69, 69, 69); padding: 20px 30px 0px; }
#pop_win { display: none; position: absolute; z-index: 10000; border: 1px solid rgb(220, 220, 220); top: 222.5px; left: 630px; opacity: 1; background: rgb(255, 255, 255) none repeat scroll 0px 0px; }
#popup_mask { position: absolute; width: 100%; height: 100%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; z-index: 9999; left: 0px; top: 0px; opacity: 0.3; display: none; }
aside { float: right; width: 298px; }
aside .right_box { background-color: rgb(255, 255, 255); width: 100%; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); padding-top: 20px; margin-bottom: 20px; }
aside .right_box h3.tit { font-size: 16px; color: rgb(79, 79, 79); height: 28px; overflow: visible; margin-bottom: 8px; }
aside .right_box h3.tit span { display: block; float: left; height: 28px; font-size: 16px; color: rgb(51, 51, 51); padding-left: 20px; }
aside .right_box h3.tit span em { display: inline-block; margin: 0px; padding-left: 6px; }
aside dl.inf_bar { margin: 0px 0px 22px 20px; }
aside dl.inf_bar dt { float: left; width: 60px; height: 60px; margin-right: 10px; overflow: visible; position: relative; }
aside dl.inf_bar dt img.avatar_pic { width: 60px; height: 60px; border-radius: 50%; border: 1px solid rgb(228, 237, 244); }
aside dl.inf_bar dt span.medals { display: block; width: 25px; height: 25px; position: absolute; bottom: -12px; left: 17px; z-index: 3; }
aside dl.inf_bar dd { margin-left: 70px; }
aside dl.inf_bar dd h3 { font-size: 14px; color: rgb(79, 79, 79); font-weight: bold; line-height: 26px; padding: 3px 0px; margin: -5px 0px 10px; height: 26px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 181px; }
aside dl.inf_bar dd h3 a { font-weight: bold; font-size: 14px; color: rgb(44, 48, 51); }
aside dl.inf_bar dd .btn-redborder-small { padding: 0px 5px; background-color: rgb(255, 255, 255); }
aside dl.inf_bar dd .btn-redborder-small:hover { color: rgb(255, 255, 255); background-color: rgb(222, 104, 109); }
aside .inf_number_box { text-align: center; border-bottom: 1px solid rgb(227, 227, 227); padding-bottom: 10px; }
aside .inf_number_box dl:nth-child(4) dd .thinFont { font-weight: 400; }
aside .inf_number_box dl:nth-child(4) dd a { font-size: 14px; font-weight: bold; }
aside .inf_number_box dl:nth-child(4) dd a:hover { color: rgb(255, 0, 0); cursor: pointer; }
aside .inf_number_box dl { display: inline-block; width: 22%; text-align: center; }
aside .inf_number_box dl dt { font-size: 14px; color: rgb(120, 128, 135); margin-bottom: 6px; }
aside .inf_number_box dl dd { font-size: 14px; color: rgb(79, 79, 79); width: 100%; font-weight: bold; overflow: hidden; }
aside .writings { padding: 20px 20px 0px; }
aside ul.inf_list { font-size: 14px; color: rgb(79, 79, 79); padding-bottom: 7px; }
aside ul.inf_list li { margin-bottom: 13px; }
aside ul.inf_list li a, aside ul.inf_list li a:link, aside ul.inf_list li a:visited { display: inline-block; line-height: 22px; float: left; max-width: 243px; color: rgb(117, 122, 126); }
aside ul.inf_list li a:hover, aside ul.inf_list li a:focus, aside ul.inf_list li a:active { color: rgb(202, 12, 22); }
aside ul.inf_list li a { word-break: break-all; }
aside .public_signal { font-size: 12px; margin-bottom: 10px; }
aside .public_signal h3 { font-family: "Microsoft YaHei","SimHei","Arial","SimSun"; font-size: 16px; float: left; color: rgb(51, 51, 51); border-left: 3px solid rgb(207, 39, 48); padding-left: 6px; line-height: 16px; }
aside .public_signal a { float: right; color: rgb(136, 136, 136); }
aside .public_signal .left .large_qrcode span.arr::before { content: ""; display: block; position: absolute; width: 0px; height: 0px; top: 84px; right: -8px; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 8px solid rgb(229, 229, 229); }
aside .public_signal .left .large_qrcode span.arr::after { content: ""; display: block; position: absolute; width: 0px; height: 0px; top: 86px; right: -6px; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left: 6px solid rgb(255, 255, 255); }
aside .public_signal a.more:link, aside .public_signal a.more:visited { margin-top: -2px; text-decoration: none; color: rgb(64, 147, 198); }
aside .public_signal a.more:hover, aside .public_signal a.more:active, aside .public_signal a.more:focus { text-decoration: none; color: rgb(79, 79, 79); }
aside .extension_other { margin-bottom: 14px; width: 300px; }
aside .fixRight { width: 298px; }
aside ul.edu_li { padding-bottom: 4px; }
aside ul.edu_li li { display: inline-block; padding-left: 20px; padding-right: 20px; margin-bottom: 10px; }
aside ul.edu_li li div { position: relative; height: 58px; font-size: 12px; float: left; margin-right: 10px; }
aside ul.edu_li li div a { display: block; overflow-wrap: break-word; word-break: normal; color: rgb(117, 122, 126); }
aside ul.edu_li li div a:hover { color: rgb(202, 12, 22); }
aside ul.edu_li li div a img { width: 86px; height: 58px; }
aside ul.edu_li li div p { font-size: 14px; }
aside ul.edu_li li div p:nth-child(2) { position: absolute; bottom: 0px; left: 0px; font-size: 12px; color: rgb(119, 128, 135); }
aside ul.edu_li li div:nth-child(2) { width: 160px; margin-right: 0px; }
aside ul.edu_li li div:nth-child(2) p:nth-child(1) { line-height: 18px; }
aside .padb0 h3.tit span em { border-left: 3px solid rgb(207, 39, 48); color: rgb(51, 51, 51); }
aside .user-hotArticle { background-color: rgb(255, 255, 255); padding: 20px 20px 5px; margin-bottom: 20px; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); }
aside .user-hotArticle h3 { font-size: 16px; line-height: 16px; padding-left: 6px; border-left: 3px solid rgb(207, 39, 48); margin-bottom: 20px; color: rgb(51, 51, 51); }
aside .user-hotArticle ul li { margin-bottom: 10px; }
aside .user-hotArticle ul li a { display: block; font-size: 14px; color: rgb(117, 122, 126); line-height: 20px; table-layout: fixed; word-break: break-all; overflow: hidden; }
aside .user-hotArticle ul li div { font-size: 12px; }
aside .user-hotArticle ul li div i, aside .user-hotArticle ul li div span { color: rgb(187, 187, 187); vertical-align: top; }
aside .user-hotArticle ul li div i { font-size: 14px; margin-right: 4px; }
.right_fixed { cursor: pointer; display: none; position: fixed; bottom: 10%; right: 1%; }
.right_fixed .r_ico { margin-bottom: 20px; }
.right_fixed .r_ico i, .right_fixed .returnTop i { font-size: 18px; margin: 0px auto; }
.right_fixed .r_ico span, .right_fixed .returnTop span { font-size: 12px; }
.right_fixed .r_ico i, .right_fixed .returnTop i, .right_fixed .r_ico span, .right_fixed .returnTop span { display: block; text-align: center; color: rgb(120, 128, 135); }
.overflow-hide::after { content: "..."; position: absolute; bottom: 0px; right: 0px; padding-left: 40px; }
.left_fixed { position: fixed; z-index: 9999; left: 20px; top: 150px; width: 39px; overflow: visible; clear: both; }
.left_fixed .left_show_button { display: none; position: absolute; top: 0px; right: 0px; width: 10px; height: 54px; text-align: center; background-color: rgb(227, 227, 227); cursor: pointer; }
.left_fixed .left_show_button span { line-height: 54px; }
.left_fixed .left_show_button span i { font-size: 12px; }
.left_fixed ul.left_menu li { clear: both; overflow: visible; width: 39px; height: 50px; margin: 0px; }
.left_fixed ul.left_menu li .left-fixed-btn { border: 0px none; padding: 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; height: auto; vertical-align: top; }
.left_fixed ul.left_menu li .left-fixed-btn .iconbox { background-color: rgb(255, 255, 255); display: block; width: 39px; height: 39px; border-radius: 50%; clear: both; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); }
.left_fixed ul.left_menu li .left-fixed-btn .iconbox i { font-size: 1.785rem; display: inline-block; vertical-align: top; margin-top: 7px; }
.left_fixed ul.left_menu li .left-fixed-btn .border_black i { color: rgb(120, 128, 135); }
.left_fixed ul.left_menu li .left-fixed-btn .border_black:hover i { color: rgb(222, 104, 109); }
.left_fixed ul.left_menu li .left-fixed-btn .border_red i { color: rgb(222, 104, 109); }
.left_fixed ul.left_menu li .left-fixed-btn .border_red:hover i { color: rgb(222, 104, 109); }
.left_fixed ul.left_menu li .left-fixed-btn .border_purple i { color: rgb(120, 128, 135); }
.left_fixed ul.left_menu li .left-fixed-btn .border_purple:hover i { color: rgb(222, 104, 109); }
.left_fixed ul.left_menu li .left-fixed-btn .border_orange i { color: rgb(120, 128, 135); }
.left_fixed ul.left_menu li .left-fixed-btn .border_orange:hover i { color: rgb(222, 104, 109); }
.left_fixed ul.left_menu li .left-fixed-btn .txt { display: block; text-align: center; clear: both; font-size: 12px; color: rgb(222, 104, 109); }
.left_fixed ul.left_menu li.menu_con { height: 0px; margin-bottom: 0px; overflow: visible; width: 200px; position: relative; }
.left_fixed ul.left_menu li.menu_con .list_father { display: none; position: absolute; z-index: 9999; left: 55px; top: -56px; border: 1px solid rgb(213, 213, 213); border-radius: 4px; width: 200px; height: 244px; padding: 0px 16px 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.left_fixed ul.left_menu li.menu_con .list_father .arr_box { position: absolute; right: 50%; margin-right: -23px; bottom: 10px; z-index: 99999; }
.left_fixed ul.left_menu li.menu_con .list_father .arr_box .arr-btn { width: 16px; height: 16px; margin-right: 5px; overflow: hidden; border-radius: 50%; border: 1px solid rgb(120, 128, 135); }
.left_fixed ul.left_menu li.menu_con .list_father .arr_box .arr-btn i { font-size: 10px; color: rgb(120, 128, 135); display: block; line-height: 16px; margin: 0px; vertical-align: top; }
.left_fixed ul.left_menu li.menu_con .list_father .arr_box .arr-btn:hover { border: 1px solid rgb(202, 12, 22); }
.left_fixed ul.left_menu li.menu_con .list_father .arr_box .arr-btn:hover i { color: rgb(202, 12, 22); }
.left_fixed ul.left_menu li.menu_con .list_father .arr_box .scroll-up i { margin-left: 1px; margin-top: -1px; }
.left_fixed ul.left_menu li.menu_con .list_father .arr::before { content: ""; display: block; position: absolute; width: 0px; height: 0px; top: 17px; left: -8px; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 8px solid rgb(213, 213, 213); }
.left_fixed ul.left_menu li.menu_con .list_father .arr::after { content: ""; display: block; position: absolute; width: 0px; height: 0px; top: 19px; left: -6px; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-right: 6px solid rgb(255, 255, 255); }
.left_fixed ul.left_menu li.menu_con #csdnBlogDir { height: 190px; margin-top: 12px; margin-bottom: 10px; overflow-y: auto; overflow-x: hidden; }
.left_fixed ul.left_menu li#share_box { position: relative; z-index: 1; }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox { display: none; position: absolute; left: 0px; top: 42px; width: 39px; height: 165px; }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside { width: 39px; height: 42px; margin: 8px 0px 0px; float: left; position: relative; }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside a { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 0px; margin: 0px; height: 40px; position: absolute; width: 39px; z-index: 9999; top: 0px; left: 0px; }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside span.iconbox { display: block; width: 39px; height: 39px; line-height: 22px; border-radius: 50%; text-align: center; clear: both; background-color: rgb(255, 255, 255); }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside span.iconbox i { font-size: 1.785rem; display: inline-block; vertical-align: top; margin-top: 7px; }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside span.border_red2 i { color: rgb(120, 144, 156); }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside span.border_green i { color: rgb(120, 144, 156); }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside span.border_blue i { color: rgb(120, 144, 156); }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside:hover span.border_red2 i { color: rgb(226, 81, 63); }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside:hover span.border_green i { color: rgb(0, 189, 23); }
.left_fixed ul.left_menu li#share_box .bdsharebuttonbox .outside:hover span.border_blue i { color: rgb(76, 175, 235); }
.left_fixed ul.left_menu li#share_box:hover .bdsharebuttonbox { display: block; }
.left_fixed ul.left_menu li:first-child { height: 70px; }
.pop_CA_cover { display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%; z-index: 999999; }
.pop_CA { display: none; position: fixed; left: 50%; top: 50%; margin-left: -325px; margin-top: -179px; width: 650px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(206, 206, 206); box-shadow: 0px 0px 10px 0px rgb(206, 206, 206); z-index: 9999999; }
.pop_CA .CA_header { height: 50px; line-height: 50px; padding: 0px 20px; border-bottom: 1px solid rgb(206, 206, 206); position: relative; text-align: left; font-size: 16px; color: rgb(51, 51, 51); }
.pop_CA .CA_header .cancel_icon { display: block; width: 15px; height: 15px; position: absolute; right: 16px; top: 18px; background: rgba(0, 0, 0, 0) url('cancel_icon.png') no-repeat scroll center center; cursor: pointer; }
#report_dialog { display: none; position: fixed; left: 30%; right: 33%; top: 33%; z-index: 999999; }
.panel_head { color: rgb(51, 51, 51); font-size: 14px; font-weight: bold; }
#panel_report { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(221, 221, 221); width: 440px; padding: 8px 8px 20px; border-radius: 5px; }
#panel_report .pop_table { line-height: 20px; margin: 10px 0px 0px 12px; }
#panel_report th, #panel_report td { padding: 4px 0px; vertical-align: top; font-size: 12px; color: rgb(102, 102, 102); }
#panel_report th { text-align: right; font-weight: normal; }
#report_other_content { height: 16px; padding: 0px; border: 1px solid rgb(153, 153, 153); }
#btnSubmitReport { border: 0px none; }
.pop_table td { font-size: 12px; color: rgb(102, 102, 102); }
.pop_table td a { color: rgb(106, 57, 6); }
.pop_table td label { font-weight: normal; }
.pop_table td textarea { border: 1px solid rgb(221, 221, 221); }
.pop_table td #btnCloseReportDialog, .pop_table td #btnSubmitReport { vertical-align: middle; }
.bds_tsina { background-color: rgb(255, 0, 0); }
/* ::::: http://c.csdnimg.cn/public/common/toolbar/content_toolbar_css/content_toolbar.css ::::: */

/* ::::: http://s.csdnimg.cn/static/code/prettify.css ::::: */

@media screen {
}
#MathJax_Message { position: fixed; left: 1px; bottom: 2px; background-color: rgb(230, 230, 230); border: 1px solid rgb(149, 149, 149); margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap; }
/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css ::::: */

.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url('icons_0_16.png'); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
/* ::::: http://passport.csdn.net/content/loginbox/style.css?r=1512024987870 ::::: */

body {  }
.clearfix { display: block; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
