/* ::::: https://standage.github.io/theme/bootstrap.min.css ::::: */

html, body { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
ol, ul { list-style: outside none none; }
q::before, q::after, blockquote::before, blockquote::after { content: ""; }
html { overflow-y: scroll; font-size: 100%; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
img { border: 0px none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
body { background-color: rgb(255, 255, 255); margin: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; font-weight: normal; line-height: 18px; color: rgb(64, 64, 64); }
.container::before, .container::after { display: table; content: ""; }
.container::after { clear: both; }
.container-fluid { position: relative; min-width: 940px; padding-left: 20px; padding-right: 20px; }
.container-fluid::before, .container-fluid::after { display: table; content: ""; }
.container-fluid::after { clear: both; }
.container-fluid > .sidebar { position: absolute; top: 0px; left: 20px; width: 220px; }
.container-fluid > .content { margin-left: 240px; }
a { color: rgb(0, 105, 214); text-decoration: none; line-height: inherit; font-weight: inherit; }
a:hover { color: rgb(0, 67, 138); text-decoration: underline; }
.pull-right { float: right; }
.row::before, .row::after { display: table; content: ""; }
.row::after { clear: both; }
p { font-size: 13px; font-weight: normal; line-height: 18px; margin-bottom: 9px; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; color: rgb(64, 64, 64); }
h1 { margin-bottom: 18px; font-size: 30px; line-height: 36px; }
h2 { font-size: 24px; line-height: 36px; }
h3, h4, h5, h6 { line-height: 36px; }
h3 { font-size: 18px; }
ul, ol { margin: 0px 0px 18px 25px; }
ul { list-style: outside none disc; }
li { line-height: 18px; }
em { font-style: italic; font-weight: inherit; line-height: inherit; }
blockquote small::before { content: "— "; }
code, pre { padding: 0px 3px 2px; font-family: Monaco,Andale Mono,Courier New,monospace; font-size: 12px; border-radius: 3px; }
code { background-color: rgb(238, 238, 238); color: rgba(0, 0, 0, 0.75); padding: 1px 3px; }
pre { background-color: rgb(245, 245, 245); display: block; padding: 8.5px; margin: 0px 0px 18px; line-height: 18px; font-size: 12px; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 3px; white-space: pre-wrap; overflow-wrap: break-word; }
form .clearfix::before, form .clearfix::after { display: table; content: ""; }
form .clearfix::after { clear: both; }
:-moz-placeholder { color: rgb(191, 191, 191); }
.zebra-striped tbody tr:nth-child(2n+1) td, .zebra-striped tbody tr:nth-child(2n+1) th { background-color: rgb(249, 249, 249); }
table .header::after { content: ""; float: right; margin-top: 7px; border-width: 0px 4px 4px; border-style: solid; border-color: rgb(0, 0, 0) transparent; visibility: hidden; }
table .header:hover::after { visibility: visible; }
table .headerSortDown::after, table .headerSortDown:hover::after { visibility: visible; opacity: 0.6; }
table .headerSortUp::after { border-width: 4px 4px medium; border-style: solid solid none; border-color: rgb(0, 0, 0) transparent currentcolor; visibility: visible; box-shadow: none; opacity: 0.6; }
.topbar { height: 40px; position: fixed; top: 0px; left: 0px; right: 0px; z-index: 10000; overflow: visible; }
.topbar a { color: rgb(191, 191, 191); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }
.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a { background-color: rgba(255, 255, 255, 0.05); color: rgb(255, 255, 255); text-decoration: none; }
.topbar h3 a, .topbar .brand { float: left; display: block; padding: 8px 20px 12px; margin-left: -20px; color: rgb(255, 255, 255); font-size: 20px; font-weight: 200; line-height: 1; }
.topbar p { margin: 0px; line-height: 40px; }
.topbar p a:hover { background-color: transparent; color: rgb(255, 255, 255); }
.topbar-inner, .topbar .fill { background-color: rgb(34, 34, 34); background-repeat: repeat-x; background-image: -webkit-linear-gradient(top, rgb(51, 51, 51), rgb(34, 34, 34)); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset; }
.topbar div > ul, .nav { display: block; float: left; margin: 0px 10px 0px 0px; position: relative; left: 0px; }
.topbar div > ul > li, .nav > li { display: block; float: left; }
.topbar div > ul a, .nav a { display: block; float: none; padding: 10px 10px 11px; line-height: 19px; text-decoration: none; }
.topbar div > ul a:hover, .nav a:hover { color: rgb(255, 255, 255); text-decoration: none; }
a.menu::after, .dropdown-toggle::after { width: 0px; height: 0px; display: inline-block; content: "&darr;"; text-indent: -99999px; vertical-align: top; margin-top: 8px; margin-left: 4px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid rgb(255, 255, 255); opacity: 0.5; }
.tabs::before, .pills::before, .tabs::after, .pills::after { display: table; content: ""; }
.tabs::after, .pills::after { clear: both; }
.tabs a.menu::after, .tabs .dropdown-toggle::after { border-top-color: rgb(153, 153, 153); margin-top: 15px; margin-left: 5px; }
.tabs li.open a.menu::after, .tabs .dropdown.open .dropdown-toggle::after { border-top-color: rgb(85, 85, 85); }
footer { margin-top: 17px; padding-top: 17px; border-top: 1px solid rgb(238, 238, 238); }
.page-header { margin-bottom: 17px; border-bottom: 1px solid rgb(221, 221, 221); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); }
.page-header h1 { margin-bottom: 8px; }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.well { background-color: rgb(245, 245, 245); margin-bottom: 20px; padding: 19px; min-height: 20px; border: 1px solid rgba(0, 0, 0, 0.05); border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset; }
.modal-footer::before, .modal-footer::after { display: table; content: ""; }
.modal-footer::after { clear: both; }
.media-grid::before, .media-grid::after { display: table; content: ""; }
.media-grid::after { clear: both; }
/* ::::: https://standage.github.io/theme/local.css ::::: */

body { padding-top: 60px; }
div.article { padding-top: 50px; }
div.article h2 { padding-bottom: 10px; }
div.highlight pre { background-color: rgb(254, 251, 243); margin: 0px 0px 10px; }
.well.small { padding: 6px 6px 4px; }
.social a[href*="activestate.com"]::before { content: url('activestate.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="atom.xml"]::before { content: url('rss.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="bitbucket.org"]::before { content: url('bitbucket.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="code.google.com"]::before { content: url('phosting.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="delicious.com"]::before { content: url('delicious.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="digg.com"]::before { content: url('digg.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="facebook.com"]::before { content: url('facebook.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="github.com"]::before { content: url('github.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="google.com/reader"]::before { content: url('reader.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="jamendo.com"]::before { content: url('jamendo.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="last.fm"]::before, .social a[href*="lastfm."]::before { content: url('lastfm.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="linkedin.com"]::before { content: url('linkedin.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="rss.xml"]::before { content: url('rss.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="stackoverflow.com"]::before { content: url('stackoverflow.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="stackexchange.com"]::before { content: url('stackoverflow.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="careers.stackoverflow.com"]::before { content: url('careers.stackoverflow.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="twitter.com"]::before { content: url('twitter.png'); margin-right: 2px; vertical-align: -3px; }
.social a[href*="weibo.com"]::before { content: url('weibo.png'); margin-right: 2px; vertical-align: -3px; }
/* ::::: https://standage.github.io/theme/pygments.css ::::: */

.highlight .k { color: rgb(0, 112, 32); font-weight: bold; }
.highlight .o { color: rgb(102, 102, 102); }
.highlight .c1 { color: rgb(64, 128, 144); font-style: italic; }
.highlight .nb { color: rgb(0, 112, 32); }
.highlight .nv { color: rgb(187, 96, 213); }
.highlight .ow { color: rgb(0, 112, 32); font-weight: bold; }
.highlight .se { color: rgb(64, 112, 160); font-weight: bold; }
.highlight .s1 { color: rgb(64, 112, 160); }
.highlight .bp { color: rgb(0, 112, 32); }
