/* ::::: https://www.cnblogs.com/css/blog-common.min.css?v=HrvK75b61-WJQPXtn_liCIWUC4EcnwT_lmrRbncieJo ::::: */

body { font-family: Helvetica,Verdana,Arial,sans-serif; }
input[type="button"] {  }
img { border: 0px none; }
#blog_post_info_block { margin-top: 20px; }
#EntryTag { margin-top: 0px !important; }
.div_my_zzk { margin-top: 5px; margin-bottom: 5px; }
.input_my_zzk { width: 100px; vertical-align: middle; height: 20px; }
input.btn_my_zzk { vertical-align: middle; height: 22px; font-size: 12px; padding-left: 5px; padding-right: 5px; }
pre { margin-top: 0px; margin-bottom: 0px; }
pre { white-space: pre-wrap; overflow-wrap: break-word; }
.login_tips { background-image: url('icon_addcomment.gif'); background-repeat: no-repeat; margin-top: 10px; padding: 0px 0px 10px 25px; font-weight: bold; }
.login_tips a { text-decoration: underline !important; }
.clear { clear: both; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
#author_profile a:hover { text-decoration: underline; }
.author_profile_info { float: left; line-height: 18px; }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 125px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: rgba(0, 0, 0, 0) url('upup.gif') no-repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: rgba(0, 0, 0, 0) url('downdown.gif') no-repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: rgb(128, 128, 128); }
#post_next_prev { line-height: 1.8; font-size: 12px; }
#post_next_prev a.p_n_p_prefix:link { text-decoration: none; }
#post_next_prev a.p_n_p_prefix:hover { text-decoration: underline; }
.itnews { line-height: 150%; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
#green_channel { padding: 10px 0px; margin-bottom: 10px; margin-top: 10px; border: 1px dashed rgb(192, 192, 192); font-size: 12px; width: 350px; text-align: center; }
#green_channel a { background: rgba(0, 0, 0, 0) url('undefined') repeat-x scroll 0% 0%; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; border-radius: 10px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); vertical-align: middle; }
#green_channel a:hover { background-image: url('undefined'); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_weibo img { vertical-align: middle; border: medium none; margin-left: 5px; box-shadow: none; }
#green_channel #green_channel_weibo, #green_channel #green_channel_wechat { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 3px 2px; box-shadow: none; text-shadow: none; }
#green_channel #green_channel_wechat img { width: 24px; height: 24px; border: medium none; box-shadow: none; margin-left: 5px; vertical-align: middle; }
#cnblogs_post_body { margin-bottom: 20px; }
#cnblogs_post_body ul { margin-left: 30px; padding-left: 0px; }
#cnblogs_post_body ol { padding-left: 40px; }
#cnblogs_post_body ol li { list-style-type: decimal; }
#cnblogs_post_body ul li { list-style-type: disc; }
#cnblogs_post_body ul ul li { list-style-type: circle; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#ad_t2 { margin-top: 5px; line-height: 1.8; }
#ad_t2 a { margin-right: 10px; }
#opt_under_post { line-height: 1.8; }
.recent_comment_author { text-align: right; margin-right: 4px; }
#HistoryToday, .recomm-block { max-width: 600px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
input::-moz-focus-inner { border: 0px none; padding: 0px; }
.recent_comment_body { white-space: pre-wrap; overflow-wrap: break-word; }
#cnblogs_post_body {  }
#cnblogs_post_body p { margin: 10px auto; text-indent: 0px; }
#cnblogs_post_body h2 { font-size: 21px; font-weight: bold; line-height: 1.5; margin: 10px 0px; }
#cnblogs_post_body h3 { font-size: 16px; font-weight: bold; line-height: 1.5; margin: 10px 0px; }
#div_digg .diggnum { line-height: 1.5em !important; }
#div_digg .burynum { line-height: 1.5em !important; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255) !important; border: medium none !important; }
#MySignature { display: none; }
.cnblogs-markdown .hljs, .cnblogs-post-body .hljs { display: block; overflow-x: auto; padding: 0.5em; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
.hljs-comment, .hljs-quote, .hljs-variable { color: rgb(0, 128, 0); }
.hljs-keyword, .hljs-selector-tag, .hljs-built_in, .hljs-name, .hljs-tag { color: rgb(0, 0, 255); }
.hljs-string, .hljs-title, .hljs-section, .hljs-attribute, .hljs-literal, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-addition { color: rgb(163, 21, 21); }
.hljs-deletion, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-meta { color: rgb(43, 145, 175); }
.cnblogs-markdown code, .cnblogs-post-body code { font-family: "Courier New",sans-serif !important; font-size: 12px !important; background-color: rgb(245, 245, 245) !important; border: 1px solid rgb(204, 204, 204) !important; padding: 0px 5px !important; border-radius: 3px !important; line-height: 1.8; margin: 1px 5px; vertical-align: middle; display: inline-block; }
.cnblogs-markdown pre code, .cnblogs-post-body pre code { display: block; margin: auto; height: auto; line-height: 1.5; padding: 5px !important; }
.cnblogs-markdown .hljs, .cnblogs-post-body .hljs { font-family: "Courier New",sans-serif !important; font-size: 12px !important; line-height: 1.5 !important; padding: 5px !important; }
.cnblogs-markdown pre { margin-top: 10px; margin-bottom: 10px; }
.ui-dialog-loading::after { position: absolute; content: ""; width: 3px; height: 3px; margin: 14.5px 0px 0px 14.5px; border-radius: 100%; box-shadow: 0px -10px 0px 1px rgb(204, 204, 204), 10px 0px rgb(204, 204, 204), 0px 10px rgb(204, 204, 204), -10px 0px rgb(204, 204, 204), -7px -7px 0px 0.5px rgb(204, 204, 204), 7px -7px 0px 1.5px rgb(204, 204, 204), 7px 7px rgb(204, 204, 204), -7px 7px rgb(204, 204, 204); transform: rotate(360deg); animation: 1.5s linear 0s normal none infinite running ui-dialog-loading; }
/* ::::: https://www.cnblogs.com/skins/blacklowkey/bundle-blacklowkey.min.css?v=uPYxESX5EwOFUiHhGMddF_A9Y8jyUZNnOzI6A8c4Cu0 ::::: */

#EntryTag { margin-top: 20px; font-size: 9pt; color: rgb(128, 128, 128); }
* { margin: 0px; padding: 0px; }
html { height: 100%; }
body { color: rgb(0, 0, 0); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; min-height: 101%; background: rgb(0, 0, 0) url('body_bg.jpg') no-repeat scroll center top; }
fieldset, img { border: 0px none; }
ul { word-break: break-all; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a:link { color: rgb(0, 0, 0); text-decoration: none; }
a:visited { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(255, 102, 0); text-decoration: underline; }
a:active { color: rgb(0, 0, 0); text-decoration: none; }
.clear { clear: both; }
#home { margin: 0px auto; width: 980px; }
#header { margin-top: 2em; }
#blogTitle { height: 60px; clear: both; }
#blogTitle h1 { font-size: 150%; font-weight: bold; line-height: 1.5em; margin-left: 1em; margin-top: 10px; width: 50%; float: left; display: inline; letter-spacing: 1px; }
#blogTitle h2 { margin-top: 2em; margin-left: 8em; line-height: 1.5em; width: 50%; float: left; display: inline; font-size: 14px; }
#blogTitle h1 a, #blogTitle h2 { color: rgb(255, 255, 255); font-family: "微软雅黑"; text-shadow: 3px 3px 3px rgb(0, 61, 68); }
#blogLogo { float: right; }
#navigator { background-color: rgb(51, 51, 51); height: 60px; clear: both; margin-top: 60px; position: relative; }
#navList { min-height: 30px; float: left; margin-left: 30px; }
#navList li { float: left; }
#navList a { margin: 18px 10px 0px 0px; padding: 0px 10px; font: 14px/1.5em "微软雅黑"; display: block; }
#navList a:link, #navList a:visited, #navList a:active { color: rgb(255, 255, 255); text-shadow: 3px 3px 3px rgb(0, 0, 0); }
#navList a:hover { text-decoration: underline; }
.blogStats { float: right; color: rgb(204, 204, 204); margin-top: 20px; margin-right: 2px; text-align: right; visibility: hidden; }
#main { min-width: 980px; text-align: left; clear: both; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#mainContent .forFlow { float: none; width: auto; }
#mainContent { min-height: 200px; text-overflow: ellipsis; overflow: hidden; word-break: break-all; float: left; width: 700px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.postTitle { font-size: 14px; font-weight: bold; padding: 0px 100px 10px 20px; border-bottom: 1px solid rgb(224, 224, 224); line-height: 1.5em; clear: both; border-left: 5px solid rgb(31, 166, 230); }
.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: rgb(28, 119, 145); }
.postTitle a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.postDesc { float: none; clear: both; text-align: right; padding-right: 5px; color: rgb(163, 163, 163); }
.postDesc a:link, .postDesc a:visited, .postDesc a:active { color: rgb(163, 163, 163); }
.postDesc a:hover { color: rgb(255, 102, 0); text-decoration: none; }
#sideBar { min-height: 200px; padding: 0px 5px 20px; margin-left: 700px; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }
.catListTitle { font-weight: bold; line-height: 1.5em; font-size: 110%; margin-top: 15px; margin-bottom: 10px; border-bottom: 1px solid rgb(0, 0, 0); text-align: center; }
.catListComment { line-height: 1.5em; }
#sideBarMain { margin-top: 45px; }
#sideBarMain ul { line-height: 1.5em; }
.catListEssay, .catListLink, .catListNoteBook, .catListTag, .catListPostCategory, .catListPostArchive, .catListArticleArchive, .catListImageCategory, .mySearch, .catListComment, .catListView, .catListFeedback { margin-bottom: 2em; }
.catListEssay h3, .catListLink h3, .catListNoteBook h3, .catListTag h3, .catListPostCategory h3, .catListPostArchive h3, .catListArticleArchive h3, .catListImageCategory h3, .mySearch h3, .catListComment h3, .catListView h3, .catListFeedback h3, #blog-sidecolumn .catListTitle { text-align: left; padding: 5px 10px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; border: 1px solid rgb(204, 204, 204); }
.catListEssay ul, .catListLink ul, .catListNoteBook ul, .catListTag ul, .catListPostCategory ul, .catListPostArchive ul, .catListArticleArchive ul, .catListImageCategory ul, .mySearch ul, .catListComment ul, .catListView ul, .catListFeedback ul { padding-left: 1em; }
.catListEssay ul li, .catListLink ul li, .catListNoteBook ul li, .catListTag ul li, .catListPostCategory ul li, .catListPostArchive ul li, .catListArticleArchive ul li, .catListImageCategory ul li, .mySearch ul li, .catListComment ul li, .catListView ul li, .catListFeedback ul li { margin: 0.5em; }
#topics { min-height: 200px; padding: 1em; }
#topics .postTitle { font-size: 130%; font-weight: bold; border-bottom: 1px solid rgb(153, 153, 153); line-height: 1.5em; padding-left: 5px; }
.postBody { padding: 5px 2px 5px 5px; line-height: 1.8; color: rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0); }
#EntryTag { color: rgb(102, 102, 102); }
#EntryTag a { margin-left: 5px; }
#EntryTag a:link, #EntryTag a:visited, #EntryTag a:active { color: rgb(102, 102, 102); }
#EntryTag a:hover { color: rgb(255, 102, 0); }
#topics .postDesc { float: none; text-align: right; padding-right: 5px; color: rgb(102, 102, 102); margin-top: 5px; }
.mySearch .input_my_zzk { height: 1.4em; width: 175px; }
.commentform { padding: 0px 5px 0px 2em; }
#footer { text-align: center; min-height: 15px; margin-top: 10px; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px; color: rgb(255, 255, 255); }
.postBody p, .postCon p { text-indent: 2em; margin: 0px auto 1em; }
.postBody h2 { font-size: 150%; margin: 15px auto 2px; font-weight: bold; }
.postBody h3 { font-size: 120%; margin: 15px auto 2px; font-weight: bold; }
.postBody a:link, .postBody a:visited, .postBody a:active { text-decoration: underline; }
.postBody ul, .postCon ul { margin-left: 2em; }
.postBody li, .postCon li { list-style-type: disc; margin-bottom: 1em; }
@media only screen and (max-width: 767px) {
	#home { width: auto; min-width: unset; }
	#mainContent { width: auto; float: none; }
	#main { min-width: unset; }
	#sideBar { margin-left: 0px; }
	.postTitle { padding-right: 0px; }
}
/* ::::: https://www.cnblogs.com/skins/blacklowkey/bundle-blacklowkey-mobile.min.css?v=netr1CuSsXZ0CExbtEiL-uTF8pqcWT8cR0el_b5SyJM ::::: */

body { font-size: 14px !important; font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif; -moz-text-size-adjust: none; }
#blog_nav_newpost { display: none !important; }
img { max-width: 300px !important; height: auto; }
#green_channel { width: 320px; }
#sidebar_search_box input[type="text"] { width: 260px; }
#cnblogs_c1, #cnblogs_c2 { text-align: center; }
#cnblogs_c2 { overflow: hidden; }
.commentform { margin-left: 10px; }
