html { overflow-x: hidden !important; }
html:not([amp4ads]), html:not([amp4ads]) body { height: auto !important; }
html:not([amp4ads]) body { margin: 0px !important; }
body {  }
html.i-amphtml-fie > body, html.i-amphtml-singledoc > body { overflow: visible !important; }
html.i-amphtml-fie:not(.i-amphtml-inabox) > body, html.i-amphtml-singledoc:not(.i-amphtml-inabox) > body { position: relative !important; }
[subscriptions-dialog], body:not(.i-amphtml-subs-ready) [subscriptions-action], body:not(.i-amphtml-subs-ready) [subscriptions-section] { display: none !important; }
amp-story-page:not(:first-of-type):not([distance]):not([active]) { transform: translateY(1000vh) !important; }
@media only screen and (max-width: 979px) {
}
@media only screen and (min-width: 979px) {
}
[hidden] { display: none !important; }
.i-amphtml-element { display: inline-block; }
[layout="nodisplay"]:not(.i-amphtml-element) { display: none !important; }
.i-amphtml-layout-fixed, [layout="fixed"][width][height]:not(.i-amphtml-layout-fixed) { display: inline-block; position: relative; }
.i-amphtml-layout-responsive, [layout="responsive"][width][height]:not(.i-amphtml-layout-responsive), [width][height][sizes]:not(.i-amphtml-layout-responsive) { display: block; position: relative; }
.i-amphtml-layout-container, .i-amphtml-layout-fixed-height, [layout="container"], [layout="fixed-height"][height] { display: block; position: relative; }
.i-amphtml-layout-fill, [layout="fill"]:not(.i-amphtml-layout-fill) { display: block; overflow: hidden !important; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.i-amphtml-layout-flex-item, [layout="flex-item"]:not(.i-amphtml-layout-flex-item) { display: block; position: relative; flex: 1 1 auto; }
.i-amphtml-layout-size-defined { overflow: hidden !important; }
i-amphtml-sizer { display: block !important; }
.i-amphtml-blurry-placeholder, .i-amphtml-fill-content { display: block; height: 0px; max-height: 100%; max-width: 100%; min-height: 100%; min-width: 100%; width: 0px; margin: auto; }
.i-amphtml-layout-size-defined .i-amphtml-fill-content { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.i-amphtml-replaced-content, .i-amphtml-screen-reader { padding: 0px !important; border: medium none !important; }
.i-amphtml-notbuilt, [layout]:not(.i-amphtml-element) { position: relative; overflow: hidden !important; color: transparent !important; }
.i-amphtml-notbuilt:not(.i-amphtml-layout-container) > *, [layout]:not([layout="container"]):not(.i-amphtml-element) > * { display: none; }
.i-amphtml-element > [placeholder], [layout]:not(.i-amphtml-element) > [placeholder] { display: block; }
.i-amphtml-element:not(.amp-notsupported) > [fallback], .i-amphtml-layout-container > .amp-hidden[placeholder], .i-amphtml-layout-container > .hidden[placeholder] { display: none; }
.i-amphtml-element-error::before { content: attr(error-message); }
.i-amphtml-loader .i-amphtml-loader-dot:nth-child(2) { animation-delay: 0.1s; }
.i-amphtml-loader .i-amphtml-loader-dot:nth-child(3) { animation-delay: 0.2s; }
.amp-border-box, .amp-border-box *, .amp-border-box *::after, .amp-border-box *::before { box-sizing: border-box; }
amp-pixel { display: none !important; }
amp-analytics, amp-story-auto-ads { position: fixed !important; top: 0px !important; width: 1px !important; height: 1px !important; overflow: hidden !important; visibility: hidden; }
[visible-when-invalid]:not(.visible), amp-list [fetch-error], form [submit-error], form [submit-success], form [submitting] { display: none; }
amp-accordion > section > :last-child { display: none !important; }
amp-accordion > section[expanded] > :last-child { display: block !important; }
html.i-amphtml-inabox { width: 100% !important; height: 100% !important; }
textarea[autoexpand]:not(.i-amphtml-textarea-max) { overflow: hidden !important; }
.i-amphtml-validation-bubble::after { content: " "; position: absolute; bottom: -8px; left: 30px; width: 0px; height: 0px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid rgb(255, 255, 255); }
.i-amphtml-fit-text-content, .i-amphtml-fit-text-content.i-amphtml-fill-content { display: flex; flex-flow: column nowrap; justify-content: center; }
/* ::::: https://fonts.googleapis.com/css?family=Roboto:400,700&lang=zh-CN ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu72xkozy.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu5mxkozy.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7mxkozy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu4wxkozy.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7wxkozy.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7gxkozy.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu4mxk.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcrc4esa.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfabc4esa.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcbc4esa.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfbxc4esa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcxc4esa.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfchc4esa.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfbbc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: "Roboto",arial,sans-serif; }
#adunit { background-color: rgb(255, 255, 255); height: 250px; width: 300px; }
#ads { height: 250px; left: 0px; position: absolute; top: 0px; width: 300px; }
#ads ul { list-style: outside none none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.rhsvgpngicon { vertical-align: middle; }
.ads_chrome_top { position: absolute; overflow: hidden; top: 0px; width: 300px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 0px; width: 300px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 0px; width: 0px; height: 250px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 0px; width: 0px; height: 250px; }
.rhurlctr { overflow: hidden; }
.rhurlctr_nowrap { text-overflow: ellipsis; white-space: nowrap; }
.rhurlctr_clickable { cursor: pointer; }
.rhurl { text-decoration: none; }
.rhurl:hover { text-decoration: underline; }
.rhbutton-container { position: relative; }
.rhbutton { cursor: pointer; display: inline-block; margin: 0px; text-align: center; white-space: nowrap; }
.rhbutton .icon-container { display: inline-block; vertical-align: middle; }
.rhbutton .icon, .rhbutton .rhsvgpngicon { border-width: 0px; }
.taw0 .rh00121 .rhbutton-container { text-align: right; }
.taw0 .rh00121 .rhbutton { background: rgb(51, 62, 68) none repeat scroll 0% 0%; border-radius: 5px; border-width: 0px; height: 53px; min-width: 53px; max-width: 234px; }
.taw0 .rh00121 .rhbutton:hover { background: rgb(81, 90, 94) none repeat scroll 0% 0%; }
.taw0 .rh00121 .icon-container { height: 53px; line-height: 53px; width: 30px; }
.taw0 .rh00121 .icon, .taw0 .rh00121 .icon-container .rhsvgpngicon { height: 30px; margin-left: 2px; vertical-align: top; margin-top: 11px; }
#ads .rh0010 a { color: rgb(51, 62, 68); }
#ads .rh0010 span { color: rgb(51, 62, 68); }
#ads .rh001201 .rhbody { color: rgb(117, 117, 117); }
#ads .rh00121 .rhbutton { background-color: rgb(51, 62, 68); }
#ads .rh1 .rhurl { color: rgb(117, 117, 117); }
.rh { display: inline-block; font-size: 0px; height: 250px; line-height: 0; padding: 0px; width: 300px; }
.rh > table { width: 100%; }
.rh0 { background-color: rgb(51, 62, 68); display: inline-block; font-size: 0px; height: 224px; line-height: 0; overflow: hidden; padding: 3px; width: 294px; }
.rh0 > table { width: 100%; }
.rh00 { background-color: rgb(255, 255, 255); display: inline-block; font-size: 0px; height: 176px; line-height: 0; overflow: hidden; padding: 21px 32px 27px 21px; width: 241px; }
.rh00 > table { width: 100%; }
.rh000 { display: inline-block; height: 15px; overflow: hidden; padding: 0px; }
.rh000c { height: 15px; padding: 0px; }
.rh001 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 241px; }
.rh001 > table { width: 100%; }
.rh0010 { color: rgb(51, 62, 68); display: inline-block; font-family: "Roboto",arial,sans-serif; font-size: 39px; font-weight: 700; letter-spacing: 0px; line-height: 47px; max-width: 241px; padding: 0px; white-space: nowrap; }
.rh0010c { height: 0px; padding: 0px; }
.rh0011 { display: inline-block; height: 36px; overflow: hidden; padding: 0px; }
.rh0011c { height: 36px; padding: 0px; }
.rh0012 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 241px; }
.rh0012 > table { height: 100%; }
.rh00120 { display: inline-block; font-size: 0px; height: 63px; line-height: 0; overflow: hidden; padding: 0px 22px 0px 0px; width: 162px; }
.rh00120 > table { width: 100%; }
.rh001200 { display: inline-block; height: 0px; overflow: hidden; padding: 0px; }
.rh001200c { height: 0px; padding: 0px; }
.rh001201 { display: inline-block; font-family: "Roboto",arial,sans-serif; font-size: 15px; font-weight: 400; line-height: 21px; max-width: 162px; padding: 0px; white-space: nowrap; }
.rh001201c { padding: 0px; }
.rh001202 { display: inline-block; height: 0px; overflow: hidden; padding: 0px; }
.rh001202c { height: 0px; padding: 0px; }
.rh00120c { height: 63px; padding: 0px; width: 184px; }
.rh00121 { display: inline-block; font-size: 30px; height: 53px; line-height: 36px; padding: 2px; width: 53px; }
.rh00121c { height: 63px; padding: 0px; text-align: right; vertical-align: bottom; width: 57px; }
.rh0012c { padding: 0px; width: 241px; }
.rh001c { padding: 0px; vertical-align: middle; width: 241px; }
.rh002 { display: inline-block; height: 15px; overflow: hidden; padding: 0px; }
.rh002c { height: 15px; padding: 0px; }
.rh00c { height: 224px; padding: 0px; width: 294px; }
.rh0c { height: 230px; padding: 0px; width: 300px; }
.rh1 { background-color: rgb(255, 255, 255); color: rgb(117, 117, 117); display: inline-block; font-size: 13px; height: 16px; line-height: 16px; overflow: hidden; padding: 4px 0px 0px; white-space: nowrap; width: 300px; }
.rh1c { height: 20px; padding: 0px; text-align: right; width: 300px; }
.taw { height: 250px; width: 300px; }
#adunit { background-color: transparent; border: medium none transparent; }
.rh0 { border-radius: 4px; }
.rh00 { border-radius: 4px; }
.rhtitleline1 { text-decoration: none; overflow-wrap: break-word; }
a.rhtitleline1:hover { text-decoration: underline; }
.rh00121 .rhbutton { box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24); }
.rh1 .rhurl { opacity: 0.7; }
.abgc { position: absolute; z-index: 2147483646; left: 0px; bottom: 0px; }
.abgc amp-img, .abgc img { display: block; }
.abgs { position: absolute; transform: translateX(-56px); left: 16px; bottom: 0px; }
.abgcp { position: absolute; left: 0px; bottom: 0px; width: 31px; height: 15px; padding-right: 10px; padding-top: 10px; }
.abgb { position: relative; margin-left: 16px; bottom: 0px; }
.abgc:hover .abgs { transform: none; }
.cbb { display: block; position: absolute; left: 0px; bottom: 0px; cursor: pointer; height: 15px; width: 15px; z-index: 9020; padding-right: 16px; }
.btn { display: inline-block; border-radius: 2px; box-sizing: border-box; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.26); cursor: pointer; font-size: 0.7em; margin: 0px 1px 0.4em; }
#spv1 amp-fit-text > div { justify-content: flex-start; }
.btn > span { display: inline-block; padding: 0.5em 0.6em; line-height: 1em; }
#sbtn { background-color: rgb(255, 255, 255); color: rgb(158, 158, 166); text-decoration: none; }
#sbtn:hover, #sbtn:active { background-color: rgb(245, 245, 245); }
#rbtn { background-color: rgb(66, 133, 245); color: white; }
#rbtn:hover, #rbtn:active { background-color: rgb(50, 117, 229); }
#mta { position: absolute; top: 0px; left: 0px; font-family: Arial,sans-serif; font-size: 12px; font-weight: 400; line-height: 1em; }
#mta input[type="radio"] { display: none; }
#mta .pn { left: -300px; top: -250px; width: 300px; height: 250px; position: absolute; box-sizing: border-box; background-color: rgb(250, 250, 250); text-align: center; }
#spv2 { display: flex; justify-content: flex-start; flex-wrap: nowrap; overflow: hidden; background-color: rgb(250, 250, 250); font-size: 0px; }
.sv #spv2 { flex-direction: column; }
.jm.sv #spv2 { justify-content: center; align-items: center; }
#spv2 * { box-sizing: border-box; }
#mta input[name="a"]:checked ~ #cbb { display: none; }
#spv3 { opacity: 1; }
.amp-animate #spv4 { opacity: 0; transition: opacity 0.5s linear 2.5s; }
.amp-animate #spv3 amp-fit-text { opacity: 1; transition: opacity 0.5s linear 2s; }
#spr3:checked ~ #spv3 amp-fit-text { opacity: 0; }
#spr3:checked ~ #spv4 { opacity: 1; }
#spr1:checked ~ #spv1, #spr2:checked ~ #spv2, #spr3:checked ~ #spv3, #spr3:checked ~ #spv4 { left: 0px; bottom: 0px; }
.ct svg { border: 0px none; margin: 0px 0px -0.45em; display: inline-block; height: 1.38em; opacity: 0.4; }
.ct { display: inline-block; line-height: 1.28em; color: rgba(0, 0, 0, 0.4); text-align: center; padding: 0.3em; }
.fct { padding: 1em; }
#pct { display: block; font-weight: bold; padding: 1em 0.3em; }
#ti { width: 300px; }
#btns { width: 300px; }
.fl { width: 300px; height: 250px; }
#si { position: relative; display: inline-block; margin-bottom: -0.15em; height: 1em; width: 1em; opacity: 0.4; }
.sb { flex-shrink: 0; height: 50px; }
.so { position: relative; z-index: 9110; overflow: hidden; display: inline-block; padding: 1px 5px; width: 96px; height: 50px; border: 1px solid rgb(224, 224, 224); background-color: rgb(255, 255, 255); cursor: pointer; }
.so:hover, .so:active { background-color: rgb(245, 245, 245); }
.so div { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; }
.so span { color: rgb(66, 133, 244); font-family: Arial,sans-serif; text-align: center; font-size: 12px; line-height: 14px; white-space: normal; }
.sv .so, .sh.ss .so { border-radius: 2px; }
.sv .so { margin: 4px; }
.rhbody.rhdefaultcolored { color: rgb(0, 0, 0); }
.rhbody { text-decoration: none; overflow-wrap: break-word; }
a.rhbody:hover { text-decoration: underline; }
