html { overflow-x: hidden !important; }
body, html { height: auto !important; }
body { margin: 0px !important; }
[hidden] { display: none !important; }
html.i-amphtml-fie > body, html.i-amphtml-singledoc > body { overflow: visible !important; }
html.i-amphtml-fie:not(.i-amphtml-inabox) > body, html.i-amphtml-singledoc:not(.i-amphtml-inabox) > body { position: relative !important; }
.i-amphtml-element { display: inline-block; }
[layout="nodisplay"]:not(.i-amphtml-element) { display: none !important; }
.i-amphtml-layout-fixed, [layout="fixed"][width][height]:not(.i-amphtml-layout-fixed) { display: inline-block; position: relative; }
.i-amphtml-layout-responsive, [layout="responsive"][width][height]:not(.i-amphtml-layout-responsive), [width][height][sizes]:not(.i-amphtml-layout-responsive) { display: block; position: relative; }
.i-amphtml-layout-container, .i-amphtml-layout-fixed-height, [layout="container"], [layout="fixed-height"][height] { display: block; position: relative; }
.i-amphtml-layout-fill, [layout="fill"]:not(.i-amphtml-layout-fill) { display: block; overflow: hidden !important; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.i-amphtml-layout-flex-item, [layout="flex-item"]:not(.i-amphtml-layout-flex-item) { display: block; position: relative; -moz-box-flex: 1; flex: 1 1 auto; }
.i-amphtml-layout-size-defined { overflow: hidden !important; }
i-amphtml-sizer { display: block !important; }
.i-amphtml-blurry-placeholder, .i-amphtml-fill-content { display: block; height: 0px; max-height: 100%; max-width: 100%; min-height: 100%; min-width: 100%; width: 0px; margin: auto; }
.i-amphtml-layout-size-defined .i-amphtml-fill-content { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.i-amphtml-replaced-content, .i-amphtml-screen-reader { padding: 0px !important; border: medium none !important; }
.i-amphtml-notbuilt, [layout]:not(.i-amphtml-element) { position: relative; overflow: hidden !important; color: transparent !important; }
.i-amphtml-notbuilt:not(.i-amphtml-layout-container) > *, [layout]:not([layout="container"]):not(.i-amphtml-element) > * { display: none; }
.i-amphtml-element > [placeholder], [layout]:not(.i-amphtml-element) > [placeholder] { display: block; }
.i-amphtml-element:not(.amp-notsupported) > [fallback], .i-amphtml-layout-container > .amp-hidden[placeholder], .i-amphtml-layout-container > .hidden[placeholder] { display: none; }
.i-amphtml-element-error::before { content: attr(error-message); }
.i-amphtml-loader .i-amphtml-loader-dot:nth-child(2) { animation-delay: 0.1s; }
.i-amphtml-loader .i-amphtml-loader-dot:nth-child(3) { animation-delay: 0.2s; }
.amp-border-box, .amp-border-box *, .amp-border-box *::after, .amp-border-box *::before { box-sizing: border-box; }
amp-pixel { display: none !important; }
amp-analytics, amp-story-auto-ads { position: fixed !important; top: 0px !important; width: 1px !important; height: 1px !important; overflow: hidden !important; visibility: hidden; }
[subscriptions-dialog], body:not(.i-amphtml-subs-ready) [subscriptions-action], body:not(.i-amphtml-subs-ready) [subscriptions-section] { display: none !important; }
[visible-when-invalid]:not(.visible), amp-experiment, amp-live-list > [update], amp-share-tracking, form [submit-error], form [submit-success], form [submitting] { display: none; }
amp-accordion > section > :last-child { display: none !important; }
amp-accordion > section[expanded] > :last-child { display: block !important; }
@media only screen and (max-width: 979px) {
}
@media only screen and (min-width: 980px) {
}
html.i-amphtml-inabox { width: 100% !important; height: 100% !important; }
textarea[autoexpand]:not(.i-amphtml-textarea-max) { overflow: hidden !important; }
.i-amphtml-validation-bubble::after { content: " "; position: absolute; bottom: -8px; left: 30px; width: 0px; height: 0px; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid rgb(255, 255, 255); }
.i-amphtml-fit-text-content, .i-amphtml-fit-text-content.i-amphtml-fill-content { display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-flow: column nowrap; -moz-box-pack: center; justify-content: center; }
HTML, BODY { height: 100%; width: 100%; margin: 0px; padding: 0px; -moz-user-select: none; }
BODY {  }
#mys-overlay { height: 100%; width: 100%; overflow: hidden; position: absolute; top: 0px; left: 0px; box-sizing: border-box; pointer-events: none; z-index: 1; border: 1px solid rgb(229, 229, 229); }
BODY A, BODY A:visited, BODY A:hover, BODY A:active { color: inherit; cursor: pointer; text-decoration: inherit; }
.ns-bei47-l-bannerSmall { opacity: 0.01; position: absolute; display: block; top: 0px; left: 0px; width: 468px; height: 60px; }
.ns-bei47-l-bannerSmall .ns-bei47-e-0 { flex-shrink: 0; box-sizing: border-box; width: 100%; height: 100%; font-family: Roboto,Arial,sans-serif; display: flex; flex-direction: row; align-items: center; overflow-y: hidden; }
.ns-bei47-l-bannerSmall .ns-bei47-e-1 { box-sizing: border-box; flex-shrink: 0; width: 9px; height: 1px; }
.ns-bei47-l-bannerSmall .ns-bei47-e-2 { display: block; flex-shrink: 0; flex-grow: 0; height: 42px; margin: 0px 9px; max-width: 60px; max-height: 60px; }
.ns-bei47-l-bannerSmall .ns-bei47-e-3 { box-sizing: border-box; flex-shrink: 0; height: 200%; width: 30%; flex-grow: 1; }
.ns-bei47-l-bannerSmall .ns-bei47-e-4 { box-sizing: border-box; flex-shrink: 0; display: flex; align-items: center; flex-direction: row; height: 60px; }
.ns-bei47-l-bannerSmall .ns-bei47-e-5 { box-sizing: border-box; flex: 1 0 0px; font-weight: 700; margin: 4px 19px; line-height: 1.3em; }
.ns-bei47-l-bannerSmall .ns-bei47-e-6 { display: inline; }
.ns-bei47-l-bannerSmall .ns-bei47-e-7 { box-sizing: border-box; flex-shrink: 0; display: flex; align-items: center; flex-direction: row; height: 60px; }
.ns-bei47-l-bannerSmall .ns-bei47-e-8 { box-sizing: border-box; flex: 1 0 0px; font-weight: 300; margin: 0px 19px; line-height: 1.3em; max-height: 3.9em; text-overflow: ellipsis; overflow: hidden; }
.ns-bei47-l-bannerSmall .ns-bei47-e-9 { display: inline; }
.ns-bei47-l-bannerSmall .ns-bei47-e-10 { flex-shrink: 0; flex-grow: 0; height: 39px; border: medium none; display: block; max-width: 40px; max-height: 40px; }
.ns-bei47-l-bannerSmall .ns-bei47-e-11 { box-sizing: border-box; flex-shrink: 0; width: 19px; min-width: 25px; height: 1px; }
.ns-bei47-l-bannerSmall.ns-bei47-v-0 .ns-bei47-e-0 { font-size: 13px; }
.ns-bei47-l-bannerSmall.ns-bei47-v-0 .ns-bei47-e-2 { display: block; }
.ns-bei47-l-bannerSmall.ns-bei47-v-0 .ns-bei47-e-5 { font-size: 20px; }
.ns-bei47-l-bannerSmall.ns-bei47-v-0 .ns-bei47-e-8 { font-size: 13px; }
.ns-bei47-l-bannerSmall { opacity: 1; position: relative; }
.ns-bei47-l-bannerSmall .ns-bei47-e-0 { background-color: white; }
.ns-bei47-l-bannerSmall .ns-bei47-e-1 {  }
.ns-bei47-l-bannerSmall .ns-bei47-e-2 { background-image: url('downsize_200k_v1'); background-repeat: no-repeat; background-size: contain; width: 42px; height: 42px; min-width: 42px; min-height: 42px; max-width: 42px; max-height: 42px; }
.ns-bei47-l-bannerSmall .ns-bei47-e-3 { animation: 7.5s ease-in-out 0s normal both 2 running framesScroll; }
.ns-bei47-l-bannerSmall .ns-bei47-e-4 {  }
.ns-bei47-l-bannerSmall .ns-bei47-e-5 { color: rgb(91, 91, 91); }
.ns-bei47-l-bannerSmall .ns-bei47-e-6 { white-space: nowrap; }
.ns-bei47-l-bannerSmall .ns-bei47-e-7 {  }
.ns-bei47-l-bannerSmall .ns-bei47-e-8 { color: rgb(92, 92, 92); }
.ns-bei47-l-bannerSmall .ns-bei47-e-9 { white-space: nowrap; }
.ns-bei47-l-bannerSmall .ns-bei47-e-10 { background-color: rgb(2, 163, 255); border-radius: 50%; box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24); text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1); background-image: url('undefined'); width: 39px; height: 39px; min-width: 39px; min-height: 39px; max-width: 39px; max-height: 39px; }
.ns-bei47-l-bannerSmall .ns-bei47-e-11 {  }
.abgc { position: absolute; z-index: 2147483646; right: 0px; top: 0px; }
.abgc amp-img, .abgc img { display: block; }
.abgs { position: absolute; transform: translateX(56px); right: 16px; top: 0px; }
.abgcp { position: absolute; right: 0px; top: 0px; width: 31px; height: 15px; padding-left: 10px; padding-bottom: 10px; }
.abgb { position: relative; margin-right: 16px; top: 0px; }
.abgc:hover .abgs { transform: none; }
.cbb { display: block; position: absolute; right: 0px; top: 0px; cursor: pointer; height: 15px; width: 15px; z-index: 9020; padding-left: 16px; }
.btn { display: inline-block; border-radius: 2px; box-sizing: border-box; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.26); cursor: pointer; font-size: 0.7em; margin: 0px 1px 0.4em; }
#spv1 amp-fit-text > div { justify-content: flex-start; }
.jm.sh #spv1 amp-fit-text > div { justify-content: center; }
.btn > span { display: inline-block; padding: 0.5em 0.6em; line-height: 1em; }
#sbtn { background-color: rgb(255, 255, 255); color: rgb(158, 158, 166); text-decoration: none; }
#sbtn:hover, #sbtn:active { background-color: rgb(245, 245, 245); }
#rbtn { background-color: rgb(66, 133, 245); color: white; }
#rbtn:hover, #rbtn:active { background-color: rgb(50, 117, 229); }
#mta { position: absolute; top: 0px; left: 0px; font-family: Arial,sans-serif; font-size: 12px; font-weight: 400; line-height: 1em; }
#mta input[type="radio"] { display: none; }
#mta .pn { left: -468px; top: -60px; position: absolute; width: 468px; height: 60px; box-sizing: border-box; background-color: rgb(250, 250, 250); text-align: center; }
#spv2 { display: flex; justify-content: flex-start; flex-wrap: nowrap; overflow: hidden; background-color: rgb(250, 250, 250); font-size: 0px; }
.sh #spv2 { flex-direction: row; justify-content: center; }
.jm.sh #spv2 { align-items: center; }
#spv2 * { box-sizing: border-box; }
#mta input[name="a"]:checked ~ #cbb { display: none; }
#spv3 { opacity: 1; }
.amp-animate #spv4 { opacity: 0; transition: opacity 0.5s linear 2.5s; }
.amp-animate #spv3 amp-fit-text { opacity: 1; transition: opacity 0.5s linear 2s; }
#spr3:checked ~ #spv3 amp-fit-text { opacity: 0; }
#spr3:checked ~ #spv4 { opacity: 1; }
#spr1:checked ~ #spv1, #spr2:checked ~ #spv2, #spr3:checked ~ #spv3, #spr3:checked ~ #spv4 { right: 0px; top: 0px; }
.ct svg { border: 0px none; margin: 0px 0px -0.45em; display: inline-block; height: 1.38em; opacity: 0.4; }
.ct { display: inline-block; line-height: 1.28em; color: rgba(0, 0, 0, 0.4); text-align: center; padding: 0.3em; }
.fct { padding: 1em; }
#pct { display: block; font-weight: bold; padding: 1em 0.3em; }
#ti { width: 468px; }
#btns { width: 468px; }
.fl { width: 468px; height: 60px; }
#si { position: relative; display: inline-block; margin-bottom: -0.15em; height: 1em; width: 1em; opacity: 0.4; }
.sb { flex-shrink: 0; height: 50px; }
.so { position: relative; z-index: 9110; overflow: hidden; display: inline-block; padding: 1px 5px; width: 96px; height: 50px; border: 1px solid rgb(224, 224, 224); background-color: rgb(255, 255, 255); cursor: pointer; }
.so:hover, .so:active { background-color: rgb(245, 245, 245); }
.so div { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; }
.so span { color: rgb(66, 133, 244); font-family: Arial,sans-serif; text-align: center; font-size: 12px; line-height: 14px; white-space: normal; }
.sh .so { margin-left: -1px; box-shadow: none; }
.sh .so:first-child { margin-left: 0px; }
.sh.ss .so { margin-left: 8px; }
.sh.ss .so:first-child { margin-left: 0px; }
.sv .so, .sh.ss .so { border-radius: 2px; }
/* ::::: https://fonts.googleapis.com/css?family=Roboto%3A700 ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcrc4esa.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfabc4esa.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcbc4esa.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfbxc4esa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcxc4esa.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfchc4esa.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfbbc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ::::: https://fonts.googleapis.com/css?family=Roboto%3A300 ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fcrc4esa.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fabc4esa.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fcbc4esa.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fbxc4esa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fcxc4esa.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fchc4esa.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fbbc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
