html { overflow-x: hidden !important; }
body, html { height: auto !important; }
body { margin: 0px !important; }
[hidden] { display: none !important; }
html.i-amphtml-fie > body, html.i-amphtml-singledoc > body { overflow: visible !important; }
html.i-amphtml-fie:not(.i-amphtml-inabox) > body, html.i-amphtml-singledoc:not(.i-amphtml-inabox) > body { position: relative !important; }
.i-amphtml-element { display: inline-block; }
[layout="nodisplay"]:not(.i-amphtml-element) { display: none !important; }
.i-amphtml-layout-fixed, [layout="fixed"][width][height]:not(.i-amphtml-layout-fixed) { display: inline-block; position: relative; }
.i-amphtml-layout-responsive, [layout="responsive"][width][height]:not(.i-amphtml-layout-responsive), [width][height][sizes]:not(.i-amphtml-layout-responsive) { display: block; position: relative; }
.i-amphtml-layout-fill, [layout="fill"]:not(.i-amphtml-layout-fill) { display: block; overflow: hidden !important; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.i-amphtml-layout-flex-item, [layout="flex-item"]:not(.i-amphtml-layout-flex-item) { display: block; position: relative; -moz-box-flex: 1; flex: 1 1 auto; }
.i-amphtml-layout-size-defined { overflow: hidden !important; }
.i-amphtml-blurry-placeholder, .i-amphtml-fill-content { display: block; height: 0px; max-height: 100%; max-width: 100%; min-height: 100%; min-width: 100%; width: 0px; margin: auto; }
.i-amphtml-layout-size-defined .i-amphtml-fill-content { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.i-amphtml-replaced-content, .i-amphtml-screen-reader { padding: 0px !important; border: medium none !important; }
.i-amphtml-notbuilt, [layout]:not(.i-amphtml-element) { position: relative; overflow: hidden !important; color: transparent !important; }
.i-amphtml-notbuilt:not(.i-amphtml-layout-container) > *, [layout]:not([layout="container"]):not(.i-amphtml-element) > * { display: none; }
.i-amphtml-element > [placeholder], [layout]:not(.i-amphtml-element) > [placeholder] { display: block; }
.i-amphtml-element:not(.amp-notsupported) > [fallback], .i-amphtml-layout-container > .amp-hidden[placeholder], .i-amphtml-layout-container > .hidden[placeholder] { display: none; }
.i-amphtml-element-error::before { content: attr(error-message); }
.i-amphtml-loader .i-amphtml-loader-dot:nth-child(2) { animation-delay: 0.1s; }
.i-amphtml-loader .i-amphtml-loader-dot:nth-child(3) { animation-delay: 0.2s; }
.amp-border-box, .amp-border-box *, .amp-border-box *::after, .amp-border-box *::before { box-sizing: border-box; }
amp-pixel { display: none !important; }
amp-analytics, amp-story-auto-ads { position: fixed !important; top: 0px !important; width: 1px !important; height: 1px !important; overflow: hidden !important; visibility: hidden; }
[subscriptions-dialog], body:not(.i-amphtml-subs-ready) [subscriptions-action], body:not(.i-amphtml-subs-ready) [subscriptions-section] { display: none !important; }
[visible-when-invalid]:not(.visible), amp-experiment, amp-live-list > [update], amp-share-tracking, form [submit-error], form [submit-success], form [submitting] { display: none; }
amp-accordion > section > :last-child { display: none !important; }
amp-accordion > section[expanded] > :last-child { display: block !important; }
@media only screen and (max-width: 979px) {
}
@media only screen and (min-width: 980px) {
}
html.i-amphtml-inabox { width: 100% !important; height: 100% !important; }
a { color: rgb(0, 0, 0); }
body { line-height: 0; margin: 0px; background: transparent none repeat scroll 0% 0%; }
#google_image_div { overflow: hidden; position: absolute; }
