HTML, BODY { height: 100%; width: 100%; margin: 0px; padding: 0px; overflow: hidden; -moz-user-select: none; }
#mys-wrapper { height: 100%; width: 100%; overflow: hidden; position: absolute; top: 0px; left: 0px; align-items: center; display: flex; justify-content: center; line-height: normal; }
#mys-overlay { height: 100%; width: 100%; overflow: hidden; position: absolute; top: 0px; left: 0px; box-sizing: border-box; pointer-events: none; z-index: 1; border: 1px solid rgb(229, 229, 229); }
#mys-wrapper A, #mys-wrapper A:visited, #mys-wrapper A:hover, #mys-wrapper A:active { color: inherit; cursor: pointer; text-decoration: inherit; }
#mys-content { flex-shrink: 0; position: relative; overflow: hidden; z-index: 0; }
.ns-3a8lv-l-squareThrone { opacity: 0.01; position: absolute; display: block; top: 0px; left: 0px; width: 336px; height: 280px; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-0 { box-sizing: border-box; flex-shrink: 0; width: 100%; height: 100%; font-family: Roboto,Arial,sans-serif; display: flex; flex-direction: column; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-1 { flex-shrink: 0; flex-grow: 0; width: 100%; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-2 { box-sizing: border-box; flex: 1 0 0px; display: flex; flex-direction: column; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-3 { box-sizing: border-box; flex-shrink: 0; line-height: 1.4em; font-weight: 700; margin: 6px 13px; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-4 { display: inline; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-5 { box-sizing: border-box; display: flex; align-items: center; flex-direction: row; flex: 1 0 0px; margin: 0px 13px; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-6 { box-sizing: border-box; flex: 1 0 0px; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-7 { box-sizing: border-box; flex-shrink: 0; line-height: 1.4em; font-weight: 300; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-8 { display: inline; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-9 { box-sizing: border-box; flex-shrink: 0; line-height: 1.4em; font-weight: 300; margin: 4px 0px 0px; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-10 { display: inline; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-11 { box-sizing: border-box; height: 1px; width: 13px; flex-shrink: 0; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-12 { flex-shrink: 0; flex-grow: 0; height: 42px; border: medium none; display: block; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-13 { box-sizing: border-box; width: 1px; height: 8px; flex-shrink: 0; }
.ns-3a8lv-l-squareThrone.ns-3a8lv-v-19 .ns-3a8lv-e-0 { font-size: 13px; }
.ns-3a8lv-l-squareThrone.ns-3a8lv-v-19 .ns-3a8lv-e-3 { font-size: 19px; }
.ns-3a8lv-l-squareThrone.ns-3a8lv-v-19 .ns-3a8lv-e-7 { font-size: 13px; }
.ns-3a8lv-l-squareThrone.ns-3a8lv-v-19 .ns-3a8lv-e-9 { font-size: 11px; display: block; }
.ns-3a8lv-l-squareThrone { opacity: 1; position: relative; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-0 { background-color: white; background-image: url('6334233302565277521'); background-repeat: no-repeat; background-size: contain; background-position: center top; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-1 {  }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-2 { background-image: linear-gradient(to bottom, rgba(246, 247, 247, 0), rgb(246, 247, 247) 30%, rgb(246, 247, 247)); }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-3 { color: rgb(43, 43, 43); }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-4 { white-space: nowrap; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-5 {  }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-6 {  }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-7 { color: rgb(43, 43, 43); }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-8 { white-space: nowrap; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-9 { opacity: 0.7; color: rgb(43, 43, 43); }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-10 { white-space: nowrap; }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-11 {  }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-12 { background-color: rgb(255, 255, 255); border-radius: 50%; animation: 0.5s ease 0s normal both 1 running fadein_keyframes; box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24); text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1); background-image: url('undefined'); }
.ns-3a8lv-l-squareThrone .ns-3a8lv-e-13 {  }
div { margin: 0px; padding: 0px; }
.abgc { display: block; height: 15px; position: absolute; right: 17px; top: 1px; text-rendering: geometricprecision; z-index: 2147483646; }
.abgb { display: inline-block; height: 15px; }
.abgc, .jar .abgc, .jar .cbb { opacity: 1; }
.abgc { cursor: pointer; }
.cbb { cursor: pointer; height: 15px; width: 15px; z-index: 2147483646; background-color: rgb(255, 255, 255); opacity: 0; }
.cbb svg { position: absolute; top: 0px; right: 0px; height: 15px; width: 15px; stroke: rgb(0, 174, 205); stroke-width: 1.25; }
.cbb:hover { cursor: pointer; }
.cbb:hover { background-color: rgb(88, 88, 90); }
.cbb:hover svg { stroke: rgb(255, 255, 255); }
.abgb { position: absolute; right: 0px; top: 0px; }
.cbb { position: absolute; right: 1px; top: 1px; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgs svg, .abgb svg { display: inline-block; height: 15px; width: auto; vertical-align: top; }
.abgc .il-wrap { background-color: rgb(255, 255, 255); height: 15px; white-space: nowrap; }
.abgc .il-wrap.exp { border-bottom-left-radius: 5px; }
.abgc .il-text, .abgc .il-icon { display: inline-block; }
.abgc .il-text { padding-right: 1px; padding-left: 5px; height: 15px; width: 36px; }
.abgc .il-icon { height: 15px; width: 22px; }
.abgc .il-text svg { fill: rgb(0, 0, 0); }
.abgc .il-icon svg { fill: rgb(0, 174, 205); }
.mute_panel { z-index: 2147483646; }
.abgac { position: absolute; left: 0px; top: 0px; z-index: 2147483646; display: none; width: 100%; height: 100%; background-color: rgb(250, 250, 250); }
.mlsc { height: 100%; display: flex; justify-content: center; align-items: center; }
.mls { animation: 2s linear 0s normal none infinite running mlskf; height: 50%; width: 50%; }
.mlsd { stroke-dasharray: 1, 189; stroke-dashoffset: 0; animation: 1.4s ease-in-out 0s normal none infinite running mlsdkf; }
