/* ::::: http://makelinux.net/style/style.css ::::: */

body { font-family: helvetica,arial,sans-serif; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
small { color: gray; font-size: small; }
small a:link { color: gray; font-size: small; }
small a:visited { color: gray; font-size: small; }
.small { font-size: x-small; text-decoration: none; color: rgb(85, 85, 85); }
a.small:link { font-size: x-small; text-decoration: none; color: rgb(85, 85, 85); }
a.small:hover { font-size: x-small; text-decoration: underline; color: rgb(85, 85, 85); }
a.small:visited { font-size: x-small; text-decoration: none; color: rgb(85, 85, 85); }
/* ::::: http://makelinux.net/page/borders.css ::::: */

body { font-family: helvetica,arial,sans-serif; }
a { color: black; text-decoration: none; }
#label { color: white; text-decoration: none; }
.poster { text-align: center; font-weight: bold; color: rgb(0, 0, 0); display: none; font-size: large; }
.poster2 { font-weight: bold; display: none; }
a.poster2:hover { text-decoration: underline; }
.hide { display: none; }
.small { color: black; font-size: xx-small; }
.plain { display: none; }
small a { color: black; font-size: small; }
small a:link { color: black; font-size: small; }
small a:visited { color: black; font-size: small; }
small a:hover { font-size: small; text-decoration: underline; color: black; }
a:hover { text-decoration: underline; }
a.small:link { font-size: x-small; text-decoration: none; color: black; }
a.small:visited { font-size: x-small; text-decoration: none; color: black; }
a.small:hover { font-size: x-small; text-decoration: underline; color: black; }
.addthis_button, .at15t { cursor: pointer; }
#_atssh { width: 1px !important; height: 1px !important; border: 0px none !important; }
@media screen and (max-width: 400px) {
}
@media screen and (max-height: 700px) and (max-width: 400px) {
}
.at-branding-info::before { content: "i"; font-family: Times New Roman; }
