html { color: rgb(0, 0, 0); background-color: transparent; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q::before, q::after { content: ""; }
body { margin: 0px; padding: 0px; }
.cf::before, .cf::after { content: " "; display: table; }
.cf::after { clear: both; }
.container { display: block !important; }
.container { background-color: white; overflow: hidden; display: block; font-family: Microsoft YaHei; margin: 0px; padding: 0px; }
.pic_container { display: block; float: left; overflow: hidden; }
.link { text-decoration: none; }
.luw_title { float: left; overflow: hidden; text-decoration: none; }
.img-wrapper img { transition: transform 0.5s ease-in 0s; }
.img-wrapper img:hover { transform: scale(1.1); }
/* ::::: http://cpro.baidustatic.com/cpro/logo/css/logo-sm.css ::::: */

.logo-container { display: block; position: absolute; right: 0px; bottom: 0px; z-index: 65534; font-size: 0px; height: 12px; background: rgba(102, 102, 102, 0.6) none repeat scroll 0% 0%; }
.logo-container a { font-size: 0px; background: rgba(102, 102, 102, 0.6) none repeat scroll 0% 0%; }
.logo-container a img { position: static; border: medium none; }
.logo-container .gap { display: inline-block; width: 1px; height: 12px; background-color: rgb(255, 255, 255); opacity: 0.45; }
.logo-link { display: inline-block; width: 27px; height: 8px; margin: 2px; }
.logo-close-img { display: inline-block; width: 6px; height: 6px; margin: 3px; }
.feedback-container { display: none; position: absolute; z-index: 65535; top: 0px; right: 0px; bottom: 0px; left: 0px; height: 100%; background: rgb(252, 252, 252) none repeat scroll 0% 0%; font-size: 12px; color: rgb(102, 102, 102); }
.feedback-container .intro { font-size: 14px; }
.reason-content { margin: 0px auto; }
.reason-item { display: inline-block; width: 48px; border: 1px solid rgb(219, 219, 219); line-height: 2; text-align: center; padding: 0px 10px; margin: 5px 10px 0px 0px; text-decoration: none; color: rgb(102, 102, 102); }
.reason-item:hover { background-color: rgb(238, 238, 238); }
.fb-btn-cancel { display: block; margin-top: 10px; text-decoration: none; color: rgb(51, 137, 227); }
.thx-content { display: none; margin-top: 10px; text-align: center; }
.thx-content h5 { font-size: 16px; margin: 0px; }
.thx-content p { margin-top: 5px; font-size: 12px; text-align: center; }
