/* ::::: https://www.collabora.com/assets/css/core.min.css ::::: */

#nav_mobileInlineSolution p a img, a { transition: all 0.3s ease-out 0s; }
.primaryNav ul li a, p { font-size: 14px; font-weight: 400; }
@font-face {
	font-family: "Circular Bold";
	font-style: normal;
	font-weight: 400;
	src: url('lineto-circular-bold.eot') format("embedded-opentype"), url('lineto-circular-bold.woff') format("woff"), url('lineto-circular-bold.ttf') format("truetype"), url('lineto-circular-bold.svg') format("svg");
}
h1, h2, h3, h4, h5, p { margin: 0px 0px 15px; padding: 0px; }
h1, h2, h3, h4, h5 { font-family: "Circular Bold",Arial,Helvetica,sans-serif; font-weight: 400; }
p { font-family: Karla,Arial,Helvetica,sans-serif; font-style: normal; line-height: 19px; }
a img, a svg { border: medium none; text-decoration: none; }
a { transition: all 0.3s ease-out 0s; }
body { background-color: rgb(139, 139, 137); font-family: Karla,Helvetica,Arial; }
.container { width: 996px; margin: 0px auto; position: relative; }
*::-moz-selection { background: rgb(67, 194, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
html { -moz-text-size-adjust: none; }
input, input[type="submit"], textarea { border-radius: 0px; }
p { margin-top: 0px; margin-bottom: 15px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.darkGrey { background-color: rgb(60, 60, 62); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
#nav_mobileInlineSolution p a, .contactFormItemRHS .cf_button, .contentRoundellWrapper .disc, .footerRHS p, .quip-comment button, .quip-error { font-family: "Circular Bold",Arial,Helvetica,sans-serif; }
.heroElementWrapper { height: auto; overflow: hidden; width: 100%; float: left; background-color: rgb(60, 60, 62); }
.HeroElementBGImageLoader img, .heroElementWrapper img { position: absolute; top: 0px; width: 100%; height: auto; float: left; }
a, p, pre, pre a { overflow-wrap: break-word !important; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.bodyContentWrapper { float: left; width: 100%; margin-top: 0px !important; display: inline-block; }
.bodyContentInnerWrapper { padding: 25px 15px 15px; float: left; }
.bodyContentWrapper h1, .bodyContentWrapper h2, .bodyContentWrapper h3, .bodyContentWrapper h4, .bodyContentWrapper h5 { color: rgb(255, 255, 255); font-weight: 400; }
.bodyContentWrapper h3 { line-height: 120%; }
.bodyContentWrapper a { color: rgb(255, 255, 255); }
.bodyContentWrapper li, .bodyContentWrapper p { color: rgb(226, 226, 226); }
.bodyContentWrapper li { font-size: 14px; line-height: 19px; margin-bottom: 3px; }
.bodyContentWrapper h2 { font-size: 24px; }
.bodyContentWrapper h3 { font-size: 21px; }
.bodyContentWrapper li a, .bodyContentWrapper p a { text-decoration: none; font-weight: 700; }
.bodyContentWrapper a:hover { color: rgb(67, 194, 0); }
.darkGrey .bodyContentInnerWrapper h1, .darkGrey .bodyContentInnerWrapper h2, .darkGrey .bodyContentInnerWrapper h3, .darkGrey .bodyContentInnerWrapper h4, .darkGrey .bodyContentInnerWrapper h5 { color: rgb(255, 255, 255); }
.darkGrey .bodyContentInnerWrapper li, .darkGrey .bodyContentInnerWrapper p { color: rgb(206, 206, 206); }
.bodyContent_2ndTier_LHS { width: 586px; margin-right: 50px; float: left; }
.darkGrey .bodyContentInnerWrapper { padding: 25px; }
.darkGrey .bodyContent_2ndTier_LHS { width: 566px; }
.darkGrey .blogpostLHS { width: 666px; }
#comments { width: 100%; float: left; margin-top: 25px; }
#comments h3 { margin-bottom: 20px; }
.quip-add-comment label { width: 25%; float: left; }
#quip-comment-notify-qcom { width: 20px !important; }
.quip-error { display: block; font-weight: 400; margin-top: 5px; }
.tickBox { margin-top: 10px; }
#nav_mobileInlineSolution { width: 100%; margin: 0px auto; text-align: center; display: none; }
#nav_mobileInlineSolution p a { display: block; padding: 13px 8px 15px; color: rgb(255, 255, 255); font-size: 17px; font-weight: 400; text-decoration: none; border-bottom: 1px solid rgb(204, 204, 204); opacity: 1; }
#nav_mobileInlineSolution p { margin-bottom: 0px !important; padding-bottom: 0px !important; }
#nav_mobileInlineSolution ul { display: none; margin-bottom: 15px; width: 100%; margin-top: 10px; }
#nav_mobileInlineSolution li { display: inline-block !important; width: 100% !important; text-align: center; }
#nav_mobileInlineSolution li a { padding: 12px 0px; font-size: 16px; z-index: 2147483647 !important; }
#nav_mobileInlineSolution li a, #nav_mobileInlineSolution p a {  }
#nav_mobileInlineSolution p a img { margin-left: 20px; transition: all 0.3s ease-out 0s; }
.nav_mobileInlineTrigger, .nav_mobileInlineTriggerNEW { cursor: pointer; }
.nav_mobileInlineTriggerNEW_TextLabel { text-align: left !important; padding-left: 15px !important; }
.nav_mobileInlineTriggerNEW_Icon { float: right; padding-right: 5px; }
#nav_mobileInlineSolution li a { display: block !important; text-align: center; }
.blogpostLHS { color: rgb(206, 206, 206); }
.jobs-list .job:nth-child(2n) { margin-right: 0px; }
pre.numberedLines span::before { counter-increment: line; content: counter(line, decimal-leading-zero); display: inline-block; border-right: 1px solid rgb(221, 221, 221); padding: 0px 0.5em; margin-right: 0.5em; color: rgb(136, 136, 136) !important; }
code, pre { font-size: 13px !important; }
/* ::::: https://www.collabora.com/assets/css/core-2016.min.css ::::: */

.recaptchatable, .whiteBG { background-color: rgb(255, 255, 255); }
.fullwidthWrapper2016, .headerWrapper2016 { width: 100%; float: left; }
._2016HeroSlide_TextWrapper h1, ._2016HeroSlide_TextWrapper p a.Linker, ._2016HeroSlide_TextWrapper_Mobile h1, ._2016HeroSlide_TextWrapper_Mobile p a.Linker, .headerRHS_2016 #nav_full li a, .headerRHS_2016 #nav_mobileInlineSolution ul li a { font-family: "Circular Bold",Arial,Helvetica,sans-serif; font-weight: 400; }
._2016blogpostLHS a, .blog a { color: rgb(67, 194, 0) !important; }
._2016blogpostLHS a:hover, .blog a:hover { color: rgb(255, 255, 255) !important; }
body { background-image: url('2016headerbg-scrolled.png'); }
.darkGrey .bodyContentInnerWrapper li, .darkGrey .bodyContentInnerWrapper p { color: rgb(242, 242, 242); }
.bodyContentWrapper h2 { font-size: 36px; line-height: 125%; }
.bodyContentWrapper h3 { font-size: 29px; line-height: 125%; }
.bodyContentInnerWrapper li, .bodyContentInnerWrapper p { font-size: 16px; line-height: 24px; }
.headerWrapper2016 { position: absolute; z-index: 2147483647; }
.headerWrapper2016Inner { width: 100%; float: left; padding: 25px 0px 20px; background-image: url('2016headerbg.png'); background-repeat: repeat; position: fixed; }
.headerLHS_2016 { padding-left: 3%; float: left; width: 25%; position: relative; z-index: 9999999; }
.headerRHS_2016 #nav_mobileInlineSolution, .scrolledNavBG { position: absolute; }
.logoFull2016 { width: 100%; height: auto; float: left; display: block; transition: all 750ms ease 0s; backface-visibility: hidden; }
.scrolledNavBG { background-image: url('2016headerbg-scrolled.png'); opacity: 0.75; width: 100%; height: 100%; top: 0px; }
.headerRHS_2016 { padding-left: 2%; float: left; width: 67%; padding-right: 3%; }
.fullWidthWrapper2016 { width: 100%; float: left; }
.headerRHS_2016 #nav_full, .headerRHS_2016 #nav_full li { margin: 0px; padding: 0px; float: left; list-style: outside none none; display: inline-block; }
.headerRHS_2016 #nav_full { float: right; }
.headerRHS_2016 #nav_mobileInlineSolution ul { margin-top: 33px; background-image: url('mobilenavbg.png'); background-repeat: no-repeat; background-position: center top; padding: 20px 0px; }
.headerRHS_2016 #nav_mobileInlineSolution ul li a { color: rgb(255, 255, 255); text-decoration: none; }
.headerRHS_2016 #nav_mobileInlineSolution ul li a:hover { color: rgb(67, 194, 0); }
li.hereNav a { color: rgb(92, 60, 204) !important; }
.headerRHS_2016 #nav_full li a { color: rgb(60, 60, 62); font-size: 19px; min-width: auto; padding-left: 30px; padding-top: 26px; text-decoration: none; }
.headerRHS_2016 #nav_full li a:hover, .headerRHS_2016 #nav_full > li:hover > a { color: rgb(92, 60, 204); }
.headerRHS_2016 #nav_mobileInlineSolution p a { border: medium none !important; padding: 0px 10px 0px 0px; }
.headerRHS_2016 #nav_full li ul { display: none; width: 100%; margin-top: 0px; padding-top: 35px; position: absolute; white-space: nowrap; z-index: 9; padding-left: 0px; margin-left: -500px; }
.subnavTriangle { margin-left: 500px; }
.headerRHS_2016 #nav_full li:hover ul { display: block !important; }
.subnavWrapper2016 { width: 100%; float: left; background-image: url('subnavbg.png'); background-repeat: repeat; margin-top: 0px; position: fixed; left: 0px; text-align: center; z-index: 999999; }
.subnavWrapperInner2016 { display: block; padding: 20px; }
.headerRHS_2016 #nav_full li ul li { text-align: center; float: none; width: 120px; padding: 0px; }
.headerRHS_2016 #nav_full li ul li a { color: rgb(255, 255, 255) !important; font-size: 17px; padding: 0px; margin: 0px; }
.headerRHS_2016 #nav_full li ul li a:hover, .headerRHS_2016 #nav_full li ul li.hereNav a { color: rgb(67, 194, 0) !important; }
.subnavWrapperInner2016 span { float: left; width: 100%; text-align: center; }
.subnavTriangle { height: 12px; background-image: url('subnavtriangle.png'); width: 23px; }
.subnavIcon_Automotive, .subnavIcon_Build, .subnavIcon_DigitalTV, .subnavIcon_Guide, .subnavIcon_Integrate, .subnavIcon_Maintain, .subnavIcon_NewsAndEvents, .subnavIcon_OEM, .subnavIcon_OpenSource, .subnavIcon_Optimize, .subnavIcon_Silicon, .subnavIcon_Train, .subnavIcon_WhatWeDo, .subnavIcon_WhoWeAre, .subnavIcon_automotive, .subnavIcon_build, .subnavIcon_digital-tv, .subnavIcon_guide, .subnavIcon_integrate, .subnavIcon_maintain, .subnavIcon_news-and-events, .subnavIcon_oem, .subnavIcon_open-source, .subnavIcon_optimize, .subnavIcon_our-expertise, .subnavIcon_our-work, .subnavIcon_silicon, .subnavIcon_train, .subnavIcon_who-we-are { background-image: url('navicons_csssprite.png'); }
.subnavIcon { width: 120px; height: 80px; background-position: 0px 0px; }
.subnavIcon_who-we-are { background-position: 0px 0px; }
.subnavIcon_our-expertise { background-position: -120px 0px; }
.subnavIcon_open-source { background-position: -240px 0px; }
.subnavIcon_guide { background-position: -480px 0px; }
.subnavIcon_train { background-position: -600px 0px; }
.subnavIcon_build { background-position: -720px 0px; }
.subnavIcon_integrate { background-position: -840px 0px; }
.subnavIcon_optimize { background-position: -960px 0px; }
.subnavIcon_maintain { background-position: -1080px 0px; }
.subnavIcon_automotive { background-position: -1200px 0px; }
.subnavIcon_oem { background-position: -1320px 0px; }
.subnavIcon_silicon { background-position: -1440px 0px; }
.subnavIcon_digital-tv { background-position: -1560px 0px; }
.subnavIcon_our-work { background-position: -1680px 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.fullWidthWrapper2016 #HeroElementBGImageLoader { opacity: 0; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
._2016ServicesPromoItemsWrapper a:hover, .hereNav a { color: rgb(92, 60, 204); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.breadcrumbWrapper { width: 100%; float: left; font-size: 11px; color: rgb(204, 204, 204); margin-bottom: 10px; }
.breadcrumbWrapper li, .breadcrumbWrapper ul { margin: 0px; padding: 0px; }
.breadcrumbWrapper li { display: inline-block; font-size: 11px; color: rgb(204, 204, 204); }
.breadcrumbWrapper a, .breadcrumbWrapper li a { color: rgb(204, 204, 204); font-size: 11px; text-decoration: none; margin-right: 5px; }
.breadcrumbWrapper a:hover, .breadcrumbWrapper li a:hover { color: rgb(255, 255, 255); }
#breadcrumb li + li::before { content: ">  "; margin: 0px 2px; }
.RHSPromoCaseStudy, ._2016RHSPromoWrapper:nth-child(3), ._2016RHSPromoWrapper:nth-child(4), ._2016RHSPromoWrapper:nth-child(5) { margin-top: 0px; }
._2016blogpostLHS { width: 60% !important; margin-right: 5% !important; }
.jobs-list .job:nth-child(2n) { margin-right: 0px; }
.careersNumberBullets li::before { content: counter(step-counter, decimal); position: absolute; left: 0px; padding: 12px 8px; color: rgb(255, 255, 255); font-weight: 700; background-image: url('bulletbg.png'); background-position: left top; background-repeat: no-repeat; background-size: contain; border-radius: 300px; line-height: 0; font-size: 13px; font-family: Arial,Helvetica,sans-serif; }
._2016OurWork-CaseStudyWrapper:nth-child(3n+3) { margin-right: 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
.headerRHS_2016 #nav_mobileInlineSolution ul.NEWmobileNav, .headerRHS_2016 #nav_mobileInlineSolution ul.NEWmobileNavContactBits { width: 77%; padding-left: 3%; margin-left: 20%; height: 100%; background-image: url('mobilenavbg-white.png'); background-repeat: no-repeat; margin-top: 0px; float: left; }
.headerRHS_2016 #nav_mobileInlineSolution ul.NEWmobileNav { background-position: left top; margin-bottom: 0px; padding-bottom: 10px; }
.headerRHS_2016 #nav_mobileInlineSolution ul.NEWmobileNavContactBits { background-position: left bottom; padding-top: 0px; transition: all 0s ease-out 0s; }
.headerRHS_2016 #nav_mobileInlineSolution ul.NEWmobileNav li { width: 43% !important; float: left; margin-bottom: 20px; text-align: right; margin-right: 7%; }
.headerRHS_2016 #nav_mobileInlineSolution ul.NEWmobileNav li a { color: rgb(60, 60, 62); font-size: 20px; padding: 3px 0px; text-align: right !important; }
.headerRHS_2016 #nav_mobileInlineSolution { width: 100%; height: 50px; }
.NEWmobileNavTrigger { margin-bottom: 30px; }
.headerRHS_2016 #nav_mobileInlineSolution ul.NEWmobileNav li a:hover { color: rgb(92, 60, 204); }
.headerRHS_2016 #nav_mobileInlineSolution ul.NEWmobileNavContactBits li a { text-align: right; font-size: 17px; padding: 2px 0px; font-family: Karla,Arial,Helvetica,sans-serif; width: 93% !important; margin-right: 7% !important; color: rgb(60, 60, 62); }
.headerRHS_2016 #nav_mobileInlineSolution ul.NEWmobileNavContactBits li a:hover { color: rgb(92, 60, 204) !important; }
#nav_mobileInlineSolution ul, ._2016industriesArticle_mainColInner, .notMobile, p.ShowMe { display: block; }
#nav_mobileInlineSolution { width: auto; right: 0px; }
.NEWmobileNavAnimWrapper { right: -600px; position: relative; }
._2016industriesArticle_mainCol:nth-child(2n+1) ._2016industriesArticle_mainColInner { background-color: rgb(44, 44, 44); }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
._2016blogpostLHS img { max-width: 100%; height: auto; }
.subnavIcon_XR, .subnavIcon_xr { background-image: url('navicons_csssprite.png'); background-position: -1800px 0px; }
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
@media not all, only screen and (min--moz-device-pixel-ratio: 2), not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
}
/* ::::: https://www.collabora.com/assets/css/misc-grouped-2016.min.css ::::: */

@font-face {
	font-family: "Karla";
	font-style: normal;
	font-weight: 400;
	src: local("Karla"), local("Karla-Regular"), url('karla-v5-latin-regular.eot') format("embedded-opentype"), url('karla-v5-latin-regular.woff2') format("woff2"), url('karla-v5-latin-regular.woff') format("woff"), url('karla-v5-latin-regular.ttf') format("truetype"), url('karla-v5-latin-regular.svg') format("svg");
}
@font-face {
	font-family: "Karla";
	font-style: italic;
	font-weight: 400;
	src: local("Karla Italic"), local("Karla-Italic"), url('karla-v5-latin-italic.eot') format("embedded-opentype"), url('karla-v5-latin-italic.woff2') format("woff2"), url('karla-v5-latin-italic.woff') format("woff"), url('karla-v5-latin-italic.ttf') format("truetype"), url('karla-v5-latin-italic.svg') format("svg");
}
@font-face {
	font-family: "Karla";
	font-style: normal;
	font-weight: 700;
	src: local("Karla Bold"), local("Karla-Bold"), url('karla-v5-latin-700.eot') format("embedded-opentype"), url('karla-v5-latin-700.woff2') format("woff2"), url('karla-v5-latin-700.woff') format("woff"), url('karla-v5-latin-700.ttf') format("truetype"), url('karla-v5-latin-700.svg') format("svg");
}
@font-face {
	font-family: "Karla";
	font-style: italic;
	font-weight: 700;
	src: local("Karla Bold Italic"), local("Karla-BoldItalic"), url('karla-v5-latin-700italic.eot') format("embedded-opentype"), url('karla-v5-latin-700italic.woff2') format("woff2"), url('karla-v5-latin-700italic.woff') format("woff"), url('karla-v5-latin-700italic.ttf') format("truetype"), url('karla-v5-latin-700italic.svg') format("svg");
}
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
#quip-success-qcom { margin-bottom: 20px; display: block; }
.leaflet-control-scale-line:not(:first-child) { border-top: 2px solid rgb(119, 119, 119); border-bottom: medium none; margin-top: -2px; }
.leaflet-control-scale-line:not(:first-child):not(:last-child) { border-bottom: 2px solid rgb(119, 119, 119); }
/* ::::: https://www.collabora.com/assets/components/quip/css/web.css ::::: */

div.quip-comment { padding: 4px; }
.quip-error { color: red; display: block !important; width: 100% !important; float: left !important; margin-top: 8px !important; margin-bottom: 15px !important; font-size: 16px !important; }
.quip-success { color: green; }
.quip-add-comment input[type="text"] { width: 50%; float: left; border: 1px solid rgb(136, 136, 136); padding: 5px; }
.quip-fld br { clear: both; }
.quip-add-comment .quip-fld { width: 100% !important; float: left !important; margin-bottom: 0px !important; }
.quip-add-comment input[type="text"] { background-color: rgb(242, 242, 242); border: 1px solid rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 14px; padding: 10px; width: 71%; }
.quip-add-comment label { color: rgb(255, 255, 255); display: block; font-size: 16px; margin-top: 10px; }
.quip-error { display: block !important; width: 100% !important; float: left !important; margin-top: 8px !important; margin-bottom: 15px !important; font-size: 16px !important; }
