.fix_advbox { float: left; }
.fix_advbox .aderbox { position: relative; }
.fix_advbox .advclose { position: absolute; right: 6px; top: 6px; background: rgb(101, 92, 77) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 12px; display: inline-block; width: 13px; height: 13px; text-align: center; line-height: 13px; cursor: pointer; }
