/* ::::: https://www.cnblogs.com/bundles/blog-common.css?v=-duj5vpGTntb85GJoM3iRI972XwWcI-j8zmqDzyfu2w1 ::::: */

body { font-family: Helvetica,Verdana,Arial,sans-serif; }
input[type="button"] {  }
img { border: 0px none; }
#MySignature {  }
#blog_post_info_block { margin-top: 20px; }
#BlogPostCategory { margin-bottom: 10px; }
#EntryTag { margin-top: 0px !important; }
.sendMsg2This:link, .sendMsg2This:visited, .sendMsg2This:active { font-size: 12px; text-decoration: none; background: rgba(0, 0, 0, 0) url('icomsg.gif') no-repeat scroll left top; padding-left: 20px; }
.sendMsg2This:hover { background: rgba(0, 0, 0, 0) url('icomsg.gif') no-repeat scroll left bottom; }
.cnblogs_code { background-color: rgb(245, 245, 245); font-family: Courier New !important; font-size: 12px !important; border: 1px solid rgb(204, 204, 204); padding: 5px; overflow: auto; margin: 5px 0px; color: rgb(0, 0, 0); }
.cnblogs_code pre { font-family: Courier New !important; font-size: 12px !important; overflow-wrap: break-word; white-space: pre-wrap; }
.cnblogs_code span { font-family: Courier New !important; font-size: 12px !important; line-height: 1.5 !important; }
.div_my_zzk { margin-top: 5px; margin-bottom: 5px; }
.input_my_zzk { width: 100px; vertical-align: middle; height: 20px; }
input.btn_my_zzk { vertical-align: middle; height: 22px; font-size: 12px; padding-left: 5px; padding-right: 5px; }
pre { margin-top: 0px; margin-bottom: 0px; }
pre { white-space: pre-wrap; overflow-wrap: break-word; }
.login_tips { background-image: url('icon_addcomment.gif'); background-repeat: no-repeat; margin-top: 10px; padding: 0px 0px 10px 25px; font-weight: bold; }
.login_tips a { text-decoration: underline !important; }
.clear { clear: both; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
#author_profile a:hover { text-decoration: underline; }
.author_avatar { vertical-align: top; float: left; margin-right: 5px; padding-top: 5px; padding-left: 2px; border: 0px none; }
.author_profile_info { float: left; line-height: 18px; }
#author_profile_follow {  }
#author_profile_follow a:link {  }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 125px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: rgba(0, 0, 0, 0) url('upup.gif') no-repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: rgba(0, 0, 0, 0) url('downdown.gif') no-repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: gray; }
#profile_block { margin-top: 5px; line-height: 1.5; text-align: left; }
.blog_comment_body { overflow-wrap: break-word; overflow: hidden; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
#post_next_prev a.p_n_p_prefix:link { text-decoration: none; }
#post_next_prev a.p_n_p_prefix:hover { text-decoration: underline; }
.itnews { line-height: 150%; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
#green_channel { padding: 10px 0px; margin-bottom: 10px; margin-top: 10px; border: 1px dashed silver; font-size: 12px; width: 350px; text-align: center; }
#green_channel a { background: rgba(0, 0, 0, 0) url('undefined') repeat-x scroll 0% 0%; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; border-radius: 10px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); vertical-align: middle; }
#green_channel a:hover { background-image: url('undefined'); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_weibo img { vertical-align: middle; border: medium none; margin-left: 5px; box-shadow: none; }
#green_channel #green_channel_weibo, #green_channel #green_channel_wechat { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 3px 2px; box-shadow: none; text-shadow: none; }
#green_channel #green_channel_wechat img { width: 24px; height: 24px; border: medium none; box-shadow: none; margin-left: 5px; vertical-align: middle; }
#cnblogs_post_body { margin-bottom: 20px; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#ad_t2 { margin-top: 5px; line-height: 1.8; }
#ad_t2 a { margin-right: 10px; }
#opt_under_post { line-height: 1.8; }
.recent_comment_author { text-align: right; margin-right: 4px; }
input::-moz-focus-inner { border: 0px none; padding: 0px; }
.Cal { width: 100%; }
.CalTitle { width: 100%; }
.comment_vote { text-align: right; }
.comment_vote a { text-decoration: none !important; padding-left: 10px; }
.recent_comment_body { white-space: pre-wrap; overflow-wrap: break-word; }
#cnblogs_post_body {  }
#cnblogs_post_body p { margin: 10px auto; text-indent: 0px; }
#div_digg .diggnum { line-height: 1.5em !important; }
#div_digg .burynum { line-height: 1.5em !important; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255) !important; border: medium none !important; }
#blog-news { overflow: hidden; }
#MySignature { display: none; }
.ui-dialog-loading::after { position: absolute; content: ""; width: 3px; height: 3px; margin: 14.5px 0px 0px 14.5px; border-radius: 100%; box-shadow: 0px -10px 0px 1px rgb(204, 204, 204), 10px 0px rgb(204, 204, 204), 0px 10px rgb(204, 204, 204), -10px 0px rgb(204, 204, 204), -7px -7px 0px 0.5px rgb(204, 204, 204), 7px -7px 0px 1.5px rgb(204, 204, 204), 7px 7px rgb(204, 204, 204), -7px 7px rgb(204, 204, 204); transform: rotate(360deg); animation: 1.5s linear 0s normal none infinite running ui-dialog-loading; }
/* ::::: https://www.cnblogs.com/skins/SimpleMemory/bundle-SimpleMemory.css?v=EanP3quXYv9G0oFCmz4BNBHvmK7M_Si1iD1EpUHL_441 ::::: */

﻿ #EntryTag { margin-top: 20px; font-size: 9pt; color: gray; }
* { margin: 0px; padding: 0px; }
html { height: 100%; }
body { color: rgb(0, 0, 0); background-color: rgb(230, 230, 230); font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif; font-size: 12px; min-height: 101%; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a { outline: medium none; color: rgb(33, 117, 155); }
a:link { color: black; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover { color: rgb(33, 117, 155); }
a:active { color: black; text-decoration: none; }
.clear { clear: both; }
#home { margin: 50px auto; width: 65%; min-width: 950px; background-color: rgb(255, 255, 255); padding: 30px; box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3); }
#header { padding-bottom: 5px; margin-top: 10px; }
#blogTitle { height: 60px; clear: both; }
#blogTitle h1 { font-size: 26px; font-weight: bold; line-height: 1.5em; margin-top: 20px; }
#blogTitle h1 a { color: rgb(81, 81, 81); }
#blogTitle h1 a:hover { color: rgb(33, 117, 155); }
#blogTitle h2 { font-weight: normal; font-size: 0.928571rem; line-height: 1.84615; color: rgb(117, 117, 117); float: left; }
#blogLogo { float: right; }
#navigator { font-size: 13px; border-bottom: 1px solid rgb(237, 237, 237); border-top: 1px solid rgb(237, 237, 237); height: 50px; clear: both; margin-top: 25px; }
#navList { min-height: 30px; float: left; }
#navList li { float: left; margin: 0px 40px 0px 0px; }
#navList a { display: block; width: 5em; height: 22px; float: left; text-align: center; padding-top: 19px; }
#navList a:link, #navList a:visited, #navList a:active { color: rgb(106, 106, 106); font-weight: bold; }
#navList a:hover { color: rgb(0, 0, 0); text-decoration: none; }
.blogStats { float: right; color: rgb(117, 117, 117); margin-top: 19px; margin-right: 2px; text-align: right; }
#main { width: 100%; text-align: left; margin-top: 30px; }
#mainContent .forFlow { margin-left: 22em; float: none; width: auto; }
#mainContent { min-height: 200px; padding: 0px 0px 10px; text-overflow: ellipsis; overflow: hidden; float: left; margin-left: -22em; width: 100%; }
.postTitle { border-left: 3px solid rgb(33, 117, 155); margin-bottom: 10px; font-size: 20px; float: right; width: 100%; clear: both; }
.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: rgb(33, 117, 155); transition: all 0.4s linear 0s; }
.postTitle a:hover { margin-left: 30px; color: rgb(15, 54, 71); text-decoration: none; }
.postDesc { font-size: 13px; background: rgba(0, 0, 0, 0) url('posted_time.png') no-repeat scroll 0px 1px; color: rgb(117, 117, 117); float: left; width: 100%; clear: both; text-align: left; padding-left: 20px; padding-right: 5px; margin-top: 20px; line-height: 1.5; }
.postDesc a:link, .postDesc a:visited, .postDesc a:active { color: rgb(102, 102, 102); }
.postDesc a:hover { color: rgb(33, 117, 155); text-decoration: none; }
#sideBar { margin-top: -15px; width: 230px; min-height: 200px; padding: 0px 0px 0px 5px; float: right; text-overflow: ellipsis; overflow: hidden; }
#sideBar a { color: rgb(117, 117, 117); }
#sideBar a:hover { color: rgb(33, 117, 155); text-decoration: underline; }
.div_my_zzk { width: 175px; position: relative; margin-top: 10px; }
#btnZzk { background: rgba(0, 0, 0, 0) url('blog_search.png') no-repeat scroll 5px 5px; }
#widget_my_google input[type="button"] { background: rgba(0, 0, 0, 0) url('google_search.png') no-repeat scroll 5px 5px; }
.input_my_zzk { border: 1px solid rgb(204, 204, 204); width: 100%; height: 25px; padding-right: 30px; padding-left: 5px; outline: 0px none; }
.btn_my_zzk { font-size: 12px; width: 25px; height: 25px; color: transparent; border: 0px none; cursor: pointer; top: 1px; position: absolute; right: -35px; }
.input_my_zzk:hover { border: 1px solid rgb(33, 117, 155); transition: all 0.4s linear 0s; }
.input_my_zzk:focus { border: 1px solid rgb(33, 117, 155); }
.newsItem, .catListEssay, .catListLink, .catListNoteBook, .catListTag, .catListPostCategory, .catListPostArchive, .catListImageCategory, .catListArticleArchive, .catListView, .catListFeedback, .mySearch, .catListComment, .catListBlogRank, .catList, .catListArticleCategory { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-bottom: 35px; overflow-wrap: break-word; }
.newsItem .catListTitle {  }
#blog-calendar { width: 228px; padding-bottom: 5px; margin-bottom: 35px; box-shadow: 0px 1px 3px rgb(204, 204, 204); border: 1px solid rgb(237, 237, 237); }
#blog-calendar td { font-size: 12px; font-family: "Comic Sans MS"; }
#blog-calendar th { font-size: 12px; }
.Cal { border: medium none; color: rgb(102, 102, 102); }
.CalTodayDay { background: rgb(54, 113, 165) none repeat scroll 0% 0% !important; color: rgb(255, 255, 255); font-weight: bold; }
.CalWeekendDay { padding-top: 4px; padding-bottom: 4px; }
.CalOtherMonthDay { color: rgb(204, 204, 204); padding-top: 4px; padding-bottom: 4px; }
.CalDayHeader { background: rgb(248, 248, 248) none repeat scroll 0% 0%; font-weight: 100; color: rgb(94, 95, 99); }
.CalTitle { background: rgb(98, 147, 187) none repeat scroll 0% 0%; width: 100%; height: 25px; text-align: center; font-size: 14px; font-weight: bold; padding: 5px 0px; color: rgb(255, 255, 255); }
.CalTitle td { background: rgb(248, 248, 248) none repeat scroll 0% 0% !important; border: 0px none !important; color: rgb(94, 95, 99); font-family: "Comic Sans MS"; }
.catListTitle { font-weight: bold; line-height: 1.2; font-size: 110%; margin-top: 15px; margin-bottom: 10px; text-align: left; }
.catListComment { line-height: 1.5em; }
#sideBarMain ul { line-height: 1.5em; }
#sideBarMain li { line-height: 1.8; }
#topics { width: 100%; min-height: 200px; padding: 0px 0px 10px; float: left; text-overflow: ellipsis; overflow: hidden; }
#topics .postTitle { border: 0px none; font-size: 130%; font-weight: bold; float: left; line-height: 1.5; width: 100%; padding-left: 5px; }
#EntryTag { color: rgb(102, 102, 102); }
#BlogPostCategory { color: rgb(102, 102, 102); }
#BlogPostCategory a { height: 20px; line-height: 20px; color: rgb(51, 51, 51); padding: 3px 14px; border-radius: 10px; margin: 2px 5px 0px; background: rgb(231, 231, 231) none repeat scroll 0% 0%; text-decoration: none; }
#BlogPostCategory a:link, #BlogPostCategory a:visited, #BlogPostCategory a:active { color: rgb(102, 102, 102); }
#BlogPostCategory a:hover { color: rgb(245, 245, 245); background: rgb(33, 117, 155) none repeat scroll 0% 0%; }
#topics .postDesc { padding-left: 0px; width: 100%; text-align: left; color: rgb(102, 102, 102); margin-top: 5px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.feedback_area_title { font: 16px/35px "Microsoft YaHei"; margin: 10px 0px 30px; border-bottom: 2px solid rgb(204, 204, 204); }
.feedbackListSubtitle { color: rgb(168, 168, 168); }
.feedbackListSubtitle a:link, .feedbackListSubtitle a:visited, .feedbackListSubtitle a:active { color: rgb(33, 117, 155); font-weight: bold; }
.feedbackListSubtitle a:hover { color: rgb(33, 117, 155); text-decoration: underline; }
.feedbackManage { width: 200px; text-align: right; float: right; }
.feedbackCon { border-bottom: 1px solid rgb(238, 238, 238); padding: 10px 20px 10px 5px; min-height: 35px; margin-bottom: 1em; line-height: 1.5; }
.comment_vote { padding-right: 10px; }
.comment_vote a { color: rgb(153, 153, 153); }
.comment_vote a:hover { color: rgb(33, 117, 155); }
#comment_form_container {  }
.feedbackListSubtitle { clear: both; color: rgb(168, 168, 168); padding: 8px 5px; }
.feedbackItem { margin-top: 30px; }
#footer { color: rgb(104, 104, 104); text-align: center; min-height: 15px; border-top: 1px solid rgb(237, 237, 237); margin-top: 50px; padding-top: 10px; margin-bottom: 10px; }
.postBody { color: rgb(0, 0, 0); line-height: 1.7; font-size: 14px; }
.postBody p, .postCon p { text-indent: 2em; margin: 0px auto 1em; }
.postBody a:link, .postBody a:visited, .postBody a:active { text-decoration: underline; }
#sideBar { font-size: 12px; }
#sideBar h3 { font-size: 14px; }
/* ::::: https://www.cnblogs.com/skins/SimpleMemory/bundle-SimpleMemory-mobile.css?v=XGOE8_i3XCsAIQHcgl5c_8VAMMKRkj0W3Eckyc8qbso1 ::::: */

body { font-size: 14px !important; font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif; }
#blog_nav_rss { display: none !important; }
#blog_nav_newpost { display: none !important; }
img { max-width: 300px !important; height: auto; }
#green_channel { width: 320px; }
#sidebar_search_box input[type="text"] { width: 260px; }
#cnblogs_c1, #cnblogs_c2 { text-align: center; }
.commentform { margin-left: 10px; }
#mainContent { margin-left: 0px; float: none; }
#mainContent .forFlow { margin-left: 0px; }
#sideBar { float: none; width: auto; margin-top: 10px; }
#home { width: auto; min-width: 0px; }
#blog_stats { margin-bottom: 20px; }
.postTitle { float: none; }
#navList a { width: auto; }
#topics .postTitle { width: auto; }
