/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/stylesheet.css?assets_version=92 ::::: */

/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/common.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
html { font-size: 100%; height: 101%; }
body { font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 10px; line-height: normal; margin: 0px; padding: 12px; overflow-wrap: break-word; }
h1 { font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; margin-right: 200px; margin-top: 15px; font-weight: bold; font-size: 2em; }
h2 { font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-weight: normal; font-size: 2em; margin: 0.8em 0px 0.2em; }
h3 { font-family: Arial,Helvetica,sans-serif; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid transparent; margin-bottom: 3px; padding-bottom: 2px; font-size: 1.05em; margin-top: 20px; }
p { line-height: 1.3em; font-size: 1.1em; margin-bottom: 1.5em; }
img { border-width: 0px; }
hr { border-width: 1px 0px 0px; border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 1px; margin: 5px 0px; display: block; clear: both; }
hr.divider { display: none; }
p.jumpbox-return { margin-top: 1em; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
ul { list-style-type: disc; }
li { display: list-item; }
ul ul, ol ul { list-style-type: circle; }
#wrap { border: 1px solid transparent; border-radius: 8px; margin: 0px auto; min-width: 625px; padding: 15px; }
@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	#wrap { margin: 0px 12px; }
}
#page-body { margin: 4px 0px; clear: both; }
#page-footer { clear: both; }
#page-footer h3 { margin-top: 20px; }
.logo { float: left; width: auto; padding: 10px 13px 0px 10px; }
.logo:hover { text-decoration: none; }
#site-description { float: left; width: 65%; }
#site-description h1 { margin-right: 0px; }
.headerbar { background: transparent none repeat-x scroll 0px 0px; margin-bottom: 4px; padding: 5px; border-radius: 7px; }
.navbar { padding: 3px 10px; border-radius: 7px; }
.post { padding: 5px 10px; margin-bottom: 4px; background-repeat: no-repeat; background-position: 100% 0px; border-radius: 7px; position: relative; }
.navbar ul.linklist { padding: 2px 0px; }
ul.linklist { display: block; margin: 0px; }
ul.linklist > li { float: left; font-size: 1.1em; line-height: 2.2em; list-style-type: none; margin-right: 7px; padding-top: 1px; width: auto; }
ul.linklist > li.rightside, p.rightside, a.rightside { float: right; margin-right: 0px; margin-left: 7px; text-align: right; }
ul.navlinks { border-top: 1px solid transparent; }
ul.linklist li.responsive-menu { position: relative; margin: 0px 5px; }
ul.linklist li.responsive-menu a.responsive-menu-link { display: inline-block; margin: 0px 5px; font-size: 16px; position: relative; width: 16px; line-height: 20px; text-decoration: none; }
ul.linklist li.responsive-menu a.responsive-menu-link::before { content: ""; position: absolute; left: 0px; top: 7px; height: 0.125em; width: 14px; border-bottom: 0.125em solid transparent; border-top: 0.375em double transparent; }
ul.linklist .dropdown { top: 22px; }
ul.linklist.bulletin > li::before { display: inline-block; content: "•"; font-size: inherit; line-height: inherit; padding-right: 4px; }
ul.linklist.bulletin > li:first-child::before, ul.linklist.bulletin > li.rightside:last-child::before { content: none; }
ul.linklist.bulletin > li.no-bulletin::before { content: none; }
.responsive-menu::before { display: none !important; }
.header-avatar span::after { content: "▼"; display: inline-block; font-size: 9px; float: right; padding-left: 2px; opacity: 0.7; }
.dropdown-container { position: relative; }
.dropdown-container-right { float: right; }
.dropdown { position: absolute; left: 0px; top: 1.2em; z-index: 2; border: 1px solid transparent; border-radius: 5px; padding: 9px 0px 0px; margin-right: -500px; }
.dropdown-container.topic-tools { float: left; }
.dropdown-up .dropdown { top: auto; bottom: 1.2em; padding: 0px 0px 9px; }
.dropdown-left .dropdown, .nojs .rightside .dropdown { left: auto; right: 0px; margin-left: -500px; margin-right: 0px; }
.dropdown-button-control .dropdown { top: 24px; }
.dropdown-button-control.dropdown-up .dropdown { top: auto; bottom: 24px; }
.dropdown .pointer, .dropdown .pointer-inner { position: absolute; width: 0px; height: 0px; border-width: 0px 10px 10px; border-bottom: 10px solid transparent; border-left: 10px dashed transparent; border-right: 10px dashed transparent; transform: rotate(360deg); display: block; }
.dropdown-up .pointer, .dropdown-up .pointer-inner { border-bottom-width: 0px; border-top: 10px solid transparent; }
.dropdown .pointer { right: auto; left: 10px; top: 0px; z-index: 3; }
.dropdown-up .pointer { bottom: 0px; top: auto; }
.dropdown-left .dropdown .pointer, .nojs .rightside .dropdown .pointer { left: auto; right: 10px; }
.dropdown .pointer-inner { top: auto; bottom: -11px; left: -10px; }
.dropdown-up .pointer-inner { bottom: auto; top: -11px; }
.dropdown .dropdown-contents { z-index: 2; overflow-x: hidden; overflow-y: auto; border: 1px solid transparent; border-radius: 5px; padding: 5px; position: relative; min-width: 40px; max-height: 300px; box-sizing: border-box; }
.dropdown li { border-top: 1px dotted transparent; float: none !important; line-height: normal !important; font-size: 1em !important; list-style: outside none none; margin: 0px; padding-top: 4px; padding-bottom: 4px; white-space: nowrap; text-align: left; }
.dropdown-contents > li { padding-right: 15px; }
.dropdown li:first-child, .dropdown li.separator + li, .dropdown li li { border-top: 0px none; }
.dropdown li.separator { border-top: 1px solid transparent; margin: 4px 0px; padding: 0px; }
.dropdown li.separator:first-child, .dropdown li.separator:last-child { display: none !important; }
.breadcrumbs .crumb { float: left; font-weight: bold; overflow-wrap: normal; }
.breadcrumbs .crumb::before { content: "‹"; font-weight: bold; padding: 0px 0.5em; }
.breadcrumbs .crumb:first-child::before { content: none; }
.breadcrumbs .crumb a { display: inline-block; white-space: nowrap; text-overflow: ellipsis; vertical-align: bottom; overflow: hidden; }
.left-box { float: left; width: auto; text-align: left; max-width: 100%; }
.action-bar { font-size: 11px; margin: 4px 0px; }
.pagination { float: right; font-size: 11px; margin-top: 3px; text-align: right; width: auto; }
.action-bar.bottom .pagination { margin-top: 0px; }
.phpbb_alert { border: 1px solid transparent; display: none; left: 0px; padding: 0px 25px 20px; position: fixed; right: 0px; top: 150px; z-index: 50; width: 620px; margin: 0px auto; }
@media only screen and (max-height: 500px), only screen and (max-device-width: 500px) {
	.phpbb_alert { top: 25px; }
}
.phpbb_alert .alert_close { display: block; float: right; width: 16px; height: 16px; overflow: hidden; text-decoration: none !important; background: transparent none no-repeat scroll 0px 0px; margin-top: -7px; margin-right: -31px; }
.phpbb_alert .alert_close:hover { background-position: 0px -16px; }
.phpbb_alert p { margin: 8px 0px; padding-bottom: 8px; }
#darkenwrapper { display: none; position: relative; z-index: 44; }
#darken { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0.5; z-index: 45; }
#loading_indicator { background: rgba(0, 0, 0, 0) none no-repeat scroll center center; border-radius: 5px; display: none; opacity: 0.8; margin-top: -50px; margin-left: -50px; height: 50px; width: 50px; position: fixed; left: 50%; top: 50%; z-index: 51; }
.copyright { padding: 5px; text-align: center; }
div.rules { margin: 10px 0px; font-size: 1.1em; padding: 5px 10px; border-radius: 7px; }
p.post-notice::before { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; left: 0px; width: 28px; background: transparent none no-repeat scroll 50% 50%; pointer-events: none; }
#jumpbox { margin: 5px 0px; }
.stat-block { clear: both; }
#top { position: absolute; top: -20px; }
.clear { display: block; clear: both; font-size: 1px; line-height: 1px; background: transparent none repeat scroll 0% 0%; }
.inner::after, ul.linklist::after, .action-bar::after, .notification_text::after, .tabs-container::after, #tabs > ul::after, #minitabs > ul::after, .postprofile .avatar-container::after { clear: both; content: ""; display: block; }
.hidden { display: none; }
#quick-links { margin: 0px 7px 0px 0px; }
#quick-links a.responsive-menu-link { display: block; font-size: inherit; line-height: inherit; margin: 0px; width: auto; }
#quick-links a.responsive-menu-link::before { font-size: 16px; line-height: 16.5px; }
/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/links.css ::::: */

a { direction: ltr; unicode-bidi: embed; text-decoration: none; }
a:hover { text-decoration: underline; }
.username-coloured { font-weight: bold; display: inline !important; padding: 0px !important; }
li.breadcrumbs span:first-child > a { display: inline-block; padding-left: 17px; }
.postlink { text-decoration: none; border-bottom: 1px solid transparent; padding-bottom: 0px; }
.postlink:hover { text-decoration: none; }
.signature a, .signature a:hover { border: medium none; text-decoration: underline; }
.postprofile a, .postprofile dt.author a { font-weight: bold; text-decoration: none; }
.postprofile a:hover, .postprofile dt.author a:hover { text-decoration: underline; }
.back2top { clear: both; height: 11px; text-align: right; }
a.top { background: rgba(0, 0, 0, 0) none no-repeat scroll left top; text-decoration: none; width: 11px; height: 11px; display: block; float: right; overflow: hidden; letter-spacing: 1000px; text-indent: 11px; }
a.arrow-left { background: rgba(0, 0, 0, 0) none no-repeat scroll 3px 60%; }
a.arrow-left { padding-left: 12px; }
a.arrow-left:hover { text-decoration: none; background-position: 0px 60%; }
.skiplink { position: absolute; left: -999px; width: 990px; }
a.anchor { display: block; }
/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/content.css ::::: */

.postbody { padding: 0px; line-height: 1.48em; width: 76%; float: left; position: relative; }
.postbody h3.first { font-size: 1.7em; }
.postbody h3 { float: left; font-size: 1.5em; padding: 2px 0px 0px; margin-top: 0px !important; margin-bottom: 0.3em !important; text-transform: none; border: medium none; font-family: "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif; line-height: 125%; }
.has-profile .postbody h3 { float: none !important; margin-right: 180px; }
.postbody .content { font-size: 1.3em; overflow-x: auto; }
.content { clear: both; min-height: 3em; overflow: hidden; line-height: 1.4em; font-family: "Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif; font-size: 1em; padding-bottom: 1px; }
.content p { font-family: "Lucida Grande","Trebuchet MS",Verdana,Helvetica,Arial,sans-serif; font-size: 1.2em; margin-bottom: 1em; line-height: 1.4em; }
p.author { margin-bottom: 0.6em; padding: 0px 0px 5px; font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 1em; line-height: 1.2em; clear: both; }
.signature { margin-top: 1.5em; padding-top: 0.2em; font-size: 1.1em; border-top: 1px solid transparent; clear: left; line-height: 140%; overflow: hidden; width: 100%; }
blockquote { background: transparent none no-repeat scroll 6px 8px; border: 1px solid transparent; font-size: 0.95em; margin: 0.5em 1px 0px 25px; overflow: hidden; padding: 5px; }
blockquote.uncited { padding-top: 25px; }
.codebox { padding: 3px; border: 1px solid transparent; font-size: 1em; }
.codebox p { text-transform: uppercase; border-bottom: 1px solid transparent; margin-bottom: 3px; font-size: 0.8em !important; font-weight: bold; display: block; }
.codebox code { overflow: auto; display: block; height: auto; max-height: 200px; white-space: pre; padding-top: 5px; font: 0.9em/1.3em Monaco,"Andale Mono","Courier New",Courier,mono; margin: 2px 0px; }
.postprofile { margin: 5px 0px 10px; min-height: 80px; border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 0px 0px 1px; width: 22%; float: right; display: inline; }
.postprofile dd, .postprofile dt { line-height: 1.2em; margin-left: 8px; }
.postprofile dd { overflow: hidden; text-overflow: ellipsis; }
.postprofile strong { font-weight: normal; }
.postprofile dt.no-profile-rank, .postprofile dd.profile-rank, .postprofile .search-result-date { margin-bottom: 10px; }
.postprofile .profile-posts a { font-weight: normal; }
dd.profile-contact { overflow: visible; }
.profile-contact .dropdown-container { display: inline-block; }
.profile-contact .icon_contact { vertical-align: middle; }
.profile-contact .dropdown { margin-right: -14px; }
/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/buttons.css ::::: */

.button { cursor: pointer; display: inline-block; height: 18px; font-size: 13px; white-space: nowrap; border: 1px solid transparent; border-radius: 4px; background: transparent none repeat-x scroll 0px 0px; padding: 2px 8px; font-family: "Open Sans","Droid Sans",Verdana,Arial,Helvetica; position: relative; text-decoration: none !important; outline-style: none !important; vertical-align: bottom; }
.dropdown-select { padding-right: 24px; }
.icon-button::before { background: transparent none no-repeat scroll 0px 0px; content: ""; display: inline-block; float: right; height: 12px; margin: 3px 0px 0px 2px; width: 12px; }
.dropdown-select.icon-button::before { margin-right: 4px; }
.dropdown-select::after { background-position: -103px 10px; border-left: 1px solid; content: ""; position: absolute; top: 0px; right: 0px; height: 22px; width: 16px; }
.dropdown-visible .dropdown-select::after, .nojs .dropdown-container:hover .dropdown-select::after { background-position: -103px -10px; }
.buttons, .buttons .button { float: left; }
.buttons .button, .dropdown-select { margin-right: 5px; }
#jumpbox .dropdown-select { margin: 0px; }
.reply-icon::before, .pmreply-icon::before { background-position: -20px 0px; }
.reply-icon:hover::before, .pmreply-icon:hover::before { background-position: -20px -20px; }
.post-icon::before, .newpm-icon::before, .reply-all::before { background-position: 0px 0px; }
.post-icon:hover::before, .newpm-icon:hover::before, .reply-all:hover::before { background-position: 0px -20px; }
.locked-icon::before { background-position: -60px 0px; }
.locked-icon:hover::before { background-position: -60px -20px; }
.forwardpm-icon::before { background-position: -40px 0px; }
.forwardpm-icon:hover::before { background-position: -40px -20px; }
.tools-icon::before, .modtools-icon::before, .search-icon::before, .search-adv-icon::before { background-position: -80px 0px; height: 16px; margin-top: 2px; width: 16px; }
.dropdown-visible .tools-icon::before, .nojs .dropdown-container:hover .tools-icon::before { background-position: -80px -20px; }
.search-icon::before { background-position: -245px 0px; }
.search-icon:hover::before { background-position: -245px -20px; }
.search-adv-icon::before { background-position: -265px 0px; }
.search-adv-icon:hover::before { background-position: -265px -20px; }
.modtools-icon::before { background-position: -225px 0px; }
.dropdown-visible .modtools-icon::before, .nojs .dropdown-container:hover .modtools-icon::before { background-position: -225px -20px; }
.small-icon { background-position: 0px 50%; background-repeat: no-repeat; background-image: none; }
.small-icon > a { display: inline-block; padding: 0px 0px 0px 18px; }
ul.linklist.bulletin > li.small-icon::before { display: none; }
.dropdown .small-icon > a { display: block; }
.contact-icons.dropdown-contents { min-width: 0px; padding: 0px; font-size: 0px; }
.contact-icon { background-repeat: no-repeat; display: block; height: 16px; width: 16px; }
.contact-icons a { border-bottom: 1px dotted; border-right: 1px dotted; display: block; float: left; padding: 8px; }
.contact-icons .last-cell { border-right: medium none; }
.contact-icons div:last-child a { border-bottom: medium none; }
.contact-icons div { clear: left; }
.phpbb_icq-icon { background-position: -61px 0px; }
.phpbb_website-icon { background-position: -40px 0px; }
.post-buttons { float: right; list-style: outside none none; margin-top: 2px; }
.has-profile .post-buttons { float: none; position: absolute; margin: 0px; right: 0px; top: 5px; }
.post-buttons > li { float: left; margin-right: 3px; }
.post-buttons .icon-button { padding: 0px 5px; }
.post-buttons .icon-button span { display: block; height: 0px; overflow: hidden; position: absolute; width: 1px; }
.post-buttons .icon-button::before { margin-left: 0px; }
.quote-icon::before { background-position: -122px 0px; }
.quote-icon:hover::before { background-position: -122px -21px; }
.edit-icon::before { background-position: -137px 0px; }
.edit-icon:hover::before { background-position: -137px -21px; }
.warn-icon::before { background-position: -208px 0px; }
.warn-icon:hover::before { background-position: -208px -21px; }
.delete-icon::before { background-position: -152px 0px; }
.delete-icon:hover::before { background-position: -152px -21px; }
.report-icon::before { background-position: -165px 0px; }
.report-icon:hover::before { background-position: -165px -21px; }
.info-icon::before { background-position: -175px 0px; }
.info-icon:hover::before { background-position: -175px -21px; }
.button.responsive-menu-link::before { background-position: -191px 0px; }
.button.responsive-menu-link:hover::before { background-position: -191px -21px; }
.post-buttons .dropdown { top: 18px; }
.hasjs .postbody .post-buttons { max-width: 40%; }
button::-moz-focus-inner { padding: 0px; border: 0px none; }
/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/cp.css ::::: */

.responsive-tab .responsive-tab-link::before { content: ""; position: absolute; left: 10px; top: 7px; height: 0.125em; width: 14px; border-bottom: 0.125em solid transparent; border-top: 0.375em double transparent; }
@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
}
/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/forms.css ::::: */

fieldset { border-width: 0px; font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 1.1em; }
input { font-weight: normal; vertical-align: middle; padding: 0px 3px; font-size: 1em; font-family: Verdana,Helvetica,Arial,sans-serif; }
select { font-family: Verdana,Helvetica,Arial,sans-serif; font-weight: normal; cursor: pointer; vertical-align: middle; border: 1px solid transparent; padding: 1px; font-size: 1em; }
select:focus { outline-style: none; }
option { padding-right: 1em; }
label { cursor: default; padding-right: 5px; }
fieldset.display-options { text-align: center; margin: 3px 0px 5px; }
fieldset.display-options label { white-space: nowrap; padding-right: 2px; }
.inputbox { border: 1px solid transparent; padding: 2px; }
.inputbox:hover, .inputbox:focus { border: 1px solid transparent; outline-style: none; }
input.inputbox { width: 85%; }
input.tiny { width: 150px; }
input[type="search"] { box-sizing: content-box; }
input.button1, input.button2 { font-size: 1em; }
a.button1, input.button1, input.button3, a.button2, input.button2 { width: auto !important; padding-top: 1px; padding-bottom: 1px; font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif; background: transparent none repeat-x scroll left top; }
input[type="button"], input[type="submit"], input[type="reset"], input[type="checkbox"], input[type="radio"] { cursor: pointer; }
a.button2, input.button2, input.button3 { border: 1px solid transparent; }
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover { border: 1px solid transparent; background-position: 0px 100%; }
input.button1:focus, input.button2:focus, input.button3:focus { outline-style: none; }
.search-box { float: left; }
.search-box .inputbox { background-image: none; border-right-width: 0px; border-radius: 4px 0px 0px 4px; float: left; height: 24px; padding: 3px; box-sizing: border-box; }
.search-box button { float: left; }
.search-box button.search-icon { border-radius: 0px; font-size: 0px; height: 24px; margin: 0px; padding: 3px 5px; }
.search-box a.button { border-left-width: 0px; border-radius: 0px 4px 4px 0px; font-size: 0px; margin: 0px; padding: 2px 5px 2px 3px; }
.search-header { border-radius: 4px; display: block; float: right; margin-right: 5px; margin-top: 30px; }
.search-header .inputbox { border: 0px none; }
.search-header button { border-top: 0px none; border-bottom: 0px none; }
.search-header a.button { border-width: 0px 0px 0px 1px; border-style: none; border-color: currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 3px 5px 3px 4px; }
input.search { background-image: none; background-repeat: no-repeat; background-position: left 1px; padding-left: 17px; }
.tiny { width: 10%; }
/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/colours.css ::::: */

html, body { color: rgb(83, 100, 130); background-color: rgb(245, 247, 250); }
h1 { color: rgb(255, 255, 255); }
h2 { color: rgb(40, 49, 63); }
h3 { border-bottom-color: rgb(204, 204, 204); color: rgb(17, 80, 152); }
hr { border-color: rgb(204, 204, 204) rgb(255, 255, 255) rgb(255, 255, 255); }
.search-box .inputbox, .search-box .inputbox:hover, .search-box .inputbox:focus, .search-box .button:hover { border-color: rgb(199, 195, 191); }
.search-header { box-shadow: 0px 0px 10px rgb(0, 117, 176); }
#wrap { background-color: rgb(255, 255, 255); border-color: rgb(230, 233, 237); }
.headerbar { background-color: rgb(18, 163, 235); background-image: url('bg_header.gif'); color: rgb(255, 255, 255); }
.navbar { background-color: rgb(202, 220, 235); }
.post:target .content { color: rgb(0, 0, 0); }
.post:target h3 a { color: rgb(0, 0, 0); }
.bg1 { background-color: rgb(236, 243, 247); }
table.zebra-list tr:nth-child(2n+1) td, ul.zebra-list li:nth-child(2n+1) { background-color: rgb(236, 243, 247); }
.bg2 { background-color: rgb(225, 235, 242); }
table.zebra-list tr:nth-child(2n) td, ul.zebra-list li:nth-child(2n) { background-color: rgb(225, 235, 242); }
ul.navlinks { border-top-color: rgb(255, 255, 255); }
.copyright { color: rgb(85, 85, 85); }
div.rules { background-color: rgb(236, 213, 216); color: rgb(188, 42, 77); }
p.post-notice.deleted::before { background-image: url('icon_topic_deleted.png'); }
p.post-notice.unapproved::before { background-image: url('icon_topic_unapproved.gif'); }
p.post-notice.reported::before, p.post-notice.error::before { background-image: url('icon_topic_reported.gif'); }
a { color: rgb(16, 82, 137); }
a:hover { color: rgb(211, 17, 65); }
.postlink { color: rgb(54, 138, 210); border-bottom-color: rgb(54, 138, 210); }
.postlink:visited { color: rgb(93, 143, 189); border-bottom-color: rgb(93, 143, 189); }
.postlink:hover { background-color: rgb(208, 228, 246); color: rgb(13, 68, 115); }
.signature a, .signature a:hover { background-color: transparent; }
a.top { background-image: url('icon_back_top.gif'); }
a.arrow-left { background-image: url('arrow_left.gif'); }
a.arrow-left:hover { color: rgb(54, 138, 210); }
.postbody { color: rgb(51, 51, 51); }
.content { color: rgb(51, 51, 51); }
.signature { border-top-color: rgb(204, 204, 204); }
blockquote { background-color: rgb(235, 234, 221); background-image: url('quote.gif'); border-color: rgb(219, 219, 206); }
.codebox { background-color: rgb(255, 255, 255); border-color: rgb(201, 210, 216); }
.codebox p { border-bottom-color: rgb(204, 204, 204); }
.codebox code { color: rgb(46, 139, 87); }
.postprofile { color: rgb(102, 102, 102); border-color: rgb(255, 255, 255); }
.postprofile strong { color: rgb(0, 0, 0); }
.button { border-color: rgb(199, 195, 191); background-color: rgb(255, 255, 255); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(233, 233, 233)); box-shadow: 0px 0px 0px 1px rgb(255, 255, 255) inset; color: rgb(211, 17, 65); }
.dropdown-select { color: rgb(83, 100, 130); }
.button:hover, .dropdown-visible .dropdown-select, .nojs .dropdown-container:hover .dropdown-select { border-color: rgb(10, 142, 208); background-image: linear-gradient(to bottom, rgb(233, 233, 233), rgb(255, 255, 255)); text-shadow: 1px 1px 0px rgb(255, 255, 255), -1px -1px 0px rgb(255, 255, 255), -1px -1px 0px rgba(188, 42, 77, 0.2); }
.dropdown-select::after { border-color: rgb(218, 218, 218); }
.dropdown-select:hover { border-color: rgb(199, 195, 191); }
.contact-icons a { border-color: rgb(220, 220, 220); }
.contact-icons a:hover { background-color: rgb(242, 246, 249); }
.icon-delete-cookies { background-image: url('icon_delete_cookies.gif'); }
.icon-home { background-image: url('icon_home.gif'); }
.icon-logout { background-image: url('icon_logout.gif'); }
.icon-print { background-image: url('icon_print.gif'); }
.icon-register { background-image: url('icon_register.gif'); }
.icon-search, .responsive-search a { background-image: url('icon_search.gif'); }
.icon-search-active { background-image: url('subforum_read.gif'); }
.icon-search-unanswered { background-image: url('icon_post_target.gif'); }
.contact-icon { background-image: url('icons_contact.png'); }
.icon-button::before, .dropdown-select::after { background-image: url('icons_button.png'); }
.responsive-tab .responsive-tab-link::before { border-color: rgb(83, 100, 130); }
.responsive-tab .responsive-tab-link:hover::before { border-color: rgb(211, 17, 65); }
@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
}
select { border-color: rgb(102, 102, 102); background-color: rgb(250, 250, 250); color: rgb(0, 0, 0); }
label { color: rgb(66, 80, 103); }
.inputbox { background-color: rgb(255, 255, 255); border-color: rgb(180, 186, 192); color: rgb(51, 51, 51); }
.inputbox:-moz-placeholder { color: rgb(51, 51, 51); }
.inputbox:hover { border-color: rgb(17, 163, 234); }
.inputbox:focus { border-color: rgb(17, 163, 234); color: rgb(15, 73, 135); }
.inputbox:focus:-moz-placeholder { color: transparent; }
a.button1, input.button1, input.button3, a.button2, input.button2 { color: rgb(0, 0, 0); background-color: rgb(250, 250, 250); background-image: url('bg_button.gif'); }
a.button2, input.button2, input.button3 { border-color: rgb(102, 102, 102); }
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover { border-color: rgb(188, 42, 77); color: rgb(188, 42, 77); }
input.button1:focus, input.button2:focus, input.button3:focus { border-color: rgb(17, 163, 234); color: rgb(15, 73, 135); }
input.search { background-image: url('icon_textbox_search.gif'); }
.phpbb_alert { background-color: rgb(255, 255, 255); border-color: rgb(153, 153, 153); }
.phpbb_alert .alert_close { background-image: url('alert_close.png'); }
#darken { background-color: rgb(0, 0, 0); }
#loading_indicator { background-color: rgb(0, 0, 0); background-image: url('loading.gif'); }
.dropdown .pointer { border-color: rgb(185, 185, 185) transparent; }
.dropdown .pointer-inner { border-color: rgb(255, 255, 255) transparent; }
ul.linklist li.responsive-menu a.responsive-menu-link::before { border-color: rgb(16, 82, 137); }
ul.linklist li.responsive-menu a.responsive-menu-link:hover::before, ul.linklist li.responsive-menu.visible a.responsive-menu-link::before { border-color: rgb(211, 17, 65); }
.dropdown .dropdown-contents { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(185, 185, 185); box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2); }
.dropdown-up .dropdown-contents { box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2); }
.dropdown li, .dropdown li li { border-color: rgb(220, 220, 220); }
.dropdown li.separator { border-color: rgb(220, 220, 220); }
/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/imageset.css ::::: */

span.imageset { display: inline-block !important; background: transparent none no-repeat scroll 0px 0px; margin: 0px; padding: 0px; width: 0px; height: 0px; overflow: hidden; }
.imageset.site_logo { background-image: url('videolan_cone_45px.png'); padding-left: 45px; padding-top: 52px; }
.imageset.icon_post_target { background-image: url('icon_post_target.gif'); padding-left: 11px; padding-top: 9px; }
.imageset.icon_contact { background-image: url('icon_contact.png'); padding-left: 16px; padding-top: 12px; }
/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/en/stylesheet.css?assets_version=92 ::::: */

/* ::::: https://forum.videolan.org/styles/videolan-3.1/theme/responsive.css?assets_version=92 ::::: */

.responsive-hide { display: none !important; }
html { height: auto; }
body { padding: 0px; }
#wrap { border: medium none; border-radius: 0px; margin: 0px; min-width: 290px; padding: 0px 5px; }
.headerbar, .navbar, .forabg, .forumbg, .post, .panel { border-radius: 0px; margin-left: -5px; margin-right: -5px; }
#site-description { float: none; width: auto; text-align: center; }
.logo { display: none; float: none; padding: 10px; }
#site-description h1, #site-description p { text-align: inherit; float: none; margin: 5px; line-height: 1.2em; overflow: hidden; text-overflow: ellipsis; }
#site-description p, .search-header { display: none; }
.headerbar + .navbar { margin-top: -5px; }
.responsive-search { display: block !important; }
.responsive-search a { display: block; width: 16px; height: 22px; text-indent: 99px; overflow: hidden; background-position: 50% 50%; background-repeat: no-repeat; text-decoration: none; }
@media only screen and (max-width: 550px), only screen and (max-device-width: 550px) {
}
@media only screen and (max-width: 350px), only screen and (max-device-width: 350px) {
}
table.responsive td > dfn::after { content: ":"; padding-right: 5px; }
.horizontal-palette td:nth-child(2n), .vertical-palette tr:nth-child(2n) { display: none; }
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
	select, .inputbox { max-width: 260px; }
}
@media only screen and (max-width: 430px), only screen and (max-device-width: 430px) {
	.section-viewtopic .search-box .inputbox { width: 110px; }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
	select, .inputbox { max-width: 240px; }
}
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
}
.postbody { position: inherit; }
.postprofile, .postbody, .search .postbody { display: block; width: auto; float: none; padding: 0px; min-height: 0px; }
.post .postprofile { width: auto; border-width: 0px 0px 1px; padding-bottom: 5px; margin: 0px 0px 5px; min-height: 40px; overflow: hidden; }
.postprofile dd { display: none; }
.postprofile dt, .postprofile dd.profile-rank, .search .postprofile dd { display: block; margin: 0px; }
.postprofile .avatar-container::after { clear: none; }
.has-profile .postbody h3 { margin-left: 0px !important; margin-right: 0px !important; }
.has-profile .post-buttons { right: 20px; top: 15px; }
h2 { margin-top: 0.5em; }
p { margin-bottom: 0.5em; overflow: hidden; }
fieldset.display-options label { display: block; clear: both; margin-bottom: 5px; }
.phpbb_alert { width: auto; margin: 0px 5px; }
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
	.action-bar > div { margin-bottom: 5px; }
	.action-bar > .pagination { float: none; clear: both; padding-bottom: 1px; text-align: center; }
	p.jumpbox-return { display: none; }
	.display-options > label:nth-child(1) { display: block; margin-bottom: 5px; }
}
