/* ::::: https://img3.doubanio.com/f/shire/420c6a4b676c73bc6af48dfcdd18b662f5c223d7/css/douban.css ::::: */

html { color: rgb(17, 17, 17); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, i, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
ul, ol { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q::before, q::after { content: ""; }
legend { color: rgb(0, 0, 0); }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select {  }
a { cursor: pointer; }
a:link { color: rgb(51, 119, 170); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); text-decoration: none; background: rgb(51, 119, 170) none repeat scroll 0% 0%; }
a:active { color: rgb(255, 255, 255); text-decoration: none; background: rgb(255, 153, 51) none repeat scroll 0% 0%; }
a img { border-width: 0px; vertical-align: middle; }
body, td, th { font: 12px/1.62 Helvetica,Arial,sans-serif; }
table { border-collapse: collapse; border: medium none; padding: 0px; margin: 0px; }
wbr::after { content: "​"; }
textarea { resize: none; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: medium none; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
#wrapper { width: 950px; margin: 0px auto; }
#content { min-height: 420px; }
#footer { color: rgb(153, 153, 153); padding: 6px 0px; margin-top: 40px; overflow: hidden; border-top: 1px dashed rgb(221, 221, 221); }
.grid-16-8 .article { float: left; width: 590px; padding-right: 40px; }
.grid-16-8 .aside { float: right; width: 310px; }
fieldset { border: 1px solid rgb(221, 221, 221); padding: 0px 10px; margin-bottom: 15px; }
fieldset legend { color: rgb(102, 102, 102); padding: 0px 5px; }
input { margin-right: 3px; vertical-align: middle; }
label { font-family: Tahoma; vertical-align: middle; }
.extra { clear: both; text-align: right; }
form { margin: 0px; padding: 0px; border: 0px none; }
textarea { font-family: Arial; overflow: auto; }
input { font-size: 12px; }
a { cursor: pointer; }
a:link { color: rgb(51, 119, 170); text-decoration: none; }
a:visited { color: rgb(102, 102, 153); text-decoration: none; }
a:hover { color: rgb(255, 255, 255); text-decoration: none; background: rgb(51, 119, 170) none repeat scroll 0% 0%; }
a:active { color: rgb(255, 255, 255); text-decoration: none; background: rgb(255, 153, 51) none repeat scroll 0% 0%; }
a img { border-width: 0px; vertical-align: middle; }
table { border-collapse: collapse; border: medium none; padding: 0px; margin: 0px; }
h1 { overflow-wrap: break-word; display: block; font-size: 25px; font-weight: bold; color: rgb(73, 73, 73); margin: 0px; padding: 0px 0px 15px; line-height: 1.1; }
h3 { margin-left: 4px; font: 14px/1.8 Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); margin-bottom: 1px; background-color: rgb(242, 251, 242); }
ul { list-style-type: none; margin: 0px; padding: 0px; }
h4 { height: 26px; margin: 0px 0px 10px 4px; overflow: hidden; font: 12px/1.62 Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); background-color: rgb(242, 251, 242); }
h2 { font: 15px/150% Arial,Helvetica,sans-serif; color: rgb(0, 119, 34); margin: 0px 0px 12px; }
.rr { float: right; }
textarea { border: 1px solid rgb(204, 204, 204); padding: 3px; font-size: 14px; }
.pl { font: 12px/150% Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); }
.txd textarea { width: 98%; }
.pil { height: 48px; width: 48px; }
wbr::after { content: "​"; }
#comments { width: 100%; overflow-wrap: break-word; overflow: hidden; padding: 20px 0px 0px; }
.clearbox::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.nof::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.fleft { float: left; }
.fright { float: right; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.color-green { color: rgb(0, 119, 34); }
.topic-content .user-face, .topic-reply .user-face { float: left; width: 48px; height: 48px; overflow: hidden; }
.topic-content .topic-doc { float: right; width: 520px; margin-bottom: 10px; }
.topic-content .topic-doc h3 { margin: 0px; padding: 5px 0px; height: auto; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.topic-content .topic-doc p { margin: 0px; padding: 0px; overflow-wrap: break-word; overflow: hidden; }
.topic-reply li { margin: 0px 0px 20px 48px; position: relative; }
.topic-reply li .reply-doc { float: right; width: 473px; }
.topic-reply li .reply-doc h4 { margin: 0px 0px 15px 4px; height: 22px; line-height: 22px; }
.topic-reply li .reply-doc p { margin: 0px 0px 25px; overflow-wrap: break-word; overflow: hidden; }
.bg-img-green { display: block; background: rgb(242, 251, 242) none repeat scroll 0% 0%; }
.aside .mod { margin-bottom: 40px; word-break: break-all; }
.mod::after { content: " "; display: block; clear: both; }
@media not all {
}
.aside .mod { margin: 0px 0px 40px; }
@media not all, not all {
}
@media not all {
}
.infobox .bd::after { content: " "; display: block; clear: both; }
.btn-fav { display: inline-block; padding: 0px 8px 0px 30px; vertical-align: middle; height: 19px; line-height: 19px; overflow: hidden; border: 1px solid rgb(237, 206, 186); margin-left: 4px; border-radius: 3px; }
a.btn-fav:link, a.btn-fav:visited { border-color: rgb(242, 236, 231); background-color: rgb(255, 246, 238); color: rgb(153, 119, 107); }
a.btn-fav:hover, a.btn-fav:active { border-color: rgb(237, 206, 186); background-color: rgb(255, 240, 226); color: rgb(153, 119, 107); }
.fav-add, .fav-add:link, .fav-add:hover { background: rgba(0, 0, 0, 0) url('ic_like.png') no-repeat scroll 8px 3px; }
.sns-bar { clear: both; overflow: hidden; margin-bottom: 20px; padding-top: 20px; color: rgb(102, 102, 102); }
.sns-bar-fav { float: right; }
.update-item, .comment-item { overflow: hidden; margin-bottom: 1.6em; }
.update-item .content, .comment-item .content { overflow: hidden; }
#interest_sectl .rating_self::before, #interest_sectl .rating_self::after { content: ""; display: block; clear: both; }
img.rating:nth-child(1) { padding-left: 10px; }
.result::after { content: " "; clear: both; display: block; }
@media not all, (min-resolution: 2dppx), (min-resolution: 192dpi) {
}
@media not all, (min-resolution: 2dppx), (min-resolution: 192dpi) {
}
/* ::::: https://img3.doubanio.com/f/shire/8377b9498330a2e6f056d863987cc7a37eb4d486/css/ui/dialog.css ::::: */

.dui-dialog .bd::after { content: " "; clear: both; display: block; }
/* ::::: https://img3.doubanio.com/f/shire/6955e5a57af3e891380cbab06b7c68e8c919404c/css/doulist/tooltip.css ::::: */

/* ::::: https://img3.doubanio.com/misc/mixed_static/2808a87bfde50aaa.css ::::: */

.grid-16-8 .aside { width: 300px; }
h2 { font-size: 15px; color: rgb(17, 17, 17); }
td, th { overflow-wrap: break-word; }
.operation_div .lnk-delete-comment { display: none; }
.topic-doc { font-size: 14px; line-height: 1.62; }
.clearfix { clear: both; }
.topic-reply .user-face { float: left; width: 48px; height: 48px; margin-right: 20px; overflow: hidden; }
.topic-reply li { margin: 0px 0px 20px; position: relative; }
.topic-reply li .reply-doc { float: none; width: auto; overflow: hidden; }
.reply-doc .pubtime { margin: 0px 1em; }
.topic-content .from { margin-right: 1em; }
.topic-reply li { margin-bottom: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.operation-more { display: inline-block; }
.operation_div { position: absolute; right: 5px; bottom: 0px; line-height: 1; }
.operation_div span, .operation_div a { margin-left: 10px; float: right; }
#comments .comment-report a:link, #comments .comment-report a:visited, .operation_div a:link, .operation_div a:visited { color: rgb(170, 170, 170); }
.operation_div a:hover, .operation_div a:active { background-color: rgb(170, 170, 170); color: rgb(255, 255, 255); }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	#db-global-nav { min-width: 600px; width: auto; }
	#db-nav-group { min-width: 600px; }
	#db-nav-group .nav-primary { width: auto; padding: 12px 12px 6px !important; }
	#db-nav-group li:nth-child(n+3) { display: none; }
	#db-nav-group div.nav-search { right: 10px; }
	#wrapper { padding: 0px 16px; }
	.grid-16-8 .article { width: 100%; padding-right: 0px; font-size: 16px; }
	.grid-16-8 .aside { width: 100%; margin-top: 20px; }
	#wrapper::before { content: ""; display: block; }
	#g-side-info, #g-side-info-member {  }
	.topic-content .topic-doc { font-size: 16px; }
	#reviews a { font-size: 16px; }
	#dale_group_topic_bottom_super_banner { overflow: hidden; }
}
.topic-content .topic-doc .topic-richtext .separator hr::before { position: absolute; content: ""; font-size: 0px; width: 100px; top: 50%; left: 50%; margin: -2px 0px 0px -50px; border-top: 1px solid rgb(223, 223, 223); border-bottom: 1px solid rgb(223, 223, 223); }
.topic-content .topic-doc .topic-richtext .video-card .video-card-cover a::before, .topic-content .topic-doc .topic-richtext .video-card .video-card-cover::before { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 1; background-color: rgba(0, 0, 0, 0.5); background-repeat: no-repeat; background-position: 50% 50%; background-image: url('svg_video_play.svg'); }
.topic-content .topic-doc .topic-richtext .video-card .video-card-cover a:hover::before, .topic-content .topic-doc .topic-richtext .video-card .video-card-cover:hover::before { background-color: transparent; }
.topic-content .topic-doc .topic-richtext .video-card .video-card-error p::before { content: ""; display: inline-block; width: 16px; height: 16px; margin-right: 1em; vertical-align: text-bottom; background-repeat: no-repeat; background-position: 50% 50%; background-image: url('svg_warn.svg'); }
.topic-content .topic-doc .topic-richtext .separator hr::before { position: absolute; content: ""; font-size: 0px; width: 100px; top: 50%; left: 50%; margin: -2px 0px 0px -50px; border-top: 1px solid rgb(223, 223, 223); border-bottom: 1px solid rgb(223, 223, 223); }
.topic-content .topic-doc .topic-richtext .video-card .video-card-cover a::before, .topic-content .topic-doc .topic-richtext .video-card .video-card-cover::before { content: ""; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; z-index: 1; background-color: rgba(0, 0, 0, 0.5); background-repeat: no-repeat; background-position: 50% 50%; background-image: url('svg_video_play.svg'); }
.topic-content .topic-doc .topic-richtext .video-card .video-card-cover a:hover::before, .topic-content .topic-doc .topic-richtext .video-card .video-card-cover:hover::before { background-color: transparent; }
.topic-content .topic-doc .topic-richtext .video-card .video-card-error p::before { content: ""; display: inline-block; width: 16px; height: 16px; margin-right: 1em; vertical-align: text-bottom; background-repeat: no-repeat; background-position: 50% 50%; background-image: url('svg_warn.svg'); }
.topic-content .topic-doc .topic-richtext .video-card > a:hover .video-card-cover::before, .topic-content .topic-doc .topic-richtext .video-card > a:active .video-card-cover::before { background-color: transparent; }
.image-badge-gif .image-gif-button-play::before { content: "▶"; font-size: 8px; display: inline-block; width: 14px; height: 14px; vertical-align: text-bottom; line-height: 14px; overflow: hidden; margin-right: 2px; }
.image-badge-gif .image-gif-loading::before { content: " "; display: inline-block; width: 14px; height: 14px; vertical-align: middle; margin-right: 2px; background: rgba(0, 0, 0, 0) url('loading.svg') no-repeat scroll 50% 50%; }
.image-badge-gif .image-gif-button-reload::before { content: " "; display: inline-block; width: 18px; height: 18px; vertical-align: middle; background: rgba(0, 0, 0, 0) url('reload.svg') no-repeat scroll 50% 50%; }
.aside .mod { margin-bottom: 20px; }
.topic-doc, .reply-doc { position: relative; }
.topic-reply li .reply-doc p { font-size: 14px; padding-bottom: 10px; }
#content .article { margin-bottom: 4em; }
.nav { width: 100%; min-width: 950px; overflow: hidden; margin-bottom: 40px; }
.nav .nav-wrap { border-bottom: 1px solid rgb(229, 235, 228); }
.nav .nav-primary, .nav .nav-secondary { width: 950px; margin: 0px auto; padding-bottom: 0px; overflow: hidden; }
.nav .nav-primary { position: relative; padding: 10px 0px 5px; overflow: hidden; }
.nav .nav-logo { float: left; height: 56px; width: 145px; margin: 0px 13px 0px 0px; background: rgba(0, 0, 0, 0) url('lg_main_a11_1.png') no-repeat scroll 0px 12px; }
.nav .nav-logo a { display: block; width: 100%; height: 100%; overflow: hidden; line-height: 100em; }
.nav .nav-logo a:hover, .nav .nav-logo a:active { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important; }
.nav-search { position: relative; overflow: hidden; padding: 10px 0px 15px; }
.nav-search input { border: medium none; background: transparent none repeat scroll 0% 0%; }
.nav-search label { position: absolute; left: 11px; top: 10px; line-height: 30px; cursor: text; color: rgb(187, 187, 187); width: auto; }
.nav-search :-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search *::-moz-placeholder { color: rgb(187, 187, 187); }
.nav-search .inp { float: left; width: 470px; height: 34px; text-align: center; cursor: text; background: rgba(0, 0, 0, 0) url('nav_bg_a1.png') no-repeat scroll 0px 0px; }
.nav-search .inp input { background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 96%; margin: 0px; text-align: left; height: 30px; padding-left: 10px; outline: medium none; }
.nav-search legend { display: none; }
.nav-search fieldset { border: medium none; padding: 0px; margin: 0px; position: static; }
.nav-search .inp-btn { position: relative; left: -1px; width: 37px; height: 34px; overflow: hidden; }
.nav-search .inp-btn input { width: 100%; height: 100%; font-size: 0px; padding: 35px 0px 0px; overflow: hidden; background: rgba(0, 0, 0, 0) url('nav_bg_a1.png') no-repeat scroll 0px -40px; color: transparent; cursor: pointer; }
.nav-search .inp-btn input:hover { background-position: -40px -40px; }
.nav-search .inp-btn input:active { background-position: 0px -40px; }
.nav-secondary::after { content: " "; display: block; clear: both; }
#db-nav-group .nav-search .inp { background-image: url('nav_mv_bg.png'); }
#db-nav-group .nav-search .inp-btn input { background-image: url('nav_mv_bg.png'); }
.clearfix::after { content: "."; display: block; height: 0px; visibility: hidden; clear: both; }
.clearfix {  }
#db-nav-group { position: relative; background: rgb(240, 246, 243) none repeat scroll 0% 0%; overflow: visible; }
#db-nav-group .nav-wrap { border: medium none; }
#db-nav-group .nav-primary { overflow: visible; padding: 12px 0px 6px; }
#db-nav-group .nav-logo { background-image: url('lg_group_a11_2.png'); }
#db-nav-group a:link, #db-nav-group a:visited { color: rgb(3, 123, 130); }
#db-nav-group a:hover, #db-nav-group a:active { background-color: rgb(3, 123, 130); color: rgb(255, 255, 255); }
#db-nav-group .nav-search { position: absolute; right: 0px; }
#db-nav-group li { display: inline; }
#db-nav-group .nav-items { float: left; margin-top: 15px; }
#db-nav-group .nav-items li { margin-right: 30px; font-size: 15px; }
#db-nav-group .nav-search label { top: 11px; line-height: 28px; }
#db-nav-group .nav-search .inp { width: 278px; height: 28px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(225, 233, 225); text-align: left; border-radius: 0px; }
#db-nav-group .nav-search .inp input { margin: 0px; width: 242px; height: 28px; }
#db-nav-group .nav-search .inp-btn { position: absolute; left: auto; top: 10px; right: 0px; width: 30px; height: 28px; border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(225, 233, 225) rgb(225, 233, 225) rgb(225, 233, 225) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(255, 255, 255); font-size: 0px; overflow: hidden; }
#db-nav-group .nav-search .inp-btn input { width: 30px; height: 28px; padding: 0px; margin: 0px; line-height: 100px; background: transparent url('bn_srh_1.png') no-repeat scroll 50% 50%; }
.nlst, .nlst h3, .bg-img-green h4 { background-color: rgb(240, 246, 243); }
.topic-content .topic-opt .topic-admin-opts .fleft::before { content: "|"; display: inline-block; vertical-align: middle; width: 12px; height: 15px; overflow: hidden; font-size: 1em; line-height: 1; color: rgb(187, 187, 187); }
.topic-content { margin-bottom: 20px; }
.sns-bar { padding-top: 1em; }
#link-report_group { overflow: hidden; font-size: 13px; color: rgb(187, 187, 187); }
.topic-reply .reply-doc .via, #link-report_group .via { float: left; color: rgb(187, 187, 187); }
.topic-reply .reply-doc .via a:link, .topic-reply .reply-doc .via a:visited, #link-report_group .via a:link, #link-report_group .via a:visited { color: rgb(187, 187, 187); }
.topic-reply .reply-doc .via a:hover, #link-report_group .via a:hover { color: rgb(255, 255, 255); background: rgb(187, 187, 187) none repeat scroll 0% 0%; }
.sns-bar .sns-bar-fav, .sns-bar-fav > .sharing { float: right; }
.fav-tag-tip::after { content: " "; position: absolute; right: 20px; bottom: -18px; height: 0px; width: 0px; border-width: 10px 10px 0px; border-style: solid solid none; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(102, 102, 102) rgb(255, 255, 255) currentcolor; opacity: 0.4; }
.sns-bar-fav .fav-add, .sns-bar-fav .fav-cancel { height: 12px; line-height: 1; border-radius: 2px; padding: 6px 9px 4px; }
.sns-bar-fav .fav-add:link, .sns-bar-fav .fav-add:visited { color: rgb(202, 100, 69); border: 1px solid rgb(250, 213, 181); background: rgb(251, 233, 217) none repeat scroll 0% 0%; }
.sns-bar-fav .fav-add:hover, .sns-bar-fav .fav-add:active { color: rgb(202, 100, 69); border: 1px solid rgb(248, 199, 157); background: rgb(251, 233, 217) none repeat scroll 0% 0%; }
.sns-bar-fav { float: right; }
.sns-bar .sns-bar-fav .btn-fav { padding: 6px 9px; box-sizing: content-box; }
.tabs { font-size: 0px; letter-spacing: -0.31em; word-spacing: -0.43em; }
.tabs a { display: inline-block; padding: 1px 8px; margin-right: 5px; }
.tabs a:link, .tabs a:visited, .tabs a:hover, .tabs a:active { font-size: 13px; line-height: 1.2; letter-spacing: normal; word-spacing: normal; }
.tabs a:hover, .tabs a:active { border-radius: 3px; }
.tabs a.on:link, .tabs a.on:visited, .tabs a.on:hover, .tabs a.on:active { color: rgb(255, 255, 255); background: rgb(131, 191, 115) none repeat scroll 0% 0%; border-radius: 3px; }
.tabs { margin: 40px 0px 10px; padding-bottom: 8px; border-bottom: 1px solid rgb(230, 230, 230); }
#g-side-info { margin-bottom: 15px; border: 1px solid rgb(238, 238, 238); }
#g-side-info .bd { padding: 10px; overflow: hidden; }
.group-item .pic { float: left; margin-right: 12px; width: 48px; }
.group-item .pic img { width: 100%; }
.group-item .info { overflow: hidden; margin-right: 24px; }
.group-item .title { font-size: 15px; }
#g-side-info .ft { background-color: rgb(248, 248, 248); font-size: 14px; padding: 6px 0px; }
#g-side-info .ft { background-color: rgb(237, 246, 237); padding: 10px 0px; }
#g-side-info .ft-members { margin-bottom: 10px; line-height: 1.5; color: rgb(102, 102, 102); }
#g-side-info .ft-members i { color: rgb(51, 119, 0); }
.bn-join, .lnk-selection { padding: 0px 10px; display: inline-block; line-height: 1.8; text-align: center; border-radius: 3px; }
.bn-join:link, .bn-join:visited, .bn-join:hover, .bn-join:active, .lnk-selection:link, .lnk-selection:visited, .lnk-selection:hover, .lnk-selection:active { background-color: rgb(63, 161, 86); color: rgb(255, 255, 255); }
.lnk-selection:active, .lnk-selection:hover { background-color: rgb(68, 175, 93); }
#g-side-info .ft .member-status { padding-left: 70px; }
.topic-list ul { margin-top: -5px; }
.topic-list li { padding: 5px 0px; margin: 0px; border-bottom: 1px dashed rgb(221, 221, 221); line-height: 1.4; }
.back-to-top { display: none; position: fixed; width: 100px; height: 40px; overflow: hidden; }
.back-to-top a { position: absolute; left: 0px; top: 40px; }
@font-face {
	font-family: "groupicons";
	font-style: normal;
	font-weight: normal;
	src: url('groupicons.eot') format("embedded-opentype"), url('groupicons.woff') format("woff"), url('groupicons.ttf') format("truetype"), url('groupicons.svg') format("svg");
}
.groupicon-qq::before, .item-3rd .item-qq::before, .groupicon-weibo::before, .item-3rd .item-weibo::before, [data-icon]::before { font-family: "groupicons"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }
.groupicon-qq::before, .item-3rd .item-qq::before { content: ""; }
.groupicon-weibo::before, .item-3rd .item-weibo::before { content: ""; }
[data-icon]::before { content: attr(data-icon); }
#wrapper.landing { padding-bottom: 61px; }
#g-popup-reg { position: fixed; z-index: 100; left: 30%; top: 20%; overflow: hidden; box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2); }
#g-popup-reg .bd { border: 1px solid rgb(238, 238, 238); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#g-popup-reg iframe { width: 500px; height: 500px; }
#g-popup-reg .lnk-close { position: absolute; right: 10px; top: 10px; }
#g-popup-reg .lnk-close:link, #g-popup-reg .lnk-close:visited, #g-popup-reg .lnk-close:hover, #g-popup-reg .lnk-close:active { padding: 0px 2px; line-height: 1; font-size: 18px; color: rgb(170, 170, 170); }
#g-popup-reg .lnk-close:hover { color: rgb(255, 255, 255); }
#landing-bar { position: fixed; bottom: 0px; height: 60px; width: 100%; border-top: 1px solid rgb(222, 226, 222); background: rgb(236, 246, 237) none repeat scroll 0% 0%; }
#landing-bar .bd { position: relative; width: 950px; padding-top: 15px; margin: 0px auto; }
#landing-bar p { float: left; margin: 0px 60px 15px 80px; font-size: 18px; color: rgb(0, 119, 34); }
#landing-bar .operation { float: left; margin-right: 10px; }
#landing-bar .operation a { display: inline-block; border: 1px solid rgb(83, 134, 67); padding: 3px 16px; margin-right: 12px; font-size: 14px; background: rgb(63, 161, 86) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 2px; }
#landing-bar .operation .a_show_login { background: rgb(236, 246, 237) none repeat scroll 0% 0%; color: rgb(63, 161, 86); }
.item-3rd { font-size: 13px; line-height: 30px; color: rgb(153, 153, 153); }
.item-3rd a { border-radius: 50%; padding: 5px 6px 4px; margin-right: 5px; color: rgb(255, 255, 255); font-size: 15px; }
.item-3rd .item-qq { background: rgb(0, 151, 226) none repeat scroll 0% 0%; }
.item-3rd .item-qq img { display: none; }
.item-3rd .item-weibo { background: rgb(243, 41, 53) none repeat scroll 0% 0%; }
.item-3rd .item-weibo img { display: none; }
#landing-bar .lnk-close { position: absolute; top: 0px; right: 0px; padding: 0px 2px; font-size: 40px; line-height: 1.4; color: rgb(170, 170, 170); font-weight: lighter; }
#landing-bar .lnk-close:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
/* ::::: https://img3.doubanio.com/f/group/2f4c6f83940e2bbb76f5a23a7d987b9093919799/css/group/init.css ::::: */

html h4 { font-size: 13px; }
#db-nav-sns .nav-primary, #db-nav-group .nav-primary { width: 1040px; }
.topic-content .topic-doc { width: 605px; }
html body, html td, html th, html .pl, html input { font-size: 13px; }
html h3 { font-size: 15px; }
html h2 { font-size: 16px; }
html h1 { font-size: 26px; }
#wrapper { width: 1040px; }
.grid-16-8 .article { width: 675px; }
.grid-16-8 .aside { width: 300px; }
/* ::::: https://img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css ::::: */

body { margin: 0px; }
#db-global-nav { font: 12px/1.62 Helvetica,Arial,sans-serif; }
#db-global-nav ul { margin: 0px; padding: 0px; }
#db-global-nav table, #db-global-nav td, #db-global-nav th { font-size: 12px; }
#db-global-nav a { cursor: pointer; text-decoration: none; }
#db-global-nav .bn-more span { display: inline-block; vertical-align: baseline; }
#db-global-nav .more-items { display: none; position: absolute; left: 0px; }
#db-global-nav { height: 28px; color: rgb(213, 213, 213); background-color: rgb(84, 86, 82); min-width: 950px; }
#db-global-nav a:link, #db-global-nav a:visited, #db-global-nav a:hover, #db-global-nav a:active { color: rgb(213, 213, 213); }
#db-global-nav a:hover, #db-global-nav a:active { color: rgb(255, 255, 255); background-color: transparent; }
#db-global-nav .global-nav-items { font-size: 0px; }
#db-global-nav .global-nav-items li { display: inline-block; line-height: 28px; font-size: 12px; vertical-align: baseline; }
#db-global-nav .global-nav-items a { display: inline-block; padding: 0px 12px; height: 28px; }
#db-global-nav .top-nav-info { float: right; margin: 0px 12px 0px 0px; line-height: 28px; }
#db-global-nav .top-nav-info a { display: inline-block; margin: 0px; padding: 0px 12px; height: 28px; }
#db-global-nav .top-nav-doubanapp { position: relative; float: right; margin-right: 5px; line-height: 28px; }
#db-global-nav .top-nav-doubanapp .lnk-doubanapp { display: inline-block; padding: 0px 8px; height: 28px; }
#db-global-nav .top-nav-doubanapp .more-items { padding: 10px 20px 30px; left: -76px; width: 211px; border-top: medium none; color: rgb(17, 17, 17); font-size: 15px; line-height: 1.62; font-weight: bold; text-align: center; text-rendering: optimizelegibility; }
#db-global-nav .top-nav-doubanapp .more-items .appintro-title { padding-top: 170px; margin-top: 0px; margin-bottom: 0px; font-size: 24px; font-weight: 400; background: rgba(0, 0, 0, 0) url('nav_doubanapp_6.png') no-repeat scroll center center; }
@media not all, (min-resolution: 2dppx), (min-resolution: 192dpi) {
	#db-global-nav .top-nav-doubanapp .more-items .appintro-title { background-image: url('nav_doubanapp_6@2x.png'); background-size: 100px auto; }
}
#db-global-nav .top-nav-doubanapp .more-items .slogan { margin: 0px; font-size: 13px; letter-spacing: 3px; font-weight: 400; }
#db-global-nav .top-nav-doubanapp .more-items .qrcode { padding-top: 160px; margin-top: 30px; font-size: 0px; background: rgba(0, 0, 0, 0) url('nav_doubanapp_6_qrcode.png') no-repeat scroll center center; }
@media not all, (min-resolution: 2dppx), (min-resolution: 192dpi) {
	#db-global-nav .top-nav-doubanapp .more-items .qrcode { background-image: url('nav_doubanapp_6_qrcode@2x.png'); background-size: 160px 160px; }
}
#db-global-nav .top-nav-doubanapp .download { margin-top: 10px; }
#db-global-nav .top-nav-doubanapp .download a { display: inline; font-weight: normal; font-size: 12px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 0px; }
#db-global-nav .top-nav-doubanapp .download a:link, #db-global-nav .top-nav-doubanapp .download a:visited { color: rgb(51, 119, 170); }
#db-global-nav .top-nav-doubanapp .download a:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
#db-global-nav .top-nav-doubanapp .download .download-android { margin-top: 8px; background-position: 0px -130px; }
#db-global-nav .top-nav-doubanapp .download .download-android::before { content: ""; }
#db-global-nav #doubanapp-tip { display: none; position: absolute; top: 28px; border: 1px solid; padding: 0px 30px 0px 10px; color: rgb(19, 188, 57); background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 10; white-space: nowrap; }
#db-global-nav #doubanapp-tip::after { content: ""; position: absolute; top: -5px; left: 35px; height: 7px; width: 7px; border-style: solid; border-color: rgb(19, 188, 57); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 1px 1px 0px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; transform: rotate(-45deg); }
#db-global-nav #doubanapp-tip .tip-link:link, #db-global-nav #doubanapp-tip .tip-link:visited, #db-global-nav #doubanapp-tip .tip-link:hover, #db-global-nav #doubanapp-tip .tip-link:active { color: rgb(19, 188, 57); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#db-global-nav #doubanapp-tip .tip-close { position: absolute; right: 6px; width: 15px; height: 15px; line-height: 26px; text-align: center; }
#db-global-nav #doubanapp-tip .tip-close:hover { color: rgb(153, 153, 153); }
#db-global-nav {  }
/* ::::: https://img3.doubanio.com/f/shire/8377b9498330a2e6f056d863987cc7a37eb4d486/css/ui/dialog.css ::::: */

.dui-dialog .bd::after { content: " "; clear: both; display: block; }
