html, body { margin: 0px; padding: 0px; font: 12px Helvetica,Arial,sans-serif; }
.customize-slot.article-card { padding: 10px; background-color: rgb(249, 249, 249); clear: both; overflow: hidden; }
.customize-slot.article-card p { margin: 0px; padding: 0px; }
.customize-slot.article-card a { color: rgb(51, 119, 170); text-decoration: none; }
.customize-slot.article-card a:visited { color: rgb(102, 102, 153); text-decoration: none; }
.customize-slot.article-card .pic, .customize-slot.article-card .pic img { display: block; }
.customize-slot.article-card .pic { float: left; display: block; max-width: 96px; width: 96px; }
.customize-slot.article-card .pic img { max-width: 100%; }
.customize-slot.article-card .article-info { margin-left: 111px; overflow: hidden; }
.customize-slot.article-card .title { font-size: 12px; line-height: 18px; margin-bottom: 10px; margin-top: 10px; }
.customize-slot.article-card .author { font-size: 12px; line-height: 1; color: rgb(153, 153, 153); }
