/* ::::: http://trac.gateworks.com/chrome/common/css/trac.css ::::: */

html { overflow-y: scroll; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); margin: 10px; padding: 0px; }
body, th, tr { font: 13px Verdana,Arial,"Bitstream Vera Sans",Helvetica,sans-serif; }
h1, h2, h3, h4 { font-family: Arial,Verdana,"Bitstream Vera Sans",Helvetica,sans-serif; font-weight: bold; letter-spacing: -0.018em; page-break-after: avoid; }
h1 { font-size: 19px; margin: 0.15em 1em 0.5em 0px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
hr { border-width: 1px medium medium; border-style: solid none none; border-color: rgb(204, 204, 187) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 2em 0px; }
img { border: medium none; }
:link, :visited { text-decoration: none; color: rgb(187, 0, 0); border-bottom: 1px dotted rgb(187, 187, 187); }
:link:hover, :visited:hover { background-color: rgb(238, 238, 238); color: rgb(85, 85, 85); }
h1 :link, h1 :visited, h2 :link, h2 :visited, h3 :link, h3 :visited, h4 :link, h4 :visited, h5 :link, h5 :visited, h6 :link, h6 :visited { color: inherit; }
.anchor:link, .anchor:visited { border: medium none; color: rgb(215, 215, 215); font-size: 0.8em; vertical-align: text-top; }
* > .anchor:link, * > .anchor:visited { visibility: hidden; }
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor, span:hover .anchor { visibility: visible; }
h1:target, h2:target, h3:target, h4:target, h5:target, h6:target, span:target { background: rgb(255, 255, 187) none repeat scroll 0% 0%; box-shadow: 0.1em 0.1em 0.4em 0.1em rgb(221, 221, 170); border-radius: 0.2em; }
.tracini tr[id]:hover .tracini-option::before { content: "¶"; position: absolute; display: block; left: -1em; width: 1em; color: rgb(215, 215, 215); z-index: 1; }
@media screen {
	a.ext-link .icon { background: rgba(0, 0, 0, 0) url('extlink.gif') no-repeat scroll left center; padding-left: 15px; }
	a.trac-rawlink, a.trac-ziplink { background: rgba(0, 0, 0, 0) url('download.png') no-repeat scroll right center; padding-right: 16px; border-bottom: medium none; }
}
input, textarea, select, .trac-button { margin: 2px; }
input, select, button { font-family: Arial,Verdana,"Bitstream Vera Sans",Helvetica,sans-serif; font-size: 100%; }
input, select, .trac-button { vertical-align: middle; }
input[type="button"], input[type="submit"], input[type="reset"], .trac-button { background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(34, 34, 34); border: 1px outset rgb(238, 238, 238); border-radius: 0.3em; box-shadow: 0.1em 0.1em 0.4em 0px rgb(136, 136, 136); padding: 0.1em 0.5em 0.2em; text-shadow: 0.04em 0.04em rgb(221, 221, 221); cursor: pointer; }
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .trac-button:hover { background: rgb(246, 246, 246) none repeat scroll 0% 0%; box-shadow: 0.1em 0.1em 0.6em 0px rgb(153, 153, 153); text-shadow: 0.04em 0.04em rgb(252, 252, 252); }
input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, .trac-button:active, .inlinebuttons a:active { position: relative; top: 0.1em; left: 0.1em; }
input[type="text"], input.textwidget, textarea { border: 1px solid rgb(215, 215, 215); border-radius: 0.3em; }
input[type="text"], input.textwidget { padding: 0.25em 0.5em; }
input[type="text"]:focus, input.textwidget:focus, textarea:focus { border: 1px solid rgb(136, 136, 102); }
#header img { border: medium none; margin: 0px 0px -3em; }
#header :link, #header :visited, #header :link:hover, #header :visited:hover { background: transparent none repeat scroll 0% 0%; color: rgb(85, 85, 85); margin-bottom: 2px; border: medium none; padding: 0px; }
#search { clear: both; font-size: 10px; height: 2.2em; margin: 0px 0px 1em; text-align: right; }
#search input { font-size: 10px; }
#search label { display: none; }
.nav h2, .nav hr { display: none; }
.nav ul { font-size: 10px; list-style: outside none none; margin: 0px; padding: 0px; text-align: right; }
.nav li { border-right: 1px solid rgb(215, 215, 215); display: inline-block; padding: 0px 0.75em; white-space: nowrap; }
.nav li.last { border-right: medium none; }
#metanav { padding-top: 0.3em; }
#metanav form.trac-logout button::-moz-focus-inner { border: 0px none; padding: 0px; }
#mainnav { font: 10px verdana,"Bitstream Vera Sans",helvetica,arial,sans-serif; box-shadow: 0px 0.5em 1.5em rgb(238, 238, 238); border: 1px solid rgb(228, 228, 228); border-radius: 0.5em; margin: 0.66em 0px 0.33em; }
#mainnav li { background: white url('topbar_gradient.png') repeat scroll 0px 0px; border: 1px solid rgb(228, 228, 228); margin: -1px 0.3em 0px -0.4em; padding: 0.3em 0px; }
#mainnav .first, #mainnav .first :link { border-top-left-radius: 0.5em; border-bottom-left-radius: 0.5em; }
#mainnav .last, #mainnav .last :link { border-top-right-radius: 0.5em; border-bottom-right-radius: 0.5em; margin-right: 0px; }
#mainnav :link, #mainnav :visited { border-bottom: medium none; box-shadow: 0px 0.1em 0.3em 0px rgb(153, 153, 153); color: rgb(0, 0, 0); padding: 0.3em 20px; }
#mainnav li:hover { border: 1px solid rgb(102, 102, 102); }
#mainnav :link:hover, #mainnav :visited:hover { background: rgb(0, 0, 0) url('topbar_gradient2.png') repeat-x scroll 0px 0px; color: rgb(238, 238, 238); box-shadow: 0px 0.1em 0.6em 0px rgb(102, 102, 102); }
#mainnav .active { border: 1px solid rgb(102, 102, 102); }
#mainnav .active :link, #mainnav .active :visited { background: rgb(0, 0, 0) url('topbar_gradient2.png') repeat-x scroll 0px 0px; color: rgb(238, 238, 238); text-shadow: 1px 0px rgb(238, 238, 238); }
#ctxtnav { min-height: 1em; padding: 0.4em 0px; }
#altlinks { clear: both; margin-top: 0.4em; text-align: center; }
#altlinks h3 { font-size: 12px; letter-spacing: normal; margin: 0px; }
#altlinks ul { list-style: outside none none; margin: 0px; padding: 0px; }
#altlinks li { border-right: 1px solid rgb(215, 215, 215); display: inline; font-size: 11px; line-height: 1.5; padding: 0px 1em; white-space: nowrap; }
#altlinks li.last { border-right: medium none; }
#altlinks li :link, #altlinks li :visited { background-repeat: no-repeat; color: rgb(102, 102, 102); border: medium none; padding: 0px 0px 2px; }
#footer { clear: both; color: rgb(187, 187, 187); font-size: 10px; height: 31px; padding: 0.25em 0px; }
#footer :link, #footer :visited { color: rgb(187, 187, 187); }
#footer hr { display: none; }
#footer #tracpowered { border: 0px none; float: left; }
#footer #tracpowered:hover { background: transparent none repeat scroll 0% 0%; }
#footer p { margin: 0px; }
#footer p.left { float: left; margin-left: 1em; padding: 0px 1em; border-left: 1px solid rgb(215, 215, 215); border-right: 1px solid rgb(215, 215, 215); }
#footer p.right { float: right; text-align: right; }
#content { position: relative; }
div.trac-content { padding: 0.5em 1em; margin: 0.3em auto; border: 1px solid rgb(228, 228, 228); border-radius: 0.5em; box-shadow: 0.2em 0.3em 1.5em rgb(238, 238, 238); }
.foldable :link, .foldable :visited { background: rgba(0, 0, 0, 0) url('expanded.png') no-repeat scroll 4px 50%; border: medium none; border-radius: 0.3em; box-shadow: 0.1em 0.1em 0.3em 0px rgb(187, 187, 187); color: rgb(34, 34, 34); text-shadow: 0.04em 0.04em rgb(252, 252, 252); padding: 0.3em 0.5em 0.3em 20px; }
.foldable :link:hover, .foldable :visited:hover { background-color: transparent; }
.collapsed > .foldable :link, .collapsed > .foldable :visited { background-image: url('collapsed.png'); }
.collapsed > div, .collapsed > table, .collapsed > ul, .collapsed > dl { display: none; }
h2 .trac-count, h3 .trac-count { margin-left: 0.2em; vertical-align: baseline; color: rgb(153, 153, 153); font-size: 90%; font-weight: normal; }
a.trac-diff::after { content: "∆"; }
.wikipage { padding-left: 18px; }
.wikipage h1, .wikipage h2, .wikipage h3 { margin-left: -18px; }
.rtl .wiki-toc ul ul, .wiki-toc ol ol { padding-right: 1.2em; }
pre.wiki, pre.literal-block { background: rgb(247, 247, 247) none repeat scroll 0% 0%; border: 1px solid rgb(215, 215, 215); box-shadow: 0px 0px 1em rgb(238, 238, 238); border-radius: 0.3em; margin: 1em 1.75em; padding: 0.25em; overflow: auto; }
div.wiki-code { margin: 1em 1.75em; }
code, tt { color: rgb(102, 0, 0); border: 1px solid rgb(238, 221, 204); border-radius: 0.25em; padding: 0px 0.3em; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
#attachments p { margin-left: 2em; font-size: 90%; color: rgb(102, 102, 102); }
#attachments span.trac-author { font-style: italic; }
.uisymbols div.system-message .trac-close-msg::after { content: "x"; }
@media screen {
}
/* ::::: http://trac.gateworks.com/chrome/common/css/wiki.css ::::: */

/* ::::: http://trac.gateworks.com/chrome/common/css/code.css ::::: */

div.code { background: rgb(247, 247, 247) none repeat scroll 0% 0%; border: 1px solid rgb(215, 215, 215); border-radius: 0.3em; padding: 0.25em; overflow: auto; }
div.code pre { margin: 0px; overflow: auto; }
#wikipage { clear: both; }
.wikipage h2 { border-bottom: 1px solid rgb(221, 221, 221); box-shadow: 0.1em 0.4em 0.7em 0px rgb(242, 242, 242); padding: 0.2em 0.3em 0.1em; }
.wikipage h3 { border-bottom: 1px dashed rgb(221, 221, 221); padding: 0.2em 0.3em 0.1em; }
.wikipage .trac-content { margin-left: -18px; padding-left: 28px; }
#pagepath { font-size: 10px; float: left; padding: 0.4em 0px; }
#pagepath :link, #pagepath :visited { margin: 0px 0.2em; }
#pagepath .first:link, #pagepath .first:visited { color: rgb(153, 153, 136); }
#pagepath .sep { color: rgb(102, 102, 102); padding: 0px 0.1em; }
#pagepath .pathentry { float: left; }
.wiki-toc { padding: 0.5em 1em; margin: 0px 0px 2em 1em; float: right; clear: right; border: 1px outset rgb(221, 221, 204); background: rgb(255, 255, 221) none repeat scroll 0% 0%; font-size: 85%; position: relative; }
.wiki-toc ul, .wiki-toc ol { list-style: outside none none; padding: 0px; margin: 0px; }
.wiki-toc ul ul, .wiki-toc ol ol { padding-left: 1.2em; }
.wiki-toc li { margin: 0px; padding: 0px; }
div.trac-modifiedby { margin: 0.3em 0.5em; color: rgb(136, 136, 136); font-size: 80%; font-style: italic; text-align: right; float: right; }
div.trac-modifiedby :link, div.trac-modifiedby :visited { color: inherit; }
div.trac-modifiedby span.trac-print { display: none; }
/* ::::: http://trac.gateworks.com/pygments/trac.css ::::: */

div.code pre { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
div.code pre .o { font-weight: bold; }
div.code pre .c1 { color: rgb(153, 153, 136); font-style: italic; }
div.code pre .m { color: rgb(0, 153, 153); }
div.code pre .nb { color: rgb(153, 153, 153); }
div.code pre .nv { color: rgb(0, 128, 128); }
div.code pre .s2 { color: rgb(187, 136, 68); }
div.code pre .se { color: rgb(187, 136, 68); }
