/* ::::: https://shared.ydstatic.com/js/yatdk/3.0.0/stream.css ::::: */

* { margin: 0px; padding: 0px; }
.ad { width: 100%; box-sizing: border-box; }
.ad::after { content: ""; display: block; clear: both; }
.ad-img { float: left; margin-right: 5px; width: 100px; }
.ad-img > a { width: 100%; }
.ad-img > a > img { width: 100%; border: 0px none; }
.ad-text { min-height: 55px; padding: 0px 10px; font-size: 14px; }
.desc, .title { display: block; margin: 0px; text-align: left; line-height: 1.5; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: rgb(0, 0, 0); }
.title { font-size: 16px; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
