h1 { font-size: 24px; margin: 0px; }
td, select, input { font-size: 14px; }
.l17 { line-height: 170%; }
.f24 { font-size: 24px; }
.f14 { font-size: 14px; line-height: 130%; }
A:link { color: rgb(0, 0, 255); }
A:visited { color: rgb(128, 0, 128); }
A:active, A:hover { color: rgb(255, 0, 0); }
A.a02:link, A.a02:visited { text-decoration: none; color: rgb(0, 0, 255); }
A.a02:active, A.a02:hover { text-decoration: none; color: rgb(255, 0, 0); }
A.title1:link { font-size: 17.9px; font-family: arial; font-weight: bold; text-decoration: none; color: rgb(255, 255, 255); }
A.title1:visited { font-size: 17.9px; font-family: arial; font-weight: bold; text-decoration: none; color: rgb(255, 255, 255); }
A.title1:active { font-size: 17.9px; font-family: arial; font-weight: bold; text-decoration: none; color: rgb(255, 255, 255); }
A.title1:hover { font-size: 17.9px; font-family: arial; font-weight: bold; text-decoration: none; color: rgb(255, 255, 255); }
A.title2:link { text-decoration: none; color: rgb(0, 0, 0); font-size: 12px; }
A.title2:visited { text-decoration: none; color: rgb(0, 0, 0); font-size: 12px; }
A.title2:active { text-decoration: none; color: rgb(255, 0, 0); font-size: 12px; }
A.title2:hover { text-decoration: none; color: rgb(255, 0, 0); font-size: 12px; }
.copyright { font-size: 12px; font-family: "song",Verdana; color: rgb(68, 68, 68); letter-spacing: -1px; }
