/* ::::: https://cpro.baidustatic.com/cpro/ui/noexpire/ws/css/base_f258e90.css ::::: */

html { font-size: 100%; }
html, button, input, select, textarea { font-family: "Helvetica Neue",Helvetica,Arial,"微软雅黑","Microsoft YaHei","黑体",SimHei,sans-serif; }
body { margin: 0px; }
a:focus a:active, a:hover { outline: 0px none; }
h5 { font-size: 0.83em; margin: 1.67em 0px; }
p, pre { margin: 1em 0px; }
q::before, q::after { content: none; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
audio:not([controls]) { display: none; height: 0px; }
.clearfix {  }
.clearfix::before, .clearfix::after { display: table; content: ""; }
.clearfix::after { clear: both; }
.container { position: relative; background-color: rgb(255, 255, 255); }
/* ::::: https://cpro.baidustatic.com/cpro/ui/noexpire/ws/css/ui_b99a586.css ::::: */

.logo-container { display: block; position: absolute; right: 0px; bottom: 0px; z-index: 65534; font-size: 0px; height: 16px; background: rgba(102, 102, 102, 0.75) none repeat scroll 0% 0%; }
.logo-container .gap { display: inline-block; width: 1px; height: 16px; background-color: rgb(255, 255, 255); opacity: 0.3; }
.logo-link { display: inline-block; width: 33px; height: 10px; margin: 3px 4px; background: rgba(0, 0, 0, 0) url('logo_9f55db2.png') no-repeat scroll center center / 33px 10px; }
#logo-close-btn { display: inline-block; width: 8px; height: 8px; margin: 4px 5px; background: rgba(0, 0, 0, 0) url('close_9d33a11.png') no-repeat scroll center center / 8px 8px; }
@media not all, not all {
	.logo-link { background-image: url('logo@2x_f1c39f4.png'); }
	#logo-close-btn { background-image: url('close@2x_86b60c1.png'); }
}
@media not all, not all {
	.logo-link { background-image: url('logo@3x_d5c9c23.png'); }
	#logo-close-btn { background-image: url('close@3x_15a5bc7.png'); }
}
.feedback-container { display: none; position: absolute; z-index: 65535; top: 0px; right: 0px; bottom: 0px; left: 0px; height: 100%; background: rgb(252, 252, 252) none repeat scroll 0% 0%; font-size: 12px; color: rgb(102, 102, 102); }
.feedback-container .intro { font-size: 14px; }
.feedback-container .bk-logo { position: absolute; z-index: -1; right: 10px; bottom: 10px; width: 68px; height: 22px; background: rgba(0, 0, 0, 0) url('logo-fb-big_94547f5.png') repeat scroll 0% 0%; }
.reason-content { margin: 0px auto; }
.reason-item { display: inline-block; width: 48px; border: 1px solid rgb(219, 219, 219); line-height: 2; text-align: center; padding: 0px 10px; margin: 5px 10px 0px 0px; text-decoration: none; color: rgb(102, 102, 102); }
.reason-item:hover { background-color: rgb(238, 238, 238); }
.fb-btn-cancel { display: block; margin-top: 10px; text-decoration: none; color: rgb(51, 137, 227); }
.thx-content { display: none; margin-top: 10px; text-align: center; }
.thx-content h5 { font-size: 16px; margin: 0px; }
.thx-content p { margin-top: 5px; font-size: 12px; text-align: center; }
.closed-content { display: none; padding: 20px 0px 0px 20px; font-size: 16px; font-weight: 700; }
.container { overflow: hidden; }
.row { font-size: 0px; }
.column { display: inline-block; text-decoration: none; }
.column:hover .desc { color: rgb(238, 0, 0); }
.container .last-row, .container .last-column { margin: 0px; }
.column .icon { display: block; float: left; width: 16px; margin-right: 2px; font-size: 12px; text-align: center; color: rgb(255, 255, 255); background-color: rgb(133, 133, 133); }
.column .highlight { background-color: rgb(242, 64, 91); }
.column .desc { display: block; float: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; text-align: left; color: rgb(51, 51, 51); }
.container { width: 450px; height: 36px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px solid rgb(255, 255, 255); }
.row { height: 36px; margin: 0px 0px 10px; }
.column { width: 450px; margin: 0px 20px 0px 0px; }
.column .icon { height: 18px; line-height: 18px; }
.column .desc { width: 432px; height: 18px; font: 14px arial,simsun,sans-serif; color: rgb(51, 51, 51); }
