/* ::::: https://www.cnblogs.com/bundles/blog-common.css?v=-hy83QNg62d4qYibixJzxMJkbf1P9fTBlqv7SK5zVL01 ::::: */

body { font-family: Helvetica,Verdana,Arial,sans-serif; }
img { border: 0px none; }
#MySignature {  }
#blog_post_info_block { margin-top: 20px; }
#BlogPostCategory { margin-bottom: 10px; }
#EntryTag { margin-top: 0px !important; }
.clear { clear: both; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
#cnblogs_post_body { margin-bottom: 20px; }
#cnblogs_post_body img { max-width: 900px; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#ad_t2 { margin-top: 5px; line-height: 1.8; }
#opt_under_post { line-height: 1.8; }
input::-moz-focus-inner { border: 0px none; padding: 0px; }
#cnblogs_post_body {  }
#cnblogs_post_body p { margin: 10px auto; text-indent: 0px; }
#blog-news { overflow: hidden; }
#MySignature { display: none; }
.ui-dialog-loading::after { position: absolute; content: ""; width: 3px; height: 3px; margin: 14.5px 0px 0px 14.5px; border-radius: 100%; box-shadow: 0px -10px 0px 1px rgb(204, 204, 204), 10px 0px rgb(204, 204, 204), 0px 10px rgb(204, 204, 204), -10px 0px rgb(204, 204, 204), -7px -7px 0px 0.5px rgb(204, 204, 204), 7px -7px 0px 1.5px rgb(204, 204, 204), 7px 7px rgb(204, 204, 204), -7px 7px rgb(204, 204, 204); transform: rotate(360deg); animation: 1.5s linear 0s normal none infinite running ui-dialog-loading; }
/* ::::: https://www.cnblogs.com/skins/Banlieue13/bundle-Banlieue13.css?v=-BwbBCgL4I6ev4eT0WChGlx86DuTjkHbdqzbBDeklxs1 ::::: */

#EntryTag { margin-top: 20px; font-size: 9pt; color: gray; }
* { margin: 0px; padding: 0px; }
html { height: 100%; }
body { color: rgb(0, 0, 0); background: rgba(0, 0, 0, 0) url('bg_body.gif') repeat scroll left top; font-family: "verdana","ms song","宋体","Arial","微软雅黑","Helvetica","sans-serif"; font-size: 9pt; min-height: 101%; }
fieldset, img { border: 0px none; }
ul { word-break: break-all; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a:link { color: rgb(51, 51, 51); text-decoration: none; }
a:visited { color: rgb(51, 51, 51); text-decoration: none; }
a:hover { color: rgb(51, 51, 51); text-decoration: underline; }
a:active { color: rgb(51, 51, 51); text-decoration: none; }
#header a:link { color: rgb(255, 255, 255); text-decoration: none; }
#header a:visited { color: rgb(255, 255, 255); text-decoration: none; }
#header a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
#header a:active { color: rgb(255, 255, 255); text-decoration: none; }
.clear { clear: both; }
#home { margin: 0px auto; width: 100%; min-width: 930px; }
#header { background: rgba(0, 0, 0, 0) url('header.jpg') no-repeat scroll right top; height: 288px; }
#blogTitle { height: 288px; clear: both; background: rgba(0, 0, 0, 0) url('bg_title.jpg') no-repeat scroll 10px 0px; }
#blogTitle h1 { font-weight: bold; line-height: 1.5em; padding-top: 25px; margin-left: 1em; font-family: "微软雅黑","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; font-size: 64px; }
#blogTitle a { color: rgb(255, 255, 255); }
#blogTitle h2 { font-weight: bold; line-height: 1.5em; padding-top: 25px; margin-left: 3.5em; font-family: "微软雅黑","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; font-size: 20px; color: rgb(255, 255, 255); }
#blogLogo { float: right; }
#main { width: 97%; min-width: 950px; text-align: left; margin: auto; }
#mainContent .forFlow { margin: 0px 0px 0px 250px; background: rgb(255, 255, 255) url('bg_left.gif') repeat-x scroll right top; padding-top: 35px; padding-bottom: 15px; }
#mainContent { float: right; width: 100%; margin: 0px 0px 0px -250px; background: transparent none repeat scroll 0% 0%; border: 0px solid green; text-align: left; overflow-x: hidden; }
#navigator { clear: both; width: 95%; margin: auto auto 20px; height: 40px; background: rgb(255, 255, 255) url('line.gif') repeat-x scroll left bottom; }
#navList { min-height: 30px; float: left; }
#navList li { float: left; }
#navList a { height: 22px; float: left; text-align: center; padding-top: 8px; margin-right: 12px; }
#navList a { color: rgb(51, 51, 51); }
#navList a:hover { color: rgb(147, 90, 50); }
.blogStats { float: right; color: rgb(51, 51, 51); margin-top: 8px; text-align: right; }
.postTitle { font-weight: bold; float: right; line-height: 1.5em; width: 100%; clear: both; font-size: 14px; }
.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: rgb(51, 51, 51); }
.postTitle a:hover { color: rgb(170, 122, 83); text-decoration: underline; }
.postDesc { float: right; width: 100%; clear: both; text-align: right; padding-right: 5px; color: rgb(102, 102, 102); margin-top: 5px; font-size: 12px; }
.postDesc a:link, .postDesc a:visited, .postDesc a:active { color: rgb(170, 122, 83); }
.postDesc a:hover { text-decoration: underline; }
#sideBar { width: 230px; padding: 0px 5px 0px 0px; float: left; color: white; font-size: 110%; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }
.newsItem .catListTitle { display: none; }
.newsItem { padding: 15px 0px 5px; margin-bottom: 8px; }
#calendar { width: 229px; }
.catListTitle { font-weight: bold; line-height: 1.2em; font-size: 25px; font-family: "黑体","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; margin-top: 15px; margin-bottom: 10px; text-align: left; background: rgba(0, 0, 0, 0) url('title_cata.gif') no-repeat scroll 0px 50%; color: rgb(170, 122, 83); padding: 8px 0px 0px 32px; }
#topics { width: 95%; min-height: 200px; padding: 0px 0px 10px; text-overflow: ellipsis; overflow: hidden; word-break: break-all; margin: auto; }
#topics a:link {  }
#topics a:visited {  }
#topics a:hover { color: rgb(170, 122, 83); text-decoration: underline; }
#topics a:active {  }
#topics .postTitle { font-size: 14px; font-weight: bold; float: left; line-height: 1.5em; padding-left: 5px; }
.postBody { padding: 5px 2px 5px 5px; line-height: 1.5; color: rgb(0, 0, 0); font-size: 13px; }
.postBody p { line-height: 1.5; color: rgb(0, 0, 0); font-size: 13px; }
#EntryTag { color: rgb(102, 102, 102); }
#topics .postDesc { float: right; width: 100%; text-align: right; padding-right: 5px; color: rgb(102, 102, 102); margin-top: 5px; }
.commentform { width: 90%; margin: auto auto 10px; }
#HistoryToday { font-weight: bold; }
#footer { text-align: center; color: white; font-family: "微软雅黑","ms song","宋体","Arial","verdana","Helvetica","sans-serif"; font-size: 20px; min-height: 15px; height: 30px; margin-top: 10px; padding-top: 30px; background: rgba(0, 0, 0, 0) url('bg_left_2.gif') repeat-x scroll left top; }
.postBody { margin-top: 5px; }
.postBody p, .postCon p { line-height: 1.5; }
#divCommentShow { color: rgb(0, 0, 0); }
#comment_form a { color: rgb(0, 0, 0); }
/* ::::: https://www.cnblogs.com/skins/Banlieue13/bundle-Banlieue13-mobile.css?v=RMNzrfV_gFDOY0YIxh5jAkRoIfox6Z9pvm_4_uyrjVU1 ::::: */

body { font-size: 14px !important; font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif; }
#blog_nav_rss { display: none !important; }
#blog_nav_rss_image { display: none !important; }
#blog_nav_newpost { display: none !important; }
img { max-width: 300px !important; height: auto; }
#cnblogs_c1, #cnblogs_c2 { text-align: center; }
.commentform { margin-left: 10px; }
#home, #main { min-width: unset; }
#main { width: auto; }
#sideBar { width: auto; float: none; padding: 5px; }
#mainContent { float: none; margin: 0px; }
#mainContent .forFlow { margin: 0px; }
