html { color: rgb(0, 0, 0); background-color: transparent; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
q::before, q::after { content: ""; }
body { margin: 0px; padding: 0px; }
.bd-logo, .bd-logo2, .bd-logo3, .bd-logo4 { text-decoration: none; cursor: pointer; display: block; overflow: hidden; position: absolute; bottom: 0px; right: 0px; z-index: 2147483647; }
.bd-logo4 { height: 18px; width: 18px; bottom: 0px; left: 0px; background-color: rgba(0, 0, 0, 0); background-image: url('bd-logo4.png'); background-repeat: no-repeat; background-attachment: scroll; background-clip: border-box; background-origin: padding-box; background-position: center center; background-size: 100% auto, 100% auto; }
.cf::before, .cf::after { content: " "; display: table; }
.cf::after { clear: both; }
.container { display: block !important; }
.container { background-color: white; overflow: hidden; display: block; font-family: Microsoft YaHei; margin: 0px; padding: 0px; position: relative; }
.pic_container { display: block; float: left; overflow: hidden; }
.pic_row { display: block; overflow: hidden; float: left; }
.pic_item { display: block; overflow: hidden; float: left; text-align: center; }
.pic { display: block; float: left; overflow: hidden; }
.pic_title { display: block; overflow: hidden; float: left; text-align: center; text-decoration: none; }
.link { text-decoration: none; }
