/* ::::: http://img.mjs.sinajs.cn/blog/ria/h5/v2/css/pages/pages.css?ver=106830 ::::: */

.b-load-box, .b-loading .b-ft-icon, .b-loading i, .b-redtips-a, img, input { vertical-align: middle; }
.b-ellipsis, .l-blg-sort .sort-ls span { overflow-wrap: normal; white-space: nowrap; }
.bl-bar, .bl-edit-article .b-del-mod, .bl-home-pic, .bl_openApp, .l-slide { -moz-user-select: none; }
body, button, input, select, textarea { font: 100%/1 "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei"; }
article, aside, blockquote, body, button, dd, dl, dt, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul { margin: 0px; padding: 0px; }
em, i { font-style: normal; }
li { list-style: outside none none; }
img { border: 0px none; }
article, aside, footer, header, hgroup, menu, nav, section { display: block; }
a { text-decoration: none; }
.clearfix::after { content: ""; display: block; height: 0px; clear: both; visibility: hidden; }
.b-btn-a, .b-btn-a.a-active, .b-btn-b, .b-btn-c, .b-btn-d { display: inline-block; font-size: 0.75em; border-radius: 1px; }
@font-face {
	font-family: "blog";
	src: url('undefined') format("woff"), url('blog.ttf') format("truetype");
}
body { background: rgb(136, 136, 136) none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
body, html { height: 100%; }
.b-txt1 { color: rgb(51, 51, 51); }
.b-txt2 { color: rgb(102, 102, 102); }
.b-txt3 { color: rgb(153, 153, 153); }
.b-txt4 { color: rgb(170, 170, 170); }
a, input, textarea { outline: 0px none; }
.b-btn-b, .b-btn-d { padding: 0px 1.33333em; color: rgb(255, 255, 255); }
.b-btn-b, .b-btn-c, .b-btn-d { text-align: center; height: 2.84em; line-height: 2.84em; box-sizing: border-box; }
.b-btn-b { background: rgb(251, 84, 112) none repeat scroll 0% 0%; }
.b-ft-icon { font-family: blog; overflow: hidden; display: inline-block; }
.b-load-box, .b-load-icn { position: relative; text-align: center; }
.b-load-box .a, .b-load-icn .a { height: 6px; border-left: 2px solid; display: inline-block; width: 0px; margin-top: 10px; position: absolute; left: 50%; margin-left: -1px; animation: 2.5s linear 0s normal none infinite running rotate; transform-origin: 30% 25% 0px; }
.b-loading { font-size: 0.875em; text-align: center; padding: 0.714285em 0px 3.786em; height: 1.2857em; }
.b-loading .b-ft-icon { font-size: 2.44em; line-height: 0.37; height: 0.515em; }
.b-loading .b-load-icn .a { height: 5px; transform-origin: 30% 0px 0px; }
.b-loading i { padding-left: 0.714285em; }
.b-checkbox, .b-checkbox-active, .b-input, .b-input-psswrd, .b-txtarea { box-sizing: border-box; }
.l-blg-sort, .l-collect { box-sizing: border-box; }
.b-input-psswrd:focus, .b-input:focus, .b-txtarea:focus { color: rgb(51, 51, 51); }
.b-input, .b-input-psswrd, .b-txtarea { font-size: 0.75em; height: 3em; border: 1px solid rgb(200, 200, 200); padding: 0px 0.83333em; line-height: normal; color: rgb(153, 153, 153); border-radius: 1px; }
.b-txtarea { padding-top: 0.75em; resize: none; }
.b-checkbox, .b-checkbox-active { width: 1.3125em; height: 1.3125em; border: 1px solid rgb(200, 200, 200); display: inline-block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; vertical-align: middle; line-height: 0; }
.b-checkbox-active .b-ft-icon { visibility: visible; color: rgb(251, 84, 112); font-size: 2.16em; line-height: 0.35; overflow: hidden; height: 100%; display: inline-block; vertical-align: middle; }
.b-ellipsis { overflow: hidden; text-overflow: ellipsis; }
.b-pic-style { display: block; background-size: cover; background-position: center center; background-repeat: no-repeat; border-radius: 1px; background-color: rgb(255, 255, 255); }
.l-blg-sort { width: 100%; left: 0px; z-index: 5; box-sizing: border-box; position: absolute; }
.l-blg-sort .blg-sort { background: rgba(204, 204, 204, 0.98) none repeat scroll 0% 0%; width: 100%; max-height: 16.75em; overflow-y: auto; }
.item_hide { display: none; }
.f-wrap { background: rgb(243, 243, 243) none repeat scroll 0% 0%; border-radius: 0.16em; position: relative; }
.bl-header { position: absolute; width: 100%; box-sizing: border-box; }
.bl-header, .bl-header .menu { background-color: rgb(243, 243, 243); }
.bl-header .blog-logo { background-image: url('blog.png'); background-size: 4.78125em 1.0625em; background-repeat: no-repeat; background-position: center center; height: 2.8125em; }
.bl-header .user-sort { text-align: center; font-size: 1.25em; padding-top: 0.55em; }
.bl-header .user-sort .blog-nm { display: inline-block; padding-bottom: 0.11em; vertical-align: middle; }
.bl-header .back, .bl-header .usercnt { left: 0.15em; }
.bl-header .back, .bl-header .dashbd, .bl-header .menu .next, .bl-header .night, .bl-header .usercnt { color: rgb(0, 0, 0); position: absolute; top: 0px; font-size: 2.3125em; height: 1.189em; width: 1.189em; text-align: center; line-height: 1.14; }
.bl-header .dashbd::before { height: 100%; display: inline-block; content: ""; vertical-align: middle; }
.bl-header .dashbd.b-ft-icon::before { height: auto; }
.bl-content .operating::before { content: ""; display: inline-block; vertical-align: middle; width: 0px; height: 100%; }
.bl-article, .bl-edit-article { padding-top: 2.75em; box-sizing: border-box; }
.bl-article .article, .bl-edit-article .article { margin: 0px 0.9375em; }
.bl-article .article h1 { font-size: 1.45em; line-height: 1.36em; padding-bottom: 0.43em; padding-top: 0.6522em; word-break: break-all; overflow-wrap: break-word; }
.bl-article .article .time { padding-left: 0.833333em; vertical-align: middle; }
.bl-article .article .arc-info, .bl-article .article .read-time, .bl-article .article .tag { font-size: 0.75em; padding-bottom: 0.416667em; }
.bl-article .article .reads { border-right: 1px solid rgb(230, 230, 230); padding-right: 0.83333em; vertical-align: middle; }
.bl-article .article .content { font-size: 1.06em; line-height: 1.6em; padding-bottom: 0.5882em; padding-top: 0.117647em; overflow-wrap: break-word; overflow: hidden; }
.bl-article .content br { line-height: 2.44em; }
.bl-art-yy { padding: 0px 0.9375em; line-height: 2.64em; font-size: 0.875em; white-space: nowrap; margin: 0px 1.071em; }
.bl-art-yy .b-ft-icon { font-size: 2.47em; vertical-align: middle; height: 0.47em; line-height: 0.35; margin-right: 0.2em; }
.bl-art-yy a { vertical-align: middle; display: inline-block; overflow: hidden; text-overflow: ellipsis; width: 91.2%; }
.bl-art-yy.bttm-yy { margin: 0px 1.071em 0.714em; }
.bl-operation .bl-art-yy { margin-bottom: 0.7143em; }
.mutual-mod { margin: 0px 0.9375em; padding-bottom: 1.2em; }
.bl-comment .b-txtarea { width: 100%; height: 5.66667em; background: rgb(250, 250, 250) none repeat scroll 0% 0%; font-size: 0.9375em; box-shadow: 0px 1px 0px rgb(255, 255, 255); }
.bl-comment .b-txtarea:disabled { color: rgb(153, 153, 153); opacity: 1; }
.bl-comment .login, .bl-comment .submint { margin-top: 0.5em; }
.bl-comment .forward { margin-top: 0.5em; }
.bl-comment .forward i { font-size: 0.75em; margin-left: 0.833em; }
.bl-bar { position: absolute; left: 0px; right: 0px; background: rgba(246, 246, 246, 0.95) none repeat scroll 0% 0%; border-radius: 1px; height: 3.125em; color: rgb(102, 102, 102); border-top: 1px solid rgb(228, 228, 228); border-bottom: 1px solid rgb(228, 228, 228); padding-bottom: 1.875em; }
.bl-bar .user-info { font-size: 16px; height: 2.09em; width: 2.09em; border-radius: 50%; overflow: hidden; position: absolute; top: 50%; margin-top: -1.045em; left: 1em; }
.bl-bar .user-info::after { content: " "; position: absolute; top: 0px; left: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 50%; box-sizing: border-box; width: 200%; height: 200%; transform: scale(0.5); transform-origin: left top 0px; }
.bl-bar .animateBLPanel { animation-name: L2RFORBL; animation-duration: 300ms; animation-fill-mode: both; animation-delay: 300ms; }
.bl-bar .user-world { display: inline-block; vertical-align: middle; width: 17em; margin-left: 4em; overflow: hidden; font-size: 15px; line-height: 20px; }
.bl-bar a { color: rgb(255, 255, 255); }
.bl-bar .user-name { color: rgb(255, 146, 39); }
.bl-also-like h3, .bl-arc-rcmmnd h3, .bl-atlas-rcmmnd h3, .bl-hot-rcmmnd h3, .bl-likeor-rcmmnd h3, .bl-related-arc h3, .bl-related-more h3, .bl-related-rcmmnd h3, .bl-related-reading h3, .bl-visited h3 { font-size: 1.0625em; font-weight: 400; letter-spacing: 1px; padding: 0px 0.824em 0.588em; border-bottom: 1px solid rgb(219, 219, 219); }
.bl-arc-rcmmnd, .bl-atlas-rcmmnd, .bl-hot-rcmmnd, .bl-likeor-rcmmnd, .bl-related-more, .bl-related-rcmmnd, .bl-related-reading { margin: 0px 0.9375em; padding: 0.625em 0px 0px; }
.bl-arc-rcmmnd .arc-list li, .bl-broadcast-rcmmnd .broadcast-list li, .bl-hot-rcmmnd .hot-list li, .bl-related-more .related-ls li, .bl-related-rcmmnd .related-list li { font-size: 0.9375em; line-height: 2em; height: 2em; width: 100%; padding: 0px 0.933em; box-sizing: border-box; }
.bl-arc-rcmmnd .arc-list a, .bl-hot-rcmmnd .hot-list a, .bl-related-more .related-ls a, .bl-related-rcmmnd .related-list a { padding: 0.5em 0px; }
.bl-arc-rcmmnd li:last-child, .bl-hot-rcmmnd li:last-child, .bl-related-reading li:last-child { border-bottom: medium none; }
.bl-broadcast-rcmmnd .broadcast-list, .bl-hot-rcmmnd .hot-list, .bl-related-more .related-ls, .bl-related-rcmmnd .related-list { margin: 0.625em 0px; }
.bl-tipbox::after { bottom: 100%; border-style: solid; border-color: transparent transparent rgb(233, 233, 233); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; content: " "; height: 0px; width: 0px; position: absolute; border-width: 0.45em; left: 1em; }
.bl-cmmnt-list .replay-cont .count + .b-checkbox-active::before, .bl-cmmnt-list .replay-cont .count + .b-checkbox::before { content: ""; display: inline-block; border-left: 1px solid rgb(204, 204, 204); height: 100%; position: absolute; left: -1em; }
.bl-art-yy, .bl-atlas-rcmmnd, .bl-broadcast-rcmmnd, .bl-bsnss-bttm, .bl-channel-nav, .bl-head, .bl-hot-rcmmnd, .bl-related-more, .bl-related-rcmmnd, .bl-related-reading, .bl-sinaapp { border-radius: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(219, 219, 219); margin-bottom: 0.625em; }
.bl-tb-yy { border-radius: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(219, 219, 219); margin: 0px 0.9375em 0.625em; padding: 0.625em 0px; overflow: hidden; }
.bl-operation::after, .bl-operation::before { content: ""; display: block; height: 0px; border-top: 1px solid rgb(230, 230, 230); border-bottom: 1px solid rgb(250, 250, 250); margin: 0px 0.9375em 1.25em; }
.bl-operation::after { border-bottom: 1px solid rgb(230, 230, 230); border-top: medium none; margin: 1.25em 0.9375em; }
.bl-related-reading .txt-tit { height: 6.25em; box-sizing: border-box; margin: 0px 0.625em; vertical-align: top; position: relative; border-bottom: 1px solid rgb(233, 233, 233); }
.bl-related-reading .txt-tit .pic-tit-lk { position: relative; height: 5.05em; overflow: hidden; display: block; box-sizing: border-box; padding: 1.0625em 0.3125em 1.25em; }
.bl-related-reading .txt-tit .pic { position: relative; float: right; width: 5em; height: 3.75em; margin: 0.1875em 0px 0px 0.625em; }
.bl-related-reading .txt-tit h2 { font-size: 1em; font-weight: 400; line-height: 1.4375em; max-height: 2.6875em; overflow: hidden; color: rgb(102, 102, 102); }
.bl-related-reading .txt-tit .desc { margin-top: 0.6667em; line-height: 1.25em; color: rgb(153, 153, 153); font-size: 0.75em; }
.bl-related-reading .b-loading { padding-bottom: 1.25em; }
.bl-related-reading li.related_pro .desc.b-ellipsis, .bl-related-reading li.related_pro h2.b-ellipsis { white-space: nowrap; }
.bl-related-reading li.related_pro .desc.b-ellipsis { height: 1.5em; }
.bl-related-reading .related_pro .pic .promote { position: absolute; right: 0px; bottom: 0px; padding: 0.06667em 0.2em; background: rgb(193, 193, 193) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 0.6666em; border-radius: 1px; }
.bl-related-reading .related_pro a.pic-tit-lk { height: 5.1em; }
.bl-blog-foot { background: rgba(0, 0, 0, 0) url('foot_bg.png') repeat scroll 0% 0%; border-top: 1px solid rgb(216, 217, 222); border-bottom: 1px solid rgb(216, 217, 222); text-align: center; padding: 0px 14px; height: 3.75em; margin-top: 1.875em; }
.bl-sinaapp { padding: 0.9375em; line-height: 1; border-radius: 2px; margin: 0px 0.9375em 0.625em; }
.bl-sinaapp .game4-app { background: rgba(0, 0, 0, 0) url('by.png') no-repeat scroll 0% 0%; }
.bl-sinaapp .appimg { margin-right: 0.4375em; width: 2.5em; height: 2.5em; background-size: cover; float: left; }
.bl-sinaapp h4 { font-size: 1.25em; font-weight: 600; padding-bottom: 0.2em; line-height: 1.1; }
.bl-sinaapp .txt { font-size: 0.75em; color: rgb(153, 153, 153); }
.bl-sinaapp .app-download { float: right; text-align: center; margin-top: 0.1667em; }
.bl-bsnss-use { position: relative; z-index: 64; background: rgb(243, 243, 243) none repeat scroll 0% 0%; }
.bl-bsnss-use .bsnss-use { height: 5em; border-bottom: 1px solid rgb(230, 230, 230); overflow: hidden; }
.bl-bsnss-bttm .bsnss-use { height: auto; border: 0px none; }
.bl-bsnss-use .head { float: left; border: 1px solid rgb(222, 222, 222); border-radius: 2px; margin: 0.625em; }
.bl-bsnss-use .info { padding-top: 0.625em; }
.bl-bsnss-use .info h3 { font-size: 0.9375em; margin-bottom: 0.425em; }
.bl-bsnss-use .desc { font-size: 0.625em; }
.bl-bsnss-use .spnsr, .bl-tb-yy .spnsr { padding: 0.1em; background: rgb(193, 193, 193) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 0.6666em; border-radius: 1px; display: inline-block; }
.bl-bsnss-use .operat { position: absolute; right: 0.625em; top: 0.625em; }
.bl-bsnss-use .operat .call { background: rgba(0, 0, 0, 0) url('call.png') no-repeat scroll left top / 2.375em 5.8125em; display: inline-block; width: 2.45em; height: 2.40625em; margin-top: 0.6875em; }
.bl-bsnss-bttm { padding: 0.9375em; line-height: 1; border-radius: 2px; margin: 0px 0.9375em 0.625em; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.bl-bsnss-bttm .head { margin: 0px 0.4375em 0px 0px; }
.bl-bsnss-bttm .info { padding-top: 0px; }
.bl-bsnss-bttm .info h3 { font-size: 0.75em; }
.bl-bsnss-bttm .spnsr { margin-top: 1.4em; }
.bl-bsnss-bttm .operat .call { background-size: 2.27em 5.5em; margin-top: 1.25em; }
.night-mode, .night-mode .bl-article::after, .night-mode .bl-bsnss-use, .night-mode .bl-content, .night-mode .bl-header, .night-mode .bl-home-pic, .night-mode .f-wrap { background-color: rgb(29, 30, 33); }
.night-mode .bl-tipbox::after { border-bottom-color: rgb(40, 41, 46); }
.night-mode .b-checkbox-active, .night-mode .b-input, .night-mode .b-txtarea, .night-mode .bl-article, .night-mode .bl-article .propagation, .night-mode .bl-article::after, .night-mode .bl-blog-foot .home-up em, .night-mode .bl-cmmnt-list .cmmnt-list li, .night-mode .bl-cmmnt-list .replay-cont .count + .b-checkbox-active::before, .night-mode .bl-cmmnt-list .replay-cont .count + .b-checkbox::before, .night-mode .bl-cmmnt-list .reply-info a, .night-mode .bl-comment, .night-mode .bl-content .txt-tit, .night-mode .bl-edit-article .pic-mod, .night-mode .bl-edit-article .tit, .night-mode .bl-frnd-dynamic li, .night-mode .bl-mssg-bar .bar a, .night-mode .bl-operation::after, .night-mode .bl-operation::before, .night-mode .bl-related-reading .txt-tit, .night-mode .front-after-art { border-color: rgba(49, 51, 56, 0.8); }
.night-mode .bl-operation::before { border-bottom: 0px none; }
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
}
.l-slide .inner::before { content: " "; display: inline-block; vertical-align: middle; width: 0px; height: 100%; }
.l-slide .load-box::before { content: ""; display: inline-block; vertical-align: middle; width: 0px; height: 100%; }
@media only screen and (orientation: landscape) {
	.l-slide .last .other::before { content: ""; display: inline-block; vertical-align: middle; width: 0px; height: 100%; }
	.l-slide .last .artle:nth-child(4) { display: none; }
}
@media only screen and (orientation: portrait) {
	.bl-content .pic-tit-lk .desc.b-ellipsis, .bl-related-reading .pic-tit-lk .desc.b-ellipsis { white-space: normal; height: 2.5em; display: -webkit-box; -moz-box-orient: vertical; }
	.bl-content .pic-tit-lk h2.b-ellipsis, .bl-related-reading .pic-tit-lk h2.b-ellipsis { white-space: normal; max-height: 2.7em; display: -webkit-box; -moz-box-orient: vertical; }
	.label_mix .pic-tit-lk h2.b-ellipsis { max-height: none; }
}
.bl-wrap { background: rgb(251, 251, 251) none repeat scroll 0% 0%; }
.bl-wrap .bl-bsnss-bttm { margin: 0px 0.9375em 1.25em; padding: 0.875em; border-color: rgb(234, 234, 234); }
.bl-wrap .bl-bsnss-bttm .head { margin: 0px 0.625em 0px 0px; border: medium none; }
.bl-wrap .bl-bsnss-bttm .info { margin-left: 5.625em; }
.bl-wrap .bl-bsnss-bttm .info h3 { font-size: 0.9375em; color: rgb(47, 47, 47); line-height: 1.2em; padding-top: 3px; margin-bottom: 0.3333em; }
.bl-wrap .bl-bsnss-use .desc { line-height: 1.5; font-size: 0.75em; }
.bl-wrap .bl-bsnss-bttm .spnsr { margin-top: 6px; width: 2.4em; height: 1.2em; line-height: 1.2; font-size: 0.625em; color: rgb(108, 108, 108); background: rgb(240, 240, 240) none repeat scroll 0% 0%; border: 1px solid rgb(240, 240, 240); text-align: center; }
.bl-wrap .bl-bsnss-use .ad_labl { text-align: right; }
.bl-wrap .bl-bsnss-use .spnsr—right { color: rgb(232, 123, 85); border: 1px solid rgb(232, 123, 85); border-radius: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.bl-wrap .bl-add-top { padding-top: 6px; }
.bl-wrap .bl-add-top .bl-bsnss-bttm { margin-bottom: 0px; }
.bl-wrap .bl-add-top .bl-bsnss-bttm > a { display: block !important; }
.bl-wrap .bl-bsnss-bttm .bsnss-use { height: 60px; overflow: visible; }
.bl-usr-header { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; position: relative; height: 3.5em; }
.bl-usr-header .usr-header-box { position: relative; border-bottom: 1px solid rgb(234, 234, 234); padding: 1.125em 0px; margin: 0px 0.9375em; }
.bl-usr-header .bl-sinalogo { position: absolute; top: 1.125em; left: 0px; width: 5.6em; height: 1.25em; background: rgba(0, 0, 0, 0) url('blg_sinalogo.png') no-repeat scroll 0% 0% / cover ; }
.bl-usr-header .bl-prsn { position: absolute; top: 0px; right: 0px; }
.bl-usr-header .bl-prsn .usercnt { color: rgb(140, 140, 140); top: 0.2em; right: -0.1891em; left: inherit; }
.bl-usr-header .bl-prsn .bn-redtips { position: absolute; top: 0.9375em; right: 0px; width: 6px; height: 6px; border-radius: 3px; background: rgb(227, 10, 32) none repeat scroll 0% 0%; display: none; }
.blg_comment, .blg_comment .comment_box { position: relative; }
.bl-usr-header .usr-info-tips .bn-redtips { display: inline-block; }
.bl-usr-header .user-sort .blog-nm { font-size: 0.85em; color: rgb(43, 43, 43); }
.bl-usr-header .user-sort { padding: 0px 0px 0px 1em; }
.bl-article-new, .bl-edit-new { padding-top: 0px; }
.bl-article-new .article h1 { padding: 0.2173em 0px 0.5172em; color: rgb(43, 43, 43); }
.bl-article-new .article .read-time { padding-bottom: 1em; }
.bl-article-new .article .time { border-right: 1px solid rgb(230, 230, 230); padding-right: 0.83333em; vertical-align: middle; padding-left: 0px; }
.bl-article-new .article .reads { padding-left: 0.833333em; vertical-align: middle; border-right: medium none; }
.bl-article-new .bl-art-yy { background: rgb(240, 240, 240) none repeat scroll 0% 0%; border: medium none; margin: 0.7142em 1.071em 0px; }
.bl-article-new .new-loading { padding: 0.4375em 0px; background: rgb(240, 240, 240) none repeat scroll 0% 0%; margin: 0px 0.9375em; text-align: center; }
.bl-article-new .new-loading i { font-size: 0.75em; color: rgb(148, 148, 148); }
.bl-article-new .new-loading .ico_loading { display: inline-block; width: 1em; height: 1em; background: rgba(0, 0, 0, 0) url('ico_loading.gif') no-repeat scroll 0% 0% / cover ; margin-right: 0.46875em; vertical-align: middle; }
.bl-article-new .bl-operation::after, .bl-article-new .bl-operation::before { border: medium none; }
.bl-article-new .bl-operation .bl-art-yy { margin: 0px 1em 0.6875em; }
.bl_share { padding: 1.875em 0px 2.4375em; margin: 0px 0.9375em; }
.bl_share .share_ttl { padding: 0px 1.25em; text-align: center; position: relative; }
.bl_share .share_ttl i { border-bottom: 1px dotted rgb(234, 234, 234); height: 1px; display: block; margin-top: -10px; }
.bl_share .share_ttl span { color: rgb(79, 79, 79); font-size: 1em; background: rgb(251, 251, 251) none repeat scroll 0% 0%; padding: 0px 0.9375em; }
.bl_share .share_lst { width: 100%; display: inline-table; }
.bl_share .share_lst li { display: table-cell; text-align: center; padding-top: 2.5em; }
.bl_share .shr_sinablg { background: rgba(0, 0, 0, 0) url('shr_sinablg.png') no-repeat scroll 0% 0%; }
.bl_share .shr_wb { background: rgba(0, 0, 0, 0) url('shr_wb.png') no-repeat scroll 0% 0%; }
.bl_share .shr_wx { background: rgba(0, 0, 0, 0) url('shr_wx.png') no-repeat scroll 0% 0%; }
.bl_share .shr_frnd { background: rgba(0, 0, 0, 0) url('shr_frnd.png') no-repeat scroll 0% 0%; }
.bl_share .shr_ico { display: inline-block; width: 3.125em; height: 3.125em; background-size: cover; margin-bottom: 0.5em; }
.bl_share .share_lst li a span { display: block; font-size: 0.8125em; color: rgb(79, 79, 79); }
.blg_comment { padding: 0px 2.1875em 1.25em 0px; margin: 0px 0.9375em; }
.blg_comment .comment_input { width: 100%; height: 2.6786em; line-height: 2.6786em; border: 1px solid rgb(234, 234, 234); box-sizing: border-box; font-size: 0.875em; padding-left: 3.21em; }
.blg_comment .info_tips { position: absolute; top: 0px; right: 0.3125em; }
.blg_comment .ico_write { position: absolute; top: 0.625em; left: 1em; display: inline-block; width: 1.25em; height: 1.2em; background: rgba(0, 0, 0, 0) url('ico_write.png') no-repeat scroll 0% 0% / cover ; }
.blg_comment .tips_box { position: relative; display: inline-block; padding-top: 0.59375em; }
.blg_comment .ico_tips { display: inline-block; width: 1.5em; height: 1.375em; background: rgba(0, 0, 0, 0) url('commt_tip.png') no-repeat scroll 0% 0% / cover ; }
.blg_comment .tips_numb { position: absolute; top: 0.5111em; right: -0.7778em; color: rgb(255, 255, 255); padding: 0px 0.333em; line-height: 1.1667em; border-radius: 1.1em; font-size: 0.5625em; background: rgb(232, 123, 85) none repeat scroll 0% 0%; }
.new-related-more, .new-related-reading { padding-top: 0px; border: 1px solid rgb(234, 234, 234); }
.new-related-more .b-txt1, .new-related-reading .b-txt1 { font-size: 0.9375em; border-left: 0.2333em solid rgb(232, 123, 85); border-bottom: medium none; padding: 0px 0.9666em 0px 0.8em; }
.new-related-more .b-txt1 span, .new-related-reading .b-txt1 span { display: block; height: 2.4em; line-height: 2.4em; border-bottom: 1px solid rgb(234, 234, 234); }
.ico_tj_s, .ico_tlk, .icon_label { display: inline-block; }
.new-related-more .b-txt1 a, .new-related-reading .b-txt1 a { color: rgb(51, 51, 51); }
.new-related-more .related-ls li { padding-left: 1.9333em; background: rgba(0, 0, 0, 0) url('dot.png') no-repeat scroll 1em center / 0.2667em 0.2667em; }
.new-related-more .b-txt2 { color: rgb(79, 79, 79); }
.new-related-reading { margin-bottom: 1.25em; }
.new-related-reading .txt-tit { border-bottom: 1px solid rgb(242, 242, 242); margin: 0px 0.90625em; }
.new-related-reading .txt-tit h2 { font-size: 0.9375em; color: rgb(79, 79, 79); }
.new-related-reading .txt-tit .desc { color: rgb(140, 140, 140); }
.new-related-reading .txt-tit .pic-tit-lk { padding: 1.0625em 0px 1.25em; }
.label_mix .txt-tit { height: auto; padding-bottom: 1.25em; }
.label_mix .txt-tit .pic-tit-lk { height: auto; padding: 0.9037em 0px 0px; }
.label_mix .txt-tit h2 { line-height: 1.5; }
.label_mix .bl_updt_tm { float: left; }
.label_mix .bl_updt_tlk { float: right; }
.ico_tlk { width: 1.25em; height: 1.25em; background: rgba(0, 0, 0, 0) url('ico_tlk.png') no-repeat scroll 0% 0% / cover ; vertical-align: middle; margin-right: 4px; }
.label_mix .txt-tit .pic { margin: 0.3125em 0px 0px 1.25em; }
.label_mix .bl_list_tit { margin-right: 10px; }
.wrt_mutual-mod { position: fixed; bottom: 0px; left: 0px; width: 100%; background: rgb(251, 251, 251) none repeat scroll 0% 0%; margin: 0px; padding: 0px; z-index: 99; }
.wrt_mutual-mod .bl-comment { padding: 1em 0.9375em; }
.wrt_mutual-mod .forward { float: left; margin-top: 1.1875em; }
.wrt_mutual-mod .bl-comment .forward .b-txt3 { margin-left: 0.625em; color: rgb(140, 140, 140); }
.wrt_mutual-mod .b-txtarea { color: rgb(66, 66, 66); font-size: 1em; height: 4.625em; line-height: 1.25em; border-color: rgb(234, 234, 234); background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0.5em 0.3125em 0.5em 0.625em; }
.wrt_mutual-mod .submint { float: right; margin-top: 0.9375em; }
.wrt_mutual-mod .b-checkbox-active { width: 0.7142em; height: 0.7142em; border-color: rgb(226, 226, 226); }
.wrt_mutual-mod .b-checkbox-active .b-ft-icon { font-size: 0.875em; color: rgb(233, 130, 94); line-height: 0.575em; }
.wrt_mutual-mod .publsh_btn { color: rgb(255, 255, 255); display: inline-block; font-size: 0.8125em; height: 2em; line-height: 2em; padding: 0px 1em; background: rgb(232, 123, 85) none repeat scroll 0% 0%; border-radius: 2px; }
.bl_share .share_lst li a { display: block; }
