.adsame_ad_wrapper { position: relative; width: 300px; height: 250px; }
.adsame_ad_logo { position: absolute; bottom: 0px; right: 0px; width: 19px; height: 15px; background-repeat: no-repeat; text-indent: -499px; overflow: hidden; outline: 0px none; border: 0px none; }
.adsame_ad_logo:hover { width: 76px; height: 15px; border: 0px none; }
.adsame_ad_logo { background-image: url('adsame_logo.png'); }
.adsame_ad_logo:hover { background-image: url('adsame_large_logo.png'); }
