/* ::::: http://www.it610.com/r/cms/www/it610/css/html5.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-size: 100%; background: transparent none repeat scroll 0% 0%; }
body { color: rgb(18, 46, 103); background-color: rgb(255, 255, 255); font-size: 14px; line-height: 1.5em; font-family: Arial,Tahoma,"hiragino sans gb",Helvetica; }
a { text-decoration: none; color: rgb(18, 46, 103); font-size: 14px; cursor: pointer; }
a:hover { text-decoration: none; color: rgb(197, 11, 14); font-size: 14px; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
table { border-collapse: collapse; border-spacing: 0px; }
h1, h2, h3, h4, em { font-weight: normal; font-style: normal; }
li { list-style: outside none none; margin: 0px; padding: 0px; }
img { border: 0px none; }
.clear { clear: both; }
.clear-10 { clear: both; height: 10px; }
.container { margin: auto; width: 980px; }
.theTop { background: rgb(246, 246, 246) none repeat scroll 0% 0%; width: 100%; border-bottom: 1px solid rgb(222, 222, 222); height: 30px; line-height: 30px; font-size: 12px; }
.theTop a { font-size: 12px; }
.theTopLeft { float: left; }
.theTopRight { float: right; }
.pageTitle, .main { width: 100%; }
.webLogo { width: 30%; float: left; margin: 5px 0px; }
.searchCon { padding-top: 20px; float: right; width: 50%; }
.searchBg { background-image: url('5-searchbg.gif'); height: 35px; line-height: 35px; float: left; width: 70%; border-left: 1px solid rgb(204, 204, 204); }
.searchMenu { border: 0px none; float: left; cursor: pointer; background-image: url('searchmenu.gif'); width: 56px; height: 35px; }
#menu { background-image: url('daohanglanbg.jpg'); height: 35px; width: 100%; }
#topmenu { margin: 0px; text-align: center; }
#topmenu dt { text-align: center; padding: 0px; float: left; margin: 8px 0px 0px; height: 20px; line-height: 20px; font-weight: bold; width: 7.5%; border-right: 1px dashed rgb(113, 180, 241); }
#topmenu dt a { color: rgb(255, 255, 255); font-size: 14px; }
#topmenu dt a.selected:link, #topmenu dt a.selected:visited { font-weight: bold; color: rgb(207, 232, 255); width: 100%; display: block; }
#topmenu dt a:link { text-decoration: none; color: rgb(255, 255, 255); }
#topmenu dt a:visited { text-decoration: none; color: rgb(255, 255, 255); }
#topmenu dt a:hover { text-decoration: none; color: rgb(207, 232, 255); }
.w300 { float: right; width: 300px; }
.w670 { float: left; width: 670px; }
.mt10 { margin-top: 10px; }
.hundred100 { width: 100%; }
.rim04 { border-width: 2px 1px 1px; border-style: solid; border-color: rgb(32, 111, 150) rgb(245, 245, 245) rgb(245, 245, 245); }
.clearfix::after { display: block; overflow: hidden; clear: both; height: 0px; visibility: hidden; content: "."; }
.footBg { width: 100%; margin: auto; line-height: 28px; text-align: center; }
.footBglm { line-height: 28px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
.jrhtCon, .cjbdCon { width: 100%; background: rgb(249, 249, 249) none repeat scroll 0% 0%; padding-bottom: 10px; }
.website { line-height: 30px; height: 30px; border-bottom: 1px solid rgb(221, 221, 221); }
.newsTex { width: 97%; margin: auto; }
.newsTex h1 { font-size: 28px; padding: 20px 0px; font-family: "微软雅黑","黑体"; text-align: center; line-height: 30px; }
.msgbar { line-height: 30px; text-align: center; color: rgb(153, 153, 153); font-size: 12px; }
.summary { border: 1px solid rgb(221, 221, 221); background: rgb(248, 251, 255) none repeat scroll 0% 0%; padding: 8px 2px; width: 98%; margin: 10px auto; line-height: 20px; font-size: 12px; color: rgb(114, 114, 114); }
.newsCon { font-size: 14px; width: 100%; line-height: 24px; overflow-wrap: break-word; word-break: break-all; }
.pagebar { height: 30px; line-height: 30px; text-align: center; }
.other { height: 60px; text-align: center; border-top: 1px solid rgb(204, 204, 204); padding-top: 10px; }
.news_tag { text-align: center; }
.news_tag a { display: inline-block; margin: 0px 5px 5px 0px; padding: 3px 10px; background-color: rgb(170, 181, 195); border-radius: 10px; color: rgb(255, 255, 255); text-decoration: none; }
.score { border: 0px solid red; display: inline-block; }
.recommend1 { width: 648px; height: 130px; border-width: 1px; border-style: solid; border-color: rgb(193, 193, 193); float: left; }
.recommend2 { border: 0px solid red; width: 118px; float: left; margin: 3px 2px 0px 8px; }
.recommend3 img { border: 1px solid rgb(213, 213, 213); width: 120px; height: 101px; }
.recommend4 { border: 0px solid red; width: 118px; word-break: keep-all; white-space: nowrap; overflow: hidden; float: left; padding: 2px 0px 0px; }
.search_001 { padding: 8px 8px 0px; }
.search_001_head { font-size: 16px; padding: 3px; display: block; background-color: rgb(205, 205, 205); }
.search_001_c0 { border: 0px solid rgb(213, 213, 213); width: 290px; height: 20px; margin: 3px 0px 0px; }
.search_001_redbg { display: block; background: rgb(190, 28, 26) none repeat scroll 0% 0%; width: 18px; height: 18px; line-height: 18px; color: rgb(255, 255, 255); text-align: center; margin-top: 3px; float: left; }
.search_001_title a { font-size: 14px; color: rgb(51, 51, 51); line-height: 23px; float: left; margin-left: 3px; }
.search_001_title a { width: 260px; word-break: keep-all; white-space: nowrap; overflow: hidden; }
.search_002 { padding: 8px 4px 0px; }
.search_002_head { font-size: 16px; padding: 3px; display: block; background-color: rgb(205, 205, 205); }
.search_002_c0 { border-bottom: 1px solid rgb(213, 213, 213); width: 290px; height: 60px; margin: 3px 0px 0px; }
.search_002_redbg { display: block; background: rgb(247, 121, 11) none repeat scroll 0% 0%; width: 18px; height: 18px; line-height: 18px; color: rgb(255, 255, 255); text-align: center; margin-top: 3px; float: left; }
.search_002_title a { font-size: 14px; color: rgb(51, 51, 51); line-height: 23px; float: left; margin-left: 3px; }
.search_002_title a { width: 260px; word-break: keep-all; white-space: nowrap; overflow: hidden; }
.search_002_c2 { font-size: 12px; width: 290px; overflow: hidden; }
.rim06 { border: 1px solid rgb(216, 216, 216); background: rgb(252, 252, 252) none repeat scroll 0% 0%; }
.ding { width: 52px; height: 51px; background: rgba(0, 0, 0, 0) url('ding.gif') no-repeat scroll center top; margin: 5px; color: rgb(33, 122, 179); font-weight: bold; font-size: 12px; line-height: 23px; font-family: Georgia,"Times New Roman",Times,serif; cursor: pointer; float: left; }
.cai { width: 52px; height: 51px; background: rgba(0, 0, 0, 0) url('cai.gif') no-repeat scroll center top; margin: 5px; color: rgb(255, 102, 0); font-weight: bold; font-size: 12px; line-height: 23px; font-family: Georgia,"Times New Roman",Times,serif; cursor: pointer; float: left; }
.ding p, .cai p { display: block; font-weight: 700; }
@media screen and (min-width: 980px) and (max-width: 1024px) {
	.container { margin: auto; width: 980px; }
}
@media screen and (min-width: 811px) and (max-width: 979px) {
	.container { margin: auto; width: 97.5%; }
	#menu { background-image: url('daohanglanbg.jpg'); height: 35px; width: 100%; }
	#topmenu dt { text-align: center; padding: 0px; float: left; margin: 8px 0px 0px; height: 20px; line-height: 20px; font-weight: bold; border-right: 1px dashed rgb(113, 180, 241); }
	.w300 { float: right; width: 30.6122%; }
	.w670 { float: left; width: 68.3673%; }
	.mt10 { margin-top: 10px; }
}
@media screen and (min-width: 551px) and (max-width: 810px) {
	.container { margin: auto; width: 97.5%; }
	#topmenu dt { text-align: center; padding: 0px; float: left; margin: 8px 0px 0px; height: 20px; line-height: 20px; font-weight: bold; width: 19.6%; }
	#menu { background-image: url('dhl02.gif'); height: 70px; width: 100%; }
	.theTopLeft { display: none; }
	.w300 { float: none; width: 100%; }
	.w670 { float: none; width: 100%; }
	.mt10 { margin-top: 10px; }
}
@media screen and (max-width: 980px) {
}
@media screen and (min-width: 600px) and (max-width: 978px) {
}
@media screen and (min-width: 401px) and (max-width: 599px) {
}
@media screen and (max-width: 675px) {
}
@media screen and (max-width: 550px) {
	.container { width: 100%; }
	#topmenu dt { text-align: center; padding: 0px; float: left; margin: 8px 0px 0px; height: 20px; line-height: 20px; font-weight: bold; width: 19.6%; }
	#menu { background-image: url('dhl02.gif'); height: 70px; width: 100%; }
	.theTopLeft { display: none; }
	.searchCon { display: none; }
	.w300 { float: none; width: 100%; }
	.w670 { float: none; width: 100%; }
	.mt10 { margin-top: 10px; }
}
@media screen and (max-width: 400px) {
}
@media screen and (min-width: 401px) and (max-width: 549px) {
}
@media screen and (max-width: 269px) {
}
@media screen and (min-width: 270px) and (max-width: 420px) {
}
@media screen and (min-width: 421px) and (max-width: 550px) {
}
@media screen and (min-width: 801px) and (max-width: 979px) {
}
@media screen and (min-width: 270px) and (max-width: 400px) {
}
@media screen and (min-width: 401px) and (max-width: 800px) {
}
@media screen and (min-width: 200px) and (max-width: 950px) {
}
/* ::::: http://www.it610.com/r/cms/front.css ::::: */

.clear { clear: both; }
/* ::::: http://www.it610.com/r/cms/jqueryUI/jquery.ui.css ::::: */

.ui-helper-hidden-accessible { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; }
.ui-helper-clearfix::after { clear: both; }
.ui-autocomplete { position: absolute; top: 0px; left: 0px; cursor: default; }
button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
.ui-menu { list-style: outside none none; padding: 2px; margin: 0px; display: block; outline: medium none; }
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid rgb(170, 170, 170); background: rgb(255, 255, 255) url('ui-bg_flat_75_ffffff_40x100.png') repeat-x scroll 50% 50%; color: rgb(34, 34, 34); }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 4px; }
.newsCon { font-size: 14px; word-break: break-all; }
/* ::::: http://www.it610.com/thirdparty/syntaxhighlighter/styles/shCoreDefault.css ::::: */

.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea { border-radius: 0px !important; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important; border: 0px none !important; bottom: auto !important; float: none !important; height: auto !important; left: auto !important; line-height: 1.1em !important; margin: 0px !important; outline: 0px none !important; overflow: visible !important; padding: 0px !important; position: static !important; right: auto !important; text-align: left !important; top: auto !important; vertical-align: baseline !important; width: auto !important; box-sizing: content-box !important; font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important; font-weight: normal !important; font-style: normal !important; font-size: 1em !important; min-height: auto !important; }
.syntaxhighlighter { width: 100% !important; margin: 1em 0px !important; position: relative !important; overflow: auto !important; font-size: 1em !important; }
.syntaxhighlighter .bold { font-weight: bold !important; }
.syntaxhighlighter .line { white-space: pre !important; }
.syntaxhighlighter table { width: 100% !important; }
.syntaxhighlighter table td.code { width: 100% !important; }
.syntaxhighlighter table td.code .container { position: relative !important; }
.syntaxhighlighter table td.code .line { padding: 0px 1em !important; }
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line { padding-left: 0em !important; }
.syntaxhighlighter .toolbar { position: absolute !important; right: 1px !important; top: 1px !important; width: 11px !important; height: 11px !important; font-size: 10px !important; z-index: 10 !important; }
.syntaxhighlighter .toolbar a { display: block !important; text-align: center !important; text-decoration: none !important; padding-top: 1px !important; }
.syntaxhighlighter { background-color: white !important; }
.syntaxhighlighter .line.alt1 { background-color: white !important; }
.syntaxhighlighter .line.alt2 { background-color: white !important; }
.syntaxhighlighter .toolbar { color: white !important; background: rgb(108, 226, 108) none repeat scroll 0% 0% !important; border: medium none !important; }
.syntaxhighlighter .toolbar a { color: white !important; }
.syntaxhighlighter .toolbar a:hover { color: black !important; }
.syntaxhighlighter .plain, .syntaxhighlighter .plain a { color: black !important; }
.syntaxhighlighter .comments, .syntaxhighlighter .comments a { color: rgb(0, 130, 0) !important; }
.syntaxhighlighter .string, .syntaxhighlighter .string a { color: blue !important; }
.syntaxhighlighter .keyword { color: rgb(0, 102, 153) !important; }
.syntaxhighlighter .preprocessor { color: gray !important; }
.syntaxhighlighter .functions { color: rgb(255, 20, 147) !important; }
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a { color: gray !important; }
.syntaxhighlighter .keyword { font-weight: bold !important; }
/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css ::::: */

.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_renren { background-position: 0px -208px; }
.bdshare-button-style0-16 .bds_tqq { background-position: 0px -260px; }
.bdshare-button-style0-16 .bds_youdao { background-position: 0px -2080px; }
.bdshare-button-style0-16 .bds_more { background-position: 0px 0px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url('icons_0_16.png'); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
.bdshare-button-style0-16 .bds_more { color: rgb(51, 51, 51); float: left; }
