body { margin: 0px; padding: 0px; }
#ad_iframe { border: 0px none; vertical-align: bottom; width: 244px; height: 488px; position: absolute; left: 50%; margin-left: -122px; top: 0px; margin-top: 0px; }
