@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('ek4gzz-gexapcsbhtceqi_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('mervlbyg_cxg3rlvuskt_feszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('-2n2p-_y08sg57cnwqfknveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('u0topm082mnks5k0q4rhqveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('ndf9mtnoplzo-nomog0mipeszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('fcx7wwv8ozt71a3e1xoajveszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('cwb0xya8bzo0ksthx0utua.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('zlqkeelybatg60epzbsdyxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('ohi30kwqwvpcwqahzhccsbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('rgvhdjnr2l75qb0ynd9nybjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('mx9uck6ub63vikfynemxrrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('mbmhprmh69zi6eepbyvfhrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('ooefwznlrtefzlymlvv1ubjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('rxzjdnzeo3r5zsexge8uuvtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('s7gftie1janc-qmdjvmwzhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('3y_xcyt7tnunmgg0et2pnhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('weqrre07fdkirr29ohqghbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('jyiyrockjm3gz4kv00yxobjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('phsu-qzxz1jbv0pbfopmebjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('9_7s_twegdh5pq3u05rvkhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: local("Roboto Black"), local("Roboto-Black"), url('mnpfi9pxyh-go5uiibesiltxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: https://www.gstatic.com/recaptcha/api2/r20170717162708/styles__ltr.css ::::: */

.goog-inline-block { position: relative; display: inline-block; }
:first-child + html .goog-inline-block { display: inline; }
.jfk-radiobutton-checked .jfk-radiobutton-radio::after { border-radius: 50%; background: rgb(96, 96, 96) none repeat scroll 0% 0%; border: 2px solid rgb(96, 96, 96); box-sizing: border-box; content: ""; display: block; height: 7px; left: 3px; position: relative; top: 3px; width: 7px; }
.jfk-radiobutton-disabled.jfk-radiobutton-checked .jfk-radiobutton-radio::after { background: rgb(184, 184, 184) none repeat scroll 0% 0%; }
body { margin: 0px; }
.rc-button-default { background: rgb(74, 144, 226) none repeat scroll 0% 0%; border: 0px none; border-radius: 2px; color: rgb(255, 255, 255); cursor: pointer; font-family: Roboto,helvetica,arial,sans-serif; font-size: 12px; font-weight: 500; height: 34px; line-height: 34px; min-width: 90px; padding: 0px 10px; text-align: center; text-transform: uppercase; transition: all 0.5s ease 0s; }
body { margin: 0px; }
.rc-imageselect-instructions strong { font-weight: 900; display: block; font-size: 28px; }
.rc-footer { font-family: Roboto,helvetica,arial,sans-serif; position: relative; width: 100%; }
.rc-separator { border-top: 1px solid rgb(223, 223, 223); margin-bottom: 0px; }
.rc-controls { width: 100%; }
.primary-controls { height: 60px; }
.rc-buttons { float: left; height: 24px; margin: 16px 0px 20px 3px; }
.button-holder { float: left; margin-left: 10px; }
.rc-button-reload { background: rgba(0, 0, 0, 0) url('refresh.png') repeat scroll 0% 0%; }
.rc-button-audio { background: rgba(0, 0, 0, 0) url('audio.png') repeat scroll 0% 0%; }
.rc-button-image { background: rgba(0, 0, 0, 0) url('image.png') repeat scroll 0% 0%; }
.rc-button-help { background: rgba(0, 0, 0, 0) url('info.png') repeat scroll 0% 0%; }
.rc-button-undo { background: rgba(0, 0, 0, 0) url('undo.png') repeat scroll 0% 0%; }
.rc-button-reload::before { content: url('refresh.png'); }
.rc-button-audio::before { content: url('audio.png'); }
.rc-button-image::before { content: url('image.png'); }
.rc-button-help::before { content: url('info.png'); }
.rc-button-undo::before { content: url('undo.png'); }
.rc-button { background-size: 24px 24px; cursor: pointer; height: 24px; opacity: 0.55; width: 24px; padding: 0px; border: 0px none; }
.rc-button:focus, .rc-button:hover { opacity: 0.8; }
.verify-button-holder { float: right; margin: 11px 13px 15px 0px; }
.rc-challenge-help { font-family: Roboto,helvetica,arial,sans-serif; font-size: 12px; font-weight: 400; overflow-y: scroll; padding: 5px 20px; }
.rc-footer { z-index: 100; background-color: white; bottom: 0px; position: absolute; }
#rc-imageselect { min-width: 240px; font-family: Roboto,helvetica,arial,sans-serif; background-color: rgb(255, 255, 255); }
#rc-imageselect .rc-button:focus { outline: medium none; }
.rc-imageselect-candidates { position: absolute; right: 13px; top: 14px; }
.rc-imageselect-desc { margin-left: -10px; margin-top: -10px; padding-right: 100px; position: relative; }
.rc-imageselect-instructions .rc-imageselect-desc strong { font-size: 22px; }
.rc-imageselect-desc span { display: block; }
.rc-imageselect-payload { min-width: 240px; margin: 0px 7px; padding: 7px 0px; }
.rc-imageselect-challenge { position: relative; width: 100%; }
.rc-footer { min-width: 240px; }
.rc-imageselect-incorrect-response, .rc-imageselect-error-dynamic-more, .rc-imageselect-error-select-more, .rc-imageselect-error-select-something { color: rgb(209, 72, 54); font-size: 14px; padding: 7px 0px; text-align: center; width: 100%; background-color: white; }
.rc-imageselect-desc-wrapper { margin-bottom: 6px; }
.rc-imageselect-candidates { border: 2px solid white; box-sizing: border-box; overflow: hidden; width: 112px; height: 94px; }
.rc-imageselect-checkbox { background: rgba(0, 0, 0, 0) url('undefined') repeat scroll 0% 0%; display: none; position: absolute; }
.rc-imageselect-table-shrink .rc-imageselect-table-44:not(.followup) { transform: scale(0.6); margin: -20% 0px; }
.rc-imageselect-table-42, .rc-imageselect-table-33, .rc-imageselect-table-44 { border-collapse: separate; border-spacing: 0px; width: 100%; height: 100%; transition: all 1s ease 0s; }
.rc-imageselect-table-44 { margin: -1px; }
.rc-imageselect-table-44 td { padding: 1px; }
.rc-image-tile-target tr, td { margin: 0px; }
td:focus { outline: medium none; }
.rc-image-tile-overlay { display: none; opacity: 0; position: absolute; background-color: rgb(74, 144, 226); width: 100%; height: 100%; z-index: 2; transition: opacity 1s cubic-bezier(0.49, 0.78, 0.46, 1.34) 0s; }
.rc-image-tile-target { position: relative; }
.rc-image-tile-wrapper { transform: scale(1); }
.rc-imageselect-challenge { box-sizing: border-box; text-align: center; -moz-user-select: none; }
.rc-imageselect-desc { font-size: 16px; font-weight: 400; }
.rc-imageselect-desc-wrapper span { font-size: 14px; font-weight: 100; }
.rc-image-tile-wrapper { overflow: hidden; position: relative; transition: all 0.1s ease 0s; }
.rc-image-tile-wrapper img { position: relative; backface-visibility: hidden; }
.rc-image-tile-44 { width: 400%; height: 400%; }
.rc-imageselect-instructions { height: 113px; width: 100%; margin-bottom: 7px; position: relative; }
.rc-imageselect-desc-wrapper { background-color: rgb(74, 144, 226); position: relative; padding: 24px; color: white; font-weight: 500; height: 66px; font-size: 16px; }
.rc-imageselect-progress { background-color: rgb(65, 124, 193); position: absolute; bottom: 0px; right: 0px; width: 0px; height: 15px; transition: all 1s ease 0s; }
.rc-imageselect-carousel-instructions { transition: all 0.2s ease 0s; opacity: 1; }
#rc-imageselect-candidate img { width: 112px; height: 94px; background-size: 112px 94px; }
.rc-canonical-car { background: rgba(0, 0, 0, 0) url('canonical_car.png') no-repeat scroll 0% 0%; }
