/* ::::: https://s2.ssl.qhres.com/static/b3cc511bd953571e.css ::::: */

/* ::::: https://s0.ssl.qhres.com/static/64b03c4fbf7386ab.css ::::: */

@font-face {
	font-family: "iconfont";
	src: url('font_wsni5ytblm78pvi.eot') format("embedded-opentype"), url('font_wsni5ytblm78pvi.woff') format("woff"), url('font_wsni5ytblm78pvi.ttf') format("truetype"), url('font_wsni5ytblm78pvi.svg') format("svg");
}
.star:nth-child(2) { display: block; width: 0.55rem; height: 0.55rem; left: 4rem; background-size: 100% 100%; }
.star:nth-child(3) { display: block; width: 0.75rem; height: 0.75rem; top: -0.4rem; left: 5.5rem; background-size: 100% 100%; }
.star:nth-child(4) { display: block; width: 0.55rem; height: 0.55rem; left: 9rem; background-size: 100% 100%; }
.star:nth-child(5) { display: block; width: 0.875rem; height: 0.875rem; left: 7.5rem; top: -0.3rem; background-size: 100% 100%; }
@media screen and (max-width: 360px) {
}
.ribbon:nth-of-type(1) { top: 2rem; left: 1.25rem; background: rgba(0, 0, 0, 0) url('t01d01cfcc64e9098f7.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(2) { top: 4.35rem; left: 0.75rem; background: rgba(0, 0, 0, 0) url('t018dbc01f3ea7dbec7.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(3) { top: 6rem; left: 2.8rem; background: rgba(0, 0, 0, 0) url('t01531309b5be00c594.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(4) { top: 9.8rem; left: -1rem; background: rgba(0, 0, 0, 0) url('t013c784df56bcc8b15.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(5) { top: 10.6rem; left: 1.4rem; background: rgba(0, 0, 0, 0) url('t01a0b138ddb6fd706e.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(6) { top: 13rem; left: 0rem; background: rgba(0, 0, 0, 0) url('t01c72cd48e508180fe.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(7) { top: 13rem; right: 1.5rem; background: rgba(0, 0, 0, 0) url('t0195a46f04c0c5ff09.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(8) { top: 15.9rem; left: 1.4rem; background: rgba(0, 0, 0, 0) url('t0120b42c04125b7bd1.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(9) { top: 2rem; right: 2.5rem; background: rgba(0, 0, 0, 0) url('t0182cd68fee222aba2.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(10) { top: 6rem; right: -0.75rem; background: rgba(0, 0, 0, 0) url('t01fdc868d9d9d86bff.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(11) { top: 8rem; right: 4.7rem; background: rgba(0, 0, 0, 0) url('t013c784df56bcc8b15.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(12) { top: 10rem; right: 0.3rem; background: rgba(0, 0, 0, 0) url('t01c72cd48e508180fe.png') no-repeat scroll center center / 100% 100%; }
.ribbon:nth-of-type(13) { top: 12rem; right: -1rem; background: rgba(0, 0, 0, 0) url('t018dbc01f3ea7dbec7.png') no-repeat scroll center center / 100% 100%; }
#dialog5 .boxBGNone .goto::after { content: ""; width: 1.15rem; height: 2.65rem; position: absolute; left: 0px; top: 0px; }
#dialog5 .boxBG .goto::after { content: ""; width: 1.15rem; height: 2.65rem; position: absolute; left: 0px; top: 0px; }
#dialog5 .showPrize-dialog .detail .goto::after { content: ""; width: 1.15rem; height: 2.65rem; position: absolute; left: 0px; top: 0px; }
#getaward button::-moz-focus-inner, #getaward input::-moz-focus-inner { border: 0px none; padding: 0px; }
#getaward input::-moz-placeholder { font-size: 0.8rem; color: rgb(255, 182, 182); }
img { width: 100%; height: auto; }
/* ::::: https://s2.ssl.qhres.com/static/2714fa72ece23843.css ::::: */

body, html { height: 100%; }
.page-main, body { width: 100%; }
.main, .page, .page-group { position: relative; }
.ruleIcon, img, input, select { vertical-align: middle; }
.change, .main, .needtime, .start, .start.disabled, .start.pressed, .wheel { background-repeat: no-repeat; }
.m-state-2 > em, i { font-style: normal; }
.m-prize-btn, .moreAct, .more_header, .needtime i, .prize .prize-dialog, .rule header { text-align: center; }
body, div, fieldset, form, h1, h2, h3, h4, h5, h6, img, li, ol, p, table, td, ul { margin: 0px; padding: 0px; border: 0px none; }
img { display: inline-block; }
body { margin: 0px auto; overflow-y: auto; overflow-x: hidden; -moz-user-select: none; background-color: transparent !important; font-family: sans-serif; cursor: pointer; }
.page-group.page-current, .page.page-current { color: rgb(51, 51, 51); font-size: 0.6rem; font-family: "Microsoft YaHei"; }
.page-group { display: none; }
.main { height: 22.65rem; overflow: hidden; margin: 0px auto -2px; background-image: url('t0131581d5a43510175.png'); background-size: 17rem 14.98rem; background-position: center top; }
.activity, .change, .needtime, .wheel .turnplateborder { background-position: center center; }
#myAwards { position: absolute; top: 0px; left: 0px; z-index: 10001; background-image: url('t0191fa1512aeb27291.png'); background-size: 100% auto; height: 2.5rem; width: 2.5rem; }
.wheel, .wheel .turnplate { position: relative; display: block; }
.wheel { width: 15rem; height: 14.98rem; margin: 0px auto; background-size: 100% 100%; }
@media screen and (max-width: 196px) {
	.wheel { width: 14.4rem; height: 14.5rem; }
	.turnplateborder { width: 14.4rem !important; height: 14.5rem !important; }
}
.wheel .turnplate { width: 100%; height: 100%; }
.wheel .turnplateborder { width: 15rem; height: 14.98rem; background-size: contain; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; margin: auto; box-sizing: border-box; }
.wheel .turnplateborder.default { background-repeat: no-repeat; background-position: center center; animation: 0.5s linear 0s normal none infinite running blind; }
.change { animation: 0.5s linear 0.5s normal none infinite running blinc; }
.needtime { width: 7.5rem; height: 1.2rem; margin: 0.25rem auto 0px; position: relative; background-size: 100% auto; }
.disable, .m-state-1, .m-state-2, .needtime i, .point, .ruleIcon, .start { position: absolute; }
.ruleIcon { display: block; height: 1rem; width: 1rem; right: 0.1rem; top: 0.1rem; }
.needtime i { width: 94%; line-height: 100%; font-size: 0.76rem; top: 50%; transform: translateY(-50%); }
.prize-dialog, .prize-dialog > p { font-weight: 500; }
.disable, .start { width: 4rem; height: 5.5rem; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 999; background-size: 100% auto; }
.core, .pop-circle, .pop-hand { background-size: 100% 100%; position: absolute; }
img { width: 100%; }
.hand { width: 4rem; height: 5.5rem; }
.hand > img { width: 2.5rem; height: 2.925rem; position: absolute; right: 0px; bottom: -0.7rem; animation: 1.5s linear 0s normal none infinite running guideHand; }
.activity, .core { top: 0px; background-repeat: no-repeat; right: 0px; }
#way span:nth-of-type(2) { display: inline-block; font-size: 0.6rem; line-height: 1rem; margin-left: 0.1rem; }
.core { width: 13.7rem; height: 13.7rem; border-radius: 50%; overflow: hidden; bottom: 0px; left: 0px; margin: auto; z-index: 1; }
.core-box { width: 100%; height: 100%; }
.core-box .prize { position: absolute; width: 50%; height: 50%; transform-origin: right bottom 0px; }
.prize-dialog > p { font-size: 0.8rem; }
.core-box .prize:nth-child(1) { transform: rotate(30deg) skewY(30deg); }
.core-box .prize:nth-child(2) { transform: rotate(90deg) skewY(30deg); }
.core-box .prize:nth-child(3) { transform: rotate(150deg) skewY(30deg); }
.core-box .prize:nth-child(4) { transform: rotate(210deg) skewY(30deg); }
.core-box .prize:nth-child(5) { transform: rotate(270deg) skewY(30deg); }
.core-box .prize:nth-child(6) { transform: rotate(330deg) skewY(30deg); }
.prize .prize-dialog { position: absolute; bottom: 0.3rem; left: 2.5rem; width: 4.4rem; height: 4.4rem; transform: skewY(-30deg) rotate(-30deg); }
.prize-dialog img { width: 2.5rem; height: 2.5rem; }
#active::after { content: ""; width: 4px; height: 95px; position: absolute; top: 0px; right: 0px; background-color: rgb(203, 128, 10); border-radius: 4px; }
.page-loading { width: 100%; height: 100%; display: flex; }
.page-loading > div { margin: auto; padding-left: 3px; }
.page-loading .loading-tips { margin: 10px 0px; font-size: 15px; font-weight: 700; text-align: center; word-break: keep-all; color: rgb(234, 108, 108); }
.lds-hourglass { display: inline-block; position: relative; width: 72px; height: 72px; }
.lds-hourglass::after { content: " "; display: block; border-radius: 50%; width: 0px; height: 0px; margin: 6px; box-sizing: border-box; border-width: 36px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(255, 171, 171) transparent rgb(53, 153, 158); animation: 1.2s ease 0s normal none infinite running lds-hourglass; }
.prize-dialog p { padding-top: 0.1rem; }
/* ::::: https://cjhd.mediav.com/css/wheel/wheel_white.css ::::: */

.wheel { background-image: url('t01899c24e489f625dd.png'); }
.wheel .turnplateborder.default { background-image: url('t0136b42f6390277a68.png'); }
.wheel .turnplateborder.change { background-image: url('t01cc397b36cfaa20d2.png'); }
.core { background-image: url('t014d132ee0184b89f4.png'); }
.needtime { background-image: url('t01c9b7c9b7bbd87445.png'); }
.start { background-image: url('t017336a164d8c142ba.png'); }
.prize-dialog > p { color: rgb(99, 160, 171); }
.needtime i { color: rgb(255, 255, 255); font-weight: 700; }
