body { margin: 0px; padding: 0px; font-size: 14px; font-family: arial,"microsoft yahei",宋体,sans-serif; }
body * { margin: 0px; padding: 0px; font-size: 100%; }
body img { border: 0px none; }
body .clearfix::after { clear: both; content: " "; height: 0px; display: block; }
#wrapper { position: relative; }
/* ::::: https://cpro.baidustatic.com/cpro/ui/noexpire/ws/css/ui_e37e61c.css ::::: */

.logo-container { display: block; position: absolute; right: 0px; bottom: 0px; z-index: 65534; font-size: 0px; height: 16px; background: rgba(102, 102, 102, 0.6) none repeat scroll 0% 0%; }
.logo-container .gap { display: inline-block; width: 1px; height: 16px; background-color: rgb(255, 255, 255); opacity: 0.45; }
.logo-link { display: inline-block; width: 33px; height: 10px; margin: 3px 4px; background: rgba(0, 0, 0, 0) url('new-logo_ee06f3d.png') no-repeat scroll center center / 33px 10px; }
#logo-close-btn { display: inline-block; width: 8px; height: 8px; margin: 4px; background: rgba(0, 0, 0, 0) url('close_9d33a11.png') no-repeat scroll center center / 8px 8px; }
@media not all, not all {
	.logo-link { background-image: url('new-logo@2x_ef70fd1.png'); }
	#logo-close-btn { background-image: url('close@2x_86b60c1.png'); }
}
@media not all, not all {
	.logo-link { background-image: url('new-logo@3x_d8ccfe1.png'); }
	#logo-close-btn { background-image: url('close@3x_15a5bc7.png'); }
}
.feedback-container { display: none; position: absolute; z-index: 65535; top: 0px; right: 0px; bottom: 0px; left: 0px; height: 100%; background: rgb(252, 252, 252) none repeat scroll 0% 0%; font-size: 12px; color: rgb(102, 102, 102); }
.feedback-container .intro { font-size: 14px; }
.reason-content { margin: 0px auto; }
.reason-item { display: inline-block; width: 48px; border: 1px solid rgb(219, 219, 219); line-height: 2; text-align: center; padding: 0px 10px; margin: 5px 10px 0px 0px; text-decoration: none; color: rgb(102, 102, 102); }
.reason-item:hover { background-color: rgb(238, 238, 238); }
.fb-btn-cancel { display: block; margin-top: 10px; text-decoration: none; color: rgb(51, 137, 227); }
.thx-content { display: none; margin-top: 10px; text-align: center; }
.thx-content h5 { font-size: 16px; margin: 0px; }
.thx-content p { margin-top: 5px; font-size: 12px; text-align: center; }
#wrapper { width: 298px; height: 248px; background-color: rgb(255, 255, 255); overflow: hidden; border: 1px solid rgb(204, 204, 204); }
.pic-window { width: 292px; height: 211px; overflow: hidden; margin-bottom: 5px; position: relative; }
.pic-box { border-bottom: 1px solid rgb(204, 204, 204); height: 211px; width: 292px; }
.mask { display: none; height: 211px; width: 292px; position: absolute; top: 0px; background-color: rgba(0, 0, 0, 0.5); text-decoration: none; }
.mask_head { height: 60px; margin-top: 52px; background-color: rgba(1, 33, 100, 0.5); box-shadow: 0px 1px 4px 0px rgb(0, 0, 0); }
.mask_title { float: left; height: 30px; padding: 15px; color: rgb(255, 255, 255); font-size: 22px; background: rgb(50, 133, 255) linear-gradient(90deg, rgb(3, 62, 152), rgb(50, 133, 255)) repeat scroll 0% 0%; font-weight: 900; }
.slides { float: left; display: none; }
.show { display: block; }
.pic-box img { width: 295px; height: 211px; position: absolute; left: -1px; top: 0px; }
.arrow1 { float: left; border-width: 30px; border-style: solid; border-color: rgb(50, 133, 255) transparent transparent rgb(50, 133, 255); font-size: 0px; line-height: 0px; }
.desc { padding-left: 5px; text-decoration: none; position: absolute; height: 55px; width: 292px; bottom: -20px; font-weight: 900; left: 0px; font-size: 20px; color: rgb(255, 255, 255); line-height: 35px; background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(0, 0, 0), rgba(255, 255, 255, 0)) repeat scroll 0% 0%; transition: bottom 0.15s ease-in 0s; }
.slides:hover .mask { display: block; }
.slides:hover .desc { display: none; }
.nav-window { width: 292px; height: 26px; overflow: hidden; position: relative; float: left; margin: 0px; }
.nav { position: absolute; width: 640px; height: 26px; top: 0px; left: 0px; }
.thumb { width: 33px; height: 24px; float: left; margin-right: 5px; position: relative; border: 1px solid rgb(204, 204, 204); }
.thumb-border { border: 1px solid rgb(255, 119, 0); }
.thumb img { width: 33px; height: 24px; }
.thumb-mask { width: 33px; height: 26px; position: absolute; top: 0px; left: 0px; background-color: rgb(255, 255, 255); opacity: 0; }
.pointer { cursor: pointer; }
.thumb-select { opacity: 0; }
.slides:hover { display: block; }
