html { color: rgb(0, 0, 0); background-color: transparent; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
ol, ul { list-style: outside none none; }
q::before, q::after { content: ""; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
input, textarea, select {  }
body { margin: 0px; padding: 0px; }
.bd-logo, .bd-logo2, .bd-logo3, .bd-logo4 { text-decoration: none; cursor: pointer; display: block; overflow: hidden; position: absolute; bottom: 0px; right: 0px; z-index: 2147483647; }
.bd-logo2 { margin: 0px 2px 2px 0px; height: 14px; width: 13px; background: rgba(0, 0, 0, 0) url('bg.png') no-repeat scroll 0px -20px; }
.bd-logo2:hover { background-position: 0px -35px; }
.cf::before, .cf::after { content: " "; display: table; }
.cf::after { clear: both; }
.container { display: block !important; }
body { margin: 0px; padding: 0px; }
.container { position: relative; }
a { display: inline-block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-align: center; color: rgb(0, 0, 0); font-family: "宋体"; text-decoration: none; font-size: 14px; }
.block { position: absolute; overflow: hidden; }
#tipWrapper .baidu_logo, #tipWrapper .btn-blue {  }
.bd-logo2 { text-decoration: none; cursor: default; display: block; overflow: hidden; position: absolute; bottom: 0px; right: 0px; z-index: 2147483647; }
.bd-logo2 { margin: 0px 0px 2px; height: 14px; width: 13px; background: rgba(0, 0, 0, 0) url('pc_ads_bear.1x.png') no-repeat scroll 0px -20px; }
.bd-logo2:hover { background-position: 0px -35px; }
#closeBtn { z-index: 2147483647; position: absolute; text-align: center; color: rgb(197, 197, 199); display: block; overflow: hidden; background: rgba(0, 0, 0, 0) url('pc_ads.1x.png') no-repeat scroll 0% 0%; cursor: pointer; text-decoration: none; font-weight: 100; }
#closeBtn:hover { background: rgba(0, 0, 0, 0) url('pc_ads.1x.png') no-repeat scroll left top; }
#tipWrapper { position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 2147483647; text-align: left; background: rgb(250, 250, 250) url('bg_rb.png') no-repeat scroll right bottom; }
#tipWrapper .tit { font-size: 20px; font-family: microsoft Yahei; color: rgb(51, 51, 51); line-height: 20px; padding-left: 10px; background: rgba(0, 0, 0, 0) url('icon_col.png') no-repeat scroll left top; }
#tipWrapper .goback, .btn-blue { font-size: 14px; color: rgb(94, 165, 252); cursor: pointer; text-decoration: underline; white-space: nowrap; overflow-wrap: normal; background-color: rgb(250, 250, 250); }
#tipWrapper .goback { display: inline-block; margin-left: 15px; }
#tipWrapper .question_tit .goback { display: inline-block; margin: 0px 15px 0px 0px; }
#tipWrapper .baidu_logo { width: 59px; height: 19px; position: absolute; right: 10px; bottom: 10px; z-index: 2147483647; }
#tipWrapper .baidu_logo img { border: 0px none; }
#tipWrapper .question_tit { display: block; text-decoration: none; font-size: 12px; line-height: 25px; margin: 5px 0px; color: rgb(51, 51, 51); }
#tipWrapper .question_choice .choice, #tipWrapper .mw1 span { margin-right: 10px; text-decoration: none; width: 120px; overflow: hidden; height: 25px; line-height: 25px; display: inline-block; cursor: pointer; color: rgb(51, 51, 51); font-size: 12px; background: rgba(0, 0, 0, 0) url('ico_sel_gray.png') no-repeat scroll left center; padding-left: 20px; }
#tipWrapper .question_choice .choice:hover { background: rgba(0, 0, 0, 0) url('ico_sel_blue.png') no-repeat scroll left center; }
.complaint { font-size: 12px; color: rgb(94, 165, 252); text-decoration: none; display: inline-block; width: 85px; height: 20px; line-height: 20px; text-align: center; background: rgba(0, 0, 0, 0) url('radio_btn.png') no-repeat scroll 0px 0px; }
.complaint:hover { background-position: 0px -21px; color: rgb(255, 255, 255); }
#closePop { clear: both; }
#closePop .space {  }
#closePop .space .panel-cause { position: relative; z-index: 2; }
#closePop p { clear: both; font-size: 12px; color: rgb(51, 51, 51); line-height: 30px; }
#closePop .btns { clear: both; font-size: 12px; color: rgb(51, 51, 51); line-height: 0; }
#closePop .sel-panel { position: relative; height: 20px; display: inline-block; cursor: pointer; width: 133px; }
#closePop .sel-panel .ipt-other { position: absolute; left: 0px; top: 0px; z-index: 21490; padding: 0px 5px; width: 95px; height: 20px; line-height: 20px; border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(210, 210, 210) currentcolor rgb(210, 210, 210) rgb(210, 210, 210); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(153, 153, 153); font-family: "microsoft yahei"; font-size: 12px; }
#closePop .causeSelect { display: none; position: absolute; left: 0px; top: 21px; z-index: 99; width: 129px; border: 1px solid rgb(210, 210, 210); color: rgb(153, 153, 153); font-size: 12px; background-color: rgb(255, 255, 255); }
#closePop .causeSelect li { padding: 0px 5px; height: 24px; line-height: 24px; position: relative; z-index: 99; }
#closePop .show-cause { position: absolute; left: 0px; top: 0px; padding: 0px 5px; width: 119px; height: 20px; line-height: 20px; border: 1px solid rgb(210, 210, 210); color: rgb(153, 153, 153); font-size: 12px; display: inline-block; background: rgb(255, 255, 255) url('radio_btn.png') no-repeat scroll right -85px; z-index: 21482; }
#closePop .ok-btn { width: 65px; height: 20px; line-height: 20px; margin-top: 15px; text-align: center; color: rgb(94, 165, 252); text-decoration: none; display: inline-block; background: rgba(0, 0, 0, 0) url('radio_btn.png') no-repeat scroll 0px -43px; }
#closePop .ok-btn:hover { background: rgba(0, 0, 0, 0) url('radio_btn.png') no-repeat scroll 0px -64px; color: rgb(255, 255, 255); }
#tipWrapper.min_hei .question_choice .choice { width: auto; }
#tipWrapper.wrapper_panel #closePop .space .panel { float: left; }
#tipWrapper.wrapper_panel #closePop .panel-email { margin-left: 20px; }
#tipWrapper.wrapper_panel #closePop .btns { float: left; position: relative; top: 16px; left: 20px; }
#closeChoice { overflow: hidden; }
#closePop .i-email { width: 119px; height: 20px; line-height: 20px; padding: 0px 5px; border: 1px solid rgb(210, 210, 210); font-size: 12px; color: rgb(102, 102, 102); font-family: "microsoft yahei"; }
#tipWrapper .question_choice .choice, #tipWrapper .mw1 span { text-align: left; }
