/* ::::: http://www.ruanyifeng.com/blog/styles.css ::::: */

/* ::::: http://www.ruanyifeng.com/static/themes/theme_scrapbook/theme_scrapbook.css ::::: */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, tt, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; list-style-type: none; text-align: left; text-decoration: none; font-weight: normal; font-style: normal; border: medium none; color: rgb(17, 17, 17); }
body { margin: 0px; padding: 0px; background-color: rgb(245, 245, 213); font-family: Georgia,serif; letter-spacing: -0.01em; word-spacing: 0.2em; line-height: 1.8em; font-size: 62.5%; color: rgb(17, 17, 17); width: 98%; }
h1 { font-size: 2.88em; }
h2 { font-size: 2.88em; line-height: 1.35em; }
h3 { font-size: 1.87em; }
ul li { list-style-type: square; }
img { border: 2px solid rgb(0, 57, 138); }
strong { font-weight: 800; }
p, li { font-size: 1.6em; line-height: 220%; }
input, textarea { font-size: 1.13em; }
#container { margin: 0px auto; background-color: rgb(245, 245, 213); padding: 1em; }
body.one-column #container { width: 65%; min-width: 640px; max-width: 960px; }
#header { width: 100%; }
#header { border-bottom: 1px solid rgb(211, 211, 211); margin: 1em; float: left; height: 5em; }
#header h1, #header #header-description, #header div#header-name { margin-top: 0.9em; font-size: 1.8em; color: rgb(85, 102, 119); }
#header h1, #header div#header-name { float: left; }
#header #feed_icon, #header #google_search { float: right; margin-left: 1%; margin-right: 1%; }
#header #feed_icon { margin-top: 0.9em; transform: rotate(5deg); transition: transform 0.4s ease-in 0s; }
#header #feed_icon:hover { transform: rotate(275deg); }
#header #google_search { width: 201px; height: 2.4em; background-image: url('searchtop.gif'); background-repeat: no-repeat; padding: 0px; margin: 1.3em 1em; position: relative; }
#header #google_search form { display: inline; }
#header #google_search .searchbox { border: 0px none; background-color: transparent; position: absolute; top: 0px; left: 1px; width: 180px; height: 24px; outline: medium none; }
#header #google_search .searchbox_submit { border: 0px none; background-color: transparent; position: absolute; top: 0px; left: 176px; width: 29px; height: 25px; }
#header a { color: orange; }
#content { clear: both; margin: 1.5em 1em 1em; }
#content h1, h2, h3 { margin: 0.4em 0px 0.2em; padding: 0px 0px 0.2em; color: rgb(0, 0, 0); font-weight: 500; letter-spacing: -0.03em; border-bottom: 1px solid rgb(211, 211, 211); }
#content a:link { color: rgb(85, 102, 119); }
#content a:visited { color: rgb(85, 102, 119); }
#content a:hover { color: rgb(102, 85, 68); }
.one-column #alpha { width: 100%; }
.one-column #alpha h1 { line-height: 250%; font-family: "Trebuchet MS",Arial,"Lucida Grande",Verdana,Lucida,Helvetica,sans-serif; }
body.one-column #content #alpha { padding-top: 0.5em; }
body.one-column #content #alpha p { margin-top: 1em; line-height: 180%; margin-left: 0.8em; }
body.one-column #content #alpha .asset-content a:link { color: rgb(34, 52, 114); }
body.one-column #content #alpha .asset-content a:visited { color: rgb(68, 0, 102); }
body.one-column #content #alpha .asset-content a:hover { color: rgb(208, 53, 0); }
body.one-column #content #alpha .asset-content a:active { color: rgb(154, 44, 6); }
body.one-column #content #alpha .asset-content img { border: 0.3em solid rgb(224, 223, 204); border-radius: 1em; }
.asset-footer span, .asset-footer abbr { color: rgb(61, 61, 61); }
#footer { margin: 0px 1em; border-top: 1px solid rgb(211, 211, 211); color: rgb(211, 211, 211); padding-top: 0px; clear: both; line-height: 1.2; }
#footer p { font-size: 1.6em; }
#footer a { color: gray; }
#footer p { float: right; text-align: right; padding: 0.3em 0.1em 0.1em 0.3em; color: gray; }
body.one-column #content #alpha div.entry-asset { border-bottom: 1px solid rgb(211, 211, 211); padding-bottom: 1em; }
body.one-column #content #alpha div.asset-nav, body.one-column #content #alpha div.asset-footer { font-weight: bold; color: rgb(252, 178, 151); padding: 0.3em 0.5em; margin: 0px 0px 1em; border-radius: 1em; box-shadow: 0px 1px 0px 0px rgb(238, 238, 238) inset; background: rgb(170, 210, 240) -moz-linear-gradient(center top , rgb(170, 210, 240) 5%, rgb(139, 193, 237) 100%) repeat scroll 0% 0%; border: 1px solid rgb(220, 220, 220); text-shadow: 1px 1px 0px rgb(238, 238, 238); }
body.one-column #content #alpha div.asset-nav::after { content: " "; display: block; height: 0px; clear: both; }
body.one-column #content #alpha div.asset-nav {  }
body.one-column #content #alpha div.asset-footer { margin-top: 2em; padding: 1.5em; border: 1px solid rgb(211, 211, 211); background-color: rgb(222, 235, 247); }
body.one-column #content #alpha div.asset-footer h3 { border-bottom: 1px solid gray; font-size: 1.92em; font-weight: bold; color: rgb(85, 102, 119); }
body.one-column #content #alpha div.asset-footer ul { padding-left: 2em; padding-right: 2em; }
body.one-column #content #alpha div.asset-footer li { color: rgb(85, 102, 119); }
body.one-column #content #alpha div.asset-nav * { display: inline; }
body.one-column #content #alpha div.asset-nav a { color: green; }
body.one-column #content #alpha div.asset-nav div.entry-location { width: 20em; float: right; overflow: hidden; white-space: nowrap; }
body.one-column #content #alpha div.asset-nav div.entry-location li { display: block; list-style-type: none; }
body.one-column #content #alpha div.asset-nav div.entry-location a { color: rgb(85, 102, 119); text-decoration: underline; font-size: 95%; }
body.one-column #content #alpha div.asset-nav div.entry-location-mobile { display: none; float: right; }
body.one-column #content #alpha div.asset-meta { margin: 1.5em auto 2em; line-height: 0.8; }
body.one-column #content #alpha div.asset-meta * { color: rgb(85, 102, 119); }
body.one-column #content #alpha div.asset-content a { text-decoration: underline; color: rgb(17, 34, 51); }
body.one-column #content #alpha div.asset-content a:visited { color: rgb(17, 34, 51); }
#related_entries, #entry_utility, #cre { margin-top: 4em; }
#related_entries ul { margin-left: 2em; }
#related_entries ul a, #entry_utility ul a { text-decoration: underline; }
#related_entries li div.entry-body { margin-left: 1em; padding-left: 0.4em; border-left: 0.4em solid gray; }
#cre-inner { width: 100%; max-width: 100%; }
div#cre-left, div#cre-right { width: 49%; display: inline-block; }
div#cre-right { float: right; }
#cre-inner img { width: 100%; max-width: 100%; }
body.one-column #content #alpha #comments { clear: both; margin-top: 2em; }
body.one-column #content #alpha #comments h2 { padding-top: 2em; }
body.one-column #content #alpha #comments a { text-decoration: underline; }
body.one-column #content #alpha #comments .comment { border-bottom: 1px dashed rgb(211, 211, 211); }
body.one-column #content #alpha #comments .comment-header { margin-top: 1.6em; }
body.one-column #content #alpha #comments .comment-header * { color: rgb(43, 43, 43); font-weight: 700; }
body.one-column #content #alpha #comments .asset-meta { margin: 0.6em 0px; }
body.one-column #content #alpha #comments .comment-content { margin-left: 1em; font-size: 0.9em; }
body.one-column #content #alpha #comments .comment-content blockquote { background-color: rgb(224, 223, 204); padding: 2em; margin: 2em; border-radius: 1em; font-size: 0.9em; }
body.one-column #content #alpha #comments .comment-content blockquote pre { font-weight: 700; margin-bottom: 1.5em; font-size: 1.6em; }
body.one-column #content #alpha #comments .comment-footer { width: 40%; margin-left: 55%; }
body.one-column #content #alpha #comments .comment-footer p { font-size: 1.2em; }
body.one-column #content #alpha #comments .comment-footer * { color: black; }
body.one-column #content #alpha #comments #comments-open input { border: 1px solid rgb(211, 211, 211); margin-top: 0px; line-height: 1.2; padding: 0.4em 0.3em; background-color: rgb(245, 244, 223); }
body.one-column #content #alpha #comments #comments-open p { margin: 0.4em; }
body.one-column #content #alpha #comments #comments-open textarea { border: 1px solid rgb(211, 211, 211); background-color: rgb(245, 244, 223); padding: 0.5em; width: 90%; }
body.one-column #content #alpha #comments #comments-open input#comment-submit { width: 10em; padding: 0.2em 3em; text-align: center; }
span.hint { color: gray; }
body.one-column #content #alpha #comments #comment-last:target { animation: 4s ease 0s normal none 1 running target-fade; }
body.one-column #content #alpha #comments #comments-open div#wait input { background-color: rgb(255, 255, 221); }
body.one-column #content #alpha #comments #comments-open div#wait * { color: rgb(43, 43, 43); background-color: rgb(255, 255, 221); }
pre[class*="language-"]::-moz-selection, pre[class*="language-"] *::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] *::-moz-selection { text-shadow: none; background: rgb(179, 212, 252) none repeat scroll 0% 0%; }
:not(pre) > code[class*="language-"], pre[class*="language-"] { background: rgb(245, 242, 240) none repeat scroll 0% 0%; }
:not(pre) > code[class*="language-"] { padding: 0.1em; border-radius: 0.3em; }
a.bshareDiv, #bsPanel, #bsMorePanel, #bshareF { border: medium none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 0px; margin: 0px; font: 12px/14px Helvetica,Calibri,Tahoma,Arial,宋体,sans-serif; }
#bsPanel div, #bsMorePanel div, #bshareF div { display: block; }
a.bshareDiv div, #bsFloatTab div { display: inline-block; }
a.bshareDiv img, a.bshareDiv div, a.bshareDiv span, a.bshareDiv a, #bshareF table, #bshareF tr, #bshareF td { text-decoration: none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; margin: 0px; padding: 0px; border: medium none; line-height: 1.2; }
div.buzzButton { cursor: pointer; font-weight: bold; }
a.bshareDiv .bsPromo, div.bshare-custom .bsPromo { display: none; position: absolute; z-index: 100; }
a.bshareDiv .bsPromo.bsPromo1, div.bshare-custom .bsPromo.bsPromo1 { width: 51px; height: 18px; top: -18px; left: 0px; line-height: 16px; font-size: 12px !important; font-weight: normal !important; color: rgb(255, 255, 255); text-align: center; background: rgba(0, 0, 0, 0) url('bshare_box_sprite2.gif') no-repeat scroll 0px -606px; }
.bsBox { display: none; z-index: 100000001; font-size: 12px; background: rgba(0, 0, 0, 0) url('background-opaque-dark.gif') repeat scroll 0% 0% !important; padding: 6px !important; border-radius: 5px; }
.bsClose { cursor: pointer; position: absolute; z-index: 10000000; color: rgb(102, 102, 102); font-weight: bold; font-family: Helvetica,Arial; font-size: 14px; line-height: 20px; }
.bsTop { color: rgb(102, 102, 102); background: rgb(242, 242, 242) none repeat scroll 0% 0%; height: 24px; line-height: 24px; border-bottom: 1px solid rgb(232, 232, 232); }
.bsTop span { float: left; }
.bsFrameDiv, #bsMorePanel { border: medium none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.bsReturn { float: right; margin-right: 36px; text-align: right; cursor: pointer; line-height: 24px; color: rgb(102, 102, 102); opacity: 0.5; }
div.bsClear { clear: both; height: 0px; line-height: 0; overflow: hidden; font-size: 0px; }
.bsLogoLink:hover { text-decoration: underline; }
a.bsSiteLink { text-decoration: none; color: rgb(102, 102, 102); }
a.bsSiteLink:hover { text-decoration: underline; }
a.bshareDiv { overflow: hidden; height: 16px; line-height: 18px; font-size: 14px; color: rgb(51, 51, 51); padding-left: 0px; }
a.bshareDiv:hover { text-decoration: none; }
div.bsTitle { padding: 0px 8px; border-bottom: 1px solid rgb(232, 232, 232); color: rgb(102, 102, 102); background: rgb(242, 242, 242) none repeat scroll 0% 0%; text-align: left; }
div.buzzButton { cursor: pointer; }
div.bsRlogo, div.bsRlogoSel { width: 68px; float: left; margin: 0px; padding: 2px 0px; }
div.bsRlogo a, div.bsRlogoSel a { float: left; }
div.bsLogo, div.bsLogoSel { float: left; width: 111px; text-align: left; height: auto; padding: 2px 4px; margin: 2px 0px; white-space: nowrap; overflow: hidden; }
div.bsLogo, div.bsRlogo { border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
div.bsLogo a, div.bsLogoSel a { display: block; height: 16px; line-height: 16px; padding: 0px 0px 0px 24px; text-decoration: none; float: left; overflow: hidden; }
div.bsLogo a, div.bsRlogo a { color: rgb(102, 102, 102); border: medium none; }
div.bsLogoLink { width: 121px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; margin: 3px 0px; }
#bsPanel { position: absolute; z-index: 100000000; font-size: 12px; width: 258px; background: rgba(0, 0, 0, 0) url('background-opaque-dark.png') repeat scroll 0% 0% !important; padding: 6px !important; border-radius: 5px; }
div.bsClear { clear: both; height: 0px; line-height: 0; font-size: 0px; overflow: hidden; }
a.bsSiteLink { text-decoration: none; color: rgb(102, 102, 102); }
a.bsSiteLink:hover { text-decoration: underline; }
a.bshareDiv { overflow: hidden; height: 16px; line-height: 18px; font-size: 14px; color: rgb(51, 51, 51); padding-left: 0px; }
a.bshareDiv:hover { text-decoration: none; }
div.bsTitle { padding: 0px 8px; border-bottom: 1px solid rgb(232, 232, 232); color: rgb(102, 102, 102); background: rgb(242, 242, 242) none repeat scroll 0% 0%; text-align: left; }
div.buzzButton { cursor: pointer; }
div.bsRlogo, div.bsRlogoSel { width: 68px; float: left; margin: 0px; padding: 2px 0px; }
div.bsRlogo a, div.bsRlogoSel a { float: left; }
div.bsLogo, div.bsLogoSel { float: left; width: 111px; text-align: left; height: auto; padding: 2px 4px; margin: 2px 0px; white-space: nowrap; overflow: hidden; }
div.bsLogo, div.bsRlogo { border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
div.bsLogo a, div.bsLogoSel a { display: block; height: 16px; line-height: 16px; padding: 0px 0px 0px 24px; text-decoration: none; float: left; overflow: hidden; }
div.bsLogo a, div.bsRlogo a { color: rgb(102, 102, 102); border: medium none; }
div.bsLogoLink { width: 121px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; float: left; margin: 3px 0px; }
#bsPanel { position: absolute; z-index: 100000000; font-size: 12px; width: 258px; background: rgba(0, 0, 0, 0) url('background-opaque-dark.png') repeat scroll 0% 0% !important; padding: 6px !important; border-radius: 5px; }
div.bsClear { clear: both; height: 0px; line-height: 0; font-size: 0px; overflow: hidden; }
