body { margin: 0px; padding: 0px; overflow: hidden; }
/* ::::: http://pagead2.googlesyndication.com/pagead/gadgets/suggestion_autolayout_V2/score_plain_no_logo.css ::::: */

HTML, BODY { font-family: "Arial",san-serif; font-weight: 700; height: 100%; margin: 0px; padding: 0px; width: 100%; }
IMG { border: medium none; }
#adContent { max-height: 100%; max-width: 100%; overflow: hidden; padding-top: 17px; }
.core { box-sizing: border-box; overflow: hidden; padding: 0px 4px 8px 0px; position: relative; float: left; }
.core.bottom { padding-bottom: 0px; }
.core.border { padding-right: 0px; }
.core A { color: inherit; display: block; width: 100%; height: 100%; }
.core-img { overflow: hidden; float: left; }
.core-img IMG { height: 100%; margin: auto; display: block; }
.core-title {  }
.core-title A { display: block; text-decoration: none; }
.core-title A:hover { text-decoration: underline; }
.core-body { box-sizing: border-box; overflow: hidden; padding: 0px 0px 0px 8px; line-height: 1.2; }
div { margin: 0px; padding: 0px; }
.abgc { display: block; height: 15px; position: absolute; right: 1px; top: 1px; text-rendering: geometricprecision; width: 25px; z-index: 2147483646; }
.abgb { display: block; width: 25px; height: 15px; }
.abgc, .cbb { opacity: 0; }
.jar .abgc, .jar .cbb { opacity: 1; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(255, 255, 255); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
