/* ::::: http://img.t.sinajs.cn/t4/appstyle/widget/css/weiboShow/weiboShow.css?ver=4bc7d028f0ea1b492017 ::::: */

body, button, input, select, textarea { font: 12px/1.125 Arial,Helvetica,sans-serif; }
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul { margin: 0px; padding: 0px; }
li { list-style: outside none none; }
fieldset, img { border: 0px none; }
q::after, q::before { content: ""; }
address, caption, cite, code, dfn, em, i, th, var { font-style: normal; font-weight: 400; }
a, u { text-decoration: none; }
a:hover { text-decoration: underline; }
.clearfix::after { display: table; clear: both; content: ""; }
.clearfix {  }
body { color: rgb(100, 100, 100); }
.WB_linkA, .WB_linkA a, body a { color: rgb(21, 130, 189); }
.WB_icon, .WB_icon_txt { display: inline-block; vertical-align: middle; }
.WB_tipB_err, .WB_tipB_ok, .WB_tipB_ques, .WB_tipB_warn, .WB_tipB_warn_red, .WB_tipS_err, .WB_tipS_num, .WB_tipS_numWarn, .WB_tipS_ok, .WB_tipS_ques, .WB_tipS_warn { display: inline-block; vertical-align: middle; background: rgba(0, 0, 0, 0) url('icon_tips.png') no-repeat scroll 0% 0%; }
.WB_tipS_err, .WB_tipS_ok, .WB_tipS_ques, .WB_tipS_warn { width: 16px; height: 16px; }
.WB_tipS_warn { background-position: -124px -67px; }
.WB_btnA, .WB_btnB, .WB_btnC { font-size: 12px; }
.WB_btnA em, .WB_btnB em, .WB_btnC em { font-style: normal; }
.WB_btnA, .WB_btnA span, .WB_btnA_loading { display: inline-block; background: rgba(0, 0, 0, 0) url('btns_bg.png') no-repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; height: 29px; line-height: 28px; min-width: 35px; cursor: pointer; overflow: hidden; }
.WB_btnA { text-align: center; padding-left: 4px; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }
.WB_btnA span { background-position: 100% -28px; padding: 0px 10px 0px 6px; }
.WB_btnA:hover, .WB_btnA_loading { background-position: 0px -56px; text-decoration: none !important; }
.WB_btnA:hover span, .WB_btnA_loading span { background-position: 100% -84px; }
.WB_btnA:active { background-position: 0px -112px; }
.WB_btnA:active span { background-position: 100% -141px; }
.WB_btnA em { float: left; }
.WB_btnA .WB_btnicn_add, .WB_btnC .WB_btnicn_each, .WB_btnC .WB_btnicn_ok { display: inline-block; width: 8px; height: 8px; overflow: hidden; background: rgba(0, 0, 0, 0) url('icon_follow.png') no-repeat scroll 0% 0%; margin: 10px 3px 0px 0px; }
.WB_tips_yls .arr::before { content: ""; bottom: -7px; left: 0px; width: 0px; height: 0px; display: block; border-width: 7px; border-style: solid; border-color: rgba(0, 0, 0, 0.2) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; }
.WB_tips_yls .arr::after { content: ""; width: 14px; height: 14px; background: rgb(255, 252, 198) none repeat scroll 0% 0%; transform: rotate(45deg); position: absolute; bottom: 7px; display: none; }
.WB_tips_top { font: 12px/1.125 Arial,Helvetica,sans-serif; position: absolute; border-radius: 2px; background: rgba(0, 0, 0, 0) url('bg_trans.png') repeat scroll 0% 0%; padding: 2px; }
.WB_tips_top a { color: rgb(0, 120, 182); }
.WB_tips_top .tips_inner { color: rgb(0, 0, 0) !important; border: 1px solid rgb(204, 204, 204); background: rgb(254, 255, 229) none repeat scroll 0% 0%; box-shadow: 0px 0px 0px 1px rgb(255, 255, 243) inset; }
.WB_tips_top .WB_icon_txt { margin-left: 3px; }
.WB_tips_top .tips_inner { padding: 6px 10px; }
.weiboShow { overflow: hidden; }
.weiboShow .weiboShow_wrap { border-right-style: solid; border-right-width: 1px; border-bottom-style: solid; border-bottom-width: 1px; border-left-style: solid; border-left-width: 1px; }
.weiboShow .weiboShow_topborder { height: 2px; border-right-style: solid; border-right-width: 1px; border-left-style: solid; border-left-width: 1px; }
.weiboShow .weiboShow_topborder p { border-top-style: solid; border-top-width: 1px; }
.weiboShow .weiboShow_developer { padding: 13px 0px 15px; }
.weiboShow .weiboShow_developer_pic { float: left; margin: 2px 0px 0px 15px; display: inline; }
.weiboShow .weiboShow_developer_detail { margin-left: 73px; }
.weiboShow .weiboShow_developer_pic a { display: block; width: 50px; height: 50px; }
.weiboShow .weiboShow_developerDetail_name { height: 17px; overflow: hidden; margin-left: 2px; }
.weiboShow .weiboShow_developerDetail_name dd, .weiboShow .weiboShow_developerDetail_name dt { display: inline-block; }
.weiboShow .weiboShow_developerDetail_name dd {  }
.weiboShow .weiboShow_developerDetail_name a { font-size: 14px; line-height: 16px; }
.weiboShow .weiboShow_developerDetail_namedir { margin-left: 5px; }
.weiboShow .weiboShow_developerDetail_btn { margin-top: 10px; }
.weiboShow .weiboShow_fans { padding-bottom: 3px; overflow: hidden; }
.weiboShow .weiboShow_fans .weiboShow_fans_header { height: 18px; overflow: hidden; margin: 0px 15px 11px; line-height: 18px; }
.weiboShow .weiboShow_fans .weiboShow_fans_title { float: left; }
.weiboShow .weiboShow_fans .weiboShow_fans_title .weiboShow_fans_titlenum { margin: 0px 2px; }
.weiboShow .weiboShow_fans .weiboShow_fans_title .weiboShow_fans_titlenum strong { font-weight: 700; }
.weiboShow .weiboShow_fans .weiboShow_fans_more { float: right; }
.weiboShow .weiboShow_fans_listCon { overflow: hidden; margin: 0px 7px; }
.weiboShow .weiboShow_fans_listCon li { float: left; width: 50px; margin: 0px 8px 11px; overflow: hidden; }
.weiboShow .weiboShow_fans_listCon li .weiboShow_fansList_pic { display: block; width: 50px; height: 50px; margin: 0px auto; overflow: hidden; position: relative; cursor: pointer; }
.weiboShow .weiboShow_fansList_name { margin-top: 3px; }
.weiboShow .weiboShow_fansList_name a { display: block; height: 20px; overflow: hidden; text-align: center; line-height: 18px; }
/* ::::: http://img.t.sinajs.cn/t4/appstyle/widget/css/weiboShow/skin/skin04.css?ver=4bc7d028f0ea1b492017 ::::: */

.weiboShow .S_title_bg, .weiboShow .weiboShow_title, .weiboShow .weiboShow_topborder { background-color: rgb(249, 224, 214); }
.weiboShow * { border-color: rgb(222, 197, 186); }
.weiboShow { color: rgb(68, 68, 68); }
.weiboShow .weiboShow_developerDetail_namedir { color: rgb(68, 68, 68); }
.weiboShow .WB_linkA, .weiboShow .WB_linkA a, .weiboShow a { color: rgb(179, 114, 109); }
.weiboShow .weiboShow_wrap { background: rgb(255, 249, 245) none repeat scroll 0% 0%; }
