/* ::::: http://static.blog.csdn.net/skin/skin-yellow/css/style.css?v=2.3 ::::: */

/* ::::: http://static.blog.csdn.net/scripts/SyntaxHighlighter/styles/default.css ::::: */

/* ::::: http://c.csdnimg.cn/blog/csdn_public_blog_detail.min.css ::::: */

/* ::::: http://static.blog.csdn.net/css/csdn_blog_detail.min.css ::::: */

/* ::::: http://csdnimg.cn/public/common/toolbar/content_toolbar_css/content_toolbar.css ::::: */

#popup_mask { position: absolute; width: 100%; height: 100%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; z-index: 9999; left: 0px; top: 0px; opacity: 0.3; display: none; }
