.searchbox-magnifier-svg > path:nth-child(1) { fill: rgb(255, 255, 255); }
.grid-ad-box { table-layout: fixed; display: flex; flex-wrap: wrap; place-content: space-between; height: 90px; width: 862px; }
.grid-container { height: 71px; width: 862px; display: flex; vertical-align: top; flex-wrap: wrap; place-content: space-between; }
.grid-attribution { width: 862px; height: 19px; display: flex; vertical-align: top; justify-content: flex-start; }
.grid-link-container { height: 35px; width: 431px; display: flex; align-items: center; justify-content: flex-start; }
.grid-link-container:nth-child(n+5) { display: none; }
.grid-link { width: 95%; height: 90%; display: flex; text-align: center; line-height: 31px; box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.35) inset, 0px 1px 1px rgba(0, 0, 0, 0.3); align-items: center; justify-content: center; background-color: rgb(255, 255, 255); border: 1px solid rgb(0, 83, 249); border-radius: 30px; box-sizing: border-box; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-decoration: none; color: rgb(0, 83, 249); font-weight: normal; font-family: arial,sans-serif; font-size: 16px; }
.grid-link:hover { background-color: rgb(0, 83, 249); color: rgb(255, 255, 255); text-decoration: none; }
.grid-header-text-box { display: none; }
.grid-line { display: none; }
.grid-ad-box { position: relative; justify-content: flex-start; border-radius: 5px; background: transparent none repeat scroll 0% 0%; }
.grid-attribution { position: absolute; }
.grid-line { display: none; }
.grid-header-text-box { display: block; max-height: 18px; overflow: hidden; text-transform: uppercase; position: relative; width: 90%; }
.grid-header-text-box::after { content: " "; height: 1px; width: 100%; background-color: rgba(0, 0, 0, 0.24); position: absolute; top: 9.5px; }
.grid-header-text-box a { text-decoration: none; font-size: 12px; color: rgb(82, 82, 82); padding: 0px 6px; font-family: arial,sans-serif; font-weight: normal; height: 15px; background-color: rgba(255, 255, 255, 0.7); border-radius: 2px; }
div { margin: 0px; padding: 0px; }
.abgc { display: block; height: 15px; position: absolute; right: 1px; top: 1px; text-rendering: geometricprecision; z-index: 2147483646; }
.abgb { display: inline-block; height: 15px; }
.abgc, .jar .abgc, .jar .cbb { opacity: 1; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgs svg, .abgb svg { display: inline-block; height: 15px; width: auto; vertical-align: top; }
.abgc .il-wrap { background-color: rgb(255, 255, 255); height: 15px; white-space: nowrap; }
.abgc .il-wrap.exp { border-bottom-left-radius: 5px; }
.abgc .il-text, .abgc .il-icon { display: inline-block; }
.abgc .il-text { padding-right: 1px; padding-left: 5px; height: 15px; width: 36px; }
.abgc .il-icon { height: 15px; width: 22px; }
.abgc .il-text svg { fill: rgb(0, 0, 0); }
.abgc .il-icon svg { fill: rgb(0, 174, 205); }
