/* ::::: https://gstreamer.freedesktop.org/planet/planet-gstreamer.css ::::: */

h1, h2, h3 { color: black; border-style: solid; border-width: thin; padding: 4px; }
h1 { background: rgb(240, 176, 176) none repeat scroll 0% 0%; }
h2 { background: rgb(176, 240, 176) none repeat scroll 0% 0%; }
h3 { background: rgb(176, 176, 240) none repeat scroll 0% 0%; }
body { padding-top: 0px; margin-top: 125px; margin-right: 200px; }
h1 { margin-top: 50px; font-family: "trebuchet ms","verdana",sans-serif; font-weight: bold; }
#banner { position: absolute; top: 0px; left: 0px; right: 0px; height: 64px; border-bottom: 1px solid black; }
.entry { margin-bottom: 25px; padding-left: 25px; clear: both; }
img.face { float: right; margin: 0px 4px 4px; padding: 0px 8px 8px; z-index: 1; }
.entry h2 { font-family: "trebuchet ms","verdana",sans-serif; font-weight: bold; font-size: 100%; margin-left: -25px; border-bottom: 1px solid rgb(125, 125, 125); }
.entry .date { font-family: "trebuchet ms","verdana",sans-serif; font-size: 80%; color: rgb(125, 125, 125); }
.entry .date a { text-decoration: none; color: inherit; }
.entry .date a:hover { text-decoration: underline; color: blue; }
#sidebar { position: absolute; top: 125px; right: 10px; width: 170px; z-index: 1; border: 1px dashed; padding: 0px 5px; margin: 0px; font-family: "trebuchet ms","verdana",sans-serif; font-size: 75%; }
#sidebar h2 { font-family: "trebuchet ms","verdana",sans-serif; font-weight: bold; font-size: 1.1em; margin-top: 0.5em; margin-bottom: 0.5em; background: rgb(240, 176, 176) none repeat scroll 0% 0%; }
#sidebar p { margin-top: 0.5em; margin-bottom: 0.5em; }
#sidebar ul { list-style: outside none none; padding: 0px; margin: 0.5em 0px; }
#sidebar ul li { display: block; padding: 0px; margin: 0px; }
#sidebar img.button { display: inline; border: 0px none; padding: 0px; margin: 0px 2px 2px 0px; }
#sidebar div { border-top: 1px dashed; }
#sidebar #about { border-top: medium none; }
#sidebar .message { cursor: help; border-bottom: 1px dashed red; }
#sidebar a.message:hover { cursor: help; background-color: rgb(255, 0, 0); color: rgb(255, 255, 255) !important; text-decoration: none !important; }
