/* ::::: https://www.cnblogs.com/bundles/blog-common.css?v=ON3Mxdo4-HlSMqbNDBZXhFIcGLon3eZDvU8zBESgwkk1 ::::: */

body { font-family: Helvetica,Verdana,Arial,sans-serif; }
img { border: 0px none; }
#MySignature {  }
#blog_post_info_block { margin-top: 20px; }
#BlogPostCategory { margin-bottom: 10px; }
#EntryTag { margin-top: 0px !important; }
.clear { clear: both; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
#cnblogs_post_body { margin-bottom: 20px; }
#cnblogs_post_body ol { padding-left: 40px; }
#cnblogs_post_body ol li { list-style-type: decimal; }
#cnblogs_post_body img { max-width: 900px; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#ad_t2 { margin-top: 5px; line-height: 1.8; }
#opt_under_post { line-height: 1.8; }
input::-moz-focus-inner { border: 0px none; padding: 0px; }
#cnblogs_post_body {  }
#cnblogs_post_body p { margin: 10px auto; text-indent: 0px; }
#blog-news { overflow: hidden; }
#MySignature { display: none; }
.ui-dialog-loading::after { position: absolute; content: ""; width: 3px; height: 3px; margin: 14.5px 0px 0px 14.5px; border-radius: 100%; box-shadow: 0px -10px 0px 1px rgb(204, 204, 204), 10px 0px rgb(204, 204, 204), 0px 10px rgb(204, 204, 204), -10px 0px rgb(204, 204, 204), -7px -7px 0px 0.5px rgb(204, 204, 204), 7px -7px 0px 1.5px rgb(204, 204, 204), 7px 7px rgb(204, 204, 204), -7px 7px rgb(204, 204, 204); transform: rotate(360deg); animation: 1.5s linear 0s normal none infinite running ui-dialog-loading; }
/* ::::: https://www.cnblogs.com/skins/iMetro_HD/bundle-iMetro_HD.css?v=cDVgAMQ7FTtxrKvup-MCLDNCyny4xFuA__ZZf74gd_s1 ::::: */

#EntryTag { margin-top: 20px; font-size: 9pt; color: gray; }
* { margin: 0px; padding: 0px; }
body { background-image: url('background.jpg'); background-repeat: no-repeat; background-attachment: fixed; }
fieldset, img { border: 0px none; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a:link, a:visited, a:hover, a:active { color: rgb(0, 0, 0); text-decoration: none; }
.clear { clear: both; }
#home { background-color: rgb(255, 255, 255); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(0, 0, 0); margin: 15px; padding-top: 30px; padding-right: 25px; overflow-wrap: break-word; box-shadow: 0px 0px 25px black; position: relative; min-width: 950px; line-height: 1.5; }
#header { margin-bottom: 15px; padding-left: 45px; }
#blogTitle { margin-bottom: 15px; }
#lnkBlogLogo { background-color: green; width: 20px; height: 120px; display: block; position: absolute; left: 0px; }
#blogLogo { display: none; }
#blogTitle h1 { font-size: 400%; }
#blogTitle h2 { display: none; }
#navigator {  }
#navList { overflow: auto; margin-bottom: 10px; }
#navList li { float: left; }
.menu { color: gray !important; margin-right: 30px; font-size: 250%; }
.blogStats { text-align: right; color: gray; }
#main { overflow: auto; padding-left: 25px; }
#mainContent .forFlow { padding-right: 250px; }
#mainContent { float: left; margin-right: -250px; width: 100%; }
.postTitle { background-image: url('logo.png'); background-repeat: repeat-y; background-position: -10px 0px; margin-bottom: 10px; padding-left: 15px; padding-right: 15px; }
.postTitle2 { font-size: 200%; }
.postDesc { color: gray; text-align: right; padding-left: 15px; padding-right: 15px; margin-bottom: 5px; }
.postDesc a { color: gray; }
#sideBar { width: 225px; float: right; }
#sideBarMain { font-size: 116%; }
.newsItem { border: 1px solid rgb(0, 0, 0); padding: 15px; margin-bottom: 15px; }
#leftcontentcontainer > div { border: 1px solid rgb(0, 0, 0); padding: 15px; margin-bottom: 15px; }
.catListTitle { font-size: 200%; margin-bottom: 5px; }
#topics { margin-bottom: 10px; border-bottom: 1px solid rgb(0, 0, 0); }
.postBody { font-size: 116%; padding-left: 15px; padding-right: 15px; margin-bottom: 5px; }
#cnblogs_post_body { margin-bottom: 30px; overflow: auto; }
#MySignature { background-color: rgb(248, 248, 238); border: 1px solid rgb(232, 231, 208); box-shadow: 0px 0px 15px rgb(170, 170, 170); padding: 10px; margin-bottom: 10px; color: gray; }
#BlogPostCategory { margin-bottom: 5px; }
#EntryTag { margin-top: 0px; text-align: right; }
#comment_nav { margin-right: 0px; margin-bottom: 10px; text-align: center; padding: 3px 15px; background-color: green; }
#comment_nav a { color: rgb(255, 255, 255); font-size: 116%; }
#footer { text-align: center; border-top: 2px solid green; margin-top: 50px; margin-left: 25px; padding-top: 10px; padding-bottom: 10px; }
.postBody a { color: green; padding: 1px 3px; }
.postBody a:hover { background-color: green; color: rgb(255, 255, 255); }
#cnblogs_post_body img { max-width: 800px; }
/* ::::: https://www.cnblogs.com/blog/customcss/198547.css?v=8dDj7GJC2TisJcxkYD1h7CwJhDI%3d ::::: */

#forkongithub a { background: rgb(17, 68, 68) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; font-family: arial,sans-serif; text-align: center; font-weight: bold; padding: 5px 40px; font-size: 1rem; line-height: 2rem; position: relative; transition: all 0.5s ease 0s; }
#forkongithub a:hover { background: rgb(204, 17, 17) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#forkongithub a::before, #forkongithub a::after { content: ""; width: 100%; display: block; position: absolute; top: 1px; left: 0px; height: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#forkongithub a::after { bottom: 1px; top: auto; }
@media all {
	#forkongithub { position: absolute; display: block; top: 0px; right: 0px; width: 200px; overflow: hidden; height: 200px; z-index: 9999; }
	#forkongithub a { width: 200px; position: absolute; top: 60px; right: -60px; transform: rotate(45deg); box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); }
	#topics { background-color: rgb(199, 237, 204) !important; }
}
/* ::::: https://www.cnblogs.com/skins/iMetro_HD/bundle-iMetro_HD-mobile.css?v=VYvBZbXPqDcuZyq3IqW6JPMJ-xBqKhDr2P6dzCO3y041 ::::: */

body { font-size: 14px !important; font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif; }
#blog_nav_rss { display: none !important; }
#blog_nav_newpost { display: none !important; }
img { max-width: 300px !important; height: auto; }
#cnblogs_c1, #cnblogs_c2 { text-align: center; }
.commentform { margin-left: 10px; }
#home { min-width: auto; padding-right: 0px; }
.menu { font-size: 1rem; }
#mainContent { margin-right: 0px; float: none; }
#mainContent .forFlow { padding-right: 0px; }
#main { padding-left: 0px; }
#comment_form { margin: 0px 5px; }
#sideBar { width: auto; float: none; }
#blog_stats { margin: 0px 5px; }
#blogTitle h1 { font-size: 200%; }
#blogTitle { margin-right: 10px; }
