/* ::::: http://csdnimg.cn/public/static/css/avatar.css ::::: */

/* ::::: https://csdnimg.cn/release/phoenix/production/main-5abef24e21.css ::::: */

/* ::::: http://csdnimg.cn/public/common/toolbar/content_toolbar_css/content_toolbar.css ::::: */

/* ::::: https://csdnimg.cn/release/phoenix/production/htmledit_views-1f9cf0a071.css ::::: */

#MathJax_Message { position: fixed; left: 1px; bottom: 2px; background-color: rgb(230, 230, 230); border: 1px solid rgb(149, 149, 149); margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap; }
.MJXp-box::after { content: " "; }
.MJXp-script-box > :last-child > * { vertical-align: bottom; }
