/* ::::: https://docs.pythontab.com/tornado/introduction-to-tornado/static/css/styles.css ::::: */

body { margin: 0px auto; padding: 0px; width: 1080px; font: 14px/1.4 Arial,Helvetica,sans-serif; }
.container { margin: 10px 30px; }
.clearfix::before, .clearfix::after { content: ""; display: table; }
.clearfix::after { clear: both; overflow: hidden; }
.clearfix {  }
.sidebar { float: left; width: 180px; }
.indextable { position: fixed; width: 175px; padding-top: 3px; white-space: normal; font-size: 90%; }
ul.index-chapter { margin-left: -35px; }
ul.index-section { margin-left: -25px; }
ul.index-chapter li { list-style: outside none none; margin-left: 0px; }
ul.index-section li { list-style: outside none square; margin-left: 5px; }
ul.index-chapter li a, ul.index-chapter li a:visited { color: rgb(119, 119, 119); }
ul.index-section li a, ul.index-section li a:visited { color: rgb(0, 0, 0); }
ul.index-chapter li a:hover, ul.index-section li a:hover { color: rgb(0, 149, 196); text-decoration: underline; }
ul.index-chapter li a.current-chapter, ul.index-chapter li a.current-chapter:visited { color: rgb(0, 0, 0); }
ul.index-chapter li a.current-chapter:hover { color: rgb(0, 149, 196); }
.article { margin-left: 180px; border-left: 1px solid rgb(136, 136, 136); padding: 0px 20px; }
h1 { font-size: 28px; font-family: SimHei,STHeiti,sans-serif; text-align: right; border-bottom: 1px solid rgb(51, 51, 51); padding-bottom: 10px; margin-bottom: 30px; }
h2, h3, h4 { font-family: Microsoft Yahei,LiHei Pro Medium,sans-serif; }
h2 { font-size: 23px; }
h3 { font-size: 20px; }
h4 { font-size: 17px; }
h5 { font-style: italic; font-size: 15px; line-height: 18px; margin: 0px; }
p {  }
a, a:hover, a:visited { text-decoration: none; }
a, a:visited { color: rgb(0, 0, 255); }
a:hover { color: rgb(255, 0, 0); }
.headerlink { margin-left: 5px; }
a.headerlink { color: rgb(255, 255, 255); }
a.headerlink:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(189, 183, 106); }
cite { font-weight: bold; }
.cite-description { border-top: 1px solid rgb(119, 119, 119); margin: 30px 0px; padding-top: 10px; padding-left: 15px; }
dfn { font-family: Roboto,monospace; font-style: normal; letter-spacing: -1px; }
code, kbd, var, pre { font-family: Consolas,"Liberation Mono",Courier,monospace; margin: 0px 2px; }
code {  }
kbd { font-weight: bold; }
var { font-weight: bold; font-style: normal; }
pre { letter-spacing: -1px; }
.shell { margin-left: 50px; }
.codelist {  }
.codelist-title, .codelist-code { margin-left: 50px; }
.codelist-title { font-style: italic; padding: 3px 0px; border-bottom: 2px solid rgb(68, 68, 68); }
.filename, .bookname, .examplename, .term { font-style: italic; margin: 0px 2px; }
.warning, .tip { min-height: 85px; margin: 20px 0px 20px 50px; }
.warning { background: rgba(0, 0, 0, 0) url('warning.jpg') no-repeat scroll left top; }
.warning p, .warning pre { margin: 20px 100px 10px 140px; }
.box { border: 1px solid rgb(34, 34, 34); padding: 10px 15px; }
.box h1 { font-family: Microsoft Yahei,LiHei Pro Medium,sans-serif; font-size: 18px; text-align: center; border: medium none; margin-bottom: 10px; padding-bottom: 0px; }
.indentation { margin-left: 25px; }
.footer { text-align: center; margin-top: 40px; }
