/* ::::: https://csdnimg.cn/release/phoenix/template/css/detail-4eebab50e6.min.css ::::: */

/* ::::: https://csdnimg.cn/release/phoenix/themes/skin3-template/skin3-template-02ffddfbf5.min.css ::::: */

/* ::::: https://csdnimg.cn/public/sandalstrap/1.3/css/sandalstrap.min.css ::::: */

#MathJax_Message { position: fixed; left: 1px; bottom: 2px; background-color: rgb(230, 230, 230); border: 1px solid rgb(149, 149, 149); margin: 0px; padding: 2px 8px; z-index: 102; color: black; font-size: 80%; width: auto; white-space: nowrap; }
.MJXp-box::after { content: " "; }
.MJXp-script-box > :last-child > * { vertical-align: bottom; }
/* ::::: https://csdnimg.cn/public/common/toolbar/content_toolbar_css/content_toolbar.css ::::: */

/* ::::: https://csdnimg.cn/release/phoenix/template/css/blog_code-c3a0c33d5c.css ::::: */

/* ::::: https://csdnimg.cn/release/phoenix/vendor/pagination/paging.css ::::: */

/* ::::: https://csdnimg.cn/release/phoenix/template/css/markdown_views-ea0013b516.css ::::: */

