/* ::::: https://static.baixingcdn.com/style.css ::::: */

* { padding: 0px; margin: 0px; width: 100%; }
ul { margin: 10px 0px 0px; }
ul li { list-style: outside none none; border-bottom: 1px dotted rgb(221, 221, 221); }
ul li a { color: rgb(61, 73, 80); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 20px; display: block; width: 260px; text-decoration: none; font-size: 15px; }
html, body { background: white none repeat scroll 0% 0%; }
