/* ::::: https://developer.apple.com/library/content/Resources/1274/CSS/screen.css ::::: */

.codeBlock ol li::before { color: rgba(0, 0, 0, 0.4); content: counter(li, decimal); counter-increment: li 1; font-family: Menlo; font-size: 80%; margin-left: -1.7em; padding-right: 2em; text-align: center; -moz-user-select: none; }
.codeBlock ol li.commentary::before { background-color: rgb(191, 191, 191); border-radius: 1em; color: rgb(255, 255, 255); margin: 0.45em 0px 0px -1.5em; padding: 1px 9px 0px; position: relative; left: -11px; }
.codeBlock ol li:nth-child(n+10) { text-indent: -2.5em; }
.codeBlock ol li.commentary:nth-child(n+10)::before { padding: 1px 6px 0px; position: relative; left: -5px; margin-right: 0.6em; }
.codeBlock ol li:nth-child(n+10)::before { position: relative; left: 3px; }
body, #contents, #adcHeader { min-width: 550px; font: 400 13px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; margin-left: 0px; margin-top: 0px; }
#adcHeader { position: fixed; top: 0px; left: 0px; right: 0px; z-index: 900; }
a { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(0, 0, 0); text-decoration: none; }
#adcHeader #ssi_Header { height: 36px; overflow: hidden; background: rgba(0, 0, 0, 0) linear-gradient(rgb(70, 91, 116), rgb(37, 45, 56)) repeat scroll 0% 0%; }
#adcHeader #ssi_LibraryTitle { height: 36px; display: block; float: left; margin-left: 0px; color: rgb(255, 255, 255); font-size: 16px; text-shadow: 0px -1px 0px rgb(51, 29, 34); padding: 8px 5px 9px 29px; }
#ssi_Header #ssi_LibraryTitle { min-width: 250px; }
#ssi_Header a:hover { text-decoration: none; }
#adcHeader #ssi_AppleDeveloperConnection { display: block; position: absolute; color: rgb(255, 255, 255); right: 20px; background: rgba(0, 0, 0, 0) url('apple2.png') no-repeat scroll 0px 10px / 13px 15px; width: 100px; font-size: 13px; text-shadow: 0px -1px 0px rgb(51, 29, 34); padding: 10px 19px; opacity: 0.5; }
#adcHeader #ssi_SearchButton { color: rgba(0, 0, 0, 0); cursor: pointer; height: 36px; width: 61px; position: absolute; right: 0px; overflow: hidden; background: rgba(0, 0, 0, 0) url('search.png') no-repeat scroll 33px 10px / 15px 15px; }
#adcHeader #ssi_SearchMenu { visibility: hidden; opacity: 0; background: rgb(45, 56, 72) none repeat scroll 0% 0%; color: rgb(255, 255, 255); width: 220px; position: absolute; top: 35px; right: 0px; z-index: 100000; box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25); padding: 14px; text-align: center; animation: 0.5s ease 0s normal none 1 running opacity; }
#adcHeader #ssi_SearchMenu label { font-size: 80%; }
#adcHeader #ssi_SearchMenu #ssi_SearchField { margin-top: 1em; width: 220px; }
header { min-width: 598px; position: fixed; z-index: 800; top: 35px; left: 0px; right: 0px; height: 45px; }
header #title { height: 25px; overflow: hidden; background: rgba(0, 0, 0, 0) linear-gradient(rgb(239, 239, 239), rgb(204, 204, 204)) repeat scroll 0% 0%; border-bottom: 1px solid rgb(146, 146, 146); }
header a { text-decoration: none; color: rgb(0, 0, 0); }
header h1 { margin: 0px; padding: 3px 0px 2px; font-weight: 400; text-align: center; text-shadow: 0px 1px 0px rgb(229, 229, 229); white-space: nowrap; font-size: 115%; }
#file_links { float: right; position: relative; top: -22px; width: 200px; }
#PDF_link, #Companion_link { margin: 0px 3px 4px 0px; height: 20px; color: rgb(0, 0, 0); padding: 0px 5px 2px; float: right; border-radius: 9px; text-decoration: none; display: none; }
#pdf_icon, #companion_icon { display: inline-block; height: 16px; width: 16px; position: relative; top: 3px; margin-right: 3px; }
#pdf_icon { background: rgba(0, 0, 0, 0) url('imagepdf_2x.png') no-repeat scroll 0% 0% / 16px 16px; }
#companion_icon { background: rgba(0, 0, 0, 0) url('archive-zip_2x.png') no-repeat scroll 0% 0% / 16px 16px; }
#Sample_link { margin: 0px 3px 4px 0px; height: 20px; }
#PDF_link:hover, #Companion_link:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0px center; }
#PDF_link:active, #Companion_link:active { background: rgba(0, 0, 0, 0) none repeat scroll 0px center; }
#headerButtons { position: absolute; list-style: outside none none; top: 26px; left: 0px; right: 0px; margin: 0px; padding: 0px; font-size: 8pt; overflow: hidden; background-color: rgb(242, 242, 242); background-image: none; background-size: cover; border-top: 0px none; border-bottom: 1px solid rgb(172, 172, 172); height: 24px; }
#headerButtons li { display: inline; background-repeat: no-repeat; padding: 0px; margin-top: 0px; }
#headerButtons select { height: 22px; margin: 5px 2px 0px 10px; max-width: 300px; }
#toc_button button { text-align: left; padding-left: 30px; width: 230px; margin: 0px; border-width: 0px 1px 0px 0px; border-style: none solid none none; border-color: currentcolor rgb(172, 172, 172) currentcolor currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; height: 24px; background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
#toc_button button.open { background: rgb(235, 238, 241) none repeat scroll 0% 0%; }
.disclosure, .nodisclosure { display: inline-block; height: 8px; width: 9px; margin-right: 6px; position: relative; }
.disclosure { background: transparent url('book_ui_sprites_2x.png') no-repeat scroll -62px 0px / 110px auto; margin-right: 5px; }
.open > .disclosure { background: transparent url('book_ui_sprites_2x.png') no-repeat scroll -62px -9px / 110px auto; }
li#jumpto_button { position: absolute; left: 230px; margin-left: 0px; top: -2px; }
#tocContainer { position: fixed; top: 85px; bottom: 0px; left: 0px; width: 229px; display: none; overflow: hidden; border-top: 0px none; background: rgb(235, 238, 241) none repeat scroll 0% 0%; -moz-user-select: none; }
#tocContainer.isShowingTOC { display: block; border-right: 1px solid rgb(172, 172, 172); overflow-x: hidden; overflow-y: auto; padding: 0px; z-index: 4; }
#tocContainer li ul li { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-top: 0.583em; padding-left: 3px; }
#tocContainer li ul li span.sectionName { white-space: normal; }
#tocContainer > ul#toc { width: 209px; margin: 0px; padding: 12px 0px 18px; font-size: 11px; -moz-user-select: none; }
#tocContainer > ul#toc > li { padding: 0px 0px 7px 30px; margin-top: 0px; text-indent: -15px; }
#tocContainer > ul#toc li.children > ul { height: 0px; display: none; }
#tocContainer > ul#toc > li > .sectionName a { font-weight: 700; color: rgb(0, 0, 0); }
#tocContainer > ul#toc > li ul { list-style: outside none none; padding-right: 0px; margin-right: 0px; }
#tocContainer > ul#toc > li > ul a { color: rgb(79, 79, 79); }
#tocContainer > ul#toc > li > ul > li > .sectionName a { font-weight: 700; }
#tocContainer > ul#toc > li > ul, ul#toc > li > ul > li { padding-left: 15px; margin-left: 0px; }
#tocContainer > ul#toc > li > ul { padding: 0px; margin: 0px; }
#tocContainer:focus, #contents:focus, iframe:focus { outline: 0px none; }
article > a[name]::before, body > a[name]::before, section > a[name]::before, #InstanceMethods_section > a[name]::before, #Constants_section > a[name]::before, .api .classMethod > a[name]::before, #Tasks_section > a[name]::before { display: block; content: ""; height: 85px; margin: -85px 0px 0px; }
#contents { position: absolute; top: 85px; bottom: 0px; left: 0px; right: 0px; z-index: 1; padding: 0px 2em; background-color: rgb(255, 255, 255); }
#contents.isShowingTOC { left: 230px; min-width: 320px; }
html { height: 100%; max-height: 100%; padding: 0px; margin: 0px; border: 0px none; }
body { margin: 0px; padding: 0px; border: 0px none; height: 100%; max-height: 100%; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font: 13px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; }
@media only screen and (max-device-width: 480px) {
	body { font: 14px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; }
}
a { color: rgb(51, 102, 204); text-decoration: none; }
a:hover { color: rgb(51, 102, 204); text-decoration: underline; }
a:active { color: rgb(51, 102, 204); text-decoration: none; }
#pageTitle, #contents.chapter h1 { padding-top: 24px; }
.piped::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
body { margin: 0px; }
article:focus { outline: 0px none; }
pre { margin-top: 0.455em; margin-bottom: 0.909em; }
code, tt, samp, pre { font-size: 103%; font-family: Courier,Consolas,monospace; color: rgb(102, 102, 102); }
img.ipad-scaled-image { display: none; }
h1 { margin-top: 0px; margin-bottom: 1.15em; font: 400 215% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; color: rgb(0, 0, 0); }
h2 { margin-top: 1.75em; font-size: 187%; font-weight: 400; color: rgb(60, 76, 108); padding-bottom: 2px; }
h3 { margin-top: 1.5em; margin-bottom: 0.25em; font-size: 145%; font-weight: 400; color: rgb(0, 0, 0); }
p { margin-top: 0px; margin-bottom: 0.833em; font: 100% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; }
figcaption { display: block; margin: 0px 0px 0.833em; font: 100% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; }
.content_text { margin-top: 0px; font: 100% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; margin-bottom: 0.833em; padding-bottom: 0.833em; }
b, strong { font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; font-size: 100%; font-weight: 700; }
i, em, .newTerm { font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; font-size: 100%; font-style: italic; }
ul, .api ul.ul { list-style: outside none disc; margin: 0px 0px 0.833em 1.35em; padding: 0px 0px 0.5em; }
li, .api li.li { margin-top: 0.583em; }
ul ul { list-style: outside none circle; margin: 0.5em 0px 0.866em 1.3em; padding: 0px 0px 0.5em; }
.clear { clear: both; }
.notebox { border: 1px solid rgb(80, 136, 197); background-color: rgb(255, 255, 255); margin: 1.667em 0px 1.75em; padding: 0px 0.667em 0.083em 0.75em; text-align: left; clear: right; }
.notebox p, .noteboxdef p { font: 100% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; margin-top: 0.583em; margin-bottom: 0px; }
.importantbox { border: 1px solid rgb(80, 136, 197); background-color: rgb(240, 243, 247); margin: 1.667em 0px 1.75em; padding: 0px 0.667em 0.083em 0.75em; }
.importantbox p, .importantboxdef p { font: 100% "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif; margin-top: 0.583em; margin-bottom: 0px; }
div.codesample { font-size: 91.67%; margin: 1.5em 0px; }
.codesample table { width: 100%; background-color: rgb(241, 245, 249); border-collapse: collapse; border: 1px solid rgb(199, 207, 213); padding-bottom: 4px; }
.codesample table td { padding: 0.5em; }
.codesample pre { font-family: Courier,Consolas,monospace; margin: -0.083em 0.333em 0px 0.5em; line-height: 110%; white-space: pre-wrap; }
.codesample tr { border-bottom: 0px solid rgb(255, 255, 255); }
.codesample span { margin-right: 0.667em; float: right; }
#pediaWindow { position: absolute; z-index: -1; width: 300px; border-radius: 7px; box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5); opacity: 0; visibility: hidden; }
#pediaWindow #pediaHeader { background-image: url('header_background_2x.png'); background-size: 300px auto; height: 1.5em; font: 700 100% "Lucida Grande",Geneva,Helvetica,Arial,sans-serif; padding-left: 1.083em; padding-top: 0.25em; border-top: 1px solid rgb(153, 153, 153); border-left: 1px solid rgb(153, 153, 153); border-right: 1px solid rgb(153, 153, 153); border-top-left-radius: 0.667em; border-top-right-radius: 0.667em; }
#pediaWindow #pediaBody { border: 1px solid rgb(153, 153, 153); background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); padding: 0.417em 0.583em 0.583em; border-bottom-left-radius: 0.667em; border-bottom-right-radius: 0.667em; }
figure { padding-top: 1em; padding-bottom: 1.5em; display: block; }
.pageNavigationLinks { margin-top: 0.75em; margin-bottom: 0px; float: right; }
.previousLink { margin-right: 20px; float: right; }
.nextLink { float: right; }
.copyright { clear: both; }
.dts_doc .caption_number::after { content: ":"; }
.copyright .content_text { font-size: 80%; }
#pediaContents .task-name div::before { content: "Steps"; color: rgb(60, 76, 108); }
.Xcode #pediaContents a[name]::before { position: relative; top: -20px; }
#pageTitle { padding-top: 24px; }
.diffReport .headerName .added::after { content: " (Added)"; font-style: italic; font-size: 80%; color: rgb(0, 0, 255); }
.diffReport .headerName .removed::after { content: " (Removed)"; font-style: italic; font-size: 80%; color: red; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#contents.isShowingTOC { margin-left: 230px; left: 0px; min-width: 320px; }
	#contents { position: static; }
	#tocContainer { position: fixed; }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
	#contents.isShowingTOC { margin-left: 230px; left: 0px; min-width: 320px; }
	#contents { position: static; margin-top: 85px; }
	#tocContainer { position: fixed; }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	#contents.isShowingTOC { margin-left: 230px; left: 0px; min-width: 320px; }
	#contents { position: static; margin-top: 85px; }
	#tocContainer { position: fixed; }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 980px), (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 320px) and (max-width: 980px), (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 320px) and (max-width: 980px) {
	body { min-width: initial; max-width: 100%; width: 100%; }
	#contents, #adcHeader, #header, #tocContainer { position: static !important; min-width: initial; max-width: 100%; width: 100%; overflow: hidden; }
	#contents { margin-top: 0px; padding-left: 0px; padding-right: 0px; font-size: 16px; }
	#contents > * { margin-left: 20px; margin-right: 20px; }
	#header #headerButtons { margin-top: 36px; }
	#adcHeader #ssi_AppleDeveloperConnection { padding-right: 0px; display: none; }
	#ssi_SearchButton { display: none; }
	#contents h1 { font-size: 32px; }
	#contents table { table-layout: fixed; width: 100%; }
	#contents table tbody { display: block; overflow: scroll !important; }
	#contents table td { overflow: scroll !important; }
	#contents figure img { min-width: 280px; max-width: 100% !important; height: auto !important; }
	#contents figure, #contents figure.item-figure { margin-left: 0px; margin-right: 0px; }
	#contents.isShowingTOC { margin-left: 0px; display: none; }
	body.isShowingTOC { background-color: rgb(235, 238, 241); }
	#tocContainer { border-right: 0px none !important; margin-top: 11px; transform: scale(1.4); }
	#toc_button button { padding-top: 11px; width: 105%; }
	#headerButtons { height: 36px; }
	#pageNavigationLinks_top { display: none; }
	#header #title h1 { margin-left: 10px; margin-right: 10px; overflow: hidden; text-overflow: ellipsis; }
	#contents { margin-top: -50px; background-color: transparent; }
	#contents .codesample.clear table td pre span { display: none; }
	#contents h2 { margin-top: 1em; overflow: scroll !important; }
	code { word-break: break-all; }
	#leave_feedback { display: none !important; }
	button#Sample_button { position: relative; left: 175px; top: -19px; }
	#contents h1#pageTitle {  }
	#tocContainer > ul#toc { width: 100%; }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
	#modal #feedback .fineprint { display: none; }
	#modal #feedback #submit { margin-top: 0px; margin-bottom: 5px; }
	#modal #feedback #legal, #modal #feedback .right-leaf { width: 100%; }
	#modal #feedback #comment { width: calc(100% - 25px); }
	#modal #closebox { top: 5px !important; left: 275px !important; }
	button#Sample_button { position: relative; left: 165px; top: -19px; }
}
/* ::::: https://developer.apple.com/library/content/Resources/1274/CSS/feedback.css ::::: */

.hidden { display: none; }
#thank_you_icon, #modal_thank_you_icon { width: 250px; height: 141px; margin-top: 60px; background: rgba(0, 0, 0, 0) url('thankyou_icon_2x.png') no-repeat scroll center center / 100% auto; margin-left: auto; margin-right: auto; }
#sending_img, #modal_sending_img { height: 32px; width: 32px; margin-top: 60px; background: rgba(0, 0, 0, 0) url('sending_timer_2x.gif') no-repeat scroll center center / 100% auto; margin-left: auto; margin-right: auto; }
#error_icon, #modal_error_icon { width: 117px; height: 119px; margin-top: 60px; background: rgba(0, 0, 0, 0) url('error_icon_2x.png') no-repeat scroll center center / 117px 119px; margin-left: auto; margin-right: auto; }
#blackout { transition: opacity 0.3s ease 0s; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; height: 100%; left: 0px; opacity: 0; position: absolute; top: 0px; width: 100%; z-index: -1; }
#xcode_leave_feedback, #leave_feedback { background-color: rgb(160, 160, 160); box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.07); bottom: 0px; margin-bottom: 5px; font-size: 11px; color: rgb(255, 255, 255); cursor: pointer; outline: 0px none; text-align: center; padding: 5px 10px; position: fixed; right: 0px; z-index: 902; }
#feedback #submit:active, #modal_submit:active, #leave_feedback.button:active, #fake_leave_feedback.button:active { box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) inset; }
#modal { border-radius: 4px; box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.8); transform: translateY(1000px); transition: transform 0.3s ease 0s; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(109, 109, 109); font: 12px "Lucida Grande",Helvetica,Arial; height: 0px; margin: auto; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: hidden; padding: 0px 15px; position: fixed; width: 590px; }
#modal a { color: rgb(53, 147, 209); text-decoration: none; }
#modal a:hover { text-decoration: underline; }
#modal #closebox { background: rgba(0, 0, 0, 0) url('closebox_2x.png') no-repeat scroll 0% 0% / cover ; display: block; width: 30px; height: 30px; position: absolute; outline: 0px none; top: -14px; left: -16px; z-index: 4; }
#modal #closebox:active { background-position: 0px -30px; }
#feedback .left-leaf, #modal_feedback .left-leaf { float: left; width: 280px; }
#feedback .right-leaf, #modal_feedback .right-leaf { float: right; width: 305px; }
#feedback h2, #modal_feedback h2 { margin-top: 13px; clear: both; color: rgb(38, 38, 38); font-weight: 400; font-size: 16px; padding-top: 5px; outline: 0px none; padding-bottom: 0px; border-bottom: 0px none; }
#feedback .asterisk, #modal_feedback .asterisk { color: rgb(221, 34, 34); font: 26px Arial,Helvetica; position: absolute; opacity: 0; }
#feedback #a1.asterisk, #modal_a1.asterisk { top: 11px; left: 255px; }
#feedback #a1.asterisk { left: 258px; }
#feedback #a2.asterisk, #modal_a2.asterisk { top: 176px; right: 15px; }
#feedback #star_group, #modal_star_group { position: relative; top: -5px; }
#feedback #star_group label, #modal_star_group label { clear: both; display: block; height: 24px; width: 160px; }
#feedback #star_group .radio, #modal_star_group .radio { font-size: 18px; position: relative; left: 10px; margin-right: 19px; }
#feedback #improve, #modal_improve { left: 10px; position: relative; top: -5px; }
#feedback .checkboxes input, #modal_feedback .checkboxes input { clear: left; font-size: 18px; margin: 5px; }
#feedback .checkboxes label, #modal_feedback .checkboxes label { clear: both; float: left; }
#feedback #comment, #modal_comment { font-family: Helvetica,Arial,sans-serif; font-size: 13px; margin: 26px 0px 12px; padding: 6px; width: 576px; resize: none; }
#feedback #legal, #modal_legal { color: rgb(109, 109, 109); font-size: 11px; float: left; }
#feedback #legal p, #modal_legal p { margin-bottom: 0.2em; font-size: 11px; }
#feedback .fineprint, #modal_feedback .fineprint { color: rgb(221, 34, 34); font-size: 11px; float: left; margin-bottom: 0.833em; width: 440px; opacity: 0; }
#feedback .fineprint span, #modal_feedback .fineprint span { font-size: 14px; }
#feedback #submit, #modal_submit { border: 1px solid rgb(155, 155, 155); background-color: rgb(160, 160, 160); background-image: none; color: rgb(255, 255, 255); font-family: Helvetica,Arial,sans-serif; height: 27px; font-size: 13px; padding: 3px 28px; border-radius: 0px; }
#success, #error, #sending, #modal_success, #modal_error, #modal_sending { z-index: 3; text-align: center; position: absolute; width: 618px; height: 428px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; left: 0px; top: 5px; }
#success h2, #error h2, #sending h2, #modal_success h2, #modal_error h2, #modal_sending h2 { margin-top: 40px; font-size: 24px; outline: 0px none; }
#success p, #error p, #sending p, #modal_success p, #modal_error p, #modal_sending p { font-size: 16px; }
#sending h2, #modal_sending h2 { margin-top: 140px; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#feedback #a1.asterisk, #modal_a1.asterisk { left: 233px; }
	#feedback #a2.asterisk, #modal_a2.asterisk { top: 188px; }
}
