/* ::::: http://www.linuxso.com/templets/default/style/style.css ::::: */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, figure { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img { border: 0px none; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
html { -moz-text-size-adjust: none; }
body { font: 12px/1.6 "Segoe UI",Tahoma,Arial,sans-serif; overflow-wrap: break-word; }
input, button, textarea, select, option, optiongroup { font-family: inherit; font-size: inherit; }
:focus { outline: 0px none; }
input, select { vertical-align: middle; }
button, input, select, textarea { margin: 0px; }
textarea { overflow: auto; resize: none; }
label[for], input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer; }
input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, button::-moz-focus-inner { border: 0px none; padding: 0px; }
img {  }
.clearfix::after, .box::after, .phead::after, .pbody::after { content: " "; display: block; clear: both; height: 0px; overflow: hidden; }
.clearfix, .box, .phead, .pbody {  }
body { background: rgb(222, 235, 243) url('body.png') repeat-x scroll 0% 0%; }
.container { width: 980px; margin: auto; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
a:link, a:visited { color: rgb(28, 61, 114); text-decoration: none; }
a:hover, a:active { text-decoration: underline; }
.toolbar, .toolbar-inner { height: 28px; background: rgb(250, 250, 250) url('toolbar.gif') repeat-x scroll 0px 100%; }
.toolbar { margin-bottom: 5px; padding: 0px 10px; }
.toolbar-inner { width: 960px; margin: auto; }
.toolbar .quicklink { margin-left: -10px; }
.header { margin: 0px 10px 5px; overflow: hidden; }
.header .logo { float: left; width: 192px; height: 60px; }
.nav { margin: 0px 10px 10px; height: 35px; line-height: 35px; overflow: hidden; background: rgb(30, 62, 116) url('nav.png') repeat-x scroll 0% 0%; border-radius: 3px; }
.nav ul { margin: 0px 10px; overflow: hidden; }
.nav li { font-size: 117%; font-weight: bold; line-height: 34px; float: left; margin: 0px 3px 0px -3px; padding-left: 2px; background: rgba(0, 0, 0, 0) url('nav_edge.png') no-repeat scroll 0px 50%; }
.nav a { display: block; padding: 0px 15px; }
.nav a:link, .nav a:visited { color: rgb(255, 255, 255); }
.sitemap { margin: 0px 10px 15px; padding: 6px 10px; border: 1px solid rgb(200, 200, 200); text-align: center; background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
.footer { margin: 0px 10px 30px; text-align: center; }
.footer p { margin: 0px 0px 5px; }
.footer a:link, .footer a:visited { color: inherit; }
.articlelist li, .headlinelist li, .eventlist li, .forumrecomlist li, .siterecomlist li, .downloadlist li { padding-left: 12px; background: rgba(0, 0, 0, 0) url('b1.gif') no-repeat scroll 0px 50%; overflow-wrap: normal; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.articlelist li { line-height: 1.9; }
.forumrecomlist li { line-height: 2; }
.forumrecomlist a:link, .forumrecomlist a:visited { color: rgb(0, 0, 0); }
.articlelist a:visited, .headlinelist a:visited, .headlinetop a:visited, .eventlist a:visited, .forumrecomlist a:visited, .siterecomlist a:visited, .siterecomtop a:visited, .toplist a:visited, .articletop a:visited, .activitylist a:visited { color: rgb(153, 153, 153); }
.ad-b-head { float: left; }
.ad-t-head { float: right; width: 288px; height: 60px; border: 1px solid rgb(176, 215, 255); background: rgb(242, 246, 251) none repeat scroll 0% 0%; }
.toolbar, .nav, .sitemap, .links, .box, .videonews, .resources { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); }
.dede_pages { width: 80%; padding-left: 100px; }
.dede_pages ul { float: left; padding: 12px 0px 12px 16px; }
/* ::::: http://www.linuxso.com/templets/default/style/topbar.css ::::: */

#chinaz_topbar { float: right; }
#chinaz_topbar .userbar { float: right; white-space: nowrap; margin-top: 3px; }
#chinaz_topbar .userbar a { float: left; display: inline; margin-left: 10px; height: 20px; line-height: 20px; }
#chinaz_topbar .userbar a:link, #chinaz_topbar .userbar a:visited { color: rgb(0, 0, 0); }
#chinaz_topbar .userbar a:hover, #chinaz_topbar .userbar a:active { color: rgb(18, 69, 156); cursor: pointer; }
.accesslink { float: left; white-space: nowrap; margin-top: 3px; position: relative; z-index: 1; }
.accesslink li { float: left; position: relative; }
.userbar, .accesslink {  }
.clearfix {  }
.clearfix::after { content: "."; display: block; clear: both; height: 0px; font: 0px/0 sans-serif; visibility: hidden; }
/* ::::: http://www.linuxso.com/templets/default/style/old_style.css ::::: */

.wrap { width: 960px; margin: 0px 10px 10px; }
.col1, .col2, .col3, .col4, .col5, .news_sort { float: left; margin-right: 10px; }
.layout-cols2 .col1 { width: 680px; overflow: hidden; }
.layout-cols2 .col2 { width: 270px; margin-right: 0px; overflow: hidden; }
.layout-cols2, .layout-cols3 { margin-bottom: 0px !important; }
.note { margin: 0px 15px 10px; color: rgb(102, 102, 102); }
.note span { float: right; }
.weizhi { border: 1px solid rgb(176, 199, 221); background: rgb(225, 239, 251) none repeat scroll 0% 0%; padding: 0px 15px; height: 30px; line-height: 30px; margin: 0px 10px 10px; position: relative; }
.weizhi span { position: absolute; right: 10px; }
.searchtxt { border: 1px solid rgb(143, 166, 188); height: 16px; line-height: 16px; }
#news { background: rgb(245, 250, 255) none repeat scroll 0% 0%; border: 1px solid rgb(153, 187, 221); padding: 30px 18px 20px; color: rgb(74, 74, 74); margin-bottom: 10px; }
.content { font-size: 14px; color: rgb(42, 42, 42); line-height: 25px; margin: 15px 0px 35px; }
.content p { text-indent: 2em; margin-bottom: 10px; }
.times { text-align: center; color: rgb(102, 102, 102); padding: 15px 0px; border-bottom: 1px solid rgb(225, 228, 230); }
.float_right { float: right; }
.btn { color: rgb(255, 255, 255); background: rgb(93, 139, 186) none repeat scroll 0% 0%; height: 22px; text-align: center; line-height: 22px; border-width: 1px; border-style: solid; border-color: rgb(100, 153, 206) rgb(37, 87, 137) rgb(37, 87, 137) rgb(100, 153, 206); }
.bor { padding: 10px 0px; }
.bor textarea { display: block; width: 99%; }
.right_bot { margin-bottom: 10px; }
.right_box { border: 1px solid rgb(153, 187, 221); }
.right_title { background: rgb(215, 231, 247) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(153, 187, 221); height: 27px; line-height: 27px; font-size: 14px; font-weight: bold; color: rgb(49, 49, 49); padding-left: 10px; }
.right_box ul { padding: 5px 5px 5px 10px; }
.right_box ul li { line-height: 25px; }
.text_tag { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px dashed rgb(202, 229, 255); margin: 10px auto; padding: 5px 10px; overflow: hidden; }
.text_tag h5 { clear: left; color: rgb(0, 0, 0); display: block; float: left; font-size: 12px; padding-top: 3px; }
.text_tag span { float: right; font: 12px/24px Tahoma; }
.box_xg { border: 1px solid rgb(184, 205, 227); margin-bottom: 10px; }
.box_xg .title_xg { background: rgb(184, 205, 227) none repeat scroll 0% 0%; color: rgb(0, 55, 112); line-height: 26px; height: 26px; padding-left: 15px; border: 1px solid rgb(255, 255, 255); font-weight: bold; }
.box_xg ul { padding: 6px; overflow: hidden; height: 1%; }
.box_xg ul li { display: block; float: left; width: 50%; text-indent: 12px; height: 24px; line-height: 24px; overflow: hidden; font-size: 14px; }
.box_xgimg { border: 1px solid rgb(184, 205, 227); margin-bottom: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.box_xgimg .title_xg { background: rgb(184, 205, 227) none repeat scroll 0% 0%; color: rgb(0, 55, 112); line-height: 26px; height: 26px; padding-left: 15px; border: 1px solid rgb(255, 255, 255); font-weight: bold; }
.box_xgimg ul { padding: 10px 10px 10px 20px; overflow: hidden; }
.title_xg span { font-size: 14px; font-weight: bold; }
.title_xg span a.currON { color: rgb(255, 0, 0); }
.box_xgimg ul li { float: left; width: 130px; margin: 0px 20px 0px 0px; }
.box_xgimg ul li img { border: 1px solid rgb(204, 204, 204); width: 121px; height: 91px; padding: 2px; }
.right_title { background: rgb(215, 231, 247) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(153, 187, 221); height: 27px; line-height: 27px; font-size: 14px; font-weight: bold; color: rgb(49, 49, 49); padding-left: 10px; }
h1.article-heading { color: rgb(54, 55, 55); font-size: 22px; text-align: center; }
.fs-small { font-size: 14px; }
.jiathiswidget { margin-left: 10px; }
#ckepop .label { margin-right: 5px; }
.text_tag #ckepop .label { float: left; }
#ckepop .jiathis_txt { float: none !important; }
#ckepop .jtico { display: inline-block !important; }
#ckepop .jiathis { vertical-align: middle; float: none; margin: 0px; }
