.addthis_button, .at15t { cursor: pointer; }
#_atssh { width: 1px !important; height: 1px !important; border: 0px none !important; }
@media screen and (max-width: 400px) {
}
@media screen and (max-height: 700px) and (max-width: 400px) {
}
.at-branding-info::before { content: "i"; font-family: Times New Roman; }
