HTML, BODY { height: 100%; width: 100%; margin: 0px; padding: 0px; overflow: hidden; -moz-user-select: none; }
#mys-wrapper { height: 100%; width: 100%; overflow: hidden; position: absolute; top: 0px; left: 0px; align-items: center; display: flex; justify-content: center; line-height: normal; }
#mys-overlay { height: 100%; width: 100%; overflow: hidden; position: absolute; top: 0px; left: 0px; box-sizing: border-box; pointer-events: none; z-index: 1; border: 1px solid rgb(229, 229, 229); }
#mys-wrapper A, #mys-wrapper A:visited, #mys-wrapper A:hover, #mys-wrapper A:active { color: inherit; cursor: pointer; text-decoration: inherit; }
#mys-content { flex-shrink: 0; position: relative; overflow: hidden; z-index: 0; }
.ns-6hz4j-l-bannerA { opacity: 0.01; position: absolute; display: block; top: 0px; left: 0px; width: 801px; height: 90px; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-0 { flex-shrink: 0; box-sizing: border-box; width: 100%; height: 100%; font-family: Roboto,Arial,sans-serif; display: flex; flex-direction: row; align-items: center; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-1 { display: block; flex-shrink: 0; flex-grow: 0; height: 100%; max-width: 195px; max-height: 102px; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-2 { display: block; flex-shrink: 0; flex-grow: 0; height: 49px; max-height: 100px; margin: 0px 32px; max-width: 59px; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-3 { box-sizing: border-box; flex-shrink: 0; font-weight: 700; flex-grow: 0.2; min-width: 15%; max-width: 25%; max-height: 80%; line-height: 1.3em; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-4 { display: inline; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-5 { box-sizing: border-box; flex-shrink: 0; font-weight: 300; width: 10%; max-height: 80%; flex-grow: 1; line-height: 1.2em; margin: 0px 16px; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-6 { display: inline; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-7 { flex-shrink: 0; flex-grow: 0; height: 41px; border: medium none; display: block; min-width: 20px; min-height: 20px; max-width: 50px; max-height: 50px; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-8 { box-sizing: border-box; flex-shrink: 0; width: 24px; min-width: 30px; height: 1px; }
.ns-6hz4j-l-bannerA.ns-6hz4j-v-3 .ns-6hz4j-e-0 { font-size: 17px; }
.ns-6hz4j-l-bannerA.ns-6hz4j-v-3 .ns-6hz4j-e-3 { font-size: 26px; }
.ns-6hz4j-l-bannerA.ns-6hz4j-v-3 .ns-6hz4j-e-5 { font-size: 17px; }
.ns-6hz4j-l-bannerA { opacity: 1; position: relative; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-0 { background-color: white; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-1 { background-image: url('downsize_200k_v1'); background-repeat: no-repeat; background-size: contain; animation: 0.9s ease 0s normal both 1 running fadein_keyframes; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-2 { background-image: url('downsize_200k_v1_002.dat'); background-repeat: no-repeat; background-size: contain; animation: 0.9s ease 0s normal both 1 running fadein_keyframes; background-position: center center; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-3 {  }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-4 { font-family: "Roboto",Roboto,Arial,sans-serif; white-space: nowrap; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-5 { color: rgb(92, 92, 92); }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-6 { font-family: "Roboto",Roboto,Arial,sans-serif; white-space: nowrap; }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-7 { background-color: rgb(200, 37, 44); border-radius: 50%; animation: 0.5s ease 0s normal both 1 running fadein_keyframes; box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24); text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1); background-image: url('undefined'); }
.ns-6hz4j-l-bannerA .ns-6hz4j-e-8 {  }
/* ::::: https://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C700 ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fcrc4esa.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fabc4esa.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fcbc4esa.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fbxc4esa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fcxc4esa.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fchc4esa.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('kfolcnqeu92fr1mmsu5fbbc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu72xkozy.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu5mxkozy.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7mxkozy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu4wxkozy.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7wxkozy.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7gxkozy.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu4mxk.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcrc4esa.woff2') format("woff2");
	unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfabc4esa.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcbc4esa.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfbxc4esa.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfcxc4esa.woff2') format("woff2");
	unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfchc4esa.woff2') format("woff2");
	unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('kfolcnqeu92fr1mmwulfbbc4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
div { margin: 0px; padding: 0px; }
.abgc { display: block; height: 15px; position: absolute; right: 17px; top: 1px; text-rendering: geometricprecision; z-index: 2147483646; }
.abgb { display: inline-block; height: 15px; }
.abgc, .jar .abgc, .jar .cbb { opacity: 1; }
.abgc { cursor: pointer; }
.cbb { cursor: pointer; height: 15px; width: 15px; z-index: 2147483646; background-color: rgb(255, 255, 255); opacity: 0; }
.cbb svg { position: absolute; top: 0px; right: 0px; height: 15px; width: 15px; stroke: rgb(0, 174, 205); stroke-width: 1.25; }
.cbb:hover { cursor: pointer; }
.cbb:hover { background-color: rgb(88, 88, 90); }
.cbb:hover svg { stroke: rgb(255, 255, 255); }
.abgb { position: absolute; right: 0px; top: 0px; }
.cbb { position: absolute; right: 1px; top: 1px; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgs svg, .abgb svg { display: inline-block; height: 15px; width: auto; vertical-align: top; }
.abgc .il-wrap { background-color: rgb(255, 255, 255); height: 15px; white-space: nowrap; }
.abgc .il-wrap.exp { border-bottom-left-radius: 5px; }
.abgc .il-text, .abgc .il-icon { display: inline-block; }
.abgc .il-text { padding-right: 1px; padding-left: 5px; height: 15px; width: 36px; }
.abgc .il-icon { height: 15px; width: 22px; }
.abgc .il-text svg { fill: rgb(0, 0, 0); }
.abgc .il-icon svg { fill: rgb(0, 174, 205); }
.mute_panel { z-index: 2147483646; }
.abgac { position: absolute; left: 0px; top: 0px; z-index: 2147483646; display: none; width: 100%; height: 100%; background-color: rgb(250, 250, 250); }
.mlsc { height: 100%; display: flex; justify-content: center; align-items: center; }
.mls { animation: 2s linear 0s normal none infinite running mlskf; height: 50%; width: 50%; }
.mlsd { stroke-dasharray: 1, 189; stroke-dashoffset: 0; animation: 1.4s ease-in-out 0s normal none infinite running mlsdkf; }
