body { margin: 0px; padding: 0px; overflow: hidden; }
/* ::::: https://tpc.googlesyndication.com/pagead/gadgets/suggestion_autolayout_V2/score_plain_no_logo.css ::::: */

HTML, BODY { font-family: "Arial",san-serif; font-weight: 700; height: 100%; margin: 0px; padding: 0px; width: 100%; }
IMG { border: medium none; }
#adContent { max-height: 100%; max-width: 100%; overflow: hidden; padding-top: 17px; }
.core { box-sizing: border-box; overflow: hidden; padding: 0px 4px 8px 0px; position: relative; float: left; }
.core.bottom { padding-bottom: 0px; }
.core.border { padding-right: 0px; }
.core A { color: inherit; display: block; width: 100%; height: 100%; }
.core-img { overflow: hidden; float: left; }
.core-img IMG { height: 100%; margin: auto; display: block; }
.core-title {  }
.core-title A { display: block; text-decoration: none; }
.core-title A:hover { text-decoration: underline; }
.core-body { box-sizing: border-box; overflow: hidden; padding: 0px 0px 0px 8px; line-height: 1.2; }
.core-ad-pill { white-space: nowrap; display: inline-block; bottom: 10px; position: absolute; }
.core.bottom .core-ad-pill { bottom: 0px; }
.core-ad-pill .ad-badge { background-color: rgb(179, 179, 179); color: rgb(255, 255, 255); font: 500 11px/13px "Roboto"; border-radius: 2px; padding: 2px; float: left; margin: 0px 4px 0px 0px; }
.core-ad-pill .url-or-advertiser { overflow: hidden; text-overflow: ellipsis; font: 300 11px/17px "Roboto"; color: rgb(179, 179, 179); display: block; vertical-align: middle; text-decoration: none; width: auto; }
div { margin: 0px; padding: 0px; }
.abgc { display: block; height: 15px; position: absolute; right: 1px; top: 1px; text-rendering: geometricprecision; z-index: 2147483646; }
.abgb { display: inline-block; height: 15px; }
.abgc, .jar .abgc, .jar .cbb { opacity: 1; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgs svg, .abgb svg { display: inline-block; height: 15px; width: auto; vertical-align: top; }
.abgc .il-wrap { background-color: rgb(255, 255, 255); height: 15px; white-space: nowrap; }
.abgc .il-wrap.exp { border-bottom-left-radius: 5px; }
.abgc .il-text, .abgc .il-icon { display: inline-block; }
.abgc .il-text { padding-right: 1px; padding-left: 5px; height: 15px; width: 36px; }
.abgc .il-icon { height: 15px; width: 22px; }
.abgc .il-text svg { fill: rgb(0, 0, 0); }
.abgc .il-icon svg { fill: rgb(0, 174, 205); }
