/* ::::: https://www.kurento.org/modules/system/system.base.css?odsn3k ::::: */

.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
:first-child + html .clearfix { min-height: 1%; }
/* ::::: https://www.kurento.org/modules/system/system.menus.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/modules/system/system.messages.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/modules/system/system.theme.css?odsn3k ::::: */

img { border: 0px none; }
table { border-collapse: collapse; }
.item-list ul { margin: 0px 0px 0.75em; padding: 0px; }
.item-list ul li { margin: 0px 0px 0.25em 1.5em; padding: 0px; }
.more-link { text-align: right; }
/* ::::: https://www.kurento.org/modules/comment/comment.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/modules/field/theme/field.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/modules/node/node.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/modules/search/search.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/modules/user/user.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/sites/all/modules/views/css/views.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/sites/all/modules/ckeditor/css/ckeditor.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/sites/all/modules/ctools/css/ctools.css?odsn3k ::::: */

/* ::::: https://www.kurento.org/sites/all/themes/specialone/css/bootstrap.min.css?odsn3k ::::: */

.clearfix {  }
.clearfix::before, .clearfix::after { display: table; line-height: 0; content: ""; }
.clearfix::after { clear: both; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
html { font-size: 100%; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
a:hover, a:active { outline: 0px none; }
img { height: auto; max-width: 100%; vertical-align: middle; border: 0px none; }
button, input, select, textarea { margin: 0px; font-size: 100%; vertical-align: middle; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] { cursor: pointer; }
body { margin: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(0, 136, 204); text-decoration: none; }
a:hover, a:focus { color: rgb(0, 85, 128); text-decoration: underline; }
.row::before, .row::after { display: table; line-height: 0; content: ""; }
.row::after { clear: both; }
[class*="span"] { float: left; min-height: 1px; margin-left: 20px; }
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 940px; }
.span12 { width: 940px; }
.span9 { width: 700px; }
.span6 { width: 460px; }
.span4 { width: 300px; }
.span3 { width: 220px; }
.row-fluid { width: 100%; }
.row-fluid::before, .row-fluid::after { display: table; line-height: 0; content: ""; }
.row-fluid::after { clear: both; }
.row-fluid [class*="span"] { display: block; float: left; width: 100%; min-height: 30px; margin-left: 2.12766%; box-sizing: border-box; }
.row-fluid [class*="span"]:first-child { margin-left: 0px; }
.row-fluid .span12 { width: 100%; }
.row-fluid .span9 { width: 74.4681%; }
.row-fluid .span6 { width: 48.9362%; }
.row-fluid .span4 { width: 31.9149%; }
.row-fluid .span3 { width: 23.4043%; }
.container { margin-right: auto; margin-left: auto; }
.container::before, .container::after { display: table; line-height: 0; content: ""; }
.container::after { clear: both; }
.container-fluid { padding-right: 20px; padding-left: 20px; }
.container-fluid::before, .container-fluid::after { display: table; line-height: 0; content: ""; }
.container-fluid::after { clear: both; }
p { margin: 0px 0px 10px; }
small { font-size: 85%; }
em { font-style: italic; }
.text-right { text-align: right; }
.text-center { text-align: center; }
h1, h2, h3, h4, h5, h6 { margin: 10px 0px; font-family: inherit; font-weight: bold; line-height: 20px; color: inherit; text-rendering: optimizelegibility; }
h1, h2, h3 { line-height: 40px; }
h1 { font-size: 38.5px; }
h2 { font-size: 31.5px; }
h5 { font-size: 14px; }
ul, ol { padding: 0px; margin: 0px 0px 10px 25px; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0px; }
li { line-height: 20px; }
.dl-horizontal::before, .dl-horizontal::after { display: table; line-height: 0; content: ""; }
.dl-horizontal::after { clear: both; }
blockquote { padding: 0px 0px 0px 15px; margin: 0px 0px 20px; border-left: 5px solid rgb(238, 238, 238); }
blockquote p { margin-bottom: 0px; font-size: 17.5px; font-weight: 300; line-height: 1.25; }
blockquote small { display: block; line-height: 20px; color: rgb(153, 153, 153); }
blockquote small::before { content: "— "; }
blockquote.pull-right small::before { content: ""; }
blockquote.pull-right small::after { content: " —"; }
q::before, q::after, blockquote::before, blockquote::after { content: ""; }
label, input, button, select, textarea { font-size: 14px; font-weight: normal; line-height: 20px; }
input, button, select, textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { display: inline-block; height: 20px; padding: 4px 6px; margin-bottom: 10px; font-size: 14px; line-height: 20px; color: rgb(85, 85, 85); vertical-align: middle; border-radius: 4px; }
input, textarea, .uneditable-input { width: 206px; }
input[type="radio"], input[type="checkbox"] { margin: 4px 0px 0px; line-height: normal; }
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { width: auto; }
select, input[type="file"] { height: 30px; line-height: 30px; }
select { width: 220px; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); }
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(153, 153, 153); }
input, textarea, .uneditable-input { margin-left: 0px; }
.controls-row::before, .controls-row::after { display: table; line-height: 0; content: ""; }
.controls-row::after { clear: both; }
input:focus:invalid, textarea:focus:invalid, select:focus:invalid { color: rgb(185, 74, 72); border-color: rgb(238, 95, 91); }
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus { border-color: rgb(233, 50, 45); box-shadow: 0px 0px 6px rgb(248, 185, 183); }
.form-actions::before, .form-actions::after { display: table; line-height: 0; content: ""; }
.form-actions::after { clear: both; }
.form-horizontal .control-group::before, .form-horizontal .control-group::after { display: table; line-height: 0; content: ""; }
.form-horizontal .control-group::after { clear: both; }
table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0px; }
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
[class^="icon-"], [class*=" icon-"] { display: inline-block; width: 14px; height: 14px; margin-top: 1px; line-height: 14px; vertical-align: text-top; background-image: url('glyphicons-halflings.png'); background-position: 14px 14px; background-repeat: no-repeat; }
.dropup, .dropdown { position: relative; }
.dropdown-toggle {  }
.dropdown-toggle:active, .open .dropdown-toggle { outline: 0px none; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: outside none none; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); background-clip: padding-box; }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 20px; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a { color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(0, 129, 194); background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 119, 179)); background-repeat: repeat-x; }
.dropdown-submenu > a::after { display: block; float: right; width: 0px; height: 0px; margin-top: 5px; margin-right: -10px; border-color: transparent transparent transparent rgb(204, 204, 204); border-style: solid; border-width: 5px 0px 5px 5px; content: " "; }
.dropdown-submenu:hover > a::after { border-left-color: rgb(255, 255, 255); }
.well { min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: rgb(245, 245, 245); border: 1px solid rgb(227, 227, 227); border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset; }
.well blockquote { border-color: rgba(0, 0, 0, 0.15); }
.well-large { padding: 24px; border-radius: 6px; }
.collapse { position: relative; height: 0px; overflow: hidden; transition: height 0.35s ease 0s; }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.nav { margin-bottom: 20px; margin-left: 0px; list-style: outside none none; }
.nav > li > a { display: block; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
.nav-tabs::before, .nav-pills::before, .nav-tabs::after, .nav-pills::after { display: table; line-height: 0; content: ""; }
.nav-tabs::after, .nav-pills::after { clear: both; }
.tabbable::before, .tabbable::after { display: table; line-height: 0; content: ""; }
.tabbable::after { clear: both; }
.navbar { margin-bottom: 20px; overflow: visible; }
.navbar-inner { min-height: 40px; padding-right: 20px; padding-left: 20px; background-color: rgb(250, 250, 250); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242)); background-repeat: repeat-x; border: 1px solid rgb(212, 212, 212); border-radius: 4px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067); }
.navbar-inner::before, .navbar-inner::after { display: table; line-height: 0; content: ""; }
.navbar-inner::after { clear: both; }
.navbar .container { width: auto; }
.nav-collapse.collapse { height: auto; overflow: visible; }
.navbar .brand { display: block; float: left; padding: 10px 20px; margin-left: -20px; font-size: 20px; font-weight: 200; color: rgb(119, 119, 119); text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.navbar .brand:hover, .navbar .brand:focus { text-decoration: none; }
.navbar-form::before, .navbar-form::after { display: table; line-height: 0; content: ""; }
.navbar-form::after { clear: both; }
.navbar .nav { position: relative; left: 0px; display: block; float: left; margin: 0px 10px 0px 0px; }
.navbar .nav > li { float: left; }
.navbar .nav > li > a { float: none; padding: 10px 15px; color: rgb(119, 119, 119); text-decoration: none; text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover { color: rgb(51, 51, 51); text-decoration: none; background-color: transparent; }
.navbar .nav > li > .dropdown-menu::before { position: absolute; top: -7px; left: 9px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; content: ""; }
.navbar .nav > li > .dropdown-menu::after { position: absolute; top: -6px; left: 10px; display: inline-block; border-right: 6px solid transparent; border-bottom: 6px solid rgb(255, 255, 255); border-left: 6px solid transparent; content: ""; }
.navbar-fixed-bottom .nav > li > .dropdown-menu::before { top: auto; bottom: -7px; border-top: 7px solid rgba(0, 0, 0, 0.2); border-bottom: 0px none; }
.navbar-fixed-bottom .nav > li > .dropdown-menu::after { top: auto; bottom: -6px; border-top: 6px solid rgb(255, 255, 255); border-bottom: 0px none; }
.navbar .pull-right > li > .dropdown-menu::before, .navbar .nav > li > .dropdown-menu.pull-right::before { right: 12px; left: auto; }
.navbar .pull-right > li > .dropdown-menu::after, .navbar .nav > li > .dropdown-menu.pull-right::after { right: 13px; left: auto; }
.pager::before, .pager::after { display: table; line-height: 0; content: ""; }
.pager::after { clear: both; }
.modal-footer::before, .modal-footer::after { display: table; line-height: 0; content: ""; }
.modal-footer::after { clear: both; }
.popover .arrow, .popover .arrow::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.popover .arrow::after { border-width: 10px; content: ""; }
.popover.top .arrow::after { bottom: 1px; margin-left: -10px; border-top-color: rgb(255, 255, 255); border-bottom-width: 0px; }
.popover.right .arrow::after { bottom: -10px; left: 1px; border-right-color: rgb(255, 255, 255); border-left-width: 0px; }
.popover.bottom .arrow::after { top: 1px; margin-left: -10px; border-bottom-color: rgb(255, 255, 255); border-top-width: 0px; }
.popover.left .arrow::after { right: 1px; bottom: -10px; border-left-color: rgb(255, 255, 255); border-right-width: 0px; }
.thumbnails::before, .thumbnails::after { display: table; line-height: 0; content: ""; }
.thumbnails::after { clear: both; }
/* ::::: https://www.kurento.org/sites/all/themes/specialone/css/style.css?odsn3k ::::: */

body { color: rgb(92, 91, 91); font-size: 13px; text-rendering: optimizelegibility; margin-left: auto; margin-right: auto; }
#main-wrapper { background-color: white; }
h1, h2, h3, h4, h5, h6 { color: rgb(85, 85, 85); line-height: normal; }
h1 { font-size: 36px; margin: 40px 0px; }
h2 { font-size: 28px; margin: 35px 0px; }
h5 { font-size: 16px; margin: 20px 0px; }
p, li, span { line-height: 22px; }
small { font-size: 90%; }
.block-title { line-height: 28px; color: rgb(85, 85, 85); margin-bottom: 40px; margin-top: 0px; }
.block-title::before { font-size: 25px; font-family: "FontAwesome"; content: ""; padding-right: 10px; font-weight: 300; }
.block-title-small { margin-top: 0px; margin-bottom: 25px; }
.block-title-small::before { font-size: 16px; font-family: "FontAwesome"; content: ""; padding-right: 10px; font-weight: 300; }
.page-title { text-align: center; margin-top: 15px; margin-bottom: 15px; }
blockquote { margin: 10px 0px; }
a { transition: color 0.25s ease 0s, opacity 0.25s ease 0s; }
a:hover, a:focus { color: rgb(85, 85, 85); text-decoration: none; }
.container-fluid { padding: 0px; }
.wrapper { max-width: 1170px; margin: auto; }
.block { padding-top: 35px; padding-bottom: 35px; }
#header-region, header, #top-content-region, #featured-region, #help-region, #main-content, #content-wide1-region, #content-wide2-region, #content-wide3-region, #content-wide4-region, #before-footer-region, #footer-four-columns, footer { padding-left: 40px; padding-right: 40px; }
#header-region .block, #footer-left-region .block, #footer-right-region .block { padding-top: 5px; padding-bottom: 5px; }
#header-region { padding-top: 3px; }
#header-region .span6 { min-height: 15px; }
header { background-color: rgb(255, 255, 255); min-height: 105px; }
#logo { height: 105px; padding-left: 0px; }
#sidebar-first-region .block-title::before, #sidebar-second-region .block-title::before { font-size: 18px; }
#main-content { padding-top: 25px; padding-bottom: 50px; }
#footer-four-columns .block-title::before { font-size: 14px; }
#footer-four-columns .block-title { margin-bottom: 25px; font-size: 15px; line-height: 15px; }
footer { padding-top: 3px; padding-bottom: 3px; }
.navbar { margin: 0px; }
.navbar-inner { background-color: transparent; padding: 0px; min-height: 40px; background-image: none; border: 0px none; box-shadow: none; }
.navbar .brand { display: none; font-weight: normal; cursor: pointer; }
.navbar .nav { float: right; text-align: left; }
.navbar .nav > li { display: block !important; }
.navbar .nav > li > a { color: rgb(92, 91, 91); border-bottom: 1px solid transparent; float: none; padding: 59px 10px 26px; margin: 0px 8px; text-shadow: none; font-size: 15px; font-weight: normal; }
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus { background-color: transparent; }
.dropdown i { padding-left: 5px; }
.dropdown-menu { background-color: rgb(246, 246, 246); border: 0px none; z-index: 1000; margin: 0px 8px 0px 0px; padding: 0px; border-radius: 0px; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); }
.dropdown-menu > li > a { color: rgb(92, 91, 91); transition: all 0.25s ease 0s; font-weight: normal; padding: 3px 18px; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a { background-color: rgb(237, 237, 237); background-image: none; background-repeat: no-repeat; filter: none; }
.navbar .nav li.dropdown > ul.dropdown-menu { display: block; opacity: 0; visibility: hidden; margin-top: -1px; }
.navbar .nav li.dropdown:hover > ul.dropdown-menu, .navbar .nav li.dropdown.open > ul.dropdown-menu { opacity: 1; visibility: visible; }
.navbar .nav > li > .dropdown-menu::before { display: none; }
.navbar .nav > li > .dropdown-menu::after { display: none; }
.nav { margin: 0px; }
.nav > li { float: none; display: inline-block; }
.nav > li > a { padding: 0px 32px 0px 0px; margin: 0px; }
.nav > li > a:hover, .nav > li > a:focus { background-color: transparent; text-decoration: none; }
.panel .panel-icon .icon::before { font-family: "FontAwesome"; font-size: 35px; line-height: 90px; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; display: inline-block !important; }
.panel .panel-icon .icon::after { transition: transform 0.2s ease 0s, visibility 0.2s ease 0s; pointer-events: none; position: absolute; width: 100%; height: 100%; border-radius: 50%; content: ""; box-sizing: content-box; top: -2px; left: -2px; padding: 2px; z-index: -1; }
.panel:hover .panel-icon .icon::after { transform: scale(0); visibility: hidden; }
.panel-2 .panel-icon::after { position: absolute; width: 100%; height: 100%; border-radius: 50%; background: rgb(255, 177, 65) none repeat scroll 0% 0%; z-index: -1; content: ""; box-sizing: content-box; transition: transform 0.3s ease 0s, visibility 0.3s ease 0s; }
.panel-2:hover .panel-icon::after { visibility: hidden; transform: scale(0); }
#social-networks { padding-top: 20px; padding-bottom: 20px; }
#social-networks a { font-size: 30px; padding: 0px 25px; }
#social-networks a:hover { color: rgb(255, 255, 255); }
#social-widget-header a { font-size: 16px; padding: 0px 8px; }
#social-widget-footer a:first-child, #social-widget-header a:first-child { padding-left: 0px; }
#social-widget-footer a:last-child, #social-widget-header a:last-child { padding-right: 0px; }
.contact-info-block .map::before, .contact-info-block .phone::before, .contact-info-block .mail::before, .contact-info-block .gps::before { display: inline-block; font-family: "FontAwesome"; font-size: 14px; text-align: center; padding-right: 15px; width: 15px; }
.contact-info-block .map::before { content: ""; }
.contact-info-block .phone::before { content: ""; }
.contact-info-block .mail::before { content: ""; }
.contact-info-block .gps::before { content: ""; }
#block-blog-recent ul, #block-comment-recent ul { list-style: outside none none; }
#block-blog-recent ul li, #block-comment-recent ul li { margin-left: 0px; }
label, input, button, select, textarea { font-size: 12px; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { color: rgb(92, 91, 91); font-size: 12px; height: 20px; padding: 5px 8px; margin-bottom: 0px; line-height: 20px; border-radius: 0px; }
select { height: 30px; }
input[type="radio"], input[type="checkbox"] { margin: -3px 0px 0px; }
:-moz-placeholder { color: rgb(205, 205, 205) !important; }
*::-moz-placeholder { color: rgb(205, 205, 205) !important; }
.well { background-color: rgb(246, 246, 246); border: 1px solid rgb(237, 237, 237); box-shadow: none; border-radius: 0px; }
.well-large { padding: 30px; border-radius: 0px; }
.well blockquote { margin: 0px; }
.more-link { display: none; }
.bg-color-grayDark1 { background-color: rgb(57, 57, 57); }
.bg-color-grayDark2 { background-color: rgb(73, 73, 73); }
.text-color-grayDark2 { color: rgb(92, 91, 91); }
.text-color-grayLight1 { color: rgb(205, 205, 205); }
.text-color-grayLight2 { color: rgb(237, 237, 237); }
.text-color-grayLight3 { color: rgb(246, 246, 246); }
#footer-second-region ul.nav { list-style: outside none none; }
#footer-second-region ul.nav li { display: list-item; }
.icon-angle-down { display: none !important; }
.navbar a.dropdown-toggle { cursor: default !important; }
/* ::::: https://www.kurento.org/sites/all/themes/specialone/css/bootstrap-responsive.min.css?odsn3k ::::: */

.clearfix {  }
.clearfix::before, .clearfix::after { display: table; line-height: 0; content: ""; }
.clearfix::after { clear: both; }
/* ::::: https://www.kurento.org/sites/all/themes/specialone/css/font-awesome.min.css?odsn3k ::::: */

@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype"), url('fontawesome-webfont.svg') format("svg");
}
[class^="icon-"], [class*=" icon-"] { font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: inherit; }
[class^="icon-"]::before, [class*=" icon-"]::before { text-decoration: inherit; display: inline-block; }
.icon-large::before { vertical-align: -10%; font-size: 1.33333em; }
a [class^="icon-"], a [class*=" icon-"] { display: inline; }
[class^="icon-"], [class*=" icon-"] { display: inline; width: auto; height: auto; line-height: normal; vertical-align: baseline; background-image: none; background-position: 0% 0%; background-repeat: repeat; margin-top: 0px; }
.icon-rotate-90::before { transform: rotate(90deg); }
.icon-rotate-180::before { transform: rotate(180deg); }
.icon-rotate-270::before { transform: rotate(270deg); }
.icon-flip-horizontal::before { transform: scale(-1, 1); }
.icon-flip-vertical::before { transform: scale(1, -1); }
a .icon-rotate-90::before, a .icon-rotate-180::before, a .icon-rotate-270::before, a .icon-flip-horizontal::before, a .icon-flip-vertical::before { display: inline-block; }
.icon-glass::before { content: ""; }
.icon-music::before { content: ""; }
.icon-search::before { content: ""; }
.icon-envelope-alt::before { content: ""; }
.icon-heart::before { content: ""; }
.icon-star::before { content: ""; }
.icon-star-empty::before { content: ""; }
.icon-user::before { content: ""; }
.icon-film::before { content: ""; }
.icon-th-large::before { content: ""; }
.icon-th::before { content: ""; }
.icon-th-list::before { content: ""; }
.icon-ok::before { content: ""; }
.icon-remove::before { content: ""; }
.icon-zoom-in::before { content: ""; }
.icon-zoom-out::before { content: ""; }
.icon-power-off::before, .icon-off::before { content: ""; }
.icon-signal::before { content: ""; }
.icon-gear::before, .icon-cog::before { content: ""; }
.icon-trash::before { content: ""; }
.icon-home::before { content: ""; }
.icon-file-alt::before { content: ""; }
.icon-time::before { content: ""; }
.icon-road::before { content: ""; }
.icon-download-alt::before { content: ""; }
.icon-download::before { content: ""; }
.icon-upload::before { content: ""; }
.icon-inbox::before { content: ""; }
.icon-play-circle::before { content: ""; }
.icon-rotate-right::before, .icon-repeat::before { content: ""; }
.icon-refresh::before { content: ""; }
.icon-list-alt::before { content: ""; }
.icon-lock::before { content: ""; }
.icon-flag::before { content: ""; }
.icon-headphones::before { content: ""; }
.icon-volume-off::before { content: ""; }
.icon-volume-down::before { content: ""; }
.icon-volume-up::before { content: ""; }
.icon-qrcode::before { content: ""; }
.icon-barcode::before { content: ""; }
.icon-tag::before { content: ""; }
.icon-tags::before { content: ""; }
.icon-book::before { content: ""; }
.icon-bookmark::before { content: ""; }
.icon-print::before { content: ""; }
.icon-camera::before { content: ""; }
.icon-font::before { content: ""; }
.icon-bold::before { content: ""; }
.icon-italic::before { content: ""; }
.icon-text-height::before { content: ""; }
.icon-text-width::before { content: ""; }
.icon-align-left::before { content: ""; }
.icon-align-center::before { content: ""; }
.icon-align-right::before { content: ""; }
.icon-align-justify::before { content: ""; }
.icon-list::before { content: ""; }
.icon-indent-left::before { content: ""; }
.icon-indent-right::before { content: ""; }
.icon-facetime-video::before { content: ""; }
.icon-picture::before { content: ""; }
.icon-pencil::before { content: ""; }
.icon-map-marker::before { content: ""; }
.icon-adjust::before { content: ""; }
.icon-tint::before { content: ""; }
.icon-edit::before { content: ""; }
.icon-share::before { content: ""; }
.icon-check::before { content: ""; }
.icon-move::before { content: ""; }
.icon-step-backward::before { content: ""; }
.icon-fast-backward::before { content: ""; }
.icon-backward::before { content: ""; }
.icon-play::before { content: ""; }
.icon-pause::before { content: ""; }
.icon-stop::before { content: ""; }
.icon-forward::before { content: ""; }
.icon-fast-forward::before { content: ""; }
.icon-step-forward::before { content: ""; }
.icon-eject::before { content: ""; }
.icon-chevron-left::before { content: ""; }
.icon-chevron-right::before { content: ""; }
.icon-plus-sign::before { content: ""; }
.icon-minus-sign::before { content: ""; }
.icon-remove-sign::before { content: ""; }
.icon-ok-sign::before { content: ""; }
.icon-question-sign::before { content: ""; }
.icon-info-sign::before { content: ""; }
.icon-screenshot::before { content: ""; }
.icon-remove-circle::before { content: ""; }
.icon-ok-circle::before { content: ""; }
.icon-ban-circle::before { content: ""; }
.icon-arrow-left::before { content: ""; }
.icon-arrow-right::before { content: ""; }
.icon-arrow-up::before { content: ""; }
.icon-arrow-down::before { content: ""; }
.icon-mail-forward::before, .icon-share-alt::before { content: ""; }
.icon-resize-full::before { content: ""; }
.icon-resize-small::before { content: ""; }
.icon-plus::before { content: ""; }
.icon-minus::before { content: ""; }
.icon-asterisk::before { content: ""; }
.icon-exclamation-sign::before { content: ""; }
.icon-gift::before { content: ""; }
.icon-leaf::before { content: ""; }
.icon-fire::before { content: ""; }
.icon-eye-open::before { content: ""; }
.icon-eye-close::before { content: ""; }
.icon-warning-sign::before { content: ""; }
.icon-plane::before { content: ""; }
.icon-calendar::before { content: ""; }
.icon-random::before { content: ""; }
.icon-comment::before { content: ""; }
.icon-magnet::before { content: ""; }
.icon-chevron-up::before { content: ""; }
.icon-chevron-down::before { content: ""; }
.icon-retweet::before { content: ""; }
.icon-shopping-cart::before { content: ""; }
.icon-folder-close::before { content: ""; }
.icon-folder-open::before { content: ""; }
.icon-resize-vertical::before { content: ""; }
.icon-resize-horizontal::before { content: ""; }
.icon-bar-chart::before { content: ""; }
.icon-twitter-sign::before { content: ""; }
.icon-facebook-sign::before { content: ""; }
.icon-camera-retro::before { content: ""; }
.icon-key::before { content: ""; }
.icon-gears::before, .icon-cogs::before { content: ""; }
.icon-comments::before { content: ""; }
.icon-thumbs-up-alt::before { content: ""; }
.icon-thumbs-down-alt::before { content: ""; }
.icon-star-half::before { content: ""; }
.icon-heart-empty::before { content: ""; }
.icon-signout::before { content: ""; }
.icon-linkedin-sign::before { content: ""; }
.icon-pushpin::before { content: ""; }
.icon-external-link::before { content: ""; }
.icon-signin::before { content: ""; }
.icon-trophy::before { content: ""; }
.icon-github-sign::before { content: ""; }
.icon-upload-alt::before { content: ""; }
.icon-lemon::before { content: ""; }
.icon-phone::before { content: ""; }
.icon-unchecked::before, .icon-check-empty::before { content: ""; }
.icon-bookmark-empty::before { content: ""; }
.icon-phone-sign::before { content: ""; }
.icon-twitter::before { content: ""; }
.icon-facebook::before { content: ""; }
.icon-github::before { content: ""; }
.icon-unlock::before { content: ""; }
.icon-credit-card::before { content: ""; }
.icon-rss::before { content: ""; }
.icon-hdd::before { content: ""; }
.icon-bullhorn::before { content: ""; }
.icon-bell::before { content: ""; }
.icon-certificate::before { content: ""; }
.icon-hand-right::before { content: ""; }
.icon-hand-left::before { content: ""; }
.icon-hand-up::before { content: ""; }
.icon-hand-down::before { content: ""; }
.icon-circle-arrow-left::before { content: ""; }
.icon-circle-arrow-right::before { content: ""; }
.icon-circle-arrow-up::before { content: ""; }
.icon-circle-arrow-down::before { content: ""; }
.icon-globe::before { content: ""; }
.icon-wrench::before { content: ""; }
.icon-tasks::before { content: ""; }
.icon-filter::before { content: ""; }
.icon-briefcase::before { content: ""; }
.icon-fullscreen::before { content: ""; }
.icon-group::before { content: ""; }
.icon-link::before { content: ""; }
.icon-cloud::before { content: ""; }
.icon-beaker::before { content: ""; }
.icon-cut::before { content: ""; }
.icon-copy::before { content: ""; }
.icon-paperclip::before, .icon-paper-clip::before { content: ""; }
.icon-save::before { content: ""; }
.icon-sign-blank::before { content: ""; }
.icon-reorder::before { content: ""; }
.icon-list-ul::before { content: ""; }
.icon-list-ol::before { content: ""; }
.icon-strikethrough::before { content: ""; }
.icon-underline::before { content: ""; }
.icon-table::before { content: ""; }
.icon-magic::before { content: ""; }
.icon-truck::before { content: ""; }
.icon-pinterest::before { content: ""; }
.icon-pinterest-sign::before { content: ""; }
.icon-google-plus-sign::before { content: ""; }
.icon-google-plus::before { content: ""; }
.icon-money::before { content: ""; }
.icon-caret-down::before { content: ""; }
.icon-caret-up::before { content: ""; }
.icon-caret-left::before { content: ""; }
.icon-caret-right::before { content: ""; }
.icon-columns::before { content: ""; }
.icon-sort::before { content: ""; }
.icon-sort-down::before { content: ""; }
.icon-sort-up::before { content: ""; }
.icon-envelope::before { content: ""; }
.icon-linkedin::before { content: ""; }
.icon-rotate-left::before, .icon-undo::before { content: ""; }
.icon-legal::before { content: ""; }
.icon-dashboard::before { content: ""; }
.icon-comment-alt::before { content: ""; }
.icon-comments-alt::before { content: ""; }
.icon-bolt::before { content: ""; }
.icon-sitemap::before { content: ""; }
.icon-umbrella::before { content: ""; }
.icon-paste::before { content: ""; }
.icon-lightbulb::before { content: ""; }
.icon-exchange::before { content: ""; }
.icon-cloud-download::before { content: ""; }
.icon-cloud-upload::before { content: ""; }
.icon-user-md::before { content: ""; }
.icon-stethoscope::before { content: ""; }
.icon-suitcase::before { content: ""; }
.icon-bell-alt::before { content: ""; }
.icon-coffee::before { content: ""; }
.icon-food::before { content: ""; }
.icon-file-text-alt::before { content: ""; }
.icon-building::before { content: ""; }
.icon-hospital::before { content: ""; }
.icon-ambulance::before { content: ""; }
.icon-medkit::before { content: ""; }
.icon-fighter-jet::before { content: ""; }
.icon-beer::before { content: ""; }
.icon-h-sign::before { content: ""; }
.icon-plus-sign-alt::before { content: ""; }
.icon-double-angle-left::before { content: ""; }
.icon-double-angle-right::before { content: ""; }
.icon-double-angle-up::before { content: ""; }
.icon-double-angle-down::before { content: ""; }
.icon-angle-left::before { content: ""; }
.icon-angle-right::before { content: ""; }
.icon-angle-up::before { content: ""; }
.icon-angle-down::before { content: ""; }
.icon-desktop::before { content: ""; }
.icon-laptop::before { content: ""; }
.icon-tablet::before { content: ""; }
.icon-mobile-phone::before { content: ""; }
.icon-circle-blank::before { content: ""; }
.icon-quote-left::before { content: ""; }
.icon-quote-right::before { content: ""; }
.icon-spinner::before { content: ""; }
.icon-circle::before { content: ""; }
.icon-mail-reply::before, .icon-reply::before { content: ""; }
.icon-github-alt::before { content: ""; }
.icon-folder-close-alt::before { content: ""; }
.icon-folder-open-alt::before { content: ""; }
.icon-expand-alt::before { content: ""; }
.icon-collapse-alt::before { content: ""; }
.icon-smile::before { content: ""; }
.icon-frown::before { content: ""; }
.icon-meh::before { content: ""; }
.icon-gamepad::before { content: ""; }
.icon-keyboard::before { content: ""; }
.icon-flag-alt::before { content: ""; }
.icon-flag-checkered::before { content: ""; }
.icon-terminal::before { content: ""; }
.icon-code::before { content: ""; }
.icon-reply-all::before { content: ""; }
.icon-mail-reply-all::before { content: ""; }
.icon-star-half-full::before, .icon-star-half-empty::before { content: ""; }
.icon-location-arrow::before { content: ""; }
.icon-crop::before { content: ""; }
.icon-code-fork::before { content: ""; }
.icon-unlink::before { content: ""; }
.icon-question::before { content: ""; }
.icon-info::before { content: ""; }
.icon-exclamation::before { content: ""; }
.icon-superscript::before { content: ""; }
.icon-subscript::before { content: ""; }
.icon-eraser::before { content: ""; }
.icon-puzzle-piece::before { content: ""; }
.icon-microphone::before { content: ""; }
.icon-microphone-off::before { content: ""; }
.icon-shield::before { content: ""; }
.icon-calendar-empty::before { content: ""; }
.icon-fire-extinguisher::before { content: ""; }
.icon-rocket::before { content: ""; }
.icon-maxcdn::before { content: ""; }
.icon-chevron-sign-left::before { content: ""; }
.icon-chevron-sign-right::before { content: ""; }
.icon-chevron-sign-up::before { content: ""; }
.icon-chevron-sign-down::before { content: ""; }
.icon-html5::before { content: ""; }
.icon-css3::before { content: ""; }
.icon-anchor::before { content: ""; }
.icon-unlock-alt::before { content: ""; }
.icon-bullseye::before { content: ""; }
.icon-ellipsis-horizontal::before { content: ""; }
.icon-ellipsis-vertical::before { content: ""; }
.icon-rss-sign::before { content: ""; }
.icon-play-sign::before { content: ""; }
.icon-ticket::before { content: ""; }
.icon-minus-sign-alt::before { content: ""; }
.icon-check-minus::before { content: ""; }
.icon-level-up::before { content: ""; }
.icon-level-down::before { content: ""; }
.icon-check-sign::before { content: ""; }
.icon-edit-sign::before { content: ""; }
.icon-external-link-sign::before { content: ""; }
.icon-share-sign::before { content: ""; }
.icon-compass::before { content: ""; }
.icon-collapse::before { content: ""; }
.icon-collapse-top::before { content: ""; }
.icon-expand::before { content: ""; }
.icon-euro::before, .icon-eur::before { content: ""; }
.icon-gbp::before { content: ""; }
.icon-dollar::before, .icon-usd::before { content: ""; }
.icon-rupee::before, .icon-inr::before { content: ""; }
.icon-yen::before, .icon-jpy::before { content: ""; }
.icon-renminbi::before, .icon-cny::before { content: ""; }
.icon-won::before, .icon-krw::before { content: ""; }
.icon-bitcoin::before, .icon-btc::before { content: ""; }
.icon-file::before { content: ""; }
.icon-file-text::before { content: ""; }
.icon-sort-by-alphabet::before { content: ""; }
.icon-sort-by-alphabet-alt::before { content: ""; }
.icon-sort-by-attributes::before { content: ""; }
.icon-sort-by-attributes-alt::before { content: ""; }
.icon-sort-by-order::before { content: ""; }
.icon-sort-by-order-alt::before { content: ""; }
.icon-thumbs-up::before { content: ""; }
.icon-thumbs-down::before { content: ""; }
.icon-youtube-sign::before { content: ""; }
.icon-youtube::before { content: ""; }
.icon-xing::before { content: ""; }
.icon-xing-sign::before { content: ""; }
.icon-youtube-play::before { content: ""; }
.icon-dropbox::before { content: ""; }
.icon-stackexchange::before { content: ""; }
.icon-instagram::before { content: ""; }
.icon-flickr::before { content: ""; }
.icon-adn::before { content: ""; }
.icon-bitbucket::before { content: ""; }
.icon-bitbucket-sign::before { content: ""; }
.icon-tumblr::before { content: ""; }
.icon-tumblr-sign::before { content: ""; }
.icon-long-arrow-down::before { content: ""; }
.icon-long-arrow-up::before { content: ""; }
.icon-long-arrow-left::before { content: ""; }
.icon-long-arrow-right::before { content: ""; }
.icon-apple::before { content: ""; }
.icon-windows::before { content: ""; }
.icon-android::before { content: ""; }
.icon-linux::before { content: ""; }
.icon-dribbble::before { content: ""; }
.icon-skype::before { content: ""; }
.icon-foursquare::before { content: ""; }
.icon-trello::before { content: ""; }
.icon-female::before { content: ""; }
.icon-male::before { content: ""; }
.icon-gittip::before { content: ""; }
.icon-sun::before { content: ""; }
.icon-moon::before { content: ""; }
.icon-archive::before { content: ""; }
.icon-bug::before { content: ""; }
.icon-vk::before { content: ""; }
.icon-weibo::before { content: ""; }
.icon-renren::before { content: ""; }
/* ::::: https://www.kurento.org/sites/all/themes/specialone/css/flexslider.css?odsn3k ::::: */

.slides::after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.flex-direction-nav .flex-next::after { content: ""; }
.flex-direction-nav .flex-prev::after { content: ""; }
@media screen and (max-width: 860px) {
}
/* ::::: https://www.kurento.org/sites/default/files/fontyourface/font.css?odsn3k ::::: */

h1, h2, h3, h4, h5, h6 { font-family: "Montserrat"; font-style: normal; font-weight: normal; }
strong, b { font-family: "Open Sans"; font-style: normal; font-weight: 600; }
div, body, input, textarea, button, #testimonials h4, .highlighted-text { font-family: "Open Sans"; font-style: normal; font-weight: normal; }
/* ::::: https://fonts.googleapis.com/css?family=Montserrat:regular|Open+Sans:600,regular|Playfair+Display:italic&subset=latin,cyrillic-ext,latin-ext ::::: */

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url('skk6nusyv8qpnmti4j9j2yeavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url('gfxtemcp1m_yzxsbpkl68ieavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url('zhcz-_wihjsqc0ohj9tcypk_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('k88pr3goawt7btt32z01mxjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('rjgo7rytmqivp7vzi-q5urjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('lwcjsqkb6emdfhrevqa1krjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('xozscpt2726on7jbcb_pahjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('59zrklao5bwgqf5a9baeerjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('u-wuoqret9fueobqw7jkrrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans Regular"), local("OpenSans-Regular"), url('cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url('mtp_ysujh_bn48vbg8snsq-j2u0lmlup9rwlsytm3ho.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url('mtp_ysujh_bn48vbg8snspx5f-9o1vgp2exwfjgl7ay.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url('mtp_ysujh_bn48vbg8snshwv49_lsm1nyrwo-zkhivy.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url('mtp_ysujh_bn48vbg8snsqarobkawv3vxw3jmhvenga.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url('mtp_ysujh_bn48vbg8snsv8zf_fossgrmwss7aa9k2w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url('mtp_ysujh_bn48vbg8snsj0lw-43amezio6xutljad8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url('mtp_ysujh_bn48vbg8snsugdm0lzdjqr5-oayxsoefg.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Playfair Display";
	font-style: italic;
	font-weight: 400;
	src: local("Playfair Display Italic"), local("PlayfairDisplay-Italic"), url('9mkijrv-dej0-_nwv7e6n7pw-cn4iqdgukbhiobroro.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Playfair Display";
	font-style: italic;
	font-weight: 400;
	src: local("Playfair Display Italic"), local("PlayfairDisplay-Italic"), url('9mkijrv-dej0-_nwv7e6n3l1ias4euo_b3wjg_mmktu.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Playfair Display";
	font-style: italic;
	font-weight: 400;
	src: local("Playfair Display Italic"), local("PlayfairDisplay-Italic"), url('9mkijrv-dej0-_nwv7e6nwxiai3f8adtt8b-_w2wopm.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: https://www.kurento.org/sites/all/themes/specialone/css/colors/custom.css?odsn3k ::::: */

.block-title::before, .block-title-small::before { color: rgb(94, 166, 84); }
.textcolor { color: rgb(94, 166, 84); }
blockquote { border-left: 1px solid rgb(94, 166, 84); }
a { color: rgb(94, 166, 84); }
#footer-four-columns a:hover, #footer-four-columns a:focus { color: rgb(94, 166, 84); }
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus { color: rgb(94, 166, 84); border-bottom: 1px solid rgb(94, 166, 84); }
li.dropdown:hover > a { color: rgb(94, 166, 84); }
.dropdown-menu { border-top: 1px solid rgb(94, 166, 84); }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a { color: rgb(94, 166, 84); }
.panel .panel-icon .icon::after { background: rgb(94, 166, 84) none repeat scroll 0% 0%; }
.panel-2 .panel-icon::after { background: rgb(94, 166, 84) none repeat scroll 0% 0%; }
#social-widget-footer a:hover, #social-widget-header a:hover { color: rgb(94, 166, 84); }
.well blockquote { border-color: rgb(94, 166, 84); }
.bg-color-theme { background-color: rgb(94, 166, 84); }
/* ::::: https://www.kurento.org/sites/all/themes/specialone/css/style-responsive.css?odsn3k ::::: */

