/* ::::: https://yeasy.gitbooks.io/docker_practice/content/gitbook/style.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: 700; }
code, kbd, pre, samp { font-family: monospace,serif; font-size: 1em; }
pre { white-space: pre-wrap; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: 400;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff2') format("woff2"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype"), url('fontawesome-webfont.svg') format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; }
.pull-right { float: right; }
.pull-left { float: left; }
.fa-spin { animation: 2s linear 0s normal none infinite running fa-spin; }
.fa-glass::before { content: ""; }
.fa-music::before { content: ""; }
.fa-search::before { content: ""; }
.fa-envelope-o::before { content: ""; }
.fa-heart::before { content: ""; }
.fa-star::before { content: ""; }
.fa-star-o::before { content: ""; }
.fa-user::before { content: ""; }
.fa-film::before { content: ""; }
.fa-th-large::before { content: ""; }
.fa-th::before { content: ""; }
.fa-th-list::before { content: ""; }
.fa-check::before { content: ""; }
.fa-close::before, .fa-remove::before, .fa-times::before { content: ""; }
.fa-search-plus::before { content: ""; }
.fa-search-minus::before { content: ""; }
.fa-power-off::before { content: ""; }
.fa-signal::before { content: ""; }
.fa-cog::before, .fa-gear::before { content: ""; }
.fa-trash-o::before { content: ""; }
.fa-home::before { content: ""; }
.fa-file-o::before { content: ""; }
.fa-clock-o::before { content: ""; }
.fa-road::before { content: ""; }
.fa-download::before { content: ""; }
.fa-arrow-circle-o-down::before { content: ""; }
.fa-arrow-circle-o-up::before { content: ""; }
.fa-inbox::before { content: ""; }
.fa-play-circle-o::before { content: ""; }
.fa-repeat::before, .fa-rotate-right::before { content: ""; }
.fa-refresh::before { content: ""; }
.fa-list-alt::before { content: ""; }
.fa-lock::before { content: ""; }
.fa-flag::before { content: ""; }
.fa-headphones::before { content: ""; }
.fa-volume-off::before { content: ""; }
.fa-volume-down::before { content: ""; }
.fa-volume-up::before { content: ""; }
.fa-qrcode::before { content: ""; }
.fa-barcode::before { content: ""; }
.fa-tag::before { content: ""; }
.fa-tags::before { content: ""; }
.fa-book::before { content: ""; }
.fa-bookmark::before { content: ""; }
.fa-print::before { content: ""; }
.fa-camera::before { content: ""; }
.fa-font::before { content: ""; }
.fa-bold::before { content: ""; }
.fa-italic::before { content: ""; }
.fa-text-height::before { content: ""; }
.fa-text-width::before { content: ""; }
.fa-align-left::before { content: ""; }
.fa-align-center::before { content: ""; }
.fa-align-right::before { content: ""; }
.fa-align-justify::before { content: ""; }
.fa-list::before { content: ""; }
.fa-dedent::before, .fa-outdent::before { content: ""; }
.fa-indent::before { content: ""; }
.fa-video-camera::before { content: ""; }
.fa-image::before, .fa-photo::before, .fa-picture-o::before { content: ""; }
.fa-pencil::before { content: ""; }
.fa-map-marker::before { content: ""; }
.fa-adjust::before { content: ""; }
.fa-tint::before { content: ""; }
.fa-edit::before, .fa-pencil-square-o::before { content: ""; }
.fa-share-square-o::before { content: ""; }
.fa-check-square-o::before { content: ""; }
.fa-arrows::before { content: ""; }
.fa-step-backward::before { content: ""; }
.fa-fast-backward::before { content: ""; }
.fa-backward::before { content: ""; }
.fa-play::before { content: ""; }
.fa-pause::before { content: ""; }
.fa-stop::before { content: ""; }
.fa-forward::before { content: ""; }
.fa-fast-forward::before { content: ""; }
.fa-step-forward::before { content: ""; }
.fa-eject::before { content: ""; }
.fa-chevron-left::before { content: ""; }
.fa-chevron-right::before { content: ""; }
.fa-plus-circle::before { content: ""; }
.fa-minus-circle::before { content: ""; }
.fa-times-circle::before { content: ""; }
.fa-check-circle::before { content: ""; }
.fa-question-circle::before { content: ""; }
.fa-info-circle::before { content: ""; }
.fa-crosshairs::before { content: ""; }
.fa-times-circle-o::before { content: ""; }
.fa-check-circle-o::before { content: ""; }
.fa-ban::before { content: ""; }
.fa-arrow-left::before { content: ""; }
.fa-arrow-right::before { content: ""; }
.fa-arrow-up::before { content: ""; }
.fa-arrow-down::before { content: ""; }
.fa-mail-forward::before, .fa-share::before { content: ""; }
.fa-expand::before { content: ""; }
.fa-compress::before { content: ""; }
.fa-plus::before { content: ""; }
.fa-minus::before { content: ""; }
.fa-asterisk::before { content: ""; }
.fa-exclamation-circle::before { content: ""; }
.fa-gift::before { content: ""; }
.fa-leaf::before { content: ""; }
.fa-fire::before { content: ""; }
.fa-eye::before { content: ""; }
.fa-eye-slash::before { content: ""; }
.fa-exclamation-triangle::before, .fa-warning::before { content: ""; }
.fa-plane::before { content: ""; }
.fa-calendar::before { content: ""; }
.fa-random::before { content: ""; }
.fa-comment::before { content: ""; }
.fa-magnet::before { content: ""; }
.fa-chevron-up::before { content: ""; }
.fa-chevron-down::before { content: ""; }
.fa-retweet::before { content: ""; }
.fa-shopping-cart::before { content: ""; }
.fa-folder::before { content: ""; }
.fa-folder-open::before { content: ""; }
.fa-arrows-v::before { content: ""; }
.fa-arrows-h::before { content: ""; }
.fa-bar-chart-o::before, .fa-bar-chart::before { content: ""; }
.fa-twitter-square::before { content: ""; }
.fa-facebook-square::before { content: ""; }
.fa-camera-retro::before { content: ""; }
.fa-key::before { content: ""; }
.fa-cogs::before, .fa-gears::before { content: ""; }
.fa-comments::before { content: ""; }
.fa-thumbs-o-up::before { content: ""; }
.fa-thumbs-o-down::before { content: ""; }
.fa-star-half::before { content: ""; }
.fa-heart-o::before { content: ""; }
.fa-sign-out::before { content: ""; }
.fa-linkedin-square::before { content: ""; }
.fa-thumb-tack::before { content: ""; }
.fa-external-link::before { content: ""; }
.fa-sign-in::before { content: ""; }
.fa-trophy::before { content: ""; }
.fa-github-square::before { content: ""; }
.fa-upload::before { content: ""; }
.fa-lemon-o::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-square-o::before { content: ""; }
.fa-bookmark-o::before { content: ""; }
.fa-phone-square::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-facebook-f::before, .fa-facebook::before { content: ""; }
.fa-github::before { content: ""; }
.fa-unlock::before { content: ""; }
.fa-credit-card::before { content: ""; }
.fa-feed::before, .fa-rss::before { content: ""; }
.fa-hdd-o::before { content: ""; }
.fa-bullhorn::before { content: ""; }
.fa-bell::before { content: ""; }
.fa-certificate::before { content: ""; }
.fa-hand-o-right::before { content: ""; }
.fa-hand-o-left::before { content: ""; }
.fa-hand-o-up::before { content: ""; }
.fa-hand-o-down::before { content: ""; }
.fa-arrow-circle-left::before { content: ""; }
.fa-arrow-circle-right::before { content: ""; }
.fa-arrow-circle-up::before { content: ""; }
.fa-arrow-circle-down::before { content: ""; }
.fa-globe::before { content: ""; }
.fa-wrench::before { content: ""; }
.fa-tasks::before { content: ""; }
.fa-filter::before { content: ""; }
.fa-briefcase::before { content: ""; }
.fa-arrows-alt::before { content: ""; }
.fa-group::before, .fa-users::before { content: ""; }
.fa-chain::before, .fa-link::before { content: ""; }
.fa-cloud::before { content: ""; }
.fa-flask::before { content: ""; }
.fa-cut::before, .fa-scissors::before { content: ""; }
.fa-copy::before, .fa-files-o::before { content: ""; }
.fa-paperclip::before { content: ""; }
.fa-floppy-o::before, .fa-save::before { content: ""; }
.fa-square::before { content: ""; }
.fa-bars::before, .fa-navicon::before, .fa-reorder::before { content: ""; }
.fa-list-ul::before { content: ""; }
.fa-list-ol::before { content: ""; }
.fa-strikethrough::before { content: ""; }
.fa-underline::before { content: ""; }
.fa-table::before { content: ""; }
.fa-magic::before { content: ""; }
.fa-truck::before { content: ""; }
.fa-pinterest::before { content: ""; }
.fa-pinterest-square::before { content: ""; }
.fa-google-plus-square::before { content: ""; }
.fa-google-plus::before { content: ""; }
.fa-money::before { content: ""; }
.fa-caret-down::before { content: ""; }
.fa-caret-up::before { content: ""; }
.fa-caret-left::before { content: ""; }
.fa-caret-right::before { content: ""; }
.fa-columns::before { content: ""; }
.fa-sort::before, .fa-unsorted::before { content: ""; }
.fa-sort-desc::before, .fa-sort-down::before { content: ""; }
.fa-sort-asc::before, .fa-sort-up::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-linkedin::before { content: ""; }
.fa-rotate-left::before, .fa-undo::before { content: ""; }
.fa-gavel::before, .fa-legal::before { content: ""; }
.fa-dashboard::before, .fa-tachometer::before { content: ""; }
.fa-comment-o::before { content: ""; }
.fa-comments-o::before { content: ""; }
.fa-bolt::before, .fa-flash::before { content: ""; }
.fa-sitemap::before { content: ""; }
.fa-umbrella::before { content: ""; }
.fa-clipboard::before, .fa-paste::before { content: ""; }
.fa-lightbulb-o::before { content: ""; }
.fa-exchange::before { content: ""; }
.fa-cloud-download::before { content: ""; }
.fa-cloud-upload::before { content: ""; }
.fa-user-md::before { content: ""; }
.fa-stethoscope::before { content: ""; }
.fa-suitcase::before { content: ""; }
.fa-bell-o::before { content: ""; }
.fa-coffee::before { content: ""; }
.fa-cutlery::before { content: ""; }
.fa-file-text-o::before { content: ""; }
.fa-building-o::before { content: ""; }
.fa-hospital-o::before { content: ""; }
.fa-ambulance::before { content: ""; }
.fa-medkit::before { content: ""; }
.fa-fighter-jet::before { content: ""; }
.fa-beer::before { content: ""; }
.fa-h-square::before { content: ""; }
.fa-plus-square::before { content: ""; }
.fa-angle-double-left::before { content: ""; }
.fa-angle-double-right::before { content: ""; }
.fa-angle-double-up::before { content: ""; }
.fa-angle-double-down::before { content: ""; }
.fa-angle-left::before { content: ""; }
.fa-angle-right::before { content: ""; }
.fa-angle-up::before { content: ""; }
.fa-angle-down::before { content: ""; }
.fa-desktop::before { content: ""; }
.fa-laptop::before { content: ""; }
.fa-tablet::before { content: ""; }
.fa-mobile-phone::before, .fa-mobile::before { content: ""; }
.fa-circle-o::before { content: ""; }
.fa-quote-left::before { content: ""; }
.fa-quote-right::before { content: ""; }
.fa-spinner::before { content: ""; }
.fa-circle::before { content: ""; }
.fa-mail-reply::before, .fa-reply::before { content: ""; }
.fa-github-alt::before { content: ""; }
.fa-folder-o::before { content: ""; }
.fa-folder-open-o::before { content: ""; }
.fa-smile-o::before { content: ""; }
.fa-frown-o::before { content: ""; }
.fa-meh-o::before { content: ""; }
.fa-gamepad::before { content: ""; }
.fa-keyboard-o::before { content: ""; }
.fa-flag-o::before { content: ""; }
.fa-flag-checkered::before { content: ""; }
.fa-terminal::before { content: ""; }
.fa-code::before { content: ""; }
.fa-mail-reply-all::before, .fa-reply-all::before { content: ""; }
.fa-star-half-empty::before, .fa-star-half-full::before, .fa-star-half-o::before { content: ""; }
.fa-location-arrow::before { content: ""; }
.fa-crop::before { content: ""; }
.fa-code-fork::before { content: ""; }
.fa-chain-broken::before, .fa-unlink::before { content: ""; }
.fa-question::before { content: ""; }
.fa-info::before { content: ""; }
.fa-exclamation::before { content: ""; }
.fa-superscript::before { content: ""; }
.fa-subscript::before { content: ""; }
.fa-eraser::before { content: ""; }
.fa-puzzle-piece::before { content: ""; }
.fa-microphone::before { content: ""; }
.fa-microphone-slash::before { content: ""; }
.fa-shield::before { content: ""; }
.fa-calendar-o::before { content: ""; }
.fa-fire-extinguisher::before { content: ""; }
.fa-rocket::before { content: ""; }
.fa-maxcdn::before { content: ""; }
.fa-chevron-circle-left::before { content: ""; }
.fa-chevron-circle-right::before { content: ""; }
.fa-chevron-circle-up::before { content: ""; }
.fa-chevron-circle-down::before { content: ""; }
.fa-html5::before { content: ""; }
.fa-css3::before { content: ""; }
.fa-anchor::before { content: ""; }
.fa-unlock-alt::before { content: ""; }
.fa-bullseye::before { content: ""; }
.fa-ellipsis-h::before { content: ""; }
.fa-ellipsis-v::before { content: ""; }
.fa-rss-square::before { content: ""; }
.fa-play-circle::before { content: ""; }
.fa-ticket::before { content: ""; }
.fa-minus-square::before { content: ""; }
.fa-minus-square-o::before { content: ""; }
.fa-level-up::before { content: ""; }
.fa-level-down::before { content: ""; }
.fa-check-square::before { content: ""; }
.fa-pencil-square::before { content: ""; }
.fa-external-link-square::before { content: ""; }
.fa-share-square::before { content: ""; }
.fa-compass::before { content: ""; }
.fa-caret-square-o-down::before, .fa-toggle-down::before { content: ""; }
.fa-caret-square-o-up::before, .fa-toggle-up::before { content: ""; }
.fa-caret-square-o-right::before, .fa-toggle-right::before { content: ""; }
.fa-eur::before, .fa-euro::before { content: ""; }
.fa-gbp::before { content: ""; }
.fa-dollar::before, .fa-usd::before { content: ""; }
.fa-inr::before, .fa-rupee::before { content: ""; }
.fa-cny::before, .fa-jpy::before, .fa-rmb::before, .fa-yen::before { content: ""; }
.fa-rouble::before, .fa-rub::before, .fa-ruble::before { content: ""; }
.fa-krw::before, .fa-won::before { content: ""; }
.fa-bitcoin::before, .fa-btc::before { content: ""; }
.fa-file::before { content: ""; }
.fa-file-text::before { content: ""; }
.fa-sort-alpha-asc::before { content: ""; }
.fa-sort-alpha-desc::before { content: ""; }
.fa-sort-amount-asc::before { content: ""; }
.fa-sort-amount-desc::before { content: ""; }
.fa-sort-numeric-asc::before { content: ""; }
.fa-sort-numeric-desc::before { content: ""; }
.fa-thumbs-up::before { content: ""; }
.fa-thumbs-down::before { content: ""; }
.fa-youtube-square::before { content: ""; }
.fa-youtube::before { content: ""; }
.fa-xing::before { content: ""; }
.fa-xing-square::before { content: ""; }
.fa-youtube-play::before { content: ""; }
.fa-dropbox::before { content: ""; }
.fa-stack-overflow::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-flickr::before { content: ""; }
.fa-adn::before { content: ""; }
.fa-bitbucket::before { content: ""; }
.fa-bitbucket-square::before { content: ""; }
.fa-tumblr::before { content: ""; }
.fa-tumblr-square::before { content: ""; }
.fa-long-arrow-down::before { content: ""; }
.fa-long-arrow-up::before { content: ""; }
.fa-long-arrow-left::before { content: ""; }
.fa-long-arrow-right::before { content: ""; }
.fa-apple::before { content: ""; }
.fa-windows::before { content: ""; }
.fa-android::before { content: ""; }
.fa-linux::before { content: ""; }
.fa-dribbble::before { content: ""; }
.fa-skype::before { content: ""; }
.fa-foursquare::before { content: ""; }
.fa-trello::before { content: ""; }
.fa-female::before { content: ""; }
.fa-male::before { content: ""; }
.fa-gittip::before, .fa-gratipay::before { content: ""; }
.fa-sun-o::before { content: ""; }
.fa-moon-o::before { content: ""; }
.fa-archive::before { content: ""; }
.fa-bug::before { content: ""; }
.fa-vk::before { content: ""; }
.fa-weibo::before { content: ""; }
.fa-renren::before { content: ""; }
.fa-pagelines::before { content: ""; }
.fa-stack-exchange::before { content: ""; }
.fa-arrow-circle-o-right::before { content: ""; }
.fa-arrow-circle-o-left::before { content: ""; }
.fa-caret-square-o-left::before, .fa-toggle-left::before { content: ""; }
.fa-dot-circle-o::before { content: ""; }
.fa-wheelchair::before { content: ""; }
.fa-vimeo-square::before { content: ""; }
.fa-try::before, .fa-turkish-lira::before { content: ""; }
.fa-plus-square-o::before { content: ""; }
.fa-space-shuttle::before { content: ""; }
.fa-slack::before { content: ""; }
.fa-envelope-square::before { content: ""; }
.fa-wordpress::before { content: ""; }
.fa-openid::before { content: ""; }
.fa-bank::before, .fa-institution::before, .fa-university::before { content: ""; }
.fa-graduation-cap::before, .fa-mortar-board::before { content: ""; }
.fa-yahoo::before { content: ""; }
.fa-google::before { content: ""; }
.fa-reddit::before { content: ""; }
.fa-reddit-square::before { content: ""; }
.fa-stumbleupon-circle::before { content: ""; }
.fa-stumbleupon::before { content: ""; }
.fa-delicious::before { content: ""; }
.fa-digg::before { content: ""; }
.fa-pied-piper-pp::before { content: ""; }
.fa-pied-piper-alt::before { content: ""; }
.fa-drupal::before { content: ""; }
.fa-joomla::before { content: ""; }
.fa-language::before { content: ""; }
.fa-fax::before { content: ""; }
.fa-building::before { content: ""; }
.fa-child::before { content: ""; }
.fa-paw::before { content: ""; }
.fa-spoon::before { content: ""; }
.fa-cube::before { content: ""; }
.fa-cubes::before { content: ""; }
.fa-behance::before { content: ""; }
.fa-behance-square::before { content: ""; }
.fa-steam::before { content: ""; }
.fa-steam-square::before { content: ""; }
.fa-recycle::before { content: ""; }
.fa-automobile::before, .fa-car::before { content: ""; }
.fa-cab::before, .fa-taxi::before { content: ""; }
.fa-tree::before { content: ""; }
.fa-spotify::before { content: ""; }
.fa-deviantart::before { content: ""; }
.fa-soundcloud::before { content: ""; }
.fa-database::before { content: ""; }
.fa-file-pdf-o::before { content: ""; }
.fa-file-word-o::before { content: ""; }
.fa-file-excel-o::before { content: ""; }
.fa-file-powerpoint-o::before { content: ""; }
.fa-file-image-o::before, .fa-file-photo-o::before, .fa-file-picture-o::before { content: ""; }
.fa-file-archive-o::before, .fa-file-zip-o::before { content: ""; }
.fa-file-audio-o::before, .fa-file-sound-o::before { content: ""; }
.fa-file-movie-o::before, .fa-file-video-o::before { content: ""; }
.fa-file-code-o::before { content: ""; }
.fa-vine::before { content: ""; }
.fa-codepen::before { content: ""; }
.fa-jsfiddle::before { content: ""; }
.fa-life-bouy::before, .fa-life-buoy::before, .fa-life-ring::before, .fa-life-saver::before, .fa-support::before { content: ""; }
.fa-circle-o-notch::before { content: ""; }
.fa-ra::before, .fa-rebel::before, .fa-resistance::before { content: ""; }
.fa-empire::before, .fa-ge::before { content: ""; }
.fa-git-square::before { content: ""; }
.fa-git::before { content: ""; }
.fa-hacker-news::before, .fa-y-combinator-square::before, .fa-yc-square::before { content: ""; }
.fa-tencent-weibo::before { content: ""; }
.fa-qq::before { content: ""; }
.fa-wechat::before, .fa-weixin::before { content: ""; }
.fa-paper-plane::before, .fa-send::before { content: ""; }
.fa-paper-plane-o::before, .fa-send-o::before { content: ""; }
.fa-history::before { content: ""; }
.fa-circle-thin::before { content: ""; }
.fa-header::before { content: ""; }
.fa-paragraph::before { content: ""; }
.fa-sliders::before { content: ""; }
.fa-share-alt::before { content: ""; }
.fa-share-alt-square::before { content: ""; }
.fa-bomb::before { content: ""; }
.fa-futbol-o::before, .fa-soccer-ball-o::before { content: ""; }
.fa-tty::before { content: ""; }
.fa-binoculars::before { content: ""; }
.fa-plug::before { content: ""; }
.fa-slideshare::before { content: ""; }
.fa-twitch::before { content: ""; }
.fa-yelp::before { content: ""; }
.fa-newspaper-o::before { content: ""; }
.fa-wifi::before { content: ""; }
.fa-calculator::before { content: ""; }
.fa-paypal::before { content: ""; }
.fa-google-wallet::before { content: ""; }
.fa-cc-visa::before { content: ""; }
.fa-cc-mastercard::before { content: ""; }
.fa-cc-discover::before { content: ""; }
.fa-cc-amex::before { content: ""; }
.fa-cc-paypal::before { content: ""; }
.fa-cc-stripe::before { content: ""; }
.fa-bell-slash::before { content: ""; }
.fa-bell-slash-o::before { content: ""; }
.fa-trash::before { content: ""; }
.fa-copyright::before { content: ""; }
.fa-at::before { content: ""; }
.fa-eyedropper::before { content: ""; }
.fa-paint-brush::before { content: ""; }
.fa-birthday-cake::before { content: ""; }
.fa-area-chart::before { content: ""; }
.fa-pie-chart::before { content: ""; }
.fa-line-chart::before { content: ""; }
.fa-lastfm::before { content: ""; }
.fa-lastfm-square::before { content: ""; }
.fa-toggle-off::before { content: ""; }
.fa-toggle-on::before { content: ""; }
.fa-bicycle::before { content: ""; }
.fa-bus::before { content: ""; }
.fa-ioxhost::before { content: ""; }
.fa-angellist::before { content: ""; }
.fa-cc::before { content: ""; }
.fa-ils::before, .fa-shekel::before, .fa-sheqel::before { content: ""; }
.fa-meanpath::before { content: ""; }
.fa-buysellads::before { content: ""; }
.fa-connectdevelop::before { content: ""; }
.fa-dashcube::before { content: ""; }
.fa-forumbee::before { content: ""; }
.fa-leanpub::before { content: ""; }
.fa-sellsy::before { content: ""; }
.fa-shirtsinbulk::before { content: ""; }
.fa-simplybuilt::before { content: ""; }
.fa-skyatlas::before { content: ""; }
.fa-cart-plus::before { content: ""; }
.fa-cart-arrow-down::before { content: ""; }
.fa-diamond::before { content: ""; }
.fa-ship::before { content: ""; }
.fa-user-secret::before { content: ""; }
.fa-motorcycle::before { content: ""; }
.fa-street-view::before { content: ""; }
.fa-heartbeat::before { content: ""; }
.fa-venus::before { content: ""; }
.fa-mars::before { content: ""; }
.fa-mercury::before { content: ""; }
.fa-intersex::before, .fa-transgender::before { content: ""; }
.fa-transgender-alt::before { content: ""; }
.fa-venus-double::before { content: ""; }
.fa-mars-double::before { content: ""; }
.fa-venus-mars::before { content: ""; }
.fa-mars-stroke::before { content: ""; }
.fa-mars-stroke-v::before { content: ""; }
.fa-mars-stroke-h::before { content: ""; }
.fa-neuter::before { content: ""; }
.fa-genderless::before { content: ""; }
.fa-facebook-official::before { content: ""; }
.fa-pinterest-p::before { content: ""; }
.fa-whatsapp::before { content: ""; }
.fa-server::before { content: ""; }
.fa-user-plus::before { content: ""; }
.fa-user-times::before { content: ""; }
.fa-bed::before, .fa-hotel::before { content: ""; }
.fa-viacoin::before { content: ""; }
.fa-train::before { content: ""; }
.fa-subway::before { content: ""; }
.fa-medium::before { content: ""; }
.fa-y-combinator::before, .fa-yc::before { content: ""; }
.fa-optin-monster::before { content: ""; }
.fa-opencart::before { content: ""; }
.fa-expeditedssl::before { content: ""; }
.fa-battery-4::before, .fa-battery-full::before { content: ""; }
.fa-battery-3::before, .fa-battery-three-quarters::before { content: ""; }
.fa-battery-2::before, .fa-battery-half::before { content: ""; }
.fa-battery-1::before, .fa-battery-quarter::before { content: ""; }
.fa-battery-0::before, .fa-battery-empty::before { content: ""; }
.fa-mouse-pointer::before { content: ""; }
.fa-i-cursor::before { content: ""; }
.fa-object-group::before { content: ""; }
.fa-object-ungroup::before { content: ""; }
.fa-sticky-note::before { content: ""; }
.fa-sticky-note-o::before { content: ""; }
.fa-cc-jcb::before { content: ""; }
.fa-cc-diners-club::before { content: ""; }
.fa-clone::before { content: ""; }
.fa-balance-scale::before { content: ""; }
.fa-hourglass-o::before { content: ""; }
.fa-hourglass-1::before, .fa-hourglass-start::before { content: ""; }
.fa-hourglass-2::before, .fa-hourglass-half::before { content: ""; }
.fa-hourglass-3::before, .fa-hourglass-end::before { content: ""; }
.fa-hourglass::before { content: ""; }
.fa-hand-grab-o::before, .fa-hand-rock-o::before { content: ""; }
.fa-hand-paper-o::before, .fa-hand-stop-o::before { content: ""; }
.fa-hand-scissors-o::before { content: ""; }
.fa-hand-lizard-o::before { content: ""; }
.fa-hand-spock-o::before { content: ""; }
.fa-hand-pointer-o::before { content: ""; }
.fa-hand-peace-o::before { content: ""; }
.fa-trademark::before { content: ""; }
.fa-registered::before { content: ""; }
.fa-creative-commons::before { content: ""; }
.fa-gg::before { content: ""; }
.fa-gg-circle::before { content: ""; }
.fa-tripadvisor::before { content: ""; }
.fa-odnoklassniki::before { content: ""; }
.fa-odnoklassniki-square::before { content: ""; }
.fa-get-pocket::before { content: ""; }
.fa-wikipedia-w::before { content: ""; }
.fa-safari::before { content: ""; }
.fa-chrome::before { content: ""; }
.fa-firefox::before { content: ""; }
.fa-opera::before { content: ""; }
.fa-internet-explorer::before { content: ""; }
.fa-television::before, .fa-tv::before { content: ""; }
.fa-contao::before { content: ""; }
.fa-500px::before { content: ""; }
.fa-amazon::before { content: ""; }
.fa-calendar-plus-o::before { content: ""; }
.fa-calendar-minus-o::before { content: ""; }
.fa-calendar-times-o::before { content: ""; }
.fa-calendar-check-o::before { content: ""; }
.fa-industry::before { content: ""; }
.fa-map-pin::before { content: ""; }
.fa-map-signs::before { content: ""; }
.fa-map-o::before { content: ""; }
.fa-map::before { content: ""; }
.fa-commenting::before { content: ""; }
.fa-commenting-o::before { content: ""; }
.fa-houzz::before { content: ""; }
.fa-vimeo::before { content: ""; }
.fa-black-tie::before { content: ""; }
.fa-fonticons::before { content: ""; }
.fa-reddit-alien::before { content: ""; }
.fa-edge::before { content: ""; }
.fa-credit-card-alt::before { content: ""; }
.fa-codiepie::before { content: ""; }
.fa-modx::before { content: ""; }
.fa-fort-awesome::before { content: ""; }
.fa-usb::before { content: ""; }
.fa-product-hunt::before { content: ""; }
.fa-mixcloud::before { content: ""; }
.fa-scribd::before { content: ""; }
.fa-pause-circle::before { content: ""; }
.fa-pause-circle-o::before { content: ""; }
.fa-stop-circle::before { content: ""; }
.fa-stop-circle-o::before { content: ""; }
.fa-shopping-bag::before { content: ""; }
.fa-shopping-basket::before { content: ""; }
.fa-hashtag::before { content: ""; }
.fa-bluetooth::before { content: ""; }
.fa-bluetooth-b::before { content: ""; }
.fa-percent::before { content: ""; }
.fa-gitlab::before { content: ""; }
.fa-wpbeginner::before { content: ""; }
.fa-wpforms::before { content: ""; }
.fa-envira::before { content: ""; }
.fa-universal-access::before { content: ""; }
.fa-wheelchair-alt::before { content: ""; }
.fa-question-circle-o::before { content: ""; }
.fa-blind::before { content: ""; }
.fa-audio-description::before { content: ""; }
.fa-volume-control-phone::before { content: ""; }
.fa-braille::before { content: ""; }
.fa-assistive-listening-systems::before { content: ""; }
.fa-american-sign-language-interpreting::before, .fa-asl-interpreting::before { content: ""; }
.fa-deaf::before, .fa-deafness::before, .fa-hard-of-hearing::before { content: ""; }
.fa-glide::before { content: ""; }
.fa-glide-g::before { content: ""; }
.fa-sign-language::before, .fa-signing::before { content: ""; }
.fa-low-vision::before { content: ""; }
.fa-viadeo::before { content: ""; }
.fa-viadeo-square::before { content: ""; }
.fa-snapchat::before { content: ""; }
.fa-snapchat-ghost::before { content: ""; }
.fa-snapchat-square::before { content: ""; }
.fa-pied-piper::before { content: ""; }
.fa-first-order::before { content: ""; }
.fa-yoast::before { content: ""; }
.fa-themeisle::before { content: ""; }
.fa-google-plus-circle::before, .fa-google-plus-official::before { content: ""; }
.fa-fa::before, .fa-font-awesome::before { content: ""; }
.book-langs-index .inner .languages::after, .book-langs-index .inner .languages::before { content: " "; display: table; line-height: 0; }
.book-langs-index .inner .languages::after { clear: both; }
.book-header { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; overflow: visible; height: 50px; padding: 0px 8px; z-index: 2; font-size: 0.85em; color: rgb(126, 136, 139); background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
.book-header .btn { display: block; height: 50px; padding: 0px 15px; border-bottom: medium none; color: rgb(204, 204, 204); text-transform: uppercase; line-height: 50px; box-shadow: none !important; position: relative; font-size: 14px; }
.book-header .btn:hover { position: relative; text-decoration: none; color: rgb(68, 68, 68); background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
.book-header .btn:focus { outline: 0px none; }
.book-header h1 { margin: 0px; font-size: 20px; font-weight: 200; text-align: center; line-height: 50px; opacity: 0; padding-left: 200px; padding-right: 200px; transition: opacity 0.2s ease 0s; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.book-header h1 a, .book-header h1 a:hover { color: inherit; text-decoration: none; }
.book-header h1 i { display: none; }
.book-header:hover h1 { opacity: 1; }
.dropdown { position: relative; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 100; display: none; float: left; min-width: 160px; padding: 0px; margin: 2px 0px 0px; list-style: outside none none; font-size: 14px; background-color: rgb(250, 250, 250); border: 1px solid rgba(0, 0, 0, 0.07); border-radius: 1px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); background-clip: padding-box; }
.dropdown-menu.dropdown-left { left: auto; right: 4%; }
.dropdown-menu.dropdown-left .dropdown-caret { right: 14px; left: auto; }
.dropdown-menu .dropdown-caret { position: absolute; top: -8px; left: 14px; width: 18px; height: 10px; float: left; overflow: hidden; }
.dropdown-menu .dropdown-caret .caret-outer { position: absolute; border-left: 9px solid transparent; border-right: 9px solid transparent; border-bottom: 9px solid rgba(0, 0, 0, 0.1); height: auto; left: 0px; top: 0px; width: auto; display: inline-block; margin-left: -1px; }
.dropdown-menu .dropdown-caret .caret-inner { position: absolute; display: inline-block; margin-top: -1px; top: 1px; border-left: 9px solid transparent; border-right: 9px solid transparent; border-bottom: 9px solid rgb(250, 250, 250); }
.dropdown-menu .buttons { border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
.dropdown-menu .buttons::after, .dropdown-menu .buttons::before { content: " "; display: table; line-height: 0; }
.dropdown-menu .buttons::after { clear: both; }
.dropdown-menu .buttons:last-child { border-bottom: medium none; }
.dropdown-menu .buttons .button { border: 0px none; background-color: transparent; color: rgb(166, 166, 166); width: 100%; text-align: center; float: left; line-height: 1.42857; padding: 8px 4px; }
.dropdown-menu .buttons .button:hover { color: rgb(68, 68, 68); }
.dropdown-menu .buttons .button:focus, .dropdown-menu .buttons .button:hover { outline: 0px none; }
.dropdown-menu .buttons .button.size-2 { width: 50%; }
.dropdown-menu .buttons .button.size-3 { width: 33%; }
.book-summary { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; position: absolute; top: 0px; left: -300px; bottom: 0px; z-index: 1; overflow-y: auto; width: 300px; color: rgb(54, 65, 73); background: rgb(250, 250, 250) none repeat scroll 0% 0%; border-right: 1px solid rgba(0, 0, 0, 0.07); transition: left 250ms ease 0s; }
.book-summary ul.summary { list-style: outside none none; margin: 0px; padding: 0px; transition: top 0.5s ease 0s; }
.book-summary ul.summary li { list-style: outside none none; }
.book-summary ul.summary li.divider { height: 1px; margin: 7px 0px; overflow: hidden; background: rgba(0, 0, 0, 0.07) none repeat scroll 0% 0%; }
.book-summary ul.summary li a, .book-summary ul.summary li span { display: block; padding: 10px 15px; border-bottom: medium none; color: rgb(54, 65, 73); background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: relative; }
.book-summary ul.summary li a:hover { text-decoration: underline; }
.book-summary ul.summary li a:focus { outline: 0px none; }
.book-summary ul.summary li.active > a { color: rgb(0, 140, 255); background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; text-decoration: none; }
.book-summary ul.summary li ul { padding-left: 20px; }
.book.with-summary .book-summary { left: 0px; }
.book.without-animation .book-summary { transition: none 0s ease 0s  !important; }
.book { position: relative; width: 100%; height: 100%; }
.book.without-animation .book-body { transition: none 0s ease 0s  !important; }
.book-body { position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px; overflow-y: auto; color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; transition: left 250ms ease 0s; }
.book-body .body-inner { position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px; overflow-y: auto; }
.page-wrapper { position: relative; outline: 0px none; }
.page-inner { position: relative; max-width: 800px; margin: 0px auto; padding: 20px 15px 40px; }
.buttons::after, .buttons::before { content: " "; display: table; line-height: 0; }
.buttons::after { clear: both; }
.button { border: 0px none; background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(102, 102, 102); width: 100%; text-align: center; float: left; line-height: 1.42857; padding: 8px 4px; }
.button:hover { color: rgb(68, 68, 68); }
.button:focus, .button:hover { outline: 0px none; }
.button.size-2 { width: 50%; }
.button.size-3 { width: 33%; }
.markdown-section { display: block; overflow-wrap: break-word; overflow: hidden; color: rgb(51, 51, 51); line-height: 1.7; }
.markdown-section * { box-sizing: border-box; font-size: inherit; }
.markdown-section > :first-child { margin-top: 0px !important; }
.markdown-section > :last-child { margin-bottom: 0px !important; }
.markdown-section blockquote, .markdown-section code, .markdown-section figure, .markdown-section img, .markdown-section pre, .markdown-section table, .markdown-section tr { page-break-inside: avoid; }
.markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section p {  }
.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5 { page-break-after: avoid; }
.markdown-section b, .markdown-section strong { font-weight: 700; }
.markdown-section em { font-style: italic; }
.markdown-section blockquote, .markdown-section dl, .markdown-section ol, .markdown-section p, .markdown-section table, .markdown-section ul { margin-top: 0px; margin-bottom: 0.85em; }
.markdown-section a { color: rgb(65, 131, 196); text-decoration: none; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
.markdown-section a:active, .markdown-section a:focus, .markdown-section a:hover { outline: 0px none; text-decoration: underline; }
.markdown-section hr::after, .markdown-section hr::before { display: table; content: " "; }
.markdown-section hr::after { clear: both; }
.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 { margin-top: 1.275em; margin-bottom: 0.85em; font-weight: 700; }
.markdown-section h2 { font-size: 1.75em; }
.markdown-section h3 { font-size: 1.5em; }
.markdown-section h4 { font-size: 1.25em; }
.markdown-section code, .markdown-section pre { font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; direction: ltr; margin: 0px; padding: 0px; border: medium none; color: inherit; }
.markdown-section pre { overflow: auto; overflow-wrap: normal; margin: 0px 0px 1.275em; padding: 0.85em 1em; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.markdown-section pre > code { display: inline; max-width: initial; padding: 0px; margin: 0px; overflow: initial; line-height: inherit; font-size: 0.85em; white-space: pre; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
.markdown-section pre > code::after, .markdown-section pre > code::before { content: normal; }
.markdown-section code { padding: 0.2em; margin: 0px; font-size: 0.85em; background-color: rgb(247, 247, 247); }
.markdown-section code::after, .markdown-section code::before { letter-spacing: -0.2em; content: " "; }
.markdown-section table tr:nth-child(2n) { background-color: rgb(248, 248, 248); }
.markdown-section ol, .markdown-section ul { padding: 0px 0px 0px 2em; margin: 0px 0px 0.85em; }
.markdown-section ol ol, .markdown-section ol ul, .markdown-section ul ol, .markdown-section ul ul { margin-top: 0px; margin-bottom: 0px; }
.markdown-section blockquote { margin: 0px 0px 0.85em; padding: 0px 15px; color: rgb(133, 133, 133); border-left: 4px solid rgb(229, 229, 229); }
.markdown-section blockquote:first-child { margin-top: 0px; }
.markdown-section blockquote:last-child { margin-bottom: 0px; }
.navigation { position: absolute; top: 50px; bottom: 0px; margin: 0px; max-width: 150px; min-width: 90px; display: flex; place-content: center; flex-direction: column; font-size: 40px; color: rgb(204, 204, 204); text-align: center; transition: all 350ms ease 0s; }
.navigation:hover { text-decoration: none; color: rgb(68, 68, 68); }
.navigation.navigation-next { right: 0px; }
.navigation.navigation-prev { left: 0px; }
#book-search-input { padding: 6px; transition: top 0.5s ease 0s; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgba(0, 0, 0, 0.07); border-top: 1px solid rgba(0, 0, 0, 0.07); margin-bottom: 10px; margin-top: -1px; }
#book-search-input input, #book-search-input input:focus, #book-search-input input:hover { width: 100%; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; border: 1px solid transparent; box-shadow: none; outline: 0px none; line-height: 22px; padding: 7px; color: inherit; }
#book-search-results { opacity: 1; }
#book-search-results .search-results .search-results-title { text-transform: uppercase; text-align: center; font-weight: 200; margin-bottom: 35px; opacity: 0.6; }
#book-search-results .search-results .has-results .search-results-item > :first-child { margin-top: 0px !important; }
#book-search-results .search-results .has-results .search-results-item > :last-child { margin-bottom: 0px !important; }
#book-search-results .search-results .has-results .search-results-item hr::after, #book-search-results .search-results .has-results .search-results-item hr::before { display: table; content: " "; }
#book-search-results .search-results .has-results .search-results-item hr::after { clear: both; }
#book-search-results .search-results .has-results .search-results-item pre > code::after, #book-search-results .search-results .has-results .search-results-item pre > code::before { content: normal; }
#book-search-results .search-results .has-results .search-results-item code::after, #book-search-results .search-results .has-results .search-results-item code::before { letter-spacing: -0.2em; content: " "; }
#book-search-results .search-results .has-results .search-results-item table tr:nth-child(2n) { background-color: rgb(248, 248, 248); }
#book-search-results .search-results .no-results { padding: 40px 0px; }
* { box-sizing: border-box; -moz-text-size-adjust: none; }
a { text-decoration: none; }
body, html { height: 100%; }
html { font-size: 62.5%; }
body { text-rendering: optimizelegibility; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; letter-spacing: 0.2px; }
/* ::::: https://yeasy.gitbooks.io/docker_practice/content/gitbook/gitbook-plugin-image-captions/image-captions.css ::::: */

/* ::::: https://yeasy.gitbooks.io/docker_practice/content/gitbook/gitbook-plugin-page-treeview/style.css ::::: */

.level__item { display: inline-block; }
.level__parent::after { content: ""; width: 0px; height: 0px; border: 5px solid transparent; display: inline-block; margin-left: 0.5em; vertical-align: middle; cursor: pointer; }
.level__parent--hidden::after { border-top: 5px solid rgb(0, 0, 0); margin-top: 5px; }
.level__parent--opened::after { border-bottom: 5px solid rgb(0, 0, 0); margin-bottom: 5px; }
.treeview__container { position: relative; margin-bottom: 80px; padding-bottom: 20px; }
.treeview__container-title { position: absolute; right: 0px; bottom: -35px; border-bottom: 1px solid rgb(204, 204, 204); }
.treeview__main-title { font-size: 20px; }
.treeview__copyright { margin-left: 5px; color: rgb(205, 205, 205); font-size: 10px; }
/* ::::: https://yeasy.gitbooks.io/docker_practice/content/gitbook/gitbook-plugin-highlight/website.css ::::: */

.book .book-body .page-wrapper .page-inner section.normal pre, .book .book-body .page-wrapper .page-inner section.normal code {  }
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-comment, .book .book-body .page-wrapper .page-inner section.normal code .hljs-comment, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-title, .book .book-body .page-wrapper .page-inner section.normal code .hljs-title { color: rgb(142, 144, 140); }
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-variable, .book .book-body .page-wrapper .page-inner section.normal code .hljs-variable, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-attribute, .book .book-body .page-wrapper .page-inner section.normal code .hljs-attribute, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-tag, .book .book-body .page-wrapper .page-inner section.normal code .hljs-tag, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-regexp, .book .book-body .page-wrapper .page-inner section.normal code .hljs-regexp, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-deletion, .book .book-body .page-wrapper .page-inner section.normal code .hljs-deletion, .book .book-body .page-wrapper .page-inner section.normal pre .ruby .hljs-constant, .book .book-body .page-wrapper .page-inner section.normal code .ruby .hljs-constant, .book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-tag .hljs-title, .book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-tag .hljs-title, .book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-pi, .book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-pi, .book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-doctype, .book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-doctype, .book .book-body .page-wrapper .page-inner section.normal pre .html .hljs-doctype, .book .book-body .page-wrapper .page-inner section.normal code .html .hljs-doctype, .book .book-body .page-wrapper .page-inner section.normal pre .css .hljs-id, .book .book-body .page-wrapper .page-inner section.normal code .css .hljs-id, .book .book-body .page-wrapper .page-inner section.normal pre .css .hljs-class, .book .book-body .page-wrapper .page-inner section.normal code .css .hljs-class, .book .book-body .page-wrapper .page-inner section.normal pre .css .hljs-pseudo, .book .book-body .page-wrapper .page-inner section.normal code .css .hljs-pseudo { color: rgb(200, 40, 41); }
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-number, .book .book-body .page-wrapper .page-inner section.normal code .hljs-number, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-preprocessor, .book .book-body .page-wrapper .page-inner section.normal code .hljs-preprocessor, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-pragma, .book .book-body .page-wrapper .page-inner section.normal code .hljs-pragma, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-built_in, .book .book-body .page-wrapper .page-inner section.normal code .hljs-built_in, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-literal, .book .book-body .page-wrapper .page-inner section.normal code .hljs-literal, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-params, .book .book-body .page-wrapper .page-inner section.normal code .hljs-params, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-constant, .book .book-body .page-wrapper .page-inner section.normal code .hljs-constant { color: rgb(245, 135, 31); }
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-string, .book .book-body .page-wrapper .page-inner section.normal code .hljs-string, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-value, .book .book-body .page-wrapper .page-inner section.normal code .hljs-value, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-inheritance, .book .book-body .page-wrapper .page-inner section.normal code .hljs-inheritance, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-header, .book .book-body .page-wrapper .page-inner section.normal code .hljs-header, .book .book-body .page-wrapper .page-inner section.normal pre .hljs-addition, .book .book-body .page-wrapper .page-inner section.normal code .hljs-addition, .book .book-body .page-wrapper .page-inner section.normal pre .ruby .hljs-symbol, .book .book-body .page-wrapper .page-inner section.normal code .ruby .hljs-symbol, .book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-cdata, .book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-cdata { color: rgb(113, 140, 0); }
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-keyword, .book .book-body .page-wrapper .page-inner section.normal code .hljs-keyword, .book .book-body .page-wrapper .page-inner section.normal pre .javascript .hljs-function, .book .book-body .page-wrapper .page-inner section.normal code .javascript .hljs-function { color: rgb(137, 89, 168); }
/* ::::: https://yeasy.gitbooks.io/docker_practice/content/gitbook/gitbook-plugin-search/search.css ::::: */

#book-search-results .search-results { display: none; }
#book-search-results .search-results ul.search-results-list { list-style-type: none; padding-left: 0px; }
#book-search-results .search-results .no-results { display: none; }
/* ::::: https://yeasy.gitbooks.io/docker_practice/content/gitbook/gitbook-plugin-fontsettings/website.css ::::: */

.book .book-header .font-settings .font-enlarge { line-height: 30px; font-size: 1.4em; }
.book .book-header .font-settings .font-reduce { line-height: 30px; font-size: 1em; }
.book.font-size-2 .book-body .page-inner section { font-size: 1.6rem; }
.book.font-family-1 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) { background-color: rgb(251, 238, 203); }
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) { background-color: rgb(53, 57, 75); }
@media only screen and (max-width: 640px) {
	.book-header .hidden-mobile { display: none; }
}
@media only screen and (max-width: 640px) {
	.book-header .btn[aria-label="github"] { display: none; }
}
