a { color: rgb(0, 0, 0); }
div { margin: 0px; padding: 0px; }
.abgc { display: none; height: 15px; position: absolute; right: 1px; top: 1px; text-rendering: geometricprecision; z-index: 2147483646; }
.abgb { display: inline-block; height: 15px; }
.abgc, .jar .abgc, .jar .cbb { opacity: 1; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgs svg, .abgb svg { display: inline-block; height: 15px; width: auto; vertical-align: top; }
.abgc .il-wrap { background-color: rgb(255, 255, 255); height: 15px; white-space: nowrap; }
.abgc .il-wrap.exp { border-bottom-left-radius: 5px; }
.abgc .il-text, .abgc .il-icon { display: inline-block; }
.abgc .il-text { padding-right: 1px; padding-left: 5px; height: 15px; width: 36px; }
.abgc .il-icon { height: 15px; width: 22px; }
.abgc .il-text svg { fill: rgb(0, 0, 0); }
.abgc .il-icon svg { fill: rgb(0, 174, 205); }
