/* ::::: http://www.cnblogs.com/bundles/blog-common.css?v=-duj5vpGTntb85GJoM3iRI972XwWcI-j8zmqDzyfu2w1 ::::: */

body { font-family: Helvetica,Verdana,Arial,sans-serif; }
input[type="button"] {  }
img { border: 0px none; }
#MySignature {  }
#blog_post_info_block { margin-top: 20px; }
#BlogPostCategory { margin-bottom: 10px; }
#EntryTag { margin-top: 0px !important; }
.RecentComment { overflow: hidden; }
.div_my_zzk { margin-top: 5px; margin-bottom: 5px; }
.input_my_zzk { width: 100px; vertical-align: middle; height: 20px; }
input.btn_my_zzk { vertical-align: middle; height: 22px; font-size: 12px; padding-left: 5px; padding-right: 5px; }
.login_tips { background-image: url('icon_addcomment.gif'); background-repeat: no-repeat; margin-top: 10px; padding: 0px 0px 10px 25px; font-weight: bold; }
.login_tips a { text-decoration: underline !important; }
.clear { clear: both; }
#comment_nav { text-align: right; }
#comment_nav a { padding-left: 10px; }
#author_profile { float: left; width: 280px; margin-top: 0px; margin-bottom: 10px; color: rgb(0, 0, 0); margin-left: 0px; font-size: 12px; }
#author_profile a:hover { text-decoration: underline; }
.author_avatar { vertical-align: top; float: left; margin-right: 5px; padding-top: 5px; padding-left: 2px; border: 0px none; }
.author_profile_info { float: left; line-height: 18px; }
#author_profile_follow {  }
#author_profile_follow a:link {  }
#div_digg { float: right; margin-bottom: 10px; margin-right: 30px; font-size: 12px; width: 125px; text-align: center; margin-top: 10px; }
.diggit { float: left; width: 46px; height: 52px; background: rgba(0, 0, 0, 0) url('upup.gif') no-repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.diggnum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: rgba(0, 0, 0, 0) url('downdown.gif') no-repeat scroll 0% 0%; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }
.burynum { font-size: 14px; color: rgb(7, 93, 179); font-family: Verdana; }
.diggword { margin-top: 5px; margin-left: 0px; font-size: 12px; color: gray; }
#profile_block { margin-top: 5px; line-height: 1.5; text-align: left; }
#post_next_prev { line-height: 1.8; font-size: 12px; }
#post_next_prev a.p_n_p_prefix:link { text-decoration: none; }
#post_next_prev a.p_n_p_prefix:hover { text-decoration: underline; }
.itnews { line-height: 150%; }
.c_ad_block { margin-top: 10px; line-height: 1.5; }
#green_channel { padding: 10px 0px; margin-bottom: 10px; margin-top: 10px; border: 1px dashed silver; font-size: 12px; width: 350px; text-align: center; }
#green_channel a { background: rgba(0, 0, 0, 0) url('undefined') repeat-x scroll 0% 0%; display: inline-block; padding: 3px 8px; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; cursor: pointer; margin-right: 10px; border-radius: 10px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); vertical-align: middle; }
#green_channel a:hover { background-image: url('undefined'); }
#green_channel #green_channel_digg { background-color: rgb(45, 174, 191); }
#green_channel #green_channel_follow { background-color: rgb(227, 49, 0); }
#green_channel #green_channel_favorite { background-color: rgb(255, 181, 21); }
#green_channel #green_channel_weibo img { vertical-align: middle; border: medium none; margin-left: 5px; box-shadow: none; }
#green_channel #green_channel_weibo, #green_channel #green_channel_wechat { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; padding: 3px 2px; box-shadow: none; text-shadow: none; }
#green_channel #green_channel_wechat img { width: 24px; height: 24px; border: medium none; box-shadow: none; margin-left: 5px; vertical-align: middle; }
#cnblogs_post_body { margin-bottom: 20px; }
#cnblogs_post_body img { max-width: 900px; height: auto; }
.ad_text_commentbox { margin-top: 5px; margin-bottom: 5px; }
#ad_t2 { margin-top: 5px; line-height: 1.8; }
#ad_t2 a { margin-right: 10px; }
#opt_under_post { line-height: 1.8; }
input::-moz-focus-inner { border: 0px none; padding: 0px; }
.Cal { width: 100%; }
.CalTitle { width: 100%; }
#cnblogs_post_body {  }
#cnblogs_post_body p { margin: 10px auto; text-indent: 0px; }
#div_digg .diggnum { line-height: 1.5em !important; }
#div_digg .burynum { line-height: 1.5em !important; }
#green_channel a:link, #green_channel a:visited, #green_channel a:active { color: rgb(255, 255, 255) !important; border: medium none !important; }
#blog-news { overflow: hidden; }
#MySignature { display: none; }
.ui-dialog-loading::after { position: absolute; content: ""; width: 3px; height: 3px; margin: 14.5px 0px 0px 14.5px; border-radius: 100%; box-shadow: 0px -10px 0px 1px rgb(204, 204, 204), 10px 0px rgb(204, 204, 204), 0px 10px rgb(204, 204, 204), -10px 0px rgb(204, 204, 204), -7px -7px 0px 0.5px rgb(204, 204, 204), 7px -7px 0px 1.5px rgb(204, 204, 204), 7px 7px rgb(204, 204, 204), -7px 7px rgb(204, 204, 204); transform: rotate(360deg); animation: 1.5s linear 0s normal none infinite running ui-dialog-loading; }
/* ::::: http://www.cnblogs.com/skins/marvin2_yul/bundle-marvin2_yul.css?v=qgIsiIL7s8oyJiNnaLAIMV_pjIpZqikoRS7yjL6VEwc1 ::::: */

body { font-size: 1em; font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; margin: 0px; }
a:visited, a:active, a:link { color: rgb(0, 0, 255); text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { margin: 0px; font-size: 1.5em; }
h1 a:visited, h1 a:active, h1 a:link { color: rgb(0, 0, 0); }
h1 a:hover { color: rgb(68, 119, 255); text-decoration: none; }
h2 { margin-top: 10px; font-size: 1em; }
#top { padding: 10px; background-color: rgb(170, 221, 255); color: rgb(0, 0, 0); border-bottom: 4px solid rgb(68, 119, 255); }
#tagline { font-size: 0.8em; margin: 0px; }
p.postfoot { font-size: 0.75em; }
#leftmenu { position: absolute; left: 10px; margin-top: 10px; width: 180px; }
#leftmenu h3 { font-size: 0.9em; margin: 0px; padding: 4px; border-bottom: medium none; }
#leftmenu ul { list-style: outside none none; margin: 0px 0px 10px 5px; padding: 0px; font-size: 0.8em; }
#main { margin-left: 200px; background-color: rgb(238, 238, 238); padding: 10px; border-left: 1px solid rgb(85, 85, 85); border-bottom: 4px solid rgb(68, 119, 255); }
#footer { margin: 0px; padding-top: 5px; text-align: center; font-size: 0.7em; }
p { margin: 10px 0px; }
h3 { font-size: 1.2em; border-bottom: 1px solid rgb(170, 170, 170); }
.Cal { border: 1px solid rgb(153, 153, 153); width: 100%; font-family: Arial; font-size: 12px; margin-top: 10px; margin-bottom: 10px; height: 180px; background-color: rgb(238, 238, 238); }
.CalTitle { background-color: rgb(182, 182, 182); border-color: rgb(170, 221, 255); font-family: Arial; font-size: 13px; color: rgb(0, 0, 0); margin-left: 0px; padding: 0px; height: 100%; font-weight: bold; }
.CalOtherMonthDay { color: gray; }
.CalNextPrev {  }
.CalDayHeader { background-color: rgb(204, 204, 204); }
.CalWeekendDay {  }
.CalTodayDay { background-color: rgb(204, 204, 204); }
body { background-color: rgb(238, 238, 255); }
a:visited, a:active, a:link { color: rgb(0, 51, 153); text-decoration: none; }
a:hover { color: rgb(153, 0, 0); text-decoration: underline; }
#top { padding-left: 2%; margin-right: 1%; margin-left: 21%; border-bottom-style: none; color: rgb(248, 103, 7); background-color: transparent; }
#tagline {  }
#top a { color: rgb(248, 103, 7); }
#leftmenu { top: 0px; left: 0px; width: 20%; margin-top: 0px; background-color: rgb(247, 243, 247); border-width: 1px; border-style: none solid solid; border-color: rgb(102, 102, 102); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
h3 { color: rgb(255, 255, 255); text-align: center; background-color: rgb(107, 134, 179); letter-spacing: 2px; border-top: 1px solid rgb(102, 102, 102); border-bottom: 1px solid rgb(102, 102, 102); }
ul li { padding: 1px 3px 0px; }
#main { line-height: 25px; position: relative; margin-left: 21%; margin-right: 1%; background-color: rgb(255, 255, 255); border-width: 1px; border-style: none solid solid; border-color: rgb(102, 102, 102); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px; }
div.post { padding: 1%; }
div.post a:link, div.post a:visited, div.post a:active { padding-bottom: 2px; border-bottom: 1px dashed rgb(0, 51, 153); }
div.post a:hover { text-decoration: none; border-bottom: medium none; }
div.post h2 { background-color: rgb(229, 238, 247); padding-left: 1%; margin-top: 15px; border-top: 1px solid rgb(102, 102, 102); border-bottom: 1px dashed rgb(102, 102, 102); }
div.post h2 a:link, div.post h2 a:visited, div.post h2 a:active { color: rgb(0, 0, 0); border-bottom-style: none; }
div.post h2 a:hover { color: rgb(0, 0, 0); }
p.postfoot { text-align: right; }
#footer {  }
div.commentform { padding: 1%; }
/* ::::: http://www.cnblogs.com/skins/marvin2_yul/bundle-marvin2_yul-mobile.css?v=d9LctKHRIQp9rreugMcQ1-UJuq_j1fo0GZXTXj8Bqrk1 ::::: */

body { font-size: 14px !important; font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif; }
#blog_nav_rss { display: none !important; }
#blog_nav_rss_image { display: none !important; }
#blog_nav_newpost { display: none !important; }
img { max-width: 300px !important; height: auto; }
#green_channel { width: 320px; }
#sidebar_search_box input[type="text"] { width: 260px; }
#cnblogs_c1, #cnblogs_c2 { text-align: center; }
.commentform { margin-left: 10px; }
