/* Code tidied up by ScrapBook */
li { list-style: outside none none; }
a { text-decoration: none; }
.clearfix::after { content: ""; display: block; clear: both; }
li, ul { padding: 0px; margin: 0px; list-style: outside none none; }
@font-face {
  font-family: "toast";
  font-style: normal;
  font-weight: 400;
  src: url("toast.eot") format("embedded-opentype"), url("toast.ttf") format("truetype"), url("toast.woff") format("woff"), url("toast.svg") format("svg");
}
