/* Code tidied up by ScrapBook */
.htmledit_views { font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif,SimHei,SimSun; }
.htmledit_views p { font-size: 16px; color: rgb(77, 77, 77); font-weight: 400; line-height: 26px; margin: 0px 0px 16px; overflow-x: auto; }
.htmledit_views img { max-width: 100%; height: auto; }
.htmledit_views strong, .htmledit_views strong span { font-weight: 700; }
.htmledit_views * { box-sizing: border-box; }
.htmledit_views h1, .htmledit_views h2, .htmledit_views h3, .htmledit_views h4, .htmledit_views h5, .htmledit_views h6 { color: rgb(79, 79, 79); margin: 8px 0px 16px; font-weight: 700; }
.htmledit_views h2 { font-size: 24px; line-height: 32px; }
.htmledit_views a { color: rgb(78, 161, 219); text-decoration: none; }
.htmledit_views a:focus, .htmledit_views a:hover { color: rgb(202, 12, 22); }
.htmledit_views a:visited { color: rgb(103, 149, 181); }
