/* Code tidied up by ScrapBook */
.right_box { width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); padding: 16px; margin-top: 5px; font-size: 14px; color: rgb(153, 154, 170) !important; }
.footer_box { font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important; }
.footer_box .contact-info p { overflow: hidden; }
.footer_box .contact-info { padding-bottom: 12px; }
.footer_box .contact-info, .contact-info p a { font-size: 14px; line-height: 20px; }
.footer_box .contact-info p svg, .contact-info p a, .contact-info p span { display: inline-block; vertical-align: middle; margin-right: 4px; color: rgb(153, 154, 170) !important; }
.footer_box .contact-info p a:hover { color: rgb(79, 79, 79); }
.footer_box .bg-gray .feed_copyright { clear: both; overflow: hidden; text-align: left; font-size: 14px; color: rgb(85, 86, 102); border-top: 1px solid rgb(243, 243, 243); padding-top: 4px; border-bottom: 1px solid rgb(243, 243, 243); padding-bottom: 6px; margin-bottom: 2px; }
.footer_box .bg-gray .feed_copyright p { overflow: hidden; font-weight: 400; line-height: 21px; }
.footer_box .bg-gray .feed_copyright p a { margin: 0px; line-height: 24px; }
.footer_box .bg-gray .feed_copyright p a.right-dotte::after { content: ""; display: inline-block; margin: 0px 10px; width: 1px; height: 14px; background-color: rgb(224, 224, 224); vertical-align: sub; }
.footer_box .bg-gray .feed_copyright p a:link, .bg-gray .feed_copyright p a:visited { color: rgb(85, 86, 102); font-weight: 400; }
.footer_box .bg-gray .feed_copyright p a:hover { color: rgb(202, 12, 22); }
.footer_box .allow-info-box { padding: 5px 0px 2px; color: rgb(153, 154, 170); }
.footer_box .allow-info-box p { line-height: 26px; overflow: hidden; }
.footer_box .allow-info-box a { color: rgb(153, 154, 170) !important; }
.footer_box .width126 { float: left; width: 126px; font-style: normal; }
