/* ::::: https://static.zhihu.com/heifetz/main.app.98f98431b6a00e779a3b.css ::::: */

button { padding: 0px; font: inherit; color: inherit; cursor: pointer; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: medium none; outline: medium none; -moz-appearance: none; }
body, button, p, pre { margin: 0px; }
h1, h2, h3 { margin: 0px; font: inherit; }
a { color: inherit; text-decoration: none; }
.Sticky.is-fixed { position: fixed; z-index: 2; box-sizing: border-box; }
.Sticky--holder { visibility: hidden; }
.Button { display: inline-block; padding: 0px 16px; font-size: 14px; line-height: 32px; color: rgb(133, 144, 166); text-align: center; cursor: pointer; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: 1px solid rgb(204, 216, 225); border-radius: 3px; }
.Button::-moz-focus-inner { padding: 0px; border: 0px none; }
.Button:focus { outline: medium none; }
.Button:disabled { cursor: default; opacity: 0.5; }
.Button:hover { background-color: rgba(207, 216, 230, 0.1); }
.Button:hover:disabled { background-color: initial; }
.Button--blue { color: rgb(15, 136, 235); border: 1px solid rgb(15, 136, 235); }
.Button--blue:hover { background-color: rgba(13, 121, 209, 0.06); }
.Button--blue:disabled { background-color: initial; }
.Button--primary { background: rgb(204, 216, 225) none repeat scroll 0% 0%; }
.Button--primary.Button--blue { color: rgb(255, 255, 255); }
.Button--primary.Button--blue:hover { background-color: rgb(13, 121, 209); }
.Button--primary.Button--blue, .Button--primary.Button--blue:disabled { background: rgb(15, 136, 235) none repeat scroll 0% 0%; }
.Button-icon { margin-right: 7px; }
.Button--blue .Button-icon, .Button--green .Button-icon, .Button--red .Button-icon { fill: currentcolor; }
.Button--link, .Button--plain { height: auto; padding: 0px; line-height: inherit; background-color: transparent; border: medium none; border-radius: 0px; }
.Button--link:hover, .Button--plain:hover { background-color: transparent; }
.Input-wrapper { position: relative; display: flex; width: 180px; height: 34px; padding: 4px 10px; font-size: 14px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(231, 234, 241); border-radius: 3px; box-sizing: border-box; transition: background 0.2s ease 0s, border 0.2s ease 0s; }
.Input-wrapper.Input-wrapper--grey { background: rgb(247, 248, 250) none repeat scroll 0% 0%; }
.Input { -moz-box-flex: 1; flex: 1 1 0%; padding: 0px; overflow: hidden; font-family: inherit; font-size: inherit; font-weight: inherit; background: transparent none repeat scroll 0% 0%; border: medium none; outline: medium none; resize: none; }
input.Input { height: 24px; }
.Input:not(input), input.Input { line-height: 24px; }
.Input .public-DraftEditorPlaceholder-root, .Input::placeholder { color: rgb(159, 173, 199); }
.Input--validationError::placeholder { color: rgb(247, 86, 89); }
.Input-after { position: absolute; top: 50%; right: 10px; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-pack: center; justify-content: center; margin: auto; transform: translate3d(0px, -50%, 0px); }
.Icon { vertical-align: text-bottom; fill: rgb(159, 173, 199); }
.Icon--left { margin-right: 6px; }
.Popover { position: relative; display: inline-block; }
.Popover-arrow, .Popover-arrow::after { border: 8px solid transparent; display: block; width: 0px; height: 0px; }
.Popover-arrow::after { position: absolute; left: 0px; top: 0px; content: ""; }
.Popover-arrow--top, .Popover-arrow--top::after { border-bottom-width: 0px; transform: translate3d(-50%, -100%, 0px); }
.Popover-arrow--top::after { margin-top: -1px; border-top-color: rgb(255, 255, 255); }
.Popover-arrow--bottom, .Popover-arrow--bottom::after { border-top-width: 0px; transform: translateX(-50%); }
.Popover-arrow--bottom::after { margin-top: 1px; border-bottom-color: rgb(255, 255, 255); }
.Popover-arrow--left, .Popover-arrow--left::after { border-right-width: 0px; transform: translate3d(-100%, -50%, 0px); }
.Popover-arrow--left::after { margin-left: -1px; border-left-color: rgb(255, 255, 255); }
.Popover-arrow--right, .Popover-arrow--right::after { border-left-width: 0px; transform: translateY(-50%); }
.Popover-arrow--right::after { margin-left: 1px; border-right-color: rgb(255, 255, 255); }
.Avatar { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 2px; }
.Avatar--medium { border-radius: 3px; }
.VideoCard-video::before { display: block; padding-top: 56.25%; content: ""; }
.VideoCard-mask:not(.is-shown) { opacity: 0; visibility: hidden; }
.LoadingBar { position: fixed; top: 0px; right: 0px; left: 0px; z-index: 101; display: none; height: 2px; pointer-events: none; background: rgb(65, 151, 255) none repeat scroll 0% 0%; transform: translateX(-100%); }
.RichText { white-space: pre-wrap; }
.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) { text-decoration: none; cursor: pointer; border-bottom: 1px solid rgba(64, 64, 64, 0.72); }
.RichText a:hover:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) { color: rgb(23, 81, 153); border-color: rgba(62, 122, 194, 0.72); }
.RichText a:hover:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) .icon-external { background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\"><path fill=\"#175199\" fill-rule=\"evenodd\" d=\"M16.558 6H14c-.552 0-1-.448-1-1s.448-1 1-1h5c.276 0 .526.112.707.293.18.18.293.43.293.707v5c0 .552-.448 1-1 1s-1-.448-1-1V7.386l-5.03 5.03c-.39.39-1.024.39-1.414 0-.39-.39-.39-1.023 0-1.414L16.558 6zM9 4c.552 0 1 .448 1 1s-.448 1-1 1H6v12h12v-3c0-.552.448-1 1-1s1 .448 1 1v3c0 1.105-.895 2-2 2H6c-1.105 0-2-.895-2-2V6c0-1.105.895-2 2-2h3z\"/></svg>"); }
.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) > .ellipsis::after { content: "..."; }
.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) > .invisible { font: 0px/0 a; color: transparent; text-shadow: none; background-color: transparent; }
.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) u { border-color: transparent; }
.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) .icon-external { width: 16px; height: 16px; display: inline-block; background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\"><path fill=\"#262626\" fill-rule=\"evenodd\" d=\"M16.558 6H14c-.552 0-1-.448-1-1s.448-1 1-1h5c.276 0 .526.112.707.293.18.18.293.43.293.707v5c0 .552-.448 1-1 1s-1-.448-1-1V7.386l-5.03 5.03c-.39.39-1.024.39-1.414 0-.39-.39-.39-1.023 0-1.414L16.558 6zM9 4c.552 0 1 .448 1 1s-.448 1-1 1H6v12h12v-3c0-.552.448-1 1-1s1 .448 1 1v3c0 1.105-.895 2-2 2H6c-1.105 0-2-.895-2-2V6c0-1.105.895-2 2-2h3z\"/></svg>"); background-size: cover; background-position: 0px 2px; }
.RichText u a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link) { border-color: transparent; }
.RichText p { margin-bottom: 0.72em; }
.RichText .content_image, .RichText .origin_image { display: block; max-width: 100%; margin-top: 0.72em; margin-bottom: 0.72em; }
.RichText .zh-lightbox-thumb {  }
.RichText blockquote a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link) { border-color: rgba(107, 122, 140, 0.72); }
body:not(.Body--isAppleDevice) .RichText .link-box title, body:not(.Body--isAppleDevice) .RichText .video-box title, body:not(.Body--isAppleDevice) .RichText b, body:not(.Body--isAppleDevice) .RichText h1, body:not(.Body--isAppleDevice) .RichText h2, body:not(.Body--isAppleDevice) .RichText h3, body:not(.Body--isAppleDevice) .RichText h4, body:not(.Body--isAppleDevice) .RichText h5, body:not(.Body--isAppleDevice) .RichText h6 { font-weight: 700; }
.DraftEditor-root .Editable-unstyled:not(:last-child) { margin-bottom: 0.8em; }
.DraftEditor-root .public-DraftStyleDefault-orderedListItem::before { position: absolute; left: -36px; width: 30px; text-align: right; }
.DraftEditor-root .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth0::before { content: counter(ol0, decimal) ". "; counter-increment: ol0; }
.DraftEditor-root .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1::before { content: counter(ol1, decimal) ". "; counter-increment: ol1; }
.DraftEditor-root .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2::before { content: counter(ol2, decimal) ". "; counter-increment: ol2; }
.DraftEditor-root .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3::before { content: counter(ol3, decimal) ". "; counter-increment: ol3; }
.DraftEditor-root .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4::before { content: counter(ol4, decimal) ". "; counter-increment: ol4; }
.DraftEditor-root code[class*="language-"]::-moz-selection, .DraftEditor-root code[class*="language-"] *::-moz-selection, .DraftEditor-root pre[class*="language-"]::-moz-selection, .DraftEditor-root pre[class*="language-"] *::-moz-selection { text-shadow: none; background: rgb(179, 212, 252) none repeat scroll 0% 0%; }
.DraftEditor-root :not(pre) > code[class*="language-"], .DraftEditor-root pre[class*="language-"] { background: rgb(245, 242, 240) none repeat scroll 0% 0%; }
.DraftEditor-root :not(pre) > code[class*="language-"] { padding: 0.1em; border-radius: 0.3em; white-space: normal; }
.SignFlowInput-errorMask::before { position: absolute; top: 0px; left: -16px; width: 16px; height: 46px; background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)) repeat scroll 0% 0%; content: ""; }
.SignFlowInput-errorMask--hidden::before { width: 0px; height: 0px; overflow: hidden; opacity: 0; }
.SignFlowInput-requiredErrorMask::before { width: 0px; height: 0px; overflow: hidden; opacity: 0; }
.Select-button { height: 40px; padding: 0px 20px; line-height: 38px; color: rgb(38, 38, 38); text-align: left; box-sizing: border-box; }
.Select-plainButton { padding: 0px; border: 1px solid transparent; }
.Select-arrow { margin-left: 8px; }
.Login-socialButton:not(:first-child) { margin-left: 22px; }
.CornerButtons { position: fixed; bottom: 0px; right: 12px; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s; will-change: transfrom; }
.CornerAnimayedFlex { width: 40px; height: 52px; overflow: hidden; transition: height 0.2s ease 0s; }
.CornerAnimayedFlex--hidden { height: 0px; }
.CornerButton { background: rgb(231, 234, 241) none repeat scroll 0% 0%; border-radius: 4px; width: 40px; height: 40px; }
.CornerButton:hover { background: rgb(213, 219, 231) none repeat scroll 0% 0%; }
.CornerButton .Icon { fill: rgb(154, 170, 191); }
.CornerButton .Icon:hover { fill: rgb(141, 158, 179); }
html:not([data-focus-method="pointer"]) .Button:focus { box-shadow: 0px 0px 0px 2px rgb(255, 255, 255), 0px 0px 0px 4px rgba(38, 148, 237, 0.3); }
.TooltipContent::before { position: absolute; z-index: -1; border-color: rgba(0, 0, 0, 0.8) transparent transparent rgba(0, 0, 0, 0.8); border-style: solid; border-width: 4px; content: ""; transform: translate(-50%, -50%) rotate(45deg); }
.TooltipContent--top::before { top: 100%; left: 50%; transform: translate(-50%, -50%) rotate(-135deg); }
.TooltipContent--bottom::before { top: 0px; left: 50%; }
.TooltipContent--left::before { top: 50%; left: 100%; transform: translate(-50%, -50%) rotate(135deg); }
.TooltipContent--right::before { top: 50%; left: 0px; transform: translate(-50%, -50%) rotate(-45deg); }
.PaginationButton:hover:not(:disabled) { color: rgb(23, 81, 153); }
.Favlists-mobileActions .Button:first-child:not(:last-child) { margin-right: 8px; }
.EmptyState-action:not(.Button) { color: rgb(23, 81, 153); }
.EmptyState-action:hover:not(.Button) { border-bottom: 1px solid rgba(62, 122, 194, 0.72); }
.NumberBoard { display: flex; -moz-box-align: center; align-items: center; text-align: center; }
.NumberBoard-item { -moz-box-flex: 1; flex: 1 1 0%; }
.NumberBoard-name { font-size: 14px; line-height: 20px; color: rgb(133, 144, 166); }
.NumberBoard-value { margin-top: 4px; font-size: 18px; font-weight: 500; line-height: 24px; color: rgb(38, 38, 38); }
.NumberBoard-divider { align-self: stretch; border-right: 1px solid rgb(240, 242, 247); }
.Messages-tab:not(:last-child)::after { position: absolute; left: 180px; width: 1px; height: 20px; margin: auto; background: rgb(235, 238, 245) none repeat scroll 0% 0%; content: ""; }
.UserHoverCard-infoItem:not(:last-child) { margin-bottom: 8px; }
.GifPlayer::after { position: absolute; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px; content: ""; width: 60px; height: 60px; pointer-events: none; transform: scale(1); background: rgba(0, 0, 0, 0) url('undefined') no-repeat scroll 0% 0%; }
.GifPlayer.is-playing::after { transition-duration: 0.3s; transition-timing-function: ease-out; transform: scale(0.3); opacity: 0; }
.GifPlayer.is-loading::after { background: rgba(0, 0, 0, 0) url('undefined') no-repeat scroll 0% 0%; }
.GifPlayer.is-refreshed::after { background: rgba(0, 0, 0, 0) url('undefined') no-repeat scroll 0% 0%; }
.CommentItem:not(:first-child)::after { position: absolute; top: 0px; left: 0px; right: 0px; display: block; margin: 0px 20px; border-bottom: 1px solid rgb(240, 242, 247); content: ""; }
.Tabs-link.is-active::after { position: absolute; right: 0px; bottom: -1px; left: 0px; height: 3px; background: rgb(15, 136, 235) none repeat scroll 0% 0%; content: ""; }
.CommentList-divider + .CommentItem::after { content: none; }
.CommentList-action::after { position: absolute; top: 0px; display: block; width: calc(100% - 48px); border-bottom: 1px solid rgb(240, 242, 247); content: ""; }
.PushNotifications-tab:not(:last-child)::after { position: absolute; left: 120px; width: 1px; height: 20px; margin: auto; background: rgb(235, 238, 245) none repeat scroll 0% 0%; content: ""; }
.PushNotifications-item::after { position: absolute; right: 0px; bottom: 100%; left: 0px; height: 1px; padding: 0px 16px; background-color: rgb(235, 238, 245); content: ""; background-clip: content-box; }
.PushNotifications-followTitle::after { position: absolute; right: 0px; bottom: 0px; left: 0px; margin: 0px 16px; border-bottom: 1px solid rgb(235, 238, 245); content: ""; }
.PushNotifications-followItem::after { content: none; }
.AuthorInfo { display: flex; -moz-box-align: center; align-items: center; }
.AuthorInfo-avatar { vertical-align: top; }
.AuthorInfo-content { -moz-box-flex: 1; flex: 1 1 0%; margin-left: 14px; overflow: hidden; }
.AuthorInfo-head { display: flex; font-size: 15px; line-height: 1.1; flex-shrink: 0; }
.AuthorInfo-name { font-weight: 600; }
.AuthorInfo-badge { display: flex; margin-top: 5px; font-size: 14px; }
.AuthorInfo-badgeText { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.AuthorInfo--plain .AuthorInfo-badge::before { content: "，"; }
.AuthorInfo-detail { overflow: hidden; }
.Tag { position: relative; display: inline-block; height: 30px; padding: 0px 12px; font-size: 14px; line-height: 30px; color: rgb(62, 122, 194); vertical-align: top; background: rgb(238, 244, 250) none repeat scroll 0% 0%; border-radius: 100px; }
.Tag-content:hover { border-bottom: 1px solid rgba(62, 122, 194, 0.72); }
.SearchBar { display: flex; }
.SearchBar-toolWrapper { position: relative; z-index: 104; width: 326px; }
.SearchBar-tool { position: relative; float: left; overflow: hidden; }
.SearchBar-tool .Popover { display: block; }
.SearchBar-menu .AutoComplete-group:last-child .Menu-item:not(.is-active) { background: rgb(247, 248, 250) none repeat scroll 0% 0%; }
.SearchBar-input { width: 326px; transition: width 0.2s ease 0s, background 0.3s ease 0s; }
.SearchBar-searchIcon { position: absolute; right: -11px; top: -17px; bottom: -17px; background: transparent none repeat scroll 0% 0%; border: medium none transparent; padding: 0px 12px; border-bottom-left-radius: 0px; border-top-left-radius: 0px; transition: fill 0.3s ease 0s; }
.SearchBar-searchIcon .Icon { fill: rgb(175, 189, 207); }
.SearchBar-searchIcon:hover { background-color: transparent; }
.AppHeader { position: relative; min-width: 1032px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0% padding-box content-box; border-bottom: 1px solid rgba(30, 35, 42, 0.06); box-shadow: 0px 1px 3px 0px rgba(0, 34, 77, 0.05); }
.AppHeader, .AppHeader.is-fixed { z-index: 100; }
.AppHeader-inner { position: relative; display: flex; width: 1000px; height: 52px; padding: 0px 16px; margin: 0px auto; -moz-box-align: center; align-items: center; transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
.AppHeader.is-hidden .AppHeader-inner { transform: translateY(-100%); }
.AppHeader-nav { display: flex; -moz-box-pack: justify; justify-content: space-between; height: 30px; margin-right: 18px; margin-left: 27px; color: rgb(153, 153, 153); }
.AppHeader-navItem { padding: 0px 15px; font-size: 15px; line-height: 30px; color: rgb(133, 144, 166); }
.AppHeader-navItem:hover { color: rgb(23, 81, 153); }
.AppHeader-navItem:first-child { padding-left: 0px; }
.AppHeader-userInfo { -moz-box-flex: 1; flex: 1 1 0%; -moz-box-pack: end; justify-content: flex-end; display: flex; -moz-box-align: center; align-items: center; }
.AppHeader-login { margin-right: 16px; }
body { font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif; font-size: 15px; color: rgb(38, 38, 38); background: rgb(247, 248, 250) none repeat scroll 0% 0%; }
.App-main { display: block; }
.Card { margin-bottom: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(231, 234, 241); border-radius: 2px; box-shadow: 0px 1px 3px rgba(0, 37, 55, 0.05); box-sizing: border-box; }
.Card:last-child { margin-bottom: 0px; }
.Card-header { display: flex; -moz-box-pack: justify; justify-content: space-between; -moz-box-align: center; align-items: center; height: 50px; padding: 0px 20px; border-bottom: 1px solid rgb(240, 242, 247); box-sizing: border-box; }
.Card-header:last-child { border-bottom: medium none; }
.Card-headerText { overflow: hidden; font-weight: 700; text-overflow: ellipsis; white-space: nowrap; }
.Card-section { padding: 16px 20px; position: relative; }
.Card-section:not(:last-child)::after { position: absolute; bottom: 0px; left: 0px; right: 0px; margin: 0px 20px; display: block; border-bottom: 1px solid rgb(240, 242, 247); content: ""; }
.Footer { padding: 10px 0px; font-size: 13px; line-height: 2; color: rgb(133, 144, 166); }
.Footer-dot::after { margin: 0px 5px; content: "·"; }
.Footer-item { display: inline-block; }
a.Footer-item:hover { color: rgb(23, 81, 153); cursor: pointer; }
input.RangeInput[type="range"]::-moz-range-track { height: 5px; cursor: pointer; background: rgb(242, 245, 251) none repeat scroll 0% 0%; border-radius: 2px; }
input.RangeInput[type="range"]::-moz-range-thumb { width: 12px; height: 12px; cursor: pointer; background: rgb(210, 219, 232) none repeat scroll 0% 0%; border: medium none; border-radius: 50%; }
.UserCoverGuide-dialog::after { position: absolute; right: 60px; bottom: 100%; border-color: transparent transparent rgb(255, 255, 255); border-style: solid; border-width: 7px; content: ""; }
.UserCoverEditor-editor, .UserCoverEditor-editor::after { position: absolute; left: -1px; width: 100%; box-shadow: 0px 1px 3px rgba(0, 37, 55, 0.05); }
.UserCoverEditor-editor::after { display: block; height: 1000px; background-color: rgba(255, 255, 255, 0.95); border-width: 0px 1px; border-style: none solid; border-color: currentcolor rgb(231, 234, 241); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; content: ""; }
.ProfileHeader-infoItem:not(:last-child) { margin-bottom: 10px; }
.ProfileHeader-field:not(:first-child) { margin-top: 12px; }
.PageHeader { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
.PageHeader:not(.is-shown) { transform: translateY(100%); }
body:not(.Body--isAppleDevice) .ProfileMain-tabs .is-active { font-weight: 700; }
.Publication-item:not(:first-child) { display: block; border-top: 1px solid rgb(240, 242, 247); }
.FollowshipCard-counts:not(:last-child) { border-bottom: 1px solid rgb(240, 242, 247); }
.FollowshipCard-avatars, .FollowshipCard-item:not(:first-child) { margin-top: 12px; }
body:not(.Body--isAppleDevice) .Profile-mainColumn .List-headerText { font-weight: 700; }
body:not(.Body--isAppleDevice) .Profile-mainColumn .SubTabs-item:not(.is-active) { font-weight: 400; }
.Profile-footerDot::after { margin-right: 5px; margin-left: 5px; content: "·"; }
.List-header { display: flex; -moz-box-pack: justify; justify-content: space-between; -moz-box-align: center; align-items: center; height: 50px; margin: 0px 20px; border-bottom: 1px solid rgb(240, 242, 247); box-sizing: border-box; }
.List-headerText { margin: 0px; font-weight: 700; }
.List-headerOptions { font-size: 14px; }
.List-item { position: relative; padding: 16px 20px; }
.List-item:not(:last-child)::after { position: absolute; left: 0px; right: 0px; bottom: 0px; margin: 0px 20px; display: block; border-bottom: 1px solid rgb(240, 242, 247); content: ""; }
.ContentItem-meta { font-size: 15px; color: rgb(85, 85, 85); }
.ContentItem-statusItem:not(:first-child)::before { margin: 0px 5px; content: "·"; }
.ContentItem-actions { display: flex; -moz-box-align: center; align-items: center; height: 52px; padding: 0px 20px; margin: 4px -20px -8px; color: rgb(85, 85, 85); background: rgb(255, 255, 255) none repeat scroll 0% 0%; clear: both; }
.ContentItem-actions.is-fixed { margin: 0px; box-shadow: 0px -1px 3px rgba(0, 34, 77, 0.05); }
.ContentItem-actions .Button--plain:hover { color: rgb(122, 133, 153); }
.ContentItem-actions .Button--plain:hover .Icon { fill: rgb(149, 161, 186); }
.ContentItem-action { margin-left: 24px; font-size: 14px; }
.ContentItem-action:first-child { margin-left: 0px; }
.ContentItem-rightButton { margin-left: auto; }
.ContentItem-rightButton .Icon { margin-left: 8px; }
.ContentItem-time { margin-top: 1em; font-size: 14px; color: rgb(133, 144, 166); }
.ContentItem-time a:hover { border-bottom: 1px solid rgba(161, 174, 191, 0.72); }
.ContentItem-arrowIcon { width: 9px; margin-left: 8px; }
.ContentItem-arrowIcon.is-active { transform: rotate(180deg); }
.ContentItem-cell:not(:first-child) { margin-left: 40px; }
.ImageView { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 101; overflow: hidden; transition: background-color 0.2s ease-in-out 0s; }
.ImageView.is-active { background-color: rgba(255, 255, 255, 0.9); }
.ImageView-inner { height: 100%; box-sizing: border-box; }
.ImageView-img { cursor: zoom-out; transition: transform 0.3s ease-in-out 0s, -webkit-transform 0.3s ease-in-out 0s; }
.RichContent { line-height: 1.67; }
.RichContent.is-collapsed:not(.RichContent--unescapable) .CopyrightRichText-richText { white-space: normal; }
.RichContent-inner { margin-top: 9px; margin-bottom: -5px; overflow: hidden; }
.RichContent-cover::after { position: absolute; z-index: 1; display: block; width: 100%; height: 100%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; content: ""; opacity: 0.02; }
.RichContent-actions.is-fixed { transition: transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s; margin-bottom: -52px; transform: translateY(-100%); }
.QuestionItem-dot::after { content: "•"; }
.UserItem-company::after { margin: 0px 5px; color: rgb(238, 238, 238); content: "|"; }
.Voters { color: rgb(133, 144, 166); }
.AnswerModal-list > li:not(:first-child) { margin-top: 4px; }
.AnswerForm:not(.AnswerForm--bordered) .Editable-toolbar { border-top: 1px solid rgb(231, 234, 241); }
.VoteButton { padding: 0px 10px; color: rgb(45, 132, 204); background: rgb(235, 243, 251) none repeat scroll 0% 0%; border-color: rgb(235, 243, 251); }
.VoteButton:hover:not(:disabled) { background-color: rgb(228, 235, 243); border-color: rgb(228, 235, 243); }
.VoteButton:disabled:hover { background: rgb(235, 243, 251) none repeat scroll 0% 0%; border-color: rgb(235, 243, 251); }
.VoteButton:focus { outline: medium none; }
html:not([data-focus-method="pointer"]) .VoteButton:focus { box-shadow: 0px 0px 0px 2px rgb(255, 255, 255), 0px 0px 0px 4px rgba(38, 148, 237, 0.3); }
.VoteButton--down { margin-left: 4px; }
.VoteButton-downIcon, .VoteButton-upIcon { fill: currentcolor; }
.VoteButton-upIcon { margin-right: 8px; }
.VoteButton-downIcon { transform: rotate(180deg); }
.AnswerItem-meta { position: relative; margin-top: 14px; }
.AnswerItem-meta--related { margin-top: -2px; }
.AnswerItem-extraInfo { margin-top: 10px; margin-bottom: -4px; font-size: 14px; color: rgb(133, 144, 166); }
.LikeButton:hover:not(:disabled) { background-color: rgb(228, 235, 243); border-color: rgb(228, 235, 243); }
.SubTabs-item:not(.is-active) { font-weight: 400; }
.Field-autoComplete:not(:first-child) { margin-left: 16px; }
.Field-modify-hidden:not(:focus) { opacity: 0; }
.TextArea::placeholder { color: rgb(133, 144, 166); }
.QuestionRichText { font-size: 15px; line-height: 25px; }
.QuestionRichText--expandable.QuestionRichText--collapsed:hover a:not(.video-box):not(.link-box):not(.VideoCard-link), .QuestionRichText--expandable.QuestionRichText--collapsed:hover u { border-bottom: 1px solid rgba(112, 112, 112, 0.72); }
.QuestionRichText--expandable.QuestionRichText--collapsed:hover a:not(.video-box):not(.link-box):not(.VideoCard-link) u, .QuestionRichText--expandable.QuestionRichText--collapsed:hover u u { border-color: transparent; }
.QuestionButtonGroup { display: inline-block; margin: 0px -8px; }
.QuestionButtonGroup .Button { margin: 0px 8px; }
.QuestionMainAction:first-child:not(:last-child) { border-bottom: 1px solid rgb(231, 234, 241); }
.QuestionMainAction:last-child:not(:first-child) { border-top: 1px solid rgb(231, 234, 241); }
.InviteeItem:not(:last-child)::after { position: absolute; bottom: 0px; display: block; width: calc(100% - 32px); border-bottom: 1px solid rgb(240, 242, 247); content: ""; }
.QuestionFollowStatus-counts { width: 200px; margin-left: auto; }
.QuestionFollowStatus-counts .NumberBoard-name { line-height: 14px; }
.QuestionFollowStatus-counts .NumberBoard-value { margin-top: 6px; line-height: 18px; }
.QuestionHeaderActions { display: flex; }
.QuestionHeaderActions > .Button:not(:first-child), .QuestionHeaderActions > .Popover:not(:first-child) { margin-left: 24px; }
.QuestionHeader { position: relative; min-width: 1032px; padding: 16px 0px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(231, 234, 241); box-shadow: 0px 1px 3px 0px rgba(0, 37, 55, 0.05); }
.QuestionHeader-content { display: flex; -moz-box-pack: justify; justify-content: space-between; width: 1000px; height: 100%; padding: 0px 16px; margin: 0px auto; }
.PageHeader .QuestionHeader-content { -moz-box-align: center; align-items: center; }
.QuestionHeader-main { width: 694px; padding-left: 20px; box-sizing: border-box; }
.QuestionHeader-side { width: 296px; padding-right: 20px; text-align: right; }
.QuestionHeader-tags, .QuestionHeader-topics { display: flex; }
.QuestionHeader-topics { -moz-box-orient: horizontal; -moz-box-direction: normal; flex-flow: row wrap; -moz-box-align: center; align-items: center; margin-right: -5px; padding: 1px 0px; }
.QuestionHeader-topics .QuestionTopic { margin: 3px 5px 3px 0px; vertical-align: middle; }
.QuestionHeader-title { margin-top: 12px; margin-bottom: 4px; font-size: 22px; font-weight: 700; line-height: 32px; color: rgb(30, 30, 30); }
.PageHeader .QuestionHeader-title { margin: 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; }
.QuestionHeader-detail { min-height: 10px; }
.QuestionHeader-footer { padding-bottom: 12px; margin-top: 4px; margin-bottom: -12px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.QuestionHeader-footer-inner { -moz-box-align: center; align-items: center; width: 1000px; height: 100%; padding: 0px 16px; margin: 0px auto; }
.QuestionHeader-footer-inner, .QuestionHeader-footer-main { display: flex; -moz-box-pack: justify; justify-content: space-between; }
.QuestionHeader-actions { display: flex; margin: 0px -12px; }
.Question-main { display: flex; width: 1000px; min-height: 100vh; padding: 0px 16px; margin: 10px auto; -moz-box-pack: justify; justify-content: space-between; -moz-box-align: start; align-items: flex-start; }
.Question-mainColumn { width: 694px; padding-bottom: 20px; }
.Question-sideColumn { width: 296px; }
.Question-sideColumn--sticky .Card:last-of-type { margin-bottom: 0px; }
.QuestionAnswers-answers { margin-bottom: 10px; }
.CheckItem-input:not(:checked) + .CheckItem-box .CheckItem-icon { opacity: 0; transition: opacity 0.2s ease 0s; }
.TopicBioItem:not(:first-child) { margin-top: 16px; }
.TopicBioItem-actions .Button:not(:first-child) { margin-left: 25px; }
.QuestionMainDivider::before { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: 0px 20px; display: block; border-top: 1px solid rgb(235, 238, 245); content: ""; }
.CollapsedAnswers-bar:not(:last-child) { margin-bottom: 14px; }
.Banner:not(:hover) .Banner-close { opacity: 0; }
.AppBanner-link { display: block; }
.AppBanner-layout { display: flex; -moz-box-align: center; align-items: center; padding: 12px; }
.AppBanner-qrcode { width: 50px; height: 50px; margin-right: 12px; }
.AppBanner-content { -moz-box-flex: 1; flex: 1 1 0%; }
.AppBanner-title { font-size: 16px; font-weight: 700; line-height: 20px; color: rgb(51, 51, 51); }
.AppBanner-description { margin-top: 2px; font-size: 14px; line-height: 20px; color: rgb(63, 63, 63); }
.AppBanner-sticky:not(.is-shown) { opacity: 0; visibility: hidden; }
.SimilarQuestions-title { padding: 0px 16px; }
.SimilarQuestions-item { font-size: 14px; line-height: 21px; color: rgb(133, 144, 166); }
.SimilarQuestions-item + .SimilarQuestions-item { margin-top: 10px; }
.SimilarQuestions-item .Button { display: inline; color: rgb(23, 81, 153); }
.SimilarQuestions-item .Button:hover { border-bottom: 1px solid rgba(23, 81, 153, 0.72); }
.RelatedLives-title { padding: 0px 16px; }
.RelatedLives-item { display: flex; -moz-box-align: center; align-items: center; }
.RelatedLives-item:hover .RelatedLives-subject { color: rgb(23, 81, 153); }
.RelatedLives-item + .RelatedLives-item { margin-top: 10px; }
.RelatedLives-avatar { margin-right: 8px; }
.RelatedLives-subject { display: -webkit-box; -moz-box-flex: 1; flex: 1 1 0%; max-height: 40px; overflow: hidden; font-size: 14px; line-height: 20px; color: rgb(85, 85, 85); text-align: left; -moz-box-orient: vertical; }
.MobileBrandQuestionAuthor .BrandQuestionAuthor-header::after { content: ""; display: block; position: absolute; top: 30px; left: 0px; right: 0px; margin: 0px 20px; border-bottom: 1px solid rgb(231, 234, 241); }
.MoreAnswers .List-header::after { position: absolute; content: ""; display: block; top: 30px; left: 0px; right: 0px; margin: 0px 20px; border-bottom: 1px solid rgb(235, 238, 245); }
.AnswerInfo-favlist:not(:first-child) { border-top: 1px solid rgb(240, 242, 247); }
.Feed-meta-item:not(:first-child)::before { margin: 0px 5px; content: "·"; }
.ActionCard-topic:not(:first-child)::after { position: absolute; top: 50%; left: 0px; margin-top: -43px; display: block; content: ""; height: 86px; width: 1px; background-color: rgb(231, 234, 241); }
.ActionCard-dot::after { margin: 0px 5px; content: "·"; }
.Advert-account-cover:not(img) { background: rgb(150, 161, 169) none repeat scroll 0% 0%; padding-top: 24%; }
.TopstoryItem .Button:not(.Button--plain):not(.Button--link) { line-height: 30px; padding: 0px 12px; }
.TopstoryItem-uninterestTag:not(:last-child) { margin-right: 16px; }
.FeedbackForm-inputBox-15yJ::-moz-placeholder { color: rgb(154, 170, 191); transition: color 0.15s ease-out 0s; }
.FeedbackForm-inputBox-15yJ::placeholder { color: rgb(154, 170, 191); transition: color 0.15s ease-out 0s; }
.FeedbackForm-inputBox-15yJ:hover::-moz-placeholder { color: rgba(154, 170, 191, 0.8); }
.FeedbackForm-inputBox-15yJ:hover::placeholder { color: rgba(154, 170, 191, 0.8); }
.FeedbackForm-inputBox-15yJ:focus::-moz-placeholder { color: rgba(154, 170, 191, 0.8); }
.FeedbackForm-inputBox-15yJ:focus::placeholder { color: rgba(154, 170, 191, 0.8); }
.FeedbackForm-inputBox-15yJ.FeedbackForm-isWarning-2ds-::-moz-placeholder { color: rgb(247, 86, 89); }
.FeedbackForm-inputBox-15yJ.FeedbackForm-isWarning-2ds-::placeholder { color: rgb(247, 86, 89); }
