body, table, div, ul, li { margin: 0px; padding: 0px; }
body { font-family: Arial,arial,sans-serif; }
#adunit { background-color: rgb(255, 255, 255); height: 90px; width: 1200px; }
#ads { height: 90px; left: 0px; position: absolute; top: 0px; width: 1200px; }
#ads ul { list-style: outside none none; }
#ads ul li { clear: both; float: left; line-height: 0; overflow: hidden; position: relative; }
#ads table { border-collapse: collapse; border-spacing: 0px; }
.rhsvgpngicon { vertical-align: middle; }
.ads_chrome_top { position: absolute; overflow: hidden; top: 0px; width: 1200px; height: 0px; }
.ads_chrome_bottom { position: absolute; overflow: hidden; bottom: 0px; width: 1200px; height: 0px; }
.ads_chrome_left { position: absolute; overflow: hidden; left: 0px; width: 0px; height: 90px; }
.ads_chrome_right { position: absolute; overflow: hidden; right: 0px; width: 0px; height: 90px; }
.rhtitle.rhdefaultcolored { color: rgb(0, 136, 255); }
.rhtitle { text-decoration: none; overflow-wrap: break-word; }
a.rhtitle:hover { text-decoration: underline; }
.rhbodyurl.rhdefaultcolored, .rhbody.rhdefaultcolored { color: rgb(0, 0, 0); }
.rhbodyurl, .rhbody, .rhurl { text-decoration: none; overflow-wrap: break-word; }
.rhbodyurl a:hover { text-decoration: underline; }
.rhurl.rhdefaultcolored { color: rgb(128, 128, 128); }
.rhbutton-container { position: relative; visibility: hidden; }
.rhbutton { cursor: pointer; display: inline-block; margin: 0px; text-align: center; visibility: visible; white-space: nowrap; }
.rhbutton .icon-container { display: inline-block; vertical-align: middle; }
.rhbutton .icon, .rhbutton .rhsvgpngicon { border-width: 0px; }
.rhbutton.nobackground, .rhbutton.nobackground:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
.taw0 .rh02 .rhbutton-container { text-align: right; width: 548px; left: -491px; }
.taw0 .rh02 .rhbutton { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 30px; border-width: 1px; height: 57px; min-width: 57px; max-width: 548px; border-color: rgb(0, 136, 255); border-style: solid; }
.taw0 .rh02 .rhbutton:hover { background: rgb(183, 183, 183) none repeat scroll 0% 0%; }
.taw0 .rh02 .icon-container { height: 57px; line-height: 57px; width: 31px; }
.taw0 .rh02 .icon, .taw0 .rh02 .icon-container .rhsvgpngicon { height: 31px; margin-left: 2px; vertical-align: top; margin-top: 13px; }
#ads .rh010 .rhtitle { color: rgb(0, 0, 0); }
#ads .rh012 { opacity: 0.8; }
#ads .rh012 .rhurl { color: rgb(0, 0, 0); opacity: 0.6; }
#ads .rh02 .rhbutton:hover { background: transparent none repeat scroll 0% 0%; }
.rh { display: inline-block; font-size: 0px; line-height: 0; padding: 6px; width: 1188px; }
.rh > table { height: 100%; }
.rh0 { display: inline-block; font-size: 0px; height: 78px; line-height: 0; overflow: hidden; padding: 0px; width: 1188px; }
.rh0 > table { height: 100%; }
.rh00 { background-color: rgb(0, 136, 255); display: inline-block; height: 78px; overflow: hidden; padding: 0px; width: 2px; }
.rh00c { height: 78px; padding: 0px; width: 2px; }
.rh01 { display: inline-block; font-size: 0px; line-height: 0; overflow: hidden; padding: 0px; width: 1030px; }
.rh01 > table { width: 100%; }
.rh010 { display: inline-block; font-size: 33px; line-height: 38px; padding: 0px 0px 0px 8px; white-space: nowrap; width: 1022px; }
.rh010c { height: 0px; padding: 0px; text-align: left; width: 1030px; }
.rh012 { display: inline-block; font-size: 17px; line-height: 20px; max-width: 1021px; overflow: hidden; padding: 3px 0px 0px 9px; }
.rh012c { padding: 0px; }
.rh01c { padding: 0px; width: 1030px; }
.rh02 { display: inline-block; font-size: 31px; height: 59px; line-height: 37px; padding: 2px 16px 0px 8px; width: 59px; }
.rh02c { height: 78px; padding: 0px; text-align: left; vertical-align: middle; width: 156px; }
.rh0c { height: 78px; padding: 0px; width: 1188px; }
.taw { height: 90px; width: 1200px; }
div { margin: 0px; padding: 0px; }
.abgc { display: block; height: 15px; overflow: hidden; position: absolute; right: 17px; top: 1px; text-rendering: geometricprecision; width: 25px; z-index: 2147483646; }
.abgb { display: block; width: 25px; height: 15px; }
.abgc, .jar .abgc, .jar .cbb { opacity: 1; }
.abgc { cursor: pointer; }
.cbb { cursor: pointer; height: 15px; width: 15px; z-index: 2147483646; background-color: rgb(255, 255, 255); opacity: 0; }
.cbb svg { position: absolute; top: 0px; right: 0px; height: 15px; width: 15px; stroke: rgb(0, 174, 205); stroke-width: 1.25; }
.cbb:hover { cursor: pointer; }
.cbb:hover { background-color: rgb(88, 88, 90); }
.cbb:hover svg { stroke: rgb(255, 255, 255); }
.abgb { position: absolute; right: 0px; top: 0px; }
.cbb { position: absolute; right: 1px; top: 1px; }
.abgc svg { display: block; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.abgi { fill-opacity: 1; fill: rgb(0, 174, 205); stroke: none; }
.abgbg { fill-opacity: 1; fill: rgb(255, 255, 255); stroke: none; }
.abgtxt { fill: black; font-family: "Arial"; font-size: 100px; overflow: visible; stroke: none; }
.mute_panel { z-index: 2147483646; }
.abgac { position: absolute; left: 0px; top: 0px; z-index: 2147483646; display: none; width: 100%; height: 100%; background-color: rgb(250, 250, 250); }
.mlsc { height: 100%; display: flex; justify-content: center; align-items: center; }
.mls { animation: 2s linear 0s normal none infinite running mlskf; height: 50%; width: 50%; }
.mlsd { stroke-dasharray: 1, 189; stroke-dashoffset: 0; animation: 1.4s ease-in-out 0s normal none infinite running mlsdkf; }
