/* ::::: http://www.99lib.net/command/99csw.css ::::: */

* { margin: 0px; padding: 0px; }
body { font-family: "宋体",Verdana,Arial; font-size: 12px; min-width: 960px; }
ul { list-style: outside none none; }
a:link { text-decoration: none; color: rgb(0, 0, 0); }
a:visited { text-decoration: none; color: rgb(0, 0, 0); }
a:hover { text-decoration: underline; color: rgb(0, 0, 0); }
a:active { color: rgb(204, 0, 0); }
h2 { font-size: 20px; }
h4 { font-size: 14px; }
img { padding: 2px; border: 1px solid rgb(187, 187, 187); }
input, textarea, button { outline: medium none; resize: none; font-family: "宋体",Verdana,Arial; }
.Aimg:hover { border: medium none; }
a:hover img { border: 1px solid rgb(204, 0, 0); }
#head { position: relative; height: 212px; background: rgb(255, 255, 255) url('head_bg.gif') repeat scroll 0% 0%; min-width: 960px; }
#nv { height: 38px; }
#nv #welcome { margin: 0px 100px 0px 0px; background: rgba(0, 0, 0, 0) url('list.gif') no-repeat scroll 0px -772px; padding-left: 22px; line-height: 38px; height: 38px; float: right; display: inline; }
#welcome { position: relative; z-index: 1; }
#welcome #login { cursor: pointer; color: rgb(204, 0, 0); }
#welcome #login:hover, .munebox #logout:hover { text-decoration: underline; }
#welcome #register { color: rgb(204, 0, 0); }
#title { height: 139px; position: relative; }
#title #logo { position: absolute; width: 318px; height: 133px; background: rgba(0, 0, 0, 0) url('99csw.gif') no-repeat scroll -200px -67px; top: 5px; left: 40px; }
#search_box { position: absolute; right: 70px; top: 50px; height: 35px; width: 518px; background: rgba(0, 0, 0, 0) url('99csw.gif') no-repeat scroll 0px -32px; }
#search_box input, #search_box button { float: left; height: 27px; border-width: 0px; margin-top: 4px; background: transparent none repeat scroll 0% 0%; }
#search_box input { height: 18px; margin-top: 10px; }
#type { width: 82px; margin-left: 5px; text-indent: 18px; color: rgb(0, 0, 0); cursor: pointer; }
#keyword { width: 380px; margin-left: 12px; color: rgb(187, 187, 187); }
#search { width: 27px; margin-left: 6px; cursor: pointer; }
.client_box { position: absolute; right: 70px; top: 98px; color: rgb(176, 176, 176); }
#head .client_box a { display: inline-block; margin: 0px 10px; color: rgb(176, 176, 176); padding-left: 20px; height: 22px; line-height: 22px; background: rgba(0, 0, 0, 0) url('list.gif') no-repeat scroll 0px -1089px; text-decoration: none; }
#head .client_box .ipad { background-position: 0px -1112px; }
#head .client_box .client { background-position: 0px -1136px; }
#menu { height: 25px; padding: 10px 0px 0px 40px; background: rgba(0, 0, 0, 0) url('99csw.gif') no-repeat scroll right 2px; }
#menu a { color: rgb(255, 238, 185); font-size: 12px; margin: 0px 10px; }
#left { width: 336px; float: right; padding: 20px 20px 20px 0px; }
#right { padding: 20px; margin-right: 356px; position: relative; }
#foot { clear: both; text-align: center; padding: 50px 0px; border-top: 3px solid rgb(204, 0, 0); max-height: 45px; }
#foot p { margin-top: 10px; }
.title99 { position: relative; height: 35px; line-height: 35px; padding-left: 40px; background: rgb(244, 244, 244) url('99csw.gif') no-repeat scroll -535px -167px; font-weight: bold; color: rgb(204, 0, 0); overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.title99 a:hover, .title99 a:visited, .title99 a { color: rgb(204, 0, 0); }
.intro { text-indent: 2em; line-height: 18px; }
.lBox { border: 1px solid rgb(187, 187, 187); margin-bottom: 20px; }
.lBox dt { background: rgb(244, 244, 244) url('loading.gif') no-repeat scroll 260px center; border: 2px solid rgb(255, 255, 255); padding-left: 20px; color: rgb(0, 0, 0); margin-bottom: 10px; }
.lBox dd { padding: 10px 10px 20px; overflow: hidden; margin: 0px 20px 10px; border-bottom: 1px dashed rgb(187, 187, 187); }
.lBox dd img { float: left; margin: 0px 10px; padding: 1px; width: 68px; height: 90px; }
.lBox dd h4 { margin: 0px 0px 10px 80px; }
.lBox .more { text-align: right; margin: 20px; padding: 0px; border-bottom-width: 0px; }
.button1, .button2 { border: 1px solid rgb(187, 187, 187); height: 35px; width: 80px; margin-top: 5px; cursor: pointer; float: right; display: inline; background-color: rgb(244, 244, 244); }
.button1:hover { background: rgb(153, 31, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
#drag, #full, .float_b { position: absolute; top: 12px; right: 20px; width: 12px; height: 12px; background: rgba(0, 0, 0, 0) url('99csw.gif') no-repeat scroll -176px -67px; cursor: pointer; font-size: 0px; }
.scrolltop { position: fixed; bottom: 150px; width: 18px; height: 48px; background: rgba(0, 0, 0, 0) url('99csw.gif') no-repeat scroll -179px -115px; cursor: pointer; z-index: 1; display: none; }
.winBox { display: none; position: fixed; border: 1px solid rgb(204, 0, 0); background-color: rgb(255, 255, 255); overflow: hidden; width: 480px; height: 400px; z-index: 999; }
.winButton { position: absolute; width: 12px; height: 12px; right: 25px; top: 16px; background: rgba(0, 0, 0, 0) url('99csw.gif') no-repeat scroll -115px -116px; cursor: pointer; }
.winTitle { background: rgba(0, 0, 0, 0) url('list.gif') no-repeat scroll 0px -1021px; text-indent: 25px; margin: 10px 65px 10px 25px; height: 20px; line-height: 20px; cursor: move; font-weight: bold; color: rgb(204, 0, 0); }
.winBody { border-top: 1px solid rgb(204, 0, 0); margin: 0px 10px; overflow: hidden; }
.login_box { position: relative; border-right: 1px solid rgb(204, 204, 204); float: left; width: 240px; margin-top: 40px; display: inline; padding: 10px 20px; }
.login_box label { margin-right: 7px; vertical-align: middle; }
.login_box input, .personal_info #mood { height: 24px; width: 195px; line-height: 24px; border: 1px solid rgb(187, 187, 187); vertical-align: middle; text-indent: 5px; }
.login_box #email { ime-mode: disabled; }
.login_box .alert { margin: 8px 0px 10px 45px; height: 20px; line-height: 20px; }
.login_box a#r_p { margin: 0px 10px; vertical-align: middle; }
.login_box #remember { margin: 0px 7px 0px 44px; width: 14px; height: auto; border-width: 0px; }
.login_box h1 { margin-bottom: 25px; font-size: 24px; }
.login_box .button1, .login_box .button2 { margin: 20px 0px 0px; }
.winRight { margin: 120px 0px 0px 280px; text-align: center; }
.winRight .button1 { margin: 20px auto; float: none; display: block; line-height: 35px; }
#email_box { display: none; position: absolute; border: 1px solid rgb(187, 187, 187); background: rgb(244, 244, 244) none repeat scroll 0% 0%; width: 195px; z-index: 1; opacity: 0.9; overflow: hidden; }
#email_box div { color: rgb(102, 102, 102); text-indent: 8px; cursor: pointer; padding: 4px 0px; }
#message { padding: 5px 10px; background: rgb(204, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); position: absolute; top: 0px; left: 0px; z-index: 99; display: none; }
#favorite { background-position: -552px -248px; }
#write { background-position: -552px -270px; }
#share { background: rgb(255, 255, 255) url('99csw.gif') no-repeat scroll 3px -116px; padding-right: 20px; color: rgb(0, 0, 0); z-index: 3; position: relative; }
#share:hover { text-decoration: underline; }
.sharebox { position: absolute; top: 0px; left: 0px; padding: 0px 12px; border: 1px solid rgb(187, 187, 187); background-color: rgb(255, 255, 255); display: none; z-index: 3; width: 110px; }
body .sharebox a { display: block; float: none; margin: 12px 0px; padding-left: 25px; }
.nav a, .nav span { text-indent: 18px; background: rgba(0, 0, 0, 0) url('99csw.gif') no-repeat scroll -552px -226px; }
.page { text-align: center; clear: left; margin: 20px 0px 10px; }
.page a, .page span, .initial, #go { border: 1px solid rgb(187, 187, 187); line-height: 22px; height: 22px; overflow: auto; display: inline-block; padding: 0px 7px; margin: 0px 6px; }
.page span { color: rgb(187, 187, 187); }
.page a:hover, .page .current, .initial:hover, .page span.active:hover, .nav span:hover, #go:hover { background: rgb(153, 31, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-decoration: none; }
.page span { cursor: default; }
.page span.active, .nav span { color: rgb(0, 0, 0); cursor: pointer; }
/* ::::: http://www.99lib.net/command/list.css ::::: */

.list_box { overflow: auto; margin: 0px 10px; }
.list_box li { border-bottom: 1px dashed rgb(187, 187, 187); padding: 30px 20px 20px; overflow: hidden; }
#right div.loading { background: rgb(244, 244, 244) url('loading.gif') no-repeat scroll 17px center; }
.submit_box { text-align: right; margin: 20px 0px; overflow: auto; padding-right: 10px; }
.submit_box textarea { border: 1px solid rgb(187, 187, 187); width: 95%; }
/* ::::: http://www.99lib.net/command/book.css ::::: */

.title { margin: 20px 20px 0px; }
#right .title99 { background: rgb(244, 244, 244) url('99csw.gif') no-repeat scroll -540px -142px; }
#book_info { position: relative; padding: 0px 40px; overflow: auto; margin: 10px 20px 0px; background-repeat: no-repeat; background-position: right top; }
#book_info h2 { text-align: center; padding: 20px; }
#book_info h4 { margin: 10px 0px 0px 140px; }
#book_info h4 a { margin: 0px 3px; }
#book_info img { float: left; margin: 0px 20px 40px 0px; height: 150px; width: 113px; }
#book_info .intro { overflow: hidden; }
#dir { overflow: hidden; padding: 10px 0px 0px 40px; height: 310px; }
#dir dd { line-height: 22px; margin-left: 1em; }
#author_box { margin-top: 20px; }
#author_box dd { border: 0px none; }
#more_dir { padding: 5px 0px; cursor: pointer; color: rgb(204, 0, 0); width: 100px; margin: 0px 0px 10px 50px; }
#annotate_box, #review_box { margin-bottom: 10px; }
.submit_box #title_c { width: 96%; line-height: 20px; height: 20px; border: 1px solid rgb(204, 204, 204); margin-bottom: 10px; color: rgb(204, 204, 204); font-size: 14px; }
.submit_box #review_c { width: 96%; color: rgb(204, 204, 204); font-size: 14px; }
#right div.addtitle { background: rgb(244, 244, 244) url('list.gif') no-repeat scroll 17px -882px; }
#related_box { margin-top: 15px; }
.qrcode { border: 1px solid rgb(187, 187, 187); margin-bottom: 20px; }
.qrcode .title99 { background-image: none; border: 2px solid rgb(255, 255, 255); padding-left: 20px; color: rgb(0, 0, 0); }
.qrcode dd { padding: 15px; text-align: center; }
.qrcode img { border: 0px none; margin-bottom: 5px; padding: 0px; }
.qrcode a:hover img { border: 0px none; padding: 0px; }
.laud { width: 117px; height: 24px; position: absolute; top: 228px; left: 40px; background: rgba(0, 0, 0, 0) url('99csw.gif') no-repeat scroll 0px -231px; }
.laud .laud_b { width: 51px; height: 24px; cursor: pointer; float: left; }
.laud .laud_t { width: 59px; float: right; text-align: center; line-height: 24px; }
.message { position: absolute; left: 0px; top: 0px; border: 1px solid rgb(204, 204, 153); background: rgb(255, 255, 236) none repeat scroll 0% 0%; padding: 0px 35px 0px 20px; color: rgb(102, 102, 102); line-height: 50px; overflow: hidden; display: none; }
.message div { float: left; }
.message .close_b { position: absolute; right: 6px; top: 6px; height: 12px; width: 12px; background: rgba(0, 0, 0, 0) url('99csw.gif') no-repeat scroll -115px -128px; cursor: pointer; }
.message .bdsharebuttonbox { margin-top: 11px; cursor: pointer; padding-left: 10px; }
/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=8105b07e.css ::::: */

.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_douban { background-position: 0px -468px; }
.bdshare-button-style0-16 .bds_ty { background-position: 0px -1196px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url('icons_0_16.png'); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
