#google_scaling_div { transform: scale(1.01099, 1.01099); left: 4px; top: 0.5px; position: absolute; }
div { margin: 0px; padding: 0px; }
.abgc { display: block; height: 15px; overflow: hidden; position: absolute; right: 17px; top: 1px; text-rendering: geometricprecision; width: 25px; z-index: 2147483646; }
.abgb { display: block; width: 25px; height: 15px; }
.abgc, .jar .abgc, .jar .cbb { opacity: 1; }
.abgc { cursor: pointer; }
.cbb { cursor: pointer; height: 15px; width: 15px; z-index: 2147483646; background-color: rgb(255, 255, 255); opacity: 0; }
.cbb svg { position: absolute; top: 0px; right: 0px; height: 15px; width: 15px; stroke: rgb(0, 174, 205); stroke-width: 1.25; }
.cbb:hover { cursor: pointer; }
.cbb:hover { background-color: rgb(88, 88, 90); }
.cbb:hover svg { stroke: rgb(255, 255, 255); }
.abgb { position: absolute; right: 0px; top: 0px; }
.cbb { position: absolute; right: 1px; top: 1px; }
.abgs { display: none; height: 100%; }
.abgl { text-decoration: none; }
.mute_panel { z-index: 2147483646; }
.abgac { position: absolute; left: 0px; top: 0px; z-index: 2147483646; display: none; width: 100%; height: 100%; background-color: rgb(250, 250, 250); }
.mlsc { height: 100%; display: flex; justify-content: center; align-items: center; }
.mls { animation: 2s linear 0s normal none infinite running mlskf; height: 50%; width: 50%; }
.mlsd { stroke-dasharray: 1, 189; stroke-dashoffset: 0; animation: 1.4s ease-in-out 0s normal none infinite running mlsdkf; }
