/* ::::: https://statics.2cto.com/css/articles.css ::::: */

body { padding: 0px; font-size: 12px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px; font-family: Simsun; }
img, form, div, ul, li, dl, dt, dd, p, table, tr, td, h3, input { border-width: 0px; padding: 0px; margin: 0px; list-style: outside none none; }
a:link { color: rgb(31, 58, 135); text-decoration: none; }
a:visited { color: rgb(31, 58, 135); text-decoration: none; }
a:hover { color: rgb(204, 0, 0); text-decoration: underline; }
a:active { color: rgb(204, 0, 0); text-decoration: underline; }
.c-red { color: red !important; }
.hidden { display: none; }
.mt8 { margin-top: 8px !important; }
.mb8 { margin-bottom: 8px !important; }
.cl::after, .clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cl, .clearfix {  }
.tadv, .ibox { width: 980px; margin: auto; clear: both; overflow: hidden; text-align: center; }
.ibox.p8 { padding: 8px 0px; }
.ibox a img, .tadv a img { display: block; width: 100%; height: auto; }
.side-ibox { width: 300px; background: white none repeat scroll 0% 0%; }
.cont_ibox { width: 650px; clear: both; text-align: center; padding: 0px 0px 10px; margin: 0px auto; }
.swiper-container, .tab_wrap, .flash_wrap { margin: 0px auto; position: relative; overflow: hidden; direction: ltr; backface-visibility: hidden; z-index: 1; }
.swiper-wrapper, .tab_main, .flash { position: relative; width: 100%; transition-property: transform, left, top; transition-duration: 0s; transform: translate3d(0px, 0px, 0px); transition-timing-function: ease; box-sizing: content-box; }
.swiper-slide, .tab_item, .fl_item { float: left; box-sizing: content-box; overflow: hidden; }
.swiper-slide-active {  }
.swiper-slide-visible {  }
.line_top_box { width: 978px; height: 32px; margin: auto; background: rgba(0, 0, 0, 0) url('list_shades.png') repeat-x scroll 0px 0px; border-left: 1px solid rgb(219, 219, 219); border-right: 1px solid rgb(219, 219, 219); }
.line_top_box .top_box_left { height: 32px; float: left; padding-left: 8px; width: 950px; }
.line_top_box .top_box_left .left_logo { height: 32px; float: left; width: 80px; }
.left_logo A { display: block; width: 79px; height: 32px; background: rgba(0, 0, 0, 0) url('cate_logos.png') no-repeat scroll -1137px 0px; }
.line_top_box .top_box_left .left_menu_link { height: 22px; float: right; padding-top: 11px; width: 860px; color: rgb(153, 153, 153); }
.left_menu_link a { float: left; color: rgb(102, 102, 102); border-left: 1px solid rgb(153, 153, 153); padding: 0px 8px 0px 14px; height: 12px; line-height: 12px; }
.left_menu_link a.first { border-left: 0px none; padding-left: 8px; }
.left_menu_link a:hover { color: rgb(204, 0, 0); }
.line_top_lmbox { width: 978px; height: 32px; margin: auto; border-left: 1px solid rgb(219, 219, 219); border-right: 1px solid rgb(219, 219, 219); border-bottom: 1px solid rgb(219, 219, 219); background-color: rgb(253, 253, 253); }
.line_top_lmbox .lmpic { width: 80px; height: 32px; float: left; }
.line_top_lmbox .lmpic dt { position: relative; padding-left: 18px; font-weight: 400; font-size: 14px; font-family: "Microsoft Yahei"; color: rgb(51, 51, 51); height: 18px; line-height: 18px; margin: 9px 0px 4px; border-right: 1px solid rgb(219, 219, 219); }
.line_top_lmbox .lmpic dt i { position: absolute; width: 3px; height: 3px; background: rgb(102, 102, 102) none repeat scroll 0% 0%; line-height: 0; font-size: 0px; left: 10px; top: 7px; }
.line_top_lmbox .lmlinkbox { height: 32px; float: left; padding-left: 15px; }
.line_top_lmbox .lmlinkbox dd { float: left; padding-top: 10px; height: 22px; }
.line_top_lmbox .lmlinkbox dd a { color: rgb(102, 102, 102); padding: 5px 5px 3px; }
.line_top_lmbox .lmlinkbox dd a:hover { color: white; background-color: black; text-decoration: none; }
.line_top_lmbox .login { float: right; padding-right: 10px; padding-top: 6px; }
.line_top_lmbox .unlogin a { float: none; display: inline-block; text-decoration: none; height: 20px; line-height: 20px; background: rgb(0, 153, 255) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border: 0px none; text-align: center; width: 50px; padding: 0px; margin-left: 10px; }
.line_top_lmbox .unlogin a.loginbtn { background: rgb(223, 48, 48) none repeat scroll 0% 0%; }
.line_top_lmbox .unlogin a.regbtn { background: rgb(46, 168, 221) none repeat scroll 0% 0%; }
.wrapper { width: 980px; clear: both; overflow: hidden; margin: auto; }
.wrapper .box_left { float: left; overflow: hidden; width: 666px; border-width: 2px 1px 1px; border-style: solid; border-color: rgb(66, 115, 179) rgb(211, 211, 211) rgb(211, 211, 211); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: rgb(249, 249, 249) none repeat scroll 0% 0%; }
.box_left .box_p { width: 100%; height: 30px; border-bottom: 1px solid rgb(219, 219, 219); padding: 10px 0px 0px; background-color: rgb(249, 249, 249); margin-bottom: 10px; }
.box_left .box_p dd.pRight { float: left; padding: 4px 10px 0px; }
.box_left .box_t { width: 670px; height: 35px; padding-top: 15px; text-align: center; font-size: 21px; font-weight: bold; }
.box_left .box_body { width: 630px; padding: 0px 20px 20px; font-size: 14px; color: rgb(51, 51, 51); line-height: 28px; }
.box_left .inbox { border-top: 1px solid rgb(219, 219, 219); background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 8px 0px 0px; }
.box_left .inbox > div { background: rgb(249, 249, 249) none repeat scroll 0% 0% !important; border-top: 1px solid rgb(219, 219, 219) !important; width: 100% !important; }
.box_left .about { width: 630px; height: 30px; padding-top: 10px; font-size: 14px; font-weight: bold; margin: 0px auto; }
.box_left .inbox .about { width: 630px; padding: 10px 20px 0px; }
.box_left .alists { margin-bottom: 10px; }
.box_left .alistline { position: relative; float: left; padding: 0px 0px 0px 25px; font-size: 14px; width: 300px; overflow: hidden; height: 28px; line-height: 28px; }
.box_left .alistline .dot { position: absolute; left: 15px; top: 14px; width: 3px; height: 3px; line-height: 3px; font-size: 0px; overflow: hidden; background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
.box_left .alistline A { font-size: 14px; }
.box_left .picbox { width: 650px; padding: 10px 0px; text-align: center; margin: 0px auto; clear: both; }
.box_left .picbox li { float: left; width: 132px; text-align: center; margin: 0px 0px 0px 24px; }
.box_left .picbox li .imgbox { display: block; border: 1px solid rgb(219, 219, 219); padding: 2px; overflow: hidden; margin: 0px auto; }
.box_left .picbox li .imgbox img { width: 126px; height: 90px; border: 0px none; }
.box_left .picbox li .npictext { display: block; padding: 5px 0px; height: 24px; line-height: 24px; }
.borT { border-top: 1px solid rgb(212, 212, 212); }
.wrapper .box_right { float: right; overflow: hidden; width: 300px; }
.wrapper .box_right .box_right_box { overflow: hidden; width: 298px; border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(211, 211, 211) rgb(211, 211, 211); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.box_right_box dl.bTitle { overflow: hidden; height: 31px; background: rgba(0, 0, 0, 0) url('list_shades.png') repeat-x scroll 0px -32px; }
.box_right_box dl.tabtitle { padding-left: 10px; }
.box_right_box dl.tabtitle dd { float: left; overflow: hidden; height: 23px; width: 60px; font-size: 14px; text-align: center; padding-top: 8px; cursor: pointer; }
.box_right_box dl.tabtitle dd.on { width: 58px; font-size: 14px; font-weight: bold; text-align: center; padding-top: 8px; background: rgba(0, 0, 0, 0) url('list_shades.png') repeat-x scroll 0px -63px; cursor: pointer; border-left: 1px solid rgb(211, 211, 211); border-right: 1px solid rgb(211, 211, 211); white-space: nowrap; }
.box_right_box .paddingbox { float: right; overflow: hidden; width: 278px; padding: 10px 10px 3px; }
.box_right_box .paddingbox dl.index { float: right; overflow: hidden; width: 278px; }
.box_right_box .paddingbox.tab_wrap dl.index { float: left; }
.box_right_box .paddingbox dl.index dd.list { float: left; overflow: hidden; width: 278px; padding-left: 0px; line-height: 24px; color: rgb(153, 153, 153); }
.paddingbox.tab_wrap { padding: 0px; margin: 10px 10px 3px; border-bottom: 0px none; }
.Article-Tool { float: right; }
.box_left .box_INFO { width: 630px; margin: 10px 20px 5px; font-size: 12px; color: rgb(153, 153, 153); border-bottom: 1px dotted rgb(183, 195, 207); height: 22px; }
.box_left .box_INFO .frinfo { float: left; width: 500px; }
.box_left .box_INFO .frinfo .num { font-weight: bold; padding: 5px 0px; }
.box_left .box_INFO .frinfo .comm { display: inline-block; width: 16px; height: 15px; background: rgba(0, 0, 0, 0) url('icons_cate.png') no-repeat scroll -270px -114px; vertical-align: -3px; margin-right: 6px; }
.box_left .box_INFO .frsize { float: left; width: 130px; text-align: right; }
.box_left .box_INFO .frsize .publish { display: inline-block; width: 20px; height: 15px; background: rgba(0, 0, 0, 0) url('icons_cate.png') no-repeat scroll -286px -114px; vertical-align: -3px; margin-right: 6px; }
.box_left .box_INFO DD { height: 22px; overflow: hidden; }
.box_left .box_NPre { width: 630px; margin: 5px auto 0px; font-size: 14px; line-height: 28px; color: rgb(51, 51, 51); position: relative; }
.box_left .box_NPre a { font-size: 14px; z-index: 1001; }
.box_left .box_Nsc { width: 630px; padding: 0px 20px 5px; font-size: 12px; line-height: 28px; color: rgb(51, 51, 51); }
.box_left .box_Nsc a.ckcopy { margin-right: 8px; float: left; display: block; height: 24px; width: 200px; font-size: 12px; text-align: center; line-height: 24px; cursor: pointer; border: 1px solid rgb(204, 204, 204); background-color: white; }
.box_left .box_Nsc a.ckhome { float: left; display: block; height: 24px; width: 100px; font-size: 12px; text-align: center; line-height: 24px; cursor: pointer; border: 1px solid rgb(204, 204, 204); background-color: white; }
.box_left .box_Nsc a.ckcopy { float: left; display: block; height: 24px; width: 200px; font-size: 12px; text-align: center; line-height: 24px; cursor: pointer; border: 1px solid rgb(204, 204, 204); background-color: white; }
.box_left .box_Nsc .lcopy { float: left; }
.TLineX { border-top: 1px solid rgb(204, 204, 204); padding-top: 10px; }
.foot { width: 980px; margin: 10px auto 0px; line-height: 24px; text-align: center; padding-top: 10px; color: rgb(102, 102, 102); border-top: 1px solid rgb(219, 219, 219); }
.foot a { font-weight: normal; color: rgb(102, 102, 102); }
#pages { font-family: 宋体; text-align: left; }
#Article p { text-indent: 2em; margin-bottom: 8px; }
#Article img, #Article p img { display: block; margin: 0px auto; width: auto !important; max-width: 630px; height: auto !important; cursor: pointer; }
pre { font-family: "Courier New",monospace; font-size: 12px; margin: 0px 0px 1em; width: 630px; overflow: auto; padding: 10px 0px; }
pre a, pre a:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: medium none; padding: 0px; margin: 0px; }
/* ::::: https://statics.2cto.com/css/dialog.css ::::: */

body {  }
.aui_outer { text-align: left; }
.aui_border, .aui_inner { border: 0px none; margin: 0px; border-collapse: collapse; width: auto; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_center, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding: 0px; }
.aui_header, .aui_buttons button { font: 12px/1.11 "Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti; }
.aui_title { overflow: hidden; text-overflow: ellipsis; }
.aui_close { display: block; position: absolute; text-decoration: none; outline: medium none; }
.aui_close:hover { text-decoration: none; }
.aui_main { text-align: center; min-width: 9em; }
.aui_content { display: inline-block; text-align: left; border: 0px none; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width: 48px; height: 48px; margin: 10px 0px 10px 10px; background-position: center center; background-repeat: no-repeat; }
.aui_buttons { padding: 8px; text-align: right; white-space: nowrap; }
.aui_inner { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.aui_outer, .aui_center { border: 1px solid rgba(0, 0, 0, 0.3) !important; }
.aui_outer { border-radius: 3px; }
.aui_border { border-radius: 2px; box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9) inset; }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width: 8px; height: 8px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; }
.aui_titleBar { position: relative; height: 100%; }
.aui_title { height: 28px; line-height: 27px; padding: 0px 28px 0px 10px; text-shadow: 0px 1px 0px rgba(18, 91, 167, 0.7); font-weight: bold; color: rgb(149, 167, 174); background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(38, 115, 196) 0%, rgb(117, 166, 218) 100%) repeat scroll 0% 0%; border-top: 1px solid rgb(30, 107, 188); border-bottom: 1px solid rgb(105, 155, 209); }
.aui_close { padding: 0px; top: 3px; right: 3px; width: 21px; height: 21px; line-height: 21px; font-size: 18px; color: rgb(255, 255, 255); text-align: center; font-family: Helvetica,STHeiti; text-shadow: 0px 1px 0px rgba(18, 91, 167, 0.9); }
.aui_close:hover { color: rgb(199, 32, 21); }
.aui_close:active { box-shadow: none; }
.aui_content { color: rgb(102, 102, 102); }
.more_tags { overflow: hidden; width: 630px; margin: 10px auto 0px; }
.more_tags span { display: inline-block; vertical-align: top; width: 111px; height: 30px; text-indent: 13px; font-family: Microsoft Yahei; color: rgb(255, 255, 255); line-height: 30px; font-size: 14px; background: rgba(0, 0, 0, 0) url('icons.png') no-repeat scroll 0px -275px; margin-right: 15px; }
.more_tags span.t2 { background-position: 0px -240px; }
.more_tags a { font-family: Microsoft Yahei; line-height: 30px; font-size: 14px; margin-right: 20px; white-space: nowrap; }
/* ::::: https://statics.2cto.com/js/syntaxhighlighter/styles/shCore.css ::::: */

/* ::::: https://statics.2cto.com/js/syntaxhighlighter/styles/shThemeDefault.css ::::: */

