/* ::::: http://bytefish.de/theme/css/minimal.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0px none; font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0px; outline: 0px none; padding: 0px; vertical-align: baseline; }
html { overflow-y: scroll; }
body { font: 400 18px/24px Lora,Georgia,serif; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); }
#container { width: 700px; margin: 0px auto; }
#links { border: 0px none; }
#links a { color: rgb(166, 166, 166); text-decoration: none; }
#header { margin: 0px auto; text-align: center; }
.page-title { font-family: Bitter,Georgia,serif; }
#header h1 a, #header h1 a:hover, #header h1 a:active, #header h1 a:visited { color: rgb(51, 51, 51); text-decoration: none; }
#header a.navigation-link, #header a.navigation-link:active, #header a.navigation-link:visited { color: rgb(51, 51, 51); text-decoration: none; }
#header a.navigation-link:hover { color: rgb(0, 47, 200); text-decoration: none; }
.navigation { margin: 0px; padding: 0px; }
.footer { margin: 0px; padding: 0px; color: rgb(99, 140, 156); }
.footer-item, .navigation-item { display: inline-block; }
.blocklink { display: block; }
#links a, #links a:visited, #links a:active, #links a:focus { color: rgb(166, 166, 166); text-decoration: none; }
#links a:hover { color: rgb(100, 153, 186); }
blockquote::before { content: open-quote; float: left; font-size: 4em; margin-left: -45px; font-family: "times new roman"; color: rgb(255, 170, 170); font-weight: bold; }
#comments { background-color: rgb(222, 231, 236); padding: 1em; margin-bottom: 1em; clear: both; }
.main-column { clear: both; overflow: hidden; }
.content { clear: both; overflow: hidden; }
div.clearer { clear: both; font-size: 0px; line-height: 0; height: 0px; overflow: hidden; }
table { border-collapse: collapse; padding: 0px; margin: 0px 0px 11px; text-align: center; }
table th { border: 1px solid rgb(140, 172, 187); background-color: rgb(222, 231, 236); vertical-align: bottom; padding: 0px 10px 10px; }
table td { border: 1px solid rgb(140, 172, 187); vertical-align: top; padding: 10px; text-align: center; }
pre, code { font-family: Consolas,"Liberation Mono",Menlo,monospace; }
pre { background: rgb(248, 248, 248) none repeat scroll 0% 0%; border: 1px dashed rgb(215, 215, 200); line-height: 20px; font-size: 14px; overflow: auto; padding: 5px; }
img { border: 0px none; max-width: 100%; }
img.mediacenter { display: block; margin: 0px auto; }
article a { color: rgb(0, 47, 200); text-decoration: none; }
article a:visited { color: purple; text-decoration: none; }
article a:hover, article a:active { color: rgb(51, 51, 51); text-decoration: underline; }
h1, h2, h3, h4, h5 { margin-bottom: 0.5em; font-family: Bitter,Georgia,serif; }
h1 { font-size: 26px; line-height: 32px; margin-bottom: 24px; margin-top: 28px; }
h2 { font-size: 22px; line-height: 28px; margin-bottom: 24px; margin-top: 28px; }
h3 { font-size: 18px; line-height: 24px; margin-bottom: 24px; margin-top: 24px; }
h4 { font-size: 16px; line-height: 20px; margin-bottom: 12px; margin-top: 24px; }
.title { margin-bottom: 0.25em; }
.byline { font-size: 15px; color: rgb(102, 102, 102); margin-bottom: 24px; }
ul { list-style-type: square; list-style-image: none; margin: 0px 0px 1em 3.5em; }
#disqus_thread { font-family: Verdana,sans-serif; }
hr, p, ul, ol, dd, blockquote, address, pre, table { margin-bottom: 29px; }
@media screen and (min-width: 780px) {
	#menu { border-top: 1px solid rgb(51, 51, 51); border-bottom: 1px solid rgb(51, 51, 51); line-height: 54px; }
	article { font-size: 17px; line-height: 28px; }
	.byline { font-size: 16px; }
	.title { font-size: 34px; }
	.blocklink { padding-left: 20px; padding-right: 20px; }
	h1 { font-size: 34px; line-height: 44px; margin-bottom: 28px; margin-top: 28px; }
	h2 { font-size: 28px; line-height: 36px; margin-bottom: 28px; margin-top: 28px; }
	h3 { font-size: 24px; line-height: 30px; margin-bottom: 28px; margin-top: 28px; }
	h4 { font-size: 22px; line-height: 28px; margin-bottom: 28px; margin-top: 28px; }
	hr, p, ul, ol, dd, blockquote, address, pre, table { margin-bottom: 28px; }
}
@media only screen and (max-width: 780px) {
	#container { width: 95%; margin: 0px auto; }
	#menu { border-top: 1px solid rgb(51, 51, 51); font-size: 18px; line-height: 36px; }
	.page-title { margin-bottom: 5px; margin-top: 5px; }
	.page-title-link { display: block; padding: 0px; top: 0px; left: 0px; width: 100%; height: 100%; }
	article { font-size: 18px; line-height: 29px; margin-bottom: 29px; }
	#links { display: none !important; }
	.blocklink { display: block; padding: 0px; top: 0px; left: 0px; width: 100%; height: 100%; }
	.navigation, .navigation-item { display: block; color: rgb(99, 140, 156); margin: 0px; padding: 0px; border: 0px none; }
	li.navigation-item { text-align: center; border-bottom: 1px solid black; }
	table, tbody { display: block; width: 100%; }
	thead { display: none; }
	table tr, table th, table td { display: block; padding: 0px; text-align: left; white-space: normal; }
	table tr { border-bottom: 1px solid rgb(238, 238, 238); padding-bottom: 11px; margin-bottom: 11px; }
	table td { border: medium none; margin-bottom: 6px; }
	table td:empty { display: none; }
	table th[data-title]::before, table td[data-title]::before { content: attr(data-title) ": "; font-weight: bold; }
}
/* ::::: http://bytefish.de/theme/css/pygments.css ::::: */

.highlight { padding: 0px; margin-top: 5px; margin-bottom: 1em; }
.highlight pre { padding: 5px; margin: 0px; }
.highlight .k { color: rgb(0, 128, 0); font-weight: bold; }
.highlight .o { color: rgb(102, 102, 102); }
.highlight .cp { color: rgb(188, 122, 0); }
.highlight .c1 { color: rgb(64, 128, 128); font-style: italic; }
.highlight .kt { color: rgb(176, 0, 64); }
.highlight .s { color: rgb(186, 33, 33); }
.highlight .nb { color: rgb(0, 128, 0); }
.highlight .nf { color: rgb(0, 0, 255); }
.highlight .mf { color: rgb(102, 102, 102); }
.highlight .mi { color: rgb(102, 102, 102); }
/* ::::: http://fonts.googleapis.com/css?family=Bitter&subset=latin,latin-ext ::::: */

@font-face {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 400;
	src: local("Bitter-Regular"), url('qt2duzvlmd1bcoczxl06lpeszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 400;
	src: local("Bitter-Regular"), url('zfs6i-5mjwq3nxqccmol2a.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext ::::: */

@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('ukd0soiy4jzgcodpuj2g3q.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('gsnxin0oizss201cnuag6w.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('ie2ux11tit0c_jtksrplka.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('i0defrggne90_hxzq7bjyw.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 400;
	src: local("Lora Regular"), local("Lora-Regular"), url('4vqkriwnqqguqqh-pnvdma.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 700;
	src: local("Lora Bold"), local("Lora-Bold"), url('snxgpeoj2tz7wjsozsn6d_y6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 700;
	src: local("Lora Bold"), local("Lora-Bold"), url('vz-5ejr2fpt5l1rkkvxpr_y6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 700;
	src: local("Lora Bold"), local("Lora-Bold"), url('gbru_9er68jwattarlxr3_y6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 700;
	src: local("Lora Bold"), local("Lora-Bold"), url('bykauswriqh69412sen31py6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lora";
	font-style: normal;
	font-weight: 700;
	src: local("Lora Bold"), local("Lora-Bold"), url('p18nsu9eiyldsvhij_0e5w.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 400;
	src: local("Lora Italic"), local("Lora-Italic"), url('heap0mhtitx5jkqlc80wp_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 400;
	src: local("Lora Italic"), local("Lora-Italic"), url('ovzcbeqfqx1w7yhslfaxp_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 400;
	src: local("Lora Italic"), local("Lora-Italic"), url('7zlcdwwhlsl_w5azau2j3peszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 400;
	src: local("Lora Italic"), local("Lora-Italic"), url('nrwumjv9d7qv7608eovogfeszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 400;
	src: local("Lora Italic"), local("Lora-Italic"), url('_rsib1sbuflzfa9fxv8cog.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 700;
	src: local("Lora Bold Italic"), local("Lora-BoldItalic"), url('47861cgpecw31aszkpt4uhjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 700;
	src: local("Lora Bold Italic"), local("Lora-BoldItalic"), url('66kg1mdzu5zo36wez_yx-rjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 700;
	src: local("Lora Bold Italic"), local("Lora-BoldItalic"), url('gjww5_k_fhq8yndknv_etrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 700;
	src: local("Lora Bold Italic"), local("Lora-BoldItalic"), url('1wr3aoj69qwyz9b-wdmiqrjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lora";
	font-style: italic;
	font-weight: 700;
	src: local("Lora Bold Italic"), local("Lora-BoldItalic"), url('_ixjus2lbqsu0myfeafa7vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
