body, div, em, form, h1, h2, h3, h4, h5, h6, img, input, li, ol, p, pre, textarea, ul { margin: 0px; padding: 0px; }
body { height: 100%; font: 12px/1.75 Tahoma,Arial; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); }
img { border: 0px none; }
a { color: rgb(0, 106, 146); text-decoration: none; }
a:hover { text-decoration: underline; }
a:focus { outline: 0px none; }
.jdAdLogoBot { display: inline-block; position: absolute; bottom: 1px; right: 1px; width: 36px; height: 15px; overflow: hidden; line-height: 999px; background: rgba(0, 0, 0, 0) url('ad_jd.png') no-repeat scroll right top; z-index: 11; }
.expose { width: 0px; height: 0px; display: none; }
