body { margin: 0px; padding: 0px; }
#ad_iframe { border: 0px none; vertical-align: bottom; width: 160px; height: 600px; position: absolute; left: 50%; margin-left: -80px; top: 0px; margin-top: 0px; }
