/* ::::: http://csdnimg.cn/blog/csdn_public_blog_detail.min.css ::::: */

/* ::::: http://csdnimg.cn/release/phoenix/dotnet/css/blog_detail-5fa1e5c9d8.css ::::: */

/* ::::: http://csdnimg.cn/release/phoenix/bloglist/iconfont/iconfont.css ::::: */

/* ::::: http://csdnimg.cn/release/phoenix/dotnet/skin/skin-yellow/css/style.css?v=201802281934 ::::: */

/* ::::: http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css ::::: */

.bdshare-button-style0-16 .bds_qzone { background-position: 0px -52px; }
.bdshare-button-style0-16 .bds_tsina { background-position: 0px -104px; }
.bdshare-button-style0-16 .bds_weixin { background-position: 0px -1612px; }
.bdshare-button-style0-16 {  }
.bdshare-button-style0-16::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more { float: left; font-size: 12px; padding-left: 17px; line-height: 16px; height: 16px; background-image: url('icons_0_16.png'); background-repeat: no-repeat; cursor: pointer; margin: 6px 6px 6px 0px; }
.bdshare-button-style0-16 a:hover { color: rgb(51, 51, 51); opacity: 0.8; }
/* ::::: http://csdnimg.cn/public/common/toolbar/content_toolbar_css/content_toolbar.css ::::: */

/* ::::: http://csdnimg.cn/release/phoenix/production/htmledit_views-b569b0e3ef.css ::::: */

#popup_mask { position: absolute; width: 100%; height: 100%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; z-index: 9999; left: 0px; top: 0px; opacity: 0.3; display: none; }
