/* ::::: https://dn-linuxcn.qbox.me/data/cache/style_1_common.css?wTq ::::: */

* { overflow-wrap: break-word; }
body { background: rgb(220, 226, 231) url('background.png') repeat-x scroll 0px 0px; position: relative; }
body, input, button, select, textarea { font: 12px/1.8 "Lantinghei SC","Helvetica Neue","Microsoft YaHei",微软雅黑,Arial,STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif; color: rgb(68, 68, 68); }
textarea { resize: none; }
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0px; padding: 0px; }
table { empty-cells: show; border-collapse: collapse; }
ul li, .xl li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
h1, h2, h3 { font-family: "Microsoft YaHei","Hiragino Sans GB","STHeiti",Tahoma,"SimHei",sans-serif; }
em, cite, i { font-style: normal; }
a { color: rgb(0, 51, 102); text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: medium none; }
label { cursor: pointer; }
*::-moz-selection { background: rgb(34, 103, 181) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
a::-moz-selection { color: rgb(204, 204, 204); }
.z { float: left; }
.y { float: right; padding-left: 5px; }
.textcut { max-width: 60%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.cl::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.cl {  }
.hidefocus { outline: medium none; }
hr { display: block; clear: both; }
.mn hr, .sd hr { margin: 0px 10px; }
.ph { font-family: "Microsoft YaHei","Hiragino Sans GB","STHeiti",Tahoma,"SimHei",sans-serif; font-weight: 100; }
.ph { font-size: 20px; }
.xg1, .xg1 a { color: rgb(153, 153, 153) !important; }
.xi2, .xi2 a, .xi3 a { color: rgb(51, 102, 153); }
.xw0 { font-weight: 400; }
.xw1 { font-weight: 400; color: rgb(196, 15, 15); }
.bbda { border-bottom: 1px dotted rgb(205, 205, 205); }
.bbs { border-bottom: 1px solid rgb(205, 205, 205) !important; }
.mtn { margin-top: 5px !important; }
.mtm { margin-top: 10px !important; }
.mbm { margin-bottom: 10px !important; }
.pbn { padding-bottom: 5px !important; }
.ptm { padding-top: 10px !important; }
.pbm { padding-bottom: 10px !important; }
.vm { vertical-align: middle; }
.vm * { vertical-align: middle; }
.hm { text-align: center; }
#ajaxwaitid { display: none; position: absolute; right: 0px; top: 0px; z-index: 1; padding: 0px 5px; background: rgb(221, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.px, .pt, .ps, select { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(112, 112, 112) rgb(206, 206, 206) rgb(206, 206, 206) rgb(112, 112, 112); background: rgb(255, 255, 255) url('px.png') repeat-x scroll 0px 0px; }
.px, .pt { padding: 2px 4px; line-height: 17px; }
.px { height: 17px; }
.pt { overflow-y: auto; }
button::-moz-focus-inner { border: 0px none; padding: 0px; }
.pn { vertical-align: middle; overflow: hidden; margin-right: 3px; padding: 0px; height: 23px; border: 1px solid rgb(153, 153, 153); background: rgb(229, 229, 229) url('pn.png') repeat-x scroll 0px 0px; cursor: pointer; box-shadow: 0px 1px 0px rgb(229, 229, 229); }
.pn:active { background-position: 0px -23px; }
.pn em, .pn span, .pn strong { padding: 0px 10px; line-height: 21px; }
.pn em, .pn strong { font-weight: 700; }
.pnc, a.pnc { border-color: rgb(35, 89, 148); background-color: rgb(0, 102, 204); background-position: 0px -48px; color: rgb(255, 255, 255) !important; }
.pnc:active { background-position: 0px -71px; }
.pr, .pc { vertical-align: middle; margin: 0px 5px 1px 0px; padding: 0px; }
.pns .px {  }
.pns .pn {  }
.wp { margin: 0px auto; width: 960px; }
#wp .wp { width: auto; }
#toptb { min-width: 960px; border-bottom: 1px solid rgb(205, 205, 205); background: rgb(255, 255, 255) none repeat scroll 0% 0%; line-height: 28px; }
#toptb a { float: left; padding: 0px 4px; height: 28px; color: rgb(255, 122, 0); }
#hd { margin-bottom: 5px; border-bottom: 0px solid rgb(194, 213, 227); }
#hd .wp { padding: 0px; }
.hdc { min-height: 70px; background-image: linear-gradient(to bottom, rgb(238, 238, 238), rgb(255, 255, 255)); padding-left: 180px; }
#hd h1 { display: block; margin: 24px; padding: 0px; position: absolute; width: 128px; height: 128px; }
#hd h1 a img { border-radius: 50%; transform: rotate(0deg); text-indent: 0px; }
#hd h2 { padding: 0px 20px 0px 0px; float: left; }
#hd .fastlg { padding-top: 10px; }
#topmenu { background: rgb(51, 51, 51) url('nv2.png') no-repeat scroll 0px 0px; width: 1020px; padding-left: 180px; }
#scbar { float: right; overflow: hidden; height: 44px; line-height: 42px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(238, 238, 238); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(238, 238, 238)); background-color: rgb(148, 245, 146); width: 1020px; padding-left: 180px; }
.scbar_icon_td { width: 21px; background: transparent url('searchtop.png') no-repeat scroll 0px -50px; }
.scbar_txt_td, .scbar_type_td { background: transparent url('searchtop.png') repeat-x scroll 0px -93px; }
#scbar_txt { width: 100px; border: 1px solid rgb(255, 255, 255); outline: medium none; }
.scbar_btn_td { width: 38px; background: transparent url('searchtop.png') no-repeat scroll 8px -142px; }
#scbar_btn { margin: 0px; padding: 0px; border: medium none; background: transparent none repeat scroll 0% 0%; box-shadow: none; }
#scbar_btn strong { line-height: 84px; }
.scbar_type_td { width: 61px; background: transparent url('searchtop.png') no-repeat scroll 0px -193px; }
#scbar_type { display: block; padding-left: 10px; text-align: left; text-decoration: none; }
#scbar_type_menu { margin-top: -8px; }
#scbar_hot { padding-left: 8px; height: 45px; overflow: hidden; }
#nv { overflow: hidden; height: 33px; background: rgb(51, 51, 51) url('nv2.png') no-repeat scroll 0px 0px; }
#nv li { float: left; padding-right: 1px; height: 33px; line-height: 33px; background: transparent url('nv2_a.png') no-repeat scroll 100% 0px; font-size: 14px; }
#nv li a { float: left; padding: 0px 15px; height: 33px; font-family: "Microsoft YaHei","Hiragino Sans GB","STHeiti",Tahoma,"SimHei",sans-serif; font-size: 16px; }
#nv li a { color: rgb(255, 255, 255); }
#nv li a:hover { background: transparent url('nv2_a.png') no-repeat scroll 50% -66px; }
#mu { position: relative; z-index: 1; }
#mu ul { border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(238, 238, 238); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(238, 238, 238)); background-color: rgb(255, 255, 255); line-height: 22px; z-index: 2; font-size: 12px; height: 45px; position: absolute; width: 100%; }
#mu li { float: left; height: 32px; line-height: 35px; }
#mu a { float: left; display: inline; margin: 5px 6px; padding: 0px 10px; white-space: nowrap; }
#mu a:hover { margin: 4px 5px; border: 1px solid rgb(194, 213, 227); background: rgb(229, 237, 242) none repeat scroll 0% 0%; color: rgb(51, 102, 153); text-decoration: none; }
#mu a, .mutag a { font-family: "Microsoft YaHei","Hiragino Sans GB","STHeiti",Tahoma,"SimHei",sans-serif; font-size: 14px; }
.floatmu { position: absolute; left: 0px; top: 0px; }
.titletext { font-family: "Microsoft YaHei","Hiragino Sans GB","STHeiti",Tahoma,"SimHei",sans-serif; font-size: 14px; }
#mn_userapp_menu { clear: left; min-height: 210px; min-width: 630px; }
#ct { min-height: 300px; }
.mn { overflow: hidden; }
.ct2 .mn { float: left; width: 730px; margin-bottom: 1em; }
.ct2 .sd { float: right; width: 220px; overflow: hidden; }
#ft { padding: 10px 0px 50px; background: rgb(85, 85, 85) none repeat scroll 0px 0px; line-height: 1.8; color: rgb(102, 102, 102); }
#scrolltop { visibility: hidden; position: fixed; bottom: 100px; display: block; margin: -30px 20px 0px 2px; width: 40px; background: rgb(244, 244, 244) none repeat scroll 0% 0%; border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(205, 205, 205) rgb(205, 205, 205); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 3px; cursor: pointer; }
#scrolltop:hover { text-decoration: none; }
#scrolltop a { display: block; width: 30px; height: 24px; padding: 3px 5px; line-height: 12px; text-align: center; color: rgb(120, 120, 120); text-decoration: none; background: transparent url('scrolltop.png') no-repeat scroll 0px 0px; border-top: 1px solid rgb(205, 205, 205); }
a.scrolltopa:hover { background-position: -40px 0px !important; }
#scrolltop a b { visibility: hidden; font-weight: normal; }
.bm, .bn { margin-bottom: 10px; }
.bm { border: 1px solid rgb(205, 205, 205); background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 8px 4px 8px 0px; border-radius: 4px; box-shadow: 1px 1px 2px rgb(102, 102, 102); }
.bm_c { padding: 10px; }
.drag {  }
.bm_h { padding: 0px 10px; height: 31px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(194, 213, 227); background: rgb(242, 242, 242) none repeat scroll 0% 0%; line-height: 31px; white-space: nowrap; overflow: hidden; border-radius: 5px 5px 0px 0px; }
#pt { margin: 2px 0px; height: 29px; border: medium none; background: transparent none repeat scroll 0% 0%; line-height: 29px; }
#pt .z { padding-right: 10px; }
#pt .z a, #pt .z em, #pt .z span { float: left; height: 29px; }
#pt .z em { width: 20px; background: transparent url('pt_item.png') no-repeat scroll 3px 10px; line-height: 200px; overflow: hidden; }
.nvhm { width: 16px; background: transparent url('searchtop.png') no-repeat scroll 0px 0px; line-height: 200px; overflow: hidden; }
.xl li { margin: 2px 0px; }
.xl em { float: right; padding-left: 5px; }
.xl em, .xl em a { color: rgb(153, 153, 153); }
.xl1 li { height: 1.5em; overflow: hidden; }
.xl2 li { float: left; margin: 2px 0px; padding: 0px; width: 50%; height: 1.5em; overflow: hidden; }
.tedt { width: 98%; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204) rgb(153, 153, 153); margin: auto; border-radius: 4px; }
.tedt .area { padding: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.tedt .pt { width: 100%; margin-right: 0px; padding: 0px !important; border: medium none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.tedt .pt:focus { outline: medium none; }
.p_pop, .p_pof, .sllt { padding: 4px; border: 1px solid rgb(221, 221, 221); min-width: 60px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }
.p_opt { padding: 10px; }
.p_pop li { display: inline; }
.p_pop a { display: block; padding: 3px 5px; border-bottom: 1px solid rgb(229, 237, 242); white-space: nowrap; }
.p_pop li:last-child a { border: medium none; }
.p_pop a:hover, .p_pop a.a, #sctype_menu .sca { background-color: rgb(229, 237, 242); color: rgb(51, 102, 153); text-decoration: none; }
.h_pop { min-width: 120px; border-top: medium none; }
.fastlg { line-height: 24px; }
.fastlg td { padding: 2px 0px 2px 4px; }
.fastlg_fm { margin-right: 5px; padding-right: 5px; border-right: 1px solid rgb(205, 205, 205); }
.fastlg_l { padding-right: 4px !important; border-right: 1px solid rgb(229, 237, 242); }
.fastlg_l button.pn { width: 75px; }
.block { margin: 10px 10px 0px; }
#ct .sd .block { margin: 0px; }
.block .xl1 ul li { padding-left: 10px; background: transparent url('dot.gif') no-repeat scroll 0px 50%; border-bottom: 1px dotted rgb(221, 221, 221); margin-bottom: 6px; }
#footer { background: rgb(85, 85, 85) none repeat scroll 0px 0px; padding-top: 1.5em; margin: 2em 0px 0px; border-top: 2px solid rgb(170, 170, 170); color: rgb(204, 204, 204); text-align: center; }
#footer a { color: rgb(204, 204, 204); border: 0px none; }
#footer a:hover { color: rgb(255, 255, 255); }
#blog_article blockquote, #postlist blockquote, #ct blockquote { width: 80%; margin: 10px auto; background-color: rgba(255, 235, 59, 0.5); padding: 10px; border-radius: 4px; box-shadow: 1px 1px 2px rgb(102, 102, 102); }
.messageinfo, .contentinfo, .copyright { color: rgb(153, 153, 153); line-height: 1.5em; font-size: 12px; padding: 5px; border: 1px solid rgb(238, 238, 238); margin: 5px; border-radius: 5px; }
.messageinfo a, .contentinfo a, .copyright a { color: rgb(51, 51, 51); }
.copyright { background-color: rgba(24, 241, 24, 0.1); padding: 5px 10px; margin: 5px; text-align: left; }
.clear { clear: both; }
/* ::::: https://dn-linuxcn.qbox.me/data/cache/style_1_portal_view.css?wTq ::::: */

.opt a { padding-left: 10px; }
#comment_ul dl { box-shadow: 1px 1px 2px rgb(102, 102, 102); padding: 0px; border: 1px solid rgb(153, 153, 153); margin: 20px 4px; border-radius: 0px 0px 4px 4px; background-color: rgb(253, 253, 242); }
#comment_ul dt { background-color: rgb(238, 238, 238); color: rgb(153, 153, 153) !important; margin: 0px; padding: 4px 6px; border-bottom: 1px solid rgb(255, 255, 255); }
#comment_ul dt.s1 { background-color: rgb(255, 235, 59); }
#comment_ul dt.s2, #comment_ul dt.s2 a { background-color: rgb(255, 193, 7); color: rgb(255, 255, 255) !important; }
#comment_ul dt.mbm a { color: rgb(96, 125, 140); }
#comment_ul dd { margin: 4px 8px; }
#comment_ul dd.list { margin: 2px; }
.replist, blockquote.replist { margin: -3px 3px 10px -3px !important; padding: 2px 2px 6px !important; width: auto !important; background: rgb(255, 251, 194) none repeat scroll 0% 0% !important; border: 1px solid rgb(102, 102, 102) !important; box-shadow: 1px 1px 2px rgb(102, 102, 102); border-radius: 0px 0px 4px !important; }
.replist .info, .replist .opt { color: rgb(136, 136, 136); font-size: 12px; margin: 0px 5px; }
.replist .info a { color: rgb(119, 119, 119); text-decoration: none; }
.replist .info .count { background-color: rgb(102, 102, 102); color: rgb(255, 255, 255); margin: 1px 4px 4px -12px; padding: 1px 4px; line-height: 1.3em; border: 1px solid rgb(0, 0, 0); }
.replist .opt { text-align: right; }
.replist .opt a { padding-left: 10px; color: rgb(119, 119, 119); text-decoration: none; }
.replist .opt a:hover { text-decoration: underline; }
.replist .msg { margin: 5px; }
.replist dt { margin: -2px -2px 10px !important; }
.vw {  }
.vw .h { padding: 15px; background-color: rgb(255, 255, 255); border-radius: 4px; border-bottom: 1px solid rgb(205, 205, 205); border-right: 1px solid rgb(205, 205, 205); }
.vw .ph { padding: 15px 0px 10px; color: rgb(0, 0, 0); font-size: 32px; text-shadow: 2px 2px 4px rgb(255, 255, 255), -2px 2px 4px rgb(255, 255, 255), 2px -2px 4px rgb(255, 255, 255), -2px -2px 4px rgb(255, 255, 255); }
.vw .d { margin: 10px 0px; min-height: 100px; font-size: 16px; line-height: 2em; color: rgb(0, 0, 0); }
.vw .d p i, .vw .d p em, .vw .d ul i, .vw .d ul em { color: rgb(66, 150, 42); font-style: normal; }
.vw .d p strong, .vw .d p b, .vw .d ul strong, .vw .d ul b { color: rgb(196, 15, 15); font-weight: normal; }
.vw .d a { color: rgb(247, 110, 110); text-decoration: none; padding: 0px 4px 2px; border-bottom: 2px solid rgb(238, 238, 238); }
.vw .d a:hover { border-bottom: 2px solid rgb(153, 153, 153); }
.vw .d a.ext { color: rgb(77, 138, 216); }
.vw .d img { max-width: 95%; text-align: center; border: medium none; box-shadow: 1px 1px 4px rgb(102, 102, 102); margin: 10px 5px; }
.vw .d p { line-height: 2em; margin: 1.5em 0px; }
.vw .d pre {  }
.vw .d pre ol, .vw .d pre ul {  }
.vw .d code {  }
#header_info, #footer_info {  }
#article_content { vertical-align: top; min-height: 400px; background-color: rgb(255, 255, 255); border-radius: 4px; padding: 15px; border-bottom: 1px solid rgb(205, 205, 205); border-right: 1px solid rgb(205, 205, 205); box-shadow: 1px 1px 2px rgb(102, 102, 102); }
#article_content .article_img, #article_content .article_img_desc { text-align: center; margin: 0px; }
#article_content .article_img { margin: 5px 0px; }
#article_content .article_img_desc {  }
#article_content .article_img_desc em { min-width: 20%; min-height: 22px; display: inline-block; padding: 10px; margin: 0px auto 10px; border-bottom: 1px solid rgb(217, 217, 217); font-size: 13px; color: rgb(153, 153, 153); font-style: italic; line-height: 1.7; }
.vw .d ol, .vw .d ul { margin: 1em 2em; }
.vw .d ul li { list-style-type: disc; line-height: 2em; }
.vw .d ol li { list-style-type: decimal; line-height: 2em; }
.vw .o { margin-top: 15px; padding-top: 5px; border-top: 1px solid rgb(205, 205, 205); text-align: right; }
#nv_portal .vw .h, #nv_portal .vw .s, #nv_portal .vw .d, #nv_portal .vw .b, #nv_portal .vw .o, #nv_portal .vw .pren, #nv_forum .vw .h, #nv_forum .vw .s, #nv_forum .vw .d { margin-right: 15px; }
#nv_portal .vw .h { margin-bottom: 5px; box-shadow: 1px 1px 2px rgb(102, 102, 102); border: medium none; }
#nv_portal .vw .h .xg1 { text-align: center; }
#nv_portal .vw .pren em { display: block; width: 100%; height: 22px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
/* ::::: https://dn-linuxcn.qbox.me/static/css/responsive.css?wTq ::::: */

.wp { width: 100%; max-width: 1200px; min-width: 1200px; }
.block .xl1 ul li { height: 25px; }
#nv #mn_N6666 { display: none; }
#footer { padding-bottom: 1.5em; }
#nv_portal .ct2 .mn { width: 70%; }
#nv_portal .ct2 .sd { width: 350px; }
#nv_portal .vw .d h3, #nv_portal .vw .d .h3 { display: block; font-weight: 300; background-image: linear-gradient(to right bottom, rgb(244, 67, 54), rgb(255, 193, 7)); background-color: rgb(244, 67, 54); color: rgb(255, 255, 255); font-size: 1.4em; line-height: 1.8em; margin: 10px 10px 10px 0px; padding: 8px 15px; letter-spacing: 3px; border-left: 10px solid rgb(51, 51, 51); text-shadow: 1px 1px 1px rgb(102, 102, 102); box-shadow: 1px 1px 2px rgb(102, 102, 102); }
#nv_portal .vw .d h4, #nv_portal .vw .d .h4 { display: block; font-weight: 200; background-image: linear-gradient(to right bottom, rgb(244, 67, 54), rgb(255, 193, 7)); background-color: rgb(244, 67, 54); color: rgb(255, 255, 255); font-size: 1.2em; line-height: 1.6em; margin: 8px 10px 8px 0px; padding: 6px 15px; letter-spacing: 2px; border-left: 5px solid rgb(51, 51, 51); text-shadow: 1px 1px 1px rgb(102, 102, 102); box-shadow: 1px 1px 2px rgb(102, 102, 102); }
#nv_portal #add_comment, #nv_portal #comment { padding: 0px; }
#topmenu.affix { position: fixed; top: 0px; z-index: 1000; opacity: 0.9; }
#right_affix.affix { position: fixed; top: 35px; width: 350px; }
.clearfix::before, .clearfix::after { display: table; line-height: 0; content: ""; }
.clearfix::after { clear: both; }
.article-list.half li:nth-of-type(2n) { float: right; }
.article-list .info::before, .article-list .info::after { display: table; line-height: 0; content: ""; }
.article-list .info::after { clear: both; }
.tqq, .tsina, .qricon, .wxicon, .tticon, .siteshare, .favorite, .invite, .print { display: inline-block; width: 16px; height: 16px; margin-bottom: -3px; margin-right: 6px; overflow: hidden; opacity: 1; }
.tsina { background: transparent url('t.sina.png') no-repeat scroll center center !important; }
.wxicon { background: transparent url('wx_icon.png') no-repeat scroll center center !important; }
.siteshare { background: transparent url('oshr.png') no-repeat scroll center center !important; }
.favorite { background: transparent url('fav.gif') no-repeat scroll center center !important; }
.invite { background: transparent url('activitysmall.gif') no-repeat scroll center center !important; }
.print { background: transparent url('print.png') no-repeat scroll center center !important; }
.tqq_large, .tsina_large, .weixin_large, .fav_large { display: inline-block; width: 64px; height: 64px; margin-bottom: -3px; margin-right: 6px; overflow: hidden; opacity: 1; }
.tsina_large { background: transparent url('shareweibo_large.png') no-repeat scroll center center !important; }
.weixin_large { background: transparent url('shareweixin_large.png') no-repeat scroll center center !important; }
.fav_large { background: transparent url('fav_large.png') no-repeat scroll center center !important; }
a.tqq:hover, a.tsina:hover, a.tqq_large:hover, a.tsina_large:hover, a.weixin_large:hover, a.fav_large:hover, a.qricon:hover, a.wxicon:hover, a.tticon:hover, a.siteshare:hover, a.favorite:hover, a.invite:hover { border-bottom: medium none; opacity: 0.5; }
#qrcode { position: absolute; border: 1px solid rgb(0, 0, 0); width: 230px; height: 270px; display: none; margin: 0px; padding: 5px; background-color: rgb(255, 255, 255); }
#qrcode p { font-weight: bold; font-size: 14px; text-align: center; }
#qrcode em { color: rgb(153, 153, 153); font-size: 12px; }
#qrcode #canvas { width: 200px; height: 200px; margin: 0px 15px; }
.leftpic div a::before { position: absolute; top: 0px; left: 0px; z-index: 2; visibility: hidden; width: 100%; height: 100%; background: rgb(2, 109, 212) none repeat scroll 0% 0%; content: ""; opacity: 0; transition: all 0.4s ease 0s; }
.leftpic div a:hover::before { visibility: visible; opacity: 0.75; }
.leftpic div a::after { position: absolute; top: 0px; left: 0px; z-index: 5; margin-top: 0px; visibility: hidden; content: ""; background-image: url('eye.png'); background-repeat: no-repeat; background-size: 120px 120px; background-position: center center; height: 120px; width: 120px; opacity: 0; transition: all 0.4s ease 0s; }
.leftpic div a:hover::after { visibility: visible; opacity: 1; }
#related { margin: 8px 4px 8px 0px !important; }
#related_tag ul#tag li { background: rgb(238, 238, 238) url('tag.png') no-repeat scroll 4px 6px; border: 1px solid rgb(204, 204, 204); padding: 4px 4px 4px 28px; margin: 1px 4px; border-radius: 4px; width: 35%; }
#related_tag ul#tag li a { font-weight: normal; font-size: 12px; font-family: monospace; }
.carousel-control .icon-prev::before { content: "‹"; }
.carousel-control .icon-next::before { content: "›"; }
.linuxcnad { box-shadow: 1px 1px 2px rgb(102, 102, 102); margin: 0px 0px 4px; }
.linuxcnad img {  }
.mutag { position: relative; }
.mutag li { float: left; height: 40px; line-height: 35px; }
.mutag a { float: left; display: inline; margin: 5px; padding: 0px 10px; white-space: nowrap; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border-radius: 4px; line-height: 2em; border: 1px solid rgb(204, 204, 204); }
.mutag a:hover { border: 1px solid rgb(194, 213, 227); background-color: rgb(229, 237, 242); color: rgb(51, 102, 153); text-decoration: none; }
.inner_menu { max-height: 200px; overflow-y: scroll; overflow-x: hidden; }
.inner_menu ul { font-size: 14px; margin-left: 10px !important; }
.inner_menu ul ul { font-weight: normal; font-size: 12px; margin-left: 20px !important; }
.inner_menu .folder { display: inline-block; width: 16px; color: rgb(204, 204, 204); text-align: center; }
.inner_menu .folder a { color: rgb(242, 108, 79); font-weight: normal; text-decoration: none; }
.inner_menu a, .inner_menu span { background-color: rgb(255, 255, 255); padding-right: 5px; }
.inner_menu span a { padding-right: 0px; }
.inner_menu .y { color: rgb(153, 153, 153); }
.inner_menu ul.xl li { list-style: outside none none; background: transparent url('dash.gif') repeat-x scroll 0px 0.6rem; }
.target-fix { position: relative; top: -40px; display: inline-block; height: 0px; overflow: hidden; border: medium none !important; }
@media screen and (min-width: 768px) {
}
/* ::::: https://dn-linuxcn.qbox.me/static/js/prettify/prettify.css?wTq ::::: */

pre .str, code .str { color: rgb(101, 176, 66); }
pre .kwd, code .kwd { color: rgb(226, 137, 100); }
pre .com, code .com { color: rgb(174, 174, 174); font-style: italic; }
pre .typ, code .typ { color: rgb(137, 189, 255); }
pre .lit, code .lit { color: rgb(51, 135, 204); }
pre .pun, code .pun { color: rgb(184, 255, 184); }
pre .pln, code .pln { color: rgb(184, 255, 184); }
pre, code, ol.linenums { background-color: rgb(22, 27, 32); background-image: url('undefined'); }
pre:hover, pre li:hover, code:hover { background-color: rgb(17, 17, 17); }
pre { font-size: 14px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); text-shadow: 0px 1px 1px rgb(0, 0, 0); border-radius: 6px; color: rgb(184, 255, 184); margin: 10px; padding: 1em 1em 1em 2em; white-space: pre-wrap; border: 1px solid rgb(0, 0, 0); }
pre.prettyprint { font-size: 14px; border: 1px solid rgb(0, 0, 0); }
pre ol, pre ul { margin: 1em !important; border-left: 2px solid rgb(0, 153, 0); padding: 1px; }
pre li:hover { cursor: text; }
pre code { background: transparent none repeat scroll 0% 0%; border: medium none !important; padding: 0px 0px 0px 10px !important; border-radius: 0px !important; margin: 1em 0px !important; }
code { text-shadow: 0px 1px 1px rgb(0, 0, 0); padding: 2px 4px; border-radius: 4px; margin: 0px 4px; color: rgb(184, 255, 184); }
ol.linenums { margin-top: 0px; margin-bottom: 0px; color: rgb(174, 174, 174); }
ol.linenums li { line-height: 1.5em !important; text-indent: -28px; padding-left: 28px; }
li.L1, li.L3, li.L5, li.L7, li.L9 {  }
