body { margin: 0px; }
* { box-sizing: border-box; font: 12px/20px "microsoft yahei"; }
.up_img_loading { display: none; }
.markdown_file_name { width: 100%; height: 30px; border: 1px solid rgb(221, 221, 221); margin: 25px 0px; padding: 5px; white-space: nowrap; overflow: hidden; color: rgb(153, 153, 153); }
.markdown_file_msg { color: rgb(102, 102, 102); position: absolute; margin-top: -25px; }
.btn { text-align: right; }
.btn span { background: rgb(153, 153, 153) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 3px 10px; cursor: pointer; }
label { position: absolute; right: 1px; top: 26px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(102, 102, 102); padding: 4px 8px; border-left: 1px solid rgb(221, 221, 221); }
form { width: 1px; height: 1px; position: absolute; overflow: hidden; }
