/* ::::: https://s4.ssl.qhres.com/static/765abd840e935219.css ::::: */

#tigger, .banner, .main .machine-container { background-size: 100% 100%; background-repeat: no-repeat; }
#tigger { background-image: url('t01b03ff280233b8f13.png'); }
.page-current, .page-group, body { width: 100%; height: 100%; }
.banner { margin: 0px auto; }
.main .left-num { position: absolute; width: 3.3333rem; height: 0.46667rem; line-height: 0.46667rem; bottom: 0px; left: 50%; transform: translateX(-50%); border-radius: 0.33333rem; text-align: center; z-index: 5; }
@media screen and (max-width: 230px) {
	.main .left-num { width: 4.4333rem; }
}
.main .left-num i { font-style: normal; }
.main .machine-container { width: 9.2rem; height: 4.8rem; margin: 0px auto; position: relative; }
.main .machine-container .machine-outer { width: 9.28rem; height: 4.73333rem; background-repeat: no-repeat; background-size: 100% 200%; animation: 1.5s steps(2) 0s normal none infinite running bling; position: relative; }
.main .machine-container .machine-outer::before { content: ""; position: absolute; top: 0.33333rem; left: 0.33333rem; width: 8.53333rem; height: 4.05333rem; border-radius: 0.26667rem; background-size: 100% 100%; z-index: 3; }
.main .machine-container .machine-inner { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; width: 8.53333rem; height: 4rem; margin: auto; }
.main .machine-container .machine-inner .machine-content { margin: 0px; display: flex; width: 100%; height: 100%; }
.main .machine-container .machine-inner .machine-content .machine-lists { width: 2.66667rem; height: 100%; overflow: hidden; border-radius: 0.13333rem; margin-left: 0.11333rem; }
.main .machine-container .machine-inner .machine-content .machine-lists .machine { transform: translateY(-9.86667rem); }
.main .machine-container .machine-inner .machine-content .machine-lists .machine .machine-box { width: 1.6rem; height: 1.33333rem; box-sizing: border-box; line-height: 1.33333rem; margin: 0px auto 0.53333rem; padding: 0.13333rem 0px; background-size: 100% 100%; border-radius: 0.26667rem; box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5); }
.main .machine-container .machine-inner .machine-content .machine-lists .machine .machine-box .machine-item { width: 1.33333rem; height: 1.06667rem; margin: auto; background-size: 100% 100%; }
.machine-operate { padding-top: 0.13333rem; position: relative; }
.machine-operate .machine-button { width: 6.6rem; height: 1.71rem; background-size: 100% 100%; margin: 0px auto; cursor: pointer; }
.machine-operate .machine-tool { width: 1.70667rem; height: 1.76rem; position: absolute; top: 0.53333rem; left: 7.44rem; background-size: 100% 100%; }
.machine-operate .machine-tool.clickanimate { animation: 0.4s ease 0s alternate none infinite running clicks; }
.move { animation-name: top; animation-timing-function: linear; animation-fill-mode: both; animation-iteration-count: 1; animation-duration: 5s; }
html { line-height: 1.15; }
body { max-width: 750px; margin: 0px auto; }
audio:not([controls]) { display: none; height: 0px; }
svg:not(:root) { overflow: hidden; }
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border-style: none; padding: 0px; }
@font-face {
	font-family: "iconfont";
	src: url('font_565628_6xnt1k2bju4n29.eot') format("embedded-opentype"), url('font_565628_6xnt1k2bju4n29.woff') format("woff"), url('font_565628_6xnt1k2bju4n29.ttf') format("truetype"), url('font_565628_6xnt1k2bju4n29.svg') format("svg");
}
.page-loading { position: fixed; z-index: 100; width: 100%; height: 100%; display: flex; }
.page-loading > div { margin: auto; padding-left: 3px; }
.page-loading .loading-tips { margin: 10px 0px; font-size: 15px; font-weight: 700; text-align: center; word-break: keep-all; color: rgb(234, 108, 108); }
.lds-hourglass { display: inline-block; position: relative; width: 72px; height: 72px; }
.lds-hourglass::after { content: " "; display: block; border-radius: 50%; width: 0px; height: 0px; margin: 6px; box-sizing: border-box; border-width: 36px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(255, 171, 171) transparent rgb(53, 153, 158); animation: 1.2s ease 0s normal none infinite running lds-hourglass; }
#myAwards { position: absolute; bottom: 2rem; left: 0px; z-index: 10001; background-image: url('t0191fa1512aeb27291.png'); background-size: 100% auto; height: 1.7rem; width: 1.7rem; cursor: pointer; }
/* ::::: https://cjhd.mediav.com/css/slot/slot_brown.css ::::: */

.main .machine-container .machine-outer { background-image: url('t01b0534e5c95f7afbb.png'); }
.main .machine-container { background-image: url('t010c307dadb37bd677.png'); }
.banner { width: 9.2rem; height: 1.45rem; background-image: url('t0117ef4369b79beb23.png'); }
.main .left-num { background-color: rgb(171, 54, 91); color: rgb(255, 255, 255); border: 1px solid rgb(154, 42, 70); }
.main .machine-container .machine-outer::before { background-image: url('t0169c05678ada6765b.png'); }
.main .machine-container .machine-inner .machine-content .machine-lists .machine .machine-box:nth-child(2n+1) { background-image: url('t01daaa7bc3ffe899cd.png'); }
.main .machine-container .machine-inner .machine-content .machine-lists .machine .machine-box:nth-child(2n) { background-image: url('t012c72c8733d720055.png'); }
.machine-operate .machine-button { background-image: url('t01a0369eaaeaee9145.png'); }
.machine-operate .machine-tool { background-image: url('t013b5089ad222c6ef4.png'); }
