html { overflow: hidden; }
body { margin: 0px; }
#sxd { display: none; }
#search_form_homepage { float: none; margin: 0px; position: relative; display: block; }
#search_form_homepage::after { content: ""; display: table; clear: both; }
#logo { float: left; display: none; margin: -10px 15px 0px 0px; }
#search_form_input_homepage { position: absolute; top: 0px; left: 0px; right: 0px; z-index: 2; float: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(34, 34, 34); width: 100%; display: block; height: 39px; padding: 4px 42px 5px 6px; margin: 0px; outline: medium none; border: 1px solid rgb(141, 141, 141); font-size: 18px; border-radius: 3px; box-shadow: 1px 1px 2px rgb(153, 153, 153) inset; box-sizing: border-box; }
#search_wrapper_homepage { width: 43px; float: right; position: absolute; top: 0px; right: 0px; z-index: 3; }
#search_button_homepage { float: left; height: 39px; width: 43px; border: 0px none; background: rgba(0, 0, 0, 0) url('search_dropdown_homepage.v102.png') no-repeat scroll 0% 0% / 67px 78px; cursor: pointer; border-radius: 0px 3px 3px 0px; }
#search_button_homepage:active { background-position: left bottom; }
html { background: transparent none repeat scroll 0% 0%; }
